style.
  .panel-body
  {
  padding:0 !important
  }
#del_img.ng-scope(style='display: none;')
  .confirmon-overlay(style='display: block;')
    .confirmon-box(style='display: block; width:32%')
      p.confirmon-content Are you sure you want to delete Image?
      button.confirmon-button.confirmon-button(onclick="$('#del_img').hide()") Cancel
      | &nbsp;&nbsp;&nbsp;&nbsp; 
      button.confirmon-button.confirmon-button(ng-click='imgDelete()') Confirm
.page-title
  i.icon-custom-left
  h2 Edit Profile
.row
  .col-md-12
    form#settings.form-horizontal(name='userForm', enctype='multipart/form-data')
      // BEGIN TABS
      .tabbable.tabbable-custom.form
        .tab-content
          .space20
          #general_settings.tab-pane.active
            .row.profile
              .col-md-12
                .row
                  .col-md-12
                    .col-md-12
                .row.profile-classic
                  .col-md-12
                    .panel
                      .panel-title.line
                        .caption
                          i.fa.fa-info.c-gray.m-r-10
                          | ABOUT
                      .panel-body
                        .row
                          .control-label.col-md-3
                            | First Name:
                            span.asterisk *
                          .col-md-6
                            input#field-1.form-control(name='first_name', type='text', placeholder='First Name', ng-model='user.first_name', required='required', ng-maxlength='20', ng-pattern='/^[a-zA-Z\']*$/',maxlength="20")
                            span.help-inline(ng-show='userForm.first_name.$error.pattern') Only Follwing characters (a-z A-Z ') are allowed.
                            span.help-inline(ng-show='userForm.first_name.$error.maxlength') Maximum 20 characters are allowed.
                        .row
                          .control-label.col-md-3
                            | Last Name:
                            span.asterisk *
                          .col-md-6
                            input#field-1.form-control(name='last_name', type='text', placeholder='Last Name', ng-model='user.last_name', ng-maxlength='20', ng-pattern='/^[a-zA-Z\']*$/', required='required',maxlength="20")
                            span.help-inline(ng-show='userForm.last_name.$error.pattern') Only Follwing characters (a-z A-Z ') are allowed.
                            span.help-inline(ng-show='userForm.last_name.$error.maxlength') Maximum 20 characters are allowed.
                .row.profile-classic
                  .col-md-12
                    .panel
                      .panel-title.line
                        .caption
                          i.fa.fa-home.c-gray.m-r-10
                          | ADDRESS
                      .panel-body
                        .row
                          .control-label.col-md-3 Address:
                          .col-md-6
                            input.form-control#locationAddress(type='text', g-places-autocomplete='', ng-model='user.address.line1', placeholder='United States',required='required', ng-change='changeAdd()', autocomplete="off")
                        .row
                          .control-label.col-md-3 City:
                          .col-md-6
                            input#field-1.form-control(name="city", type="text", placeholder="Enter City Name", ng-model="user.address.city", maxlength="50", ng-maxlength="50", ng-pattern ="/^[a-zA-Z\s\_\-]+( [a-zA-Z\s\_\-]+)*$/")
                            span.help-inline(ng-show='userForm.city.$error.pattern') Only Follwing characters (a-z A-Z _ -) & blank space is allowed.
                            span.help-inline(ng-show='userForm.city.$error.maxlength') Maximum 50 characters are allowed.
                        .row
                          .control-label.col-md-3 Zip:
                          .col-md-6
                            input#field-1.form-control(type="text", placeholder="Zip Code", ng-model="user.address.zip", to-number, maxlength="5", ng-minlength='5', name='zip')
                            span.help-inline(ng-show='userForm.zip.$error.minlength') Please enter 5-digit zip code.
                .row.profile-classic
                  .col-md-12
                    .panel
                      .panel-title.line
                        .caption
                          i.fa.fa-phone.c-gray.m-r-10
                          | CONTACT
                      .panel-body
                        .row
                          .control-label.c-gray.col-md-3
                            | Email:
                            span.asterisk *
                          .col-md-6
                            input#field-1.form-control(name='email', type='email', placeholder='Email', maxlength='50', ng-model='user.email', required='required', readonly)
                            span.help-inline(ng-show='userForm.email.$error.email') Invalid email Address
                        .row
                          .control-label.c-gray.col-md-3
                            | Phone:
                            span.asterisk *
                          .col-md-6
                            input#field-1.form-control(name='phone', type='phone', placeholder='(xxx) xxx-xxxx', ng-model='user.phone', phone-input='phone-input', ng-minlength='10', required='required')
                            span.help-inline(ng-show='userForm.phone.$error.minlength') Minimum 10 digits are allowed.
                .row.profile-classic
                  .col-md-12
                    .panel
                      .panel-title.line
                        .caption
                          i.fa.fa-image.c-gray.m-r-10
                          | My Image
                      .panel-body
                        .row
                          .control-label.col-md-3 Image:
                            a.w-600.m-l-10.cursor-pointer(ng-click='deleteusrimg(user)', ng-if='!del_profile_pic && user.prof_image', style="color:red;text-decoration:underline;") Unlink Image  
                          .col-md-6
                            input#field-1.btn.form-controlinput(type='file', file-model='myFile', style='color:transparent;')
                        .row(ng-if='!del_profile_pic && user.prof_image')
                          .col-md-4(ng-if="!del_profile_pic && user.prof_image")
                            img(src='{{backendsiteurl}}/public/{{user.prof_image}}')
                            
                .col-sm-12
                  .align-center
                    a.btn.btn-info.m-r-10.m-t-10(href='/viewmanagerprofile')
                      i.fa.fa-reply.p-r-10
                      | Cancel
                    button.btn.btn-success.m-t-10(ng-click='update(user)', ng-disabled='userForm.$invalid')
                      i.fa.fa-check  
                      | Save changes
