showloader
#event-modal.modal.fade
    .modal-dialog
      .modal-content
        .modal-header(style="background-color:lightgray")
          button.close(type="button", data-dismiss="modal", aria-hidden="true") &#215;
          h4.modal-title(style='text-align:center') Event Details
        .modal-body(style="line-height:25px;font-weight:bolder;max-height:480px;overflow-y:auto")
            b Account Name
            |  : {{evtDetail.name}}
            br
            b Notes 
            |  : {{evtDetail.event_data.notes}}
            br
            b Location Address 
            |  : {{evtDetail.location_address.address}} 
            br
            b Shifts Details 
            |  : {{wholeData.scheduleDate | date:'fullDate'}} {{wholeData.timeslot}}, {{wholeData.shiftReminderTime}}
        .modal-footer
          button.btn.btn-default(ng-if="!wholeData.is_approve", ng-click="approveScheduleView(wholeData._id)") Acknowledge this Shift
          button.btn.btn-default(type="button", data-dismiss="modal") Close
.m-b-20.clearfix
  .page-title.pull-left
    h3.pull-left
      strong Shift Acknowledgement Status
        span.label.label-danger.m-l-10(ng-bind='availnotifications', ng-if='availnotifications>0')
  .page-title.pull-right.ng-scope.col-xs-12.col-md-6.col-sm-8(ng-if='allSchedules.length')
    h3.pull-right.text-right.sd_legend
      input.legend(type='text', disabled='disabled', style="background:#DFF0D8")
      strong.p-r-10  Acknowledged
      input.legend.bg-red(type='text', disabled='disabled')
      strong.p-r-10  Not Acknowledged
.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        form#form1.form-horizontal(name='shiftAckForm', novalidate='')
          .row
            .col-md-3.col-sm-2.col-xs-12.mar_bt10
              div(multi-select='', selection-mode = "SINGLE", input-model='allEvents', max-labels='1', button-label='buttonlabel', item-label='buttonlabel', tick-property='ticked', style='padding-left:0px', default-label='Select Account')
            .col-md-3.col-sm-2.col-xs-12.mar_bt10
              div(multi-select='', selection-mode = "SINGLE", input-model='modernWebBrowsers', max-labels='1', button-label='fullname', item-label='fullname', tick-property='ticked', required='required', default-label='Select Employee')
            .col-md-3.col-sm-2.col-xs-12.mar_bt10
              button.btn.btn-success.grnbtn100(href='#', ng-click='getReport()', ng-disabled='shiftAckForm.$invalid')
                i.fa.fa-check.p-r-10
                | Fetch Reports
      .panel-body
        .row
          .table-container(style='')
            #datatable_ajax_wrapper.dataTables_wrapper.dataTables_extended_wrapper.dataTables_extended_wrapper.no-footer
              .margin-b-10.tbl_response
                table#datatable_ajax.table.table-striped.table-bordered.table-hover.f-left(ng-table='tableParams')
                  thead
                  tbody {{$data}}
                    tr.odd(role='row', ng-repeat='sch in $data', ng-if='haveResult')
                      td
                        .alert.cursor-pointer(id="{{sch._id}}", ng-click="ScheduleView(sch)", data-toggle="modal" data-target="#event-modal",ng-class="sch.scheduleInfoclass", style='margin:0 !important')
                          p
                            b {{sch.employee_id.first_name}}  {{sch.employee_id.last_name}} : 
                            |  {{sch.event_account_id.name}} / {{sch.timeslot}} : {{sch.shiftReminderTime}} / {{sch.shiftDate}}

          .alert.alert-info.fade.in.text-center(ng-if="!haveResult")
            h4
              | No Schedules are found.