showloader
.m-b-20.clearfix
  .page-title.pull-left
    h3.pull-left
      strong Time Off Requests
.row(ng-show='visibility')
  .col-md-12
    .panel.panel-default
      .panel-heading
        .col-md-4
          .input-group.m-b-10
            input.form-control.w-700(type='text', placeholder='Search by first name / last name.', ng-model='searchText.val', style='border:solid 2px darkgray;color:#2a6496;')
            span.input-group-addon
              i.fa.fa-search
        .col-md-2.col-sm-6.col-xs-6.sd_res_btn.res_cen.colres100
          select#rolelist.btn.select_tag(ng-model='typeselect', style='border: 1px solid lightgray;', ng-options='typelist.value as typelist.name for typelist in typelist', ng-change='reset_page()')  
      .panel-body
        .row
          .table-container(style='')
            #datatable_ajax_wrapper.dataTables_wrapper.dataTables_extended_wrapper.dataTables_extended_wrapper.no-footer
              .margin-b-10.tbl_response
                table#datatable_ajax.table.table-striped.table-bordered.table-hover.f-left.sd_table_memo(ng-table='tableParams')
                  thead
                    tr.heading.purple-bg(role='row')
                      th(width='15%')
                        a.cursor-pointer(ng-click="sortType = 'employee.first_name'; sortReverse = !sortReverse; sortOrderby('employee.first_name',sortReverse);")
                          strong First Name
                          span.fa.fa-sort.m-l-5(ng-class="getIcon('employee.first_name')")
                      th(width='15%')
                        a.cursor-pointer(ng-click="sortType = 'employee.last_name'; sortReverse = !sortReverse; sortOrderby('employee.last_name',sortReverse);")
                          strong Last Name
                          span.fa.fa-sort.m-l-5(ng-class="getIcon('employee.last_name')")
                      th(width='16%')
                        a.cursor-pointer(ng-click="sortType = 'startdate'; sortReverse = !sortReverse; sortOrderby('startdate',sortReverse);")
                          strong Start Date
                          span.fa.fa-sort.m-l-5(ng-class="getIcon('startdate')")
                      th(width='16%')
                        a.cursor-pointer(ng-click="sortType = 'enddate'; sortReverse = !sortReverse; sortOrderby('enddate',sortReverse);")
                          strong End Date
                          span.fa.fa-sort.m-l-5(ng-class="getIcon('enddate')")
                      th(width='16%')
                        a.cursor-pointer(ng-click="sortType = 'applyDate'; sortReverse = !sortReverse; sortOrderby('applyDate',sortReverse);")
                          strong Apply Date
                          span.fa.fa-sort.m-l-5(ng-class="getIcon('applyDate')")
                      th.unsortheading(style='width:16%') Status
                      th.text-center.unsortheading(style='width:16%') Actions
                  tbody
                    tr.odd(role='row', ng-repeat='data in $data', ng-if='haveResult')
                      td {{data.employee[0].first_name}}
                      td {{data.employee[0].last_name}}
                      td.text-center {{data.startdate | date:'MM/dd/yyyy'}}
                      td.text-center {{data.enddate | date: 'MM/dd/yyyy'}}
                      td.text-center {{data.applyDate | date: 'MM/dd/yyyy'}}
                      td.text-center(ng-if="data.status == 'Approve'")
                        .label.label-success Approved
                      td.text-center(ng-if="data.status == 'Reject'")
                        .label.label-danger Rejected
                      td.text-center(ng-if="data.status!== 'Approve' && data.status!== 'Reject'")
                        .label.label-info Waiting
                      td.text-center
                        a.btn.btn-primary.btn-sm(href='/timeoffdetail/:{{data._id}}') View Details
                    tr(ng-if='haveResult')
                      td(colspan='7')
                        h5.pull-right(style='color:#3276B1')
                          strong Total TimeOff: {{totalRecords}}
          .alert.alert-info.fade.in.text-center(ng-if='!haveResult')
            h3 No timeoff requests for you this time.
