.m-b-20.clearfix
  .pull-left
    h3
      strong Time Off Request Detail
  .pull-right
    a.btn.btn-success.m-t-10(href='/timeofflist')
      i.fa.fa-reply.p-r-10
      | Back
.row
  .col-md-12
    .tabcordion
      #myTabContent.tab-content
        #product_general.tab-pane.fade.active.in
          table.table.table-striped.table-hover.sd_req1
            tbody.no-bd-y
              tr(ng-if='allTimeoffs[0].employee[0].prof_image')
                td(colspan='2')
                  .source_dv
                    img.img-responsive(src='{{backendsiteurl}}/public/{{allTimeoffs[0].employee[0].prof_image}}', width='120', height='120', ng-if='allTimeoffs[0].employee[0].prof_image')
              tr
                td(colspan='2')
                  .sd_dv_list
                    .c-blue.col-md-2.col-xs-6 Name :
                    .col-md-4.col-sm-4.col-xs-6
                      | {{allTimeoffs[0].employee[0].first_name}} {{allTimeoffs[0].employee[0].last_name}}
              tr
                td(colspan='2')
                  .sd_dv_list
                    .c-blue.col-md-2.col-xs-6 TimeOff Start:
                    .col-md-4.col-sm-4.col-xs-6 {{allTimeoffs[0].startdatetoview}}
              tr
                td(colspan='2')
                  .sd_dv_list
                    .c-blue.col-md-2.col-xs-6 TimeOff End:
                    .col-md-4.col-sm-4.col-xs-6 {{allTimeoffs[0].enddatetoview}}
              tr
                td
                  .sd_dv_list
                    .c-blue.col-md-2.col-xs-6 Apply Date :
                    .col-md-4.col-sm-4.col-xs-6 {{allTimeoffs[0].applyDatetoview}}
              tr
                td
                  .sd_dv_list
                    .c-blue.col-md-2.col-xs-6 TimeOff Type :
                    .col-md-4.col-sm-4.col-xs-6  {{allTimeoffs[0].daytype}}
              tr
                td
                  .sd_dv_list
                    .c-blue.col-md-2.col-xs-6 Shifts :
                    .col-md-4.col-sm-4.col-xs-6  {{allTimeoffs[0].shift}}
              tr
                td(colspan='2')
                  .sd_dv_list
                    .c-blue.col-md-2.col-xs-6 Reason :
                    .col-md-4.col-sm-4.col-xs-6 {{allTimeoffs[0].description}}
              tr
                td(colspan='2')
                  .sd_dv_list
                    .c-blue.col-md-2.col-xs-6 Accepted/Rejected By :
                    .col-md-4.col-sm-4.col-xs-6 {{allTimeoffs[0].updatedBy[0].first_name}} {{allTimeoffs[0].updatedBy[0].last_name}}
              tr
                td(colspan='2')
                  .sd_dv_list
                    .c-blue.col-md-2.col-xs-6 Accepted/Rejected Date :
                    .col-md-4.col-sm-4.col-xs-6 {{allTimeoffs[0].acceptRejectDatetoview}} 
              tr
                td(colspan='2')
                  textarea.form-control(placeholder='Description', ng-model='allTimeoffs[0].manager_comment', rows='6')
              tr
                td.text-center(colspan='2')
                  span.m-b-10
                    label.m-r-5.checkbox-inline
                      input(type='radio', ng-model='allTimeoffs[0].status', value='Approve', name='app_rej')
                      | Approve
                    label.m-r-5.checkbox-inline
                      input(type='radio', ng-model='allTimeoffs[0].status', value='Reject', name='app_rej')
                      | Reject
              tr
                td.text-right.sd_responsebtn(colspan='2')
                  button.btn.btn-success.m-t-10.grnbtn100(href='#', ng-click='timeoffResponse(allTimeoffs[0])')
                    i.fa.fa-check.p-r-10
                    | Send Confirmation
