showloader
.m-b-20.clearfix
  .page-title.pull-left
    h3.pull-left
      strong Employee Listing
//
  .row(ng-show="haveResult")
    .col-md-12(style="padding-left: 0px;padding-bottom: 8px;")
      .events-filter.clearfix
        .col-md-3
          input.datepicker.form-control(type="text", ng-model="filter.start_date", style="padding:8px;", placeholder="Start date") 
        .col-md-3  
          input.datepicker.form-control(type="text", ng-model="filter.end_date", style="padding:8px;", placeholder="End date") 
        .col-md-3  
          button.btn.btn-success.m-t-6(ng-click="filterEmp()")
            i.fa.fa-search 
            |  Search Availability
.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        //.col-md-3
              input.form-control(ng-model='searchText.val', placeholder='Search' ng-if="haveResult")
        //.col-sm-1
          select.btn#stslist(ng-model="status", ng-options="stslist.value as stslist.name for stslist in liststs" ng-init="status=liststs[2].value" ng-if="haveResult")
        //.col-sm-1
          select.btn#emplist(ng-model="currentPage", ng-options="emplist.value as emplist.name for emplist in listemp" ng-if="haveResult")          
        .col-md-12
          .DTTT_container
            button.btn.btn-success(ng-click='addemp()')
              i.fa.fa-plus.p-r-10
              | Add Employee
      .panel-body
        .row
          .col-md-12.col-sm-12.col-xs-12.table-responsive(ng-if="haveResult")
            table.table.table-striped.table-hover
              thead.no-bd
                tr
                  th(style="width:14%")
                    a(href="", ng-click="reverse=!reverse;order('last_name', reverse)")
                      strong Last Name
                  th(style="width:14%")
                    a(href="", ng-click="reverse=!reverse;order('first_name', reverse)")
                      strong First Name
                  //th
                    a(href="")
                      strong Image
                  th(style="width:14%")
                    a(href="", ng-click="reverse=!reverse;order('address.line1', reverse)")
                      strong Address
                  th(style="width:14%")
                    a(href="", ng-click="reverse=!reverse;order('phone', reverse)")
                      strong Phone
                  th(style="width:14%")
                    a(href="", ng-click="reverse=!reverse;order('date_of_birth', reverse)")
                      strong Date Of Birth
                  th(style="width:7%")
                    a(href="", ng-click="reverse=!reverse;order('active', reverse)")
                      strong Status
                  th(style="width:27%")
                    a(href="")
                      strong Actions
              tbody.no-bd-y
                tr(ng-repeat="emp in empData| filter:searchText.val")
                  td(ng-bind="emp.last_name | limitTo: 20", title="{{emp.last_name}}")
                  td(ng-bind="emp.first_name | limitTo: 20", title="{{emp.first_name}}")
                  //td
                    img.img-responsive(src="{{backendsiteurl}}/public/{{emp.prof_image}}", width="120", height="120", ng-if="emp.prof_image")
                  td(title="{{emp.address.line1}} {{emp.address.line2}}") {{emp.address.line1 | limitTo: 10}} {{emp.address.line2 | limitTo: 10}}
                  td(ng-bind="emp.phone | tel")
                  td {{emp.date_of_birth | date: 'MM/dd/yyyy' }}
                  td(ng-if="emp.active == true") 
                    .label.label-success Active
                  td(ng-if="emp.active !== true") 
                    .label.label-danger In Active
                  td
                    a.btn.btn-primary.btn-sm(ng-click="showEmp(emp._id)", rel="tooltip", title="Edit Employee", type="button") Edit
                    a.btn.btn-primary.btn-sm(href="/employee/availibility/:{{emp._id}}") Availability
                    a.btn.btn-danger.btn-sm(ng-click="cnfrm_pwd(emp._id,$event)", style="margin-left:5px") Delete 
            .row
              include paging.jade
          .alert.alert-info.fade.in.text-center(ng-if="!haveResult")
            h3
              | No Employees for you this time.
#confirm_del.ng-scope(style='display: none;')
    .confirmon-overlay(style='display: block;')
      | &nbsp;
      .confirmon-box(style='display: block; width:32%')
        p.confirmon-content Please enter your password to complete this action
        |&nbsp;&nbsp;
        input(type='password',ng-model="pwd" , style='width:350px;margin-left:9%;')
        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        br
        br
        button#leave_private.confirmon-button.confirmon-button(onclick="$('#confirm_del').hide()") Cancel 
        | &nbsp;&nbsp;&nbsp;&nbsp;  
        button.confirmon-button.confirmon-button(ng-click='check_usrpwd()') Confirm