/* common css */
.disable{
	color:#404040;
	opacity:0.33;
}
.h-auto{
	height: auto;
}
.hide{
	display: none;
}
.show{
	display: block;
}
.pl-2r{
	padding-left: 2rem!important;
}
/* btn css */
.btn-passwrd{
	color: #404040;
}
.btn-file{
	border: 1px dashed #1F5BA8;
	background-color: #1F5BA8;
}
.btn-facebook{
	background-color: #3b5998;
	border: 1px dashed #3b5998;
	color: #fff;
}
.btn-facebook:hover,.btn-google-plus:hover{
	color: #fff;
}
.btn-google-plus{
	background-color: #DD4B39;
	border: 1px dashed #DD4B39;
	color: #fff;
}
.btn-money-primary {
	border: 1px solid #E2E2E2;
	padding: 1px 6px;
	border-radius: 30px;
	color: #888888;
	font-size: 13px;
	background: transparent;
 }
 .btn-money-primary:focus {
    outline: 0;
}
/* text css */
.text-otp{
	color: #95989A;
}
.text-upload{
	color: #686868;
}

/* tab css */
.nav-pills-custom .nav-link.active, .nav-pills-custom .nav-pills .show>.nav-link{
	border-bottom: 2px solid #1f5ba8;
	border-radius: 0;
	background-color: transparent;
	color: #1f5ba8;
	font-weight: 700;
}
.nav-pills-custom{
	border-bottom:1px solid #e7e7e7;
}
.nav-pills-custom li a{
	color:#404040;
	font-size: 18px;
}
.nav-pills-custom .nav-link:first-child{
	padding-left: 0;
}

/* loader css */
.overlay {
	background: #e9e9e9;
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0.5;
}
.alert.alert-success-card,.alert.alert-success-money {
    color: green;
    font-weight: bold;
    font-size: 18px;
	padding: 0px;
	margin: 0px;
}
.alert.alert-danger-card,.alert.alert-danger-money {
    color: #e3342f;
    font-weight: bold;
    font-size: 18px;
	padding: 0px;
	margin: 0px;
}
#wait,#wait-card,#wait-money {
	border: 5px solid #eee;
	border-radius: 50%;
	border-top:6px solid #1f5ba8;
	width: 50px;
	height: 50px;
	background-color: #fff;
	opacity: 0.5;
	top: 45%;
	right: 50%;
	z-index: 9;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
	}

	/* Safari */
	@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
	}

	@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
	}
