/* css start */
#app .py-4 { padding-top:0 !important;padding-bottom:0 !important}
.py-4 .reg-wrap .lft-bg { background-image:url(../img/reg-bg.jpg);min-height:100vh;padding:50px;background-size:100%;background-repeat: no-repeat;background-size: cover;}
.py-4 .reg-wrap .lft-bg svg { display:inline-block;vertical-align:middle;margin-right:10px;}
.otp-text{
	font-size: 18px;
	margin-bottom: 20px;
}
.form-check-input-custom{
	margin-top: -0.4rem;
	margin-left: -1.25rem;
	width: 14px;
}
#addcard_form input::placeholder {
	color: #888888;
	opacity:1; /* Firefox */
}

#addcard_form input::-ms-input-placeholder { /* Internet Explorer 10-11 */
	color:#888888;
}

#addcard_form input::-ms-input-placeholder { /* Microsoft Edge */
	color: #888888;
}
/* chat css */
.border-top-dotted{
	border-top: 1px dashed #ccc;
		}
.msg_text_body{
	height: 270px;
}
.msg_card_body{
	max-height: 270px;
    	overflow-y: auto;
}
.msg_card_body::-webkit-scrollbar {
	width: 5px;
}
.msg_card_body::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px #ccc;
	border-radius: 30px;
}
.msg_card_body::-webkit-scrollbar-thumb {
	background: #1F5BA8;
	border-radius: 30px;
}
.user_img_msg{
	height: 45px;
	width: 45px;
	max-width: 45px;
	border: 1px solid #CBCBCB;
	padding: 2px;
}
.msg_cotainer,.msg_cotainer_send{
	margin-top: auto;
	margin-bottom: auto;
	position: relative;
	padding: 10px;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}
.msg_cotainer{
	margin-left: 15px;
	background-color: #D1E5FF;
}
.msg_cotainer_send{
	margin-right: 15px;
	color: #fff;
	background-color: #1F5BA8;
}
.msg_time,.msg_time_send{
	position: absolute;
	bottom: -25px;
	color: #888;
	font-size: 12px;
	min-width:75px;
}
.msg_time{
	left: 0;
}
.msg_time_send{
	right: 0;
}
.msg_cotainer:before,.msg_cotainer_send::before{
	content: "";
	position: absolute;
	top: 40%;
	width: 0;
	height: 0;
	border-bottom: 7px solid transparent;
	border-top: 7px solid transparent;
}
.msg_cotainer:before{
	left: -7px;
	border-right: 14px solid #D1E5FF;
}
.msg_cotainer_send::before  {
	border-right: 14px solid #1F5BA8;
	right: -7px;
	-ms-transform: rotate(18deg);
	-webkit-transform: rotate(18deg);
	transform: rotate(180deg);
}
.form-control--text{
	height: calc(2.8rem + 2px);
}
