/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}


/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 

}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
	.inner-form-wrap{
		padding: 50px 10px;
	}
	.mr-5, .mx-5{
		margin-right: 2rem!important;
	}
	.inner-form-wrap{
		height: auto;
	}
 }

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
	.inner-form-wrap{
		padding: 50px;
    height: auto;
	}
	/* .row > [class*="col-"] {
    padding-left: 10px;
    padding-right: 10px;
	} */
	
 }

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
	.h1,h1{
		font-size: 1.8rem;
	}
	.nav-pills-custom li a{
		font-size: 16px;
	}
	.inner-form-wrap{
		padding: 30px 5px 5px 5px;
		height: auto;
	}
}



