
.sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
	padding: 60px 0 0;
}
.sidebar-sticky {
	position: -webkit-sticky;
	position: sticky;
}
.sidebar-sticky {
	position: relative;
	top: 0;
	height: calc(100vh - 60px);
	padding-top: .5rem;
	overflow-x: hidden;
	overflow-y: auto;
}
.sidebar .nav-link{
	padding-left: 2rem;
	font-size: 16px;
}
.sidebar a{
	color: #404040;
}
.sidebar .active{
	border-left: 4px solid #1f5ba8;
	color: #1f5ba8;
	background-color: #f7f7f7;
	font-weight: 700;
	padding-left: 1.6rem;
	margin-left: 1px;
}
@media only screen and (max-width:991px){

	.navbar {
		padding: .5rem 20px
	}
	.toggler-custom {
		margin-left: 10px
	}
.navbar-expand .navbar-toggler
 {
display: block !important;
border: 0;
    padding-left: 0;
    padding-right: 0;
}
#sidebarNav a {
	white-space: nowrap;
}
#sidebarNav {
		width: 0;
		height: 100%;
z-index: 1;
overflow-x: hidden;
transition: 0.5s;
-moz-transition: 0.5s;
-webkit-transition: 0.5s;
}

#sidebarNav.show {
	width: 250px
}

}
