
/* css */
@import url("reset.css");
@import url("bootstrap-custom.css");
@import url("common.css");
@import url("custom.css");
@import url("header.css");
@import url("sidenav.css");
@import url("forms.css");
@import url("tables.css");
@import url("responsive.css");


.add-btn-table{
    font-size: 10px;
}
.delete-btn-table{
    font-size: 10px;
    padding: 5px 10px;
}
.inline-block-table{
    display: inline-block;
}
.datepicker > div {
    display: inherit;
}
.calendar-addon{
    padding: 7px;
}
.error {
   color: red;
}
input.error{
    border-bottom: solid 1px red;
}
.filter-label{
    padding: 0px 8px;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #b3b3b3 !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #b3b3b3 !important;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #b3b3b3 !important;
   opacity:  1 !important;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #b3b3b3 !important;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #b3b3b3 !important;
}

::placeholder { /* Most modern browsers support this now. */
   color:    #b3b3b3 !important;
}
.expert-doc{
    border: none !important
}
span.tags {
    background: #1abc9c;
    border-radius: 2px;
    color: #f5f5f5;
    font-weight: bold;
    padding: 2px 4px;
}
.profile p {
    margin: 0 0 10px;
}
.profile h2 {
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
}
.divider {
    border-top: 1px solid rgba(0,0,0,0.1);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
}
.divider-history{
    border-top: 1px solid rgba(0,0,0,0.1);
    margin-top: 10px;
    padding: 10px;
}
.profile{
    padding: 15px 20px;
}
.service-record{
    padding: 10px 0px 0px 0px;
    font-size: 16px;
    font-weight: bold;
    color: #1f5ba8;
}
.service-date{
    color: #bcbcbc;
    font-size: 13px;
    padding: 9px;
    font-style: italic;
}
.service-record-to{
    padding: 0px;
}
.fullname-to{
    color: #bcbcbc;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
}
.profile-pic {
    margin: 20px 0;
}
.change-picture {
    background-color: #F2F2F2;
    padding: 5px 10px;
    border-radius: 30px;
    color: initial;
    margin-left: 15px;
    border: 1px solid #C1CFE2;
    cursor: pointer;
}
.expert-profile-form{
    width: 100%;
}
.expertProfileImage{
    display: none;
}
.expert-profileimage{
    border-radius: 50%;
    border: dotted 2px #ccc;
}
.viewHistory{
    font-size: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* added for zendesk comment page */
.con {
    border: 2px solid #dedede;
    background-color: #ffff;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
  }

  .darker {
    border-color: #ccc;
    background-color: #ddd;
  }

  .con::after {
    content: "";
    clear: both;
    display: table;
  }

  .con .requester {
    float: left;
    max-width: 100%;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
    font-size:11px;
  }

  .con .requester.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
  }

  .time-right {
    float: right;
    color: #aaa;
  }

  .time-left {
    float: left;
    color: #999;
  }
  .requester i {margin-right:4px;}
  .view-btn-table{
    font-size: 10px;
    padding: 5px 10px;
    }
/*End */


/*  Custom dashboard start */

.tile_count .tile_stats_count {
    margin-bottom: 10px;
    border-bottom: 0;
    padding-bottom: 10px;
}
.tile_count .tile_stats_count span {
    font-size: 13px;
}
.tile_count .tile_stats_count .count {
    font-size: 40px;
    line-height: 47px;
    font-weight: 600;
}
.green {
    color: #1f5ba8;
}
.tile_count .tile_stats_count, ul.quick-list li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tile_count {
    margin-bottom: 20px;
    margin-top: 20px;
}
.tile_count .tile_stats_count::before {
    content: "";
    position: absolute;
    left: 0;
    height: 65px;
    border-left: 2px solid #ADB2B5;
    margin-top: 10px;
}
.tile_count .tile_stats_count:first-child::before {
    border-left: 0;
}
.margin-top-10{
    margin-top: 15px;
}
.db-length-input{
    width: 35%;
    display: inline-block;
}


/*  Service History Modal Start */

.viewService-modal.left .modal-dialog,
.viewService-modal.right .modal-dialog {
        position: fixed;
        margin: auto;
        width:70%;
        height: 100%;
        -webkit-transform: translate3d(0%, 0, 0);
            -ms-transform: translate3d(0%, 0, 0);
             -o-transform: translate3d(0%, 0, 0);
                transform: translate3d(0%, 0, 0);
}

.viewService-modal.left .modal-content,
.viewService-modal.right .modal-content {
        height: 100%;
        overflow-y: auto;
}

.viewService-modal.left .modal-body,
.viewService-modal.right .modal-body {
        padding: 15px 15px 80px;
}


/*Right*/
.viewService-modal.right.fade .modal-dialog {
        right: 0px;
        -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
           -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
             -o-transition: opacity 0.3s linear, right 0.3s ease-out;
                transition: opacity 0.3s linear, right 0.3s ease-out;
}

.viewService-modal.right.fade.in .modal-dialog {
        right: 0;
}

/* ----- MODAL STYLE ----- */
.viewServiceModal-content {
        border-radius: 0;
        border: none;
}

.viewServiceModal-header {
        border-bottom-color: #EEEEEE;
        background-color: #FAFAFA;
}

.viewServiceModal.right.fade.show .modal-dialog {
    right:  0;
}
/* Service History Modal End */
.col-sm-4.invoice-col {
    border-right: solid 1px #f4f4f4;
}
.no-payment{
    padding: 10px;
}
section.invoice .row{
    position: relative;
    background: #fff;
    border: 1px solid #f4f4f4;
    padding: 10px;
    margin: 10px;
}
.page-header {
    margin: 10px 0 10px 0;
    font-size: 20px;
}
.page-header>small {
    color: #666;
    margin-top: 5px;
}
.servicehistory-table td,.servicehistory-table th {
    white-space: nowrap;
}
.servicehistory-table th{
    font-weight: bold;
}
.servicehistory-table td{
    text-align: center;
}
.invoice-col .text-info{
    color:#1f5ba8;
}
.add-wallet-money{
    padding: 20px 0px;
}
.saved-card{
    padding: 5px;
}
.nav-pills-custom--acount .nav-item {
    margin-right: 2rem;
}
.my-3 {
    margin-bottom: 1rem !important;
}
.make-default{
    cursor: pointer;
    padding: 5px 10px;
}


.pd-rt-15 {padding-right: 15px}
.pd-rt-7 {padding-right: 7px}

.filters-service-history {
    padding-bottom: 15px;
        font-size: 13px
}
.dataTables_wrapper {
    padding-top: 20px;
    border-top: 1px solid #dfdfdf
}
.dt-no-border-pd .dataTables_wrapper {border: 0;padding: 0}
.custom-form-control {
    border: 1px solid #dfdfdf;
    height: 30px;
    padding: 0 5px;
    font-size: 12px;
    border-radius: 4px;
}

table.dataTable thead th, table.dataTable thead td,
table.dataTable.no-footer
 {
    border-bottom: 0;
    font-size: 14px
}

table.dataTable thead th {
    font-weight: 500
}

.dataTables_length select {margin: 0 7px}
table.dataTable thead .sorting_asc {
        background-position: right 17px
}
.dataTables_paginate {
    font-size: 13px
}
body .dataTables_wrapper .dataTables_paginate .paginate_button {
    background: #fff !important;
    border: 1px solid #dfdfdf !important;
    box-shadow: none !important;
    padding: 4px 10px !important
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover
 {
    color: #000  !important;
}
body .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #fff  !important;
}
body .dataTables_wrapper .dataTables_paginate .paginate_button.current {
    color: #fff !important;
    background: #1f5ba8 !important;
    border-color: #1f5ba8 !important;
}
.dataTables_paginate a {color: #3490dc}
.dataTables_paginate a:hover {color: #3490dc}
.dataTables_wrapper .dataTables_filter input {
    margin-left: 0
}

.btn-add-money {color: #000;font-size: 13px;}
.btn-add-money i {
    color: #67BF3C;
    padding-right:6px;
    font-size: 20px;
    position: relative;
    top: 2px
}
.add-money-holder{
    display: none;
}


/* Media Queries */

@media only screen and (max-width:991px) {
    .card-list {
        font-size: 10px;
        line-height: 2
    }
}

@media only screen and (max-width:767px) {
.msg_text_body {
    padding-top: 30px;
    height: auto;
}
}

@media only screen and (min-width:767px) {
    .hela-job-wallet {
        border-left: 1px solid #dfdfdf
    }
}

@media only screen and (max-width:479px) {
.hide-device {
    display: none
}
}
