.m-b-20.clearfix
  .pull-left
    h3
      strong Add Payroll
  .pull-right
    a.btn.btn-success.m-t-10(href="/viewpayrolllist")
      i.fa.fa-reply.p-r-10
      | Back  
.row
  .col-md-12
    .tabcordion
      #myTabContent.tab-content
        #product_general.tab-pane.fade.active.in
          .row
            .col-md-12
              form#form1.form-horizontal(name="payrollForm", novalidate)
                    .form-group
                      label.col-sm-3.control-label
                        | Select Employee
                        span.asterisk *
                      .col-sm-7
                        select.btn(ng-options = "emp.first_name+' '+emp.last_name for emp in allEmps", ng-model="payroll.emp_id", ng-init="payroll.emp_id = allEmps[0].value")
                    .form-group
                      label.col-sm-3.control-label
                        | Select Account
                      .col-sm-7
                        select.btn(ng-model="payroll.accounttype", ng-options="account.value as account.name for account in clientData", ng-init="payroll.accounttype = clientData[0].value")
                    .form-group
                      label.col-sm-3.control-label
                        | Total Hours
                        span.asterisk *
                      .col-sm-2
                        input.form-control(placeholder="Total Hours", ng-model="payroll.total_hours", required="required")
                    .form-group
                      label.col-sm-3.control-label
                        | Pay Rate
                        span.asterisk *
                      .col-sm-2
                        input.form-control(placeholder="Pay Rate", ng-model="payroll.pay_rate", required="required")
            .col-md-12.m-t-20.m-b-40.align-center
                button.btn.btn-default.m-r-10.m-t-10(href="#", ng-click="cleardata()")
                  i.fa.fa-reply.p-r-10
                  | Clear
                a.btn.btn-info.m-r-10.m-t-10(href="/viewpayrolllist")
                  i.fa.fa-reply.p-r-10
                  | Cancel  
                button.btn.btn-success.m-t-10(href="#" ng-click="addPayroll(payroll)")
                  i.fa.fa-check.p-r-10
                  |Save 