style.
  .disableTable{
    opacity:0.30;
  }
  .removedisableTable{
    opacity:1.0;
  }
showloader
.m-b-20.clearfix
  .page-title.pull-left
    h3.pull-left
      strong Employee Availability
.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        h3.panel-title
          strong Mark Availability
        .btn-group(style="float:right", ng-if='user.roles[0] == "employee"')
          button.btn.btn-success#focuson(type="button", ng-click="changeview('/timeoffrequest')")
            i.fa.fa-plus.p-r-10
            |  Time Off Request
      .panel-body
        .row
          .col-lg-3
            ul
              li(ng-repeat="a in weeklist", style="margin-bottom: 3px;") 
                button.btn.label-success(ng-click="showWeekDays(a[0], a[1],$event)", style="width:178px;" id="{{a[0] | date: 'shortDate'}}", ng-if='$index == 0')
                  | {{a[0] | date: 'shortDate'}} - {{a[1] | date: 'shortDate'}}
                button.btn.bg-blue(ng-click="showWeekDays(a[0], a[1],$event)", style="width:178px;" id="{{a[0] | date: 'shortDate'}}", ng-if='$index!= 0')
                  | {{a[0] | date: 'shortDate'}} - {{a[1] | date: 'shortDate'}}
          .col-lg-8
            table.table.table-striped.table-hover.table-bordered(id="stat", ng-class='disenable')
              thead.no-bd
                tr
                  th
                    strong Days of the week
                  th(colspan="4")
                    strong Mark Availability by selecting one box per shift
                tr
                  td.uppercase.f-12(colspan="3")
                    strong(style='color:#0090d9') Shift times are general times, not actual shift times
                  td
                    label(class="checkbox-inline")
                      input(type='checkbox', ng-model='all_box_scheduled', ng-true-value="yes", ng-false-value='', ng-change='markAll("yes")', ng-disabled='duration < 11 && tableStartDate === nextNextWeek')
                      | Yes
                    label(class="checkbox-inline")
                      input(type='checkbox', ng-model='all_box_scheduled', ng-true-value="maybe", ng-false-value='', ng-change='markAll("maybe")', ng-disabled='duration < 11 && tableStartDate === nextNextWeek')
                      | Maybe
                    label(class="checkbox-inline")
              tbody.no-bd-y
                h2.c-red(ng-if="duration < 11 && tableStartDate === nextNextWeek", style='margin-top:250px;position:absolute;') We have a cut off time of midnight the Wednesday 11 days in advance to fill availability. Now you can't fill for this week. Contact MOD to make any updates.
                tr(ng-repeat-start="a in sevenWeekDayArr", class="{{a | toSec | date:'EEEE'}}_morning")
                  td(ng-model="availability[$index].currDate", ng-init="availability[$index].currDate = a") {{a | date: 'shortDate'}}  {{a | toSec | date:'EEEE'}}
                  td Morning:
                  td {{slot.morning_start_time}} {{slot.morning_start_period}} - {{slot.morning_end_time}} {{slot.morning_end_period}}
                  td
                    label(class="checkbox-inline")
                      input(type='checkbox', ng-model='availability[$index].is_morning_scheduled', ng-true-value="yes", ng-false-value='', ng-if="duration < 11 && tableStartDate === nextNextWeek", disabled="disabled")
                      input(type='checkbox', ng-model='availability[$index].is_morning_scheduled', ng-true-value="yes", ng-false-value='', ng-if="duration >= 11 || tableStartDate !== nextNextWeek", ng-change="checkAvaiabilityMarkTime()")
                      | Yes
                    label(class="checkbox-inline")
                      input(type='checkbox', ng-model='availability[$index].is_morning_scheduled', ng-true-value="maybe", ng-false-value='', ng-if="duration < 11 && tableStartDate === nextNextWeek", disabled="disabled")
                      input(type='checkbox', ng-model='availability[$index].is_morning_scheduled', ng-true-value="maybe", ng-false-value='', ng-if="duration >= 11 || tableStartDate !== nextNextWeek", ng-change="checkAvaiabilityMarkTime()")
                      | Maybe
                    label(class="checkbox-inline")
                      input(type='checkbox', ng-model='availability[$index].is_morning_scheduled', ng-true-value="no", ng-false-value='', disabled="disabled", ng-if = "((no_of_employees - shiftGrid[a.day]['morning'] - extrashiftGrid[a.day]['morning'] - gridData[a.day]['Morning']) <= nodata[a]['Morning']) || (duration < 11 && tableStartDate === nextNextWeek)")
                      input(type='checkbox', ng-model='availability[$index].is_morning_scheduled', ng-true-value="no", ng-false-value='', ng-change="checkAvaiabilityMarkTime();checkNoMark(no_of_employees,shiftGrid[a.day]['morning'],extrashiftGrid[a.day]['morning'],gridData[a.day]['Morning'],nodata[a]['Morning'], $index,'morning')", ng-disabled="availability[$index].is_morning_scheduled_force || (duration < 11 && tableStartDate === nextNextWeek)")
                      | No
                      input(type='hidden', ng-model='availability[$index].is_morning_scheduled_force') 
                tr(class="{{a | toSec | date:'EEEE'}}_after")
                  td
                  td Afternoon:
                  td {{slot.afternoon_start_time}} {{slot.afternoon_start_period}} - {{slot.afternoon_end_time}} {{slot.afternoon_end_period}}
                  td
                    label(class="checkbox-inline")
                      input(type='checkbox', ng-model='availability[$index].is_afternoon_scheduled', ng-true-value='yes', ng-false-value='', ng-if="duration < 11 && tableStartDate === nextNextWeek", disabled="disabled")
                      input(type='checkbox', ng-model='availability[$index].is_afternoon_scheduled', ng-true-value='yes', ng-false-value='', ng-if="duration >= 11 || tableStartDate !== nextNextWeek", ng-change="checkAvaiabilityMarkTime()")
                      | Yes
                    label(class="checkbox-inline")
                      input(type='checkbox', ng-model='availability[$index].is_afternoon_scheduled', ng-true-value='maybe', ng-false-value='', ng-if="duration < 11 && tableStartDate === nextNextWeek", disabled="disabled")
                      input(type='checkbox', ng-model='availability[$index].is_afternoon_scheduled', ng-true-value='maybe', ng-false-value='', ng-if="duration >= 11 || tableStartDate !== nextNextWeek", ng-change="checkAvaiabilityMarkTime()")
                      | Maybe
                    label(class="checkbox-inline")
                      input(type='checkbox', ng-model='availability[$index].is_afternoon_scheduled', ng-true-value="no", ng-false-value='', disabled="disabled", ng-if = "((no_of_employees - shiftGrid[a.day]['afternoon'] - extrashiftGrid[a.day]['afternoon'] - gridData[a.day]['Afternoon']) <= nodata[a]['Afternoon']) || (duration < 11 && tableStartDate === nextNextWeek)")
                      input(type='checkbox', ng-model='availability[$index].is_afternoon_scheduled', ng-true-value="no", ng-false-value='', ng-change="checkAvaiabilityMarkTime();checkNoMark(no_of_employees,shiftGrid[a.day]['afternoon'],extrashiftGrid[a.day]['afternoon'],gridData[a.day]['Afternoon'],nodata[a]['Afternoon'], $index,'afternoon')", ng-disabled="availability[$index].is_afternoon_scheduled_force || (duration < 11 && tableStartDate === nextNextWeek)")
                      | No   
                      input(type='hidden', ng-model='availability[$index].is_afternoon_scheduled_force')  
                  td(ng-if='availability[$index].is_afternoon_scheduled_confirmation == true')
                    label.label.label-info
                      | Scheduled
                tr(class="{{a | toSec | date:'EEEE'}}_night")
                  td
                  td Night:
                  td {{slot.night_start_time}} {{slot.night_start_period}} - {{slot.night_end_time}} {{slot.night_end_period}}
                  td
                    label(class="checkbox-inline")
                      input(type='checkbox', ng-model='availability[$index].is_night_scheduled', ng-true-value='yes', ng-false-value='', ng-if="duration < 11 && tableStartDate === nextNextWeek", disabled="disabled")
                      input(type='checkbox', ng-model='availability[$index].is_night_scheduled', ng-true-value='yes', ng-false-value='', ng-if="duration >= 11 || tableStartDate !== nextNextWeek", ng-change="checkAvaiabilityMarkTime()")
                      | Yes
                    label(class="checkbox-inline")
                      input(type='checkbox', ng-model='availability[$index].is_night_scheduled', ng-true-value='maybe', ng-false-value='', ng-if="duration < 11 && tableStartDate === nextNextWeek", disabled="disabled")
                      input(type='checkbox', ng-model='availability[$index].is_night_scheduled', ng-true-value='maybe', ng-false-value='', ng-if="duration >= 11 || tableStartDate !== nextNextWeek", ng-change="checkAvaiabilityMarkTime()")
                      | Maybe
                    label(class="checkbox-inline")
                      input(type='checkbox', ng-model='availability[$index].is_night_scheduled', ng-true-value="no", ng-false-value='', disabled="disabled", ng-if = "((no_of_employees - shiftGrid[a.day]['night'] - extrashiftGrid[a.day]['night'] - gridData[a.day]['Night']) <= nodata[a]['Night']) || (duration < 11 && tableStartDate === nextNextWeek)")
                      input(type='checkbox', ng-model='availability[$index].is_night_scheduled', ng-true-value="no", ng-false-value='', ng-change="checkAvaiabilityMarkTime();checkNoMark(no_of_employees,shiftGrid[a.day]['night'],extrashiftGrid[a.day]['night'],gridData[a.day]['Night'],nodata[a]['Night'], $index,'night')", ng-disabled="availability[$index].is_night_scheduled_force || (duration < 11 && tableStartDate === nextNextWeek)")
                      | No
                      input(type='hidden', ng-model='availability[$index].is_night_scheduled_force')  
                  td(ng-if='availability[$index].is_night_scheduled_confirmation == true')
                    label.label.label-info
                      | Scheduled
                tr(ng-repeat-end="", class="{{a | toSec | date:'EEEE'}}_latenight")
                  td
                  td Late Night:
                  td {{slot.late_night_start_time}} {{slot.late_night_start_period}} - {{slot.late_night_end_time}} {{slot.late_night_end_period}}
                  td
                    label(class="checkbox-inline")
                      input(type='checkbox', ng-model='availability[$index].is_late_night_scheduled', ng-true-value='yes', ng-false-value='', ng-if="duration < 11 && tableStartDate === nextNextWeek", disabled="disabled")
                      input(type='checkbox', ng-model='availability[$index].is_late_night_scheduled', ng-true-value='yes', ng-false-value='', ng-if="duration >= 11 || tableStartDate !== nextNextWeek", ng-change="checkAvaiabilityMarkTime()")
                      | Yes
                    label(class="checkbox-inline")
                      input(type='checkbox', ng-model='availability[$index].is_late_night_scheduled', ng-true-value='maybe', ng-false-value='', ng-if="duration < 11 && tableStartDate === nextNextWeek", disabled="disabled")
                      input(type='checkbox', ng-model='availability[$index].is_late_night_scheduled', ng-true-value='maybe', ng-false-value='', ng-if="duration >= 11 || tableStartDate !== nextNextWeek", ng-change="checkAvaiabilityMarkTime()")
                      | Maybe
                    label(class="checkbox-inline")
                      input(type='checkbox', ng-model='availability[$index].is_late_night_scheduled', ng-true-value="no", ng-false-value='', disabled="disabled", ng-if = "((no_of_employees - shiftGrid[a.day]['latenight'] - extrashiftGrid[a.day]['latenight'] - gridData[a.day]['Late Night']) <= nodata[a]['Late Night']) || (duration < 11 && tableStartDate === nextNextWeek)")
                      input(type='checkbox', ng-model='availability[$index].is_late_night_scheduled', ng-true-value="no", ng-false-value='', ng-change="checkAvaiabilityMarkTime();checkNoMark(no_of_employees,shiftGrid[a.day]['latenight'],extrashiftGrid[a.day]['latenight'],gridData[a.day]['Late Night'],nodata[a]['Late Night'], $index,'latenight')", ng-disabled="availability[$index].is_late_night_scheduled_force || (duration < 11 && tableStartDate === nextNextWeek)")
                      | No
                      input(type='hidden', ng-model='availability[$index].is_late_night_scheduled_force')  
                  td(ng-if='availability[$index].is_late_night_scheduled_confirmation == true')
                    label.label.label-info
                      | Scheduled
            .col-md-12.m-t-20.m-b-40.align-center
              textarea.form-control( rows="10", placeholder="Enter comment after complete your availability.", ng-model="availability.report" )
          .col-md-12.m-t-20.m-b-40.align-center
            button.btn.btn-success.m-t-10(ng-click="submitAvailability(availability, sevenWeekDayArr[0], sevenWeekDayArr[6])", ng-disabled='duration < 11 && tableStartDate === nextNextWeek')
              i.fa.fa-check.p-r-5
              | Submit Availability 
