nav#sidebar.mCustomScrollbar(scroll='')
  #main-menu
    ul.sidebar-nav
      li(ng-class="{current:isActive('/dashboard')}")
        a(href='/dashboard', title='Dashboard', ng-click="pagetitle('Dashboard')")
          i.fa.fa-dashboard
          span.sidebar-text Dashboard
      li.hasSub(ng-class="{current:isActive('/myavailability') || isActive('/timeoffrequest')}")
        a(href='/myavailability', title='My Availability', ng-click="pagetitle('My Availability')")
          i.fa.fa-calendar-o
          span.sidebar-text My Availability
      li(ng-class="{current:isActive('/viewschedule')}")
        a#scheduleId(href='/viewschedule', title='My Schedule', ng-click="pagetitle('My Schedule')")
          i.fa.fa-calendar
          span.sidebar-text My Schedule
      li(ng-class="{current:isActive('/memolist') || isActive('/memo')}")
        a(href='/memolist', title='Memos', ng-click="pagetitle('Memos')")
          i.fa.fa-envelope
          span.sidebar-text Memos
            span.label.label-danger.m-l-10(ng-bind="notificationCount" ng-if="notificationCount>0")
      li(ng-class="{current:isActive('/viewEmployeesToUser')}")
        a(href='/viewEmployeesToUser', title='Contacts', ng-click="pagetitle('Contacts')")
          i.fa.fa-list-alt
          span.sidebar-text Contacts
      li(ng-class="{current:isActive('/viewshifts')}")
        a(href='/viewshifts', title='Shift Acknowledgement', ng-click="pagetitle('Shift Acknowledgement')")
          i.fa.fa-tasks
          span.sidebar-text Shift Acknowledgement
            span.label.label-danger(ng-bind='availnotifications', ng-if='availnotifications>0', style='margin-left:2px !important;')
      li(ng-class="{current:isActive('/documentslib')}")
        a(href='/documentslib', title='Documents Library', ng-click="pagetitle('Documents Library')")
          i.fa.fa-files-o
          span.sidebar-text Documents Library
      li(ng-class="{current:isActive('/todolist')}")
            a(href='/todolist', title='To Do', ng-click="pagetitle('To Do')")
              i.fa.fa-check
              span.sidebar-text To Do
                span.label.label-danger.m-l-10(ng-bind='todonotifications', ng-if='todonotifications>0')
      li(ng-class="{current:isActive('/whiteboard') || isActive('/whiteboard')}")
            a(href='/whiteboard', title='White Board', ng-click="pagetitle('White Board')")
              i.fa.fa-tablet
              span.sidebar-text White Board
      li(ng-class="{current:isActive('/timesheet')}")
            a(href='/timesheet', title='Timesheet', ng-click="pagetitle('Timesheet')")
              i.fa.fa-clock-o
              span.sidebar-text Timesheet
      li(ng-class="{current:isActive('/schCalendar')}")
            a(href='/schCalendar', ng-click="pagetitle('Schedule Calendar')")
              i.fa.fa-book
              span.sidebar-text Schedule Calendar
      li(ng-class="{current:isActive('/tbpCalendar')}")
            a(href='/tbpCalendar', ng-click="pagetitle('Trade Board Postings')")
              i.fa.fa-tags
              span.sidebar-text Trade Board Postings
      li(ng-class="{current:isActive('/empPanelRanking')}")
            a(href='/empPanelRanking', ng-click="pagetitle('Employee Ranking system')")
              i.fa.fa-star-o
              span.sidebar-text Employee Ranking
      li(ng-class="{current:isActive('/tradeRequests')}")
            a(href='/tradeRequests', ng-click="pagetitle('Trade Requests')")
              i.fa.fa-tag
              span.sidebar-text Trade Requests
                span.label.label-danger.m-l-10(ng-bind='tradenotificationCount', ng-if='tradenotificationCount>0')
      li.m-b-100(ng-class="{current:isActive('/rankRecog')}")
            a(href='/rankRecog', ng-click="pagetitle('Sparkys / Writeups')")
              i.fa.fa-star
              span.sidebar-text Sparkys / Writeups
      br
  .footer-widget
    .footer-gradient
    .sidebar-footer.clearfix
      a.pull-left(href="/editpassword", title="Change Password", ng-click="pagetitle('Change Password')")
        i.glyph-icon.flaticon-settings21
      a.pull-left(href="/employeeprofile", title="Edit Profile", ng-click="pagetitle('My Profile')")
        i.fa.fa-edit
      a.pull-left(href='#', title='Logout', ng-click='logout()', ng-controller='LogoutController')
        i.fa.fa-power-off
