.m-b-20.clearfix
  .pull-left
    h3
      strong Time Off Request
  .pull-right(ng-if='user.roles[0] == "employee"')
    a.btn.btn-success.m-t-10(href='/myavailability', ng-confirm-click='', ng-if='timeOffRequestForm.$dirty')
      i.fa.fa-reply.p-r-10
      | Back
    a.btn.btn-success.m-t-10(href='/myavailability', ng-if='timeOffRequestForm.$pristine')
      i.fa.fa-reply.p-r-10
      | Back
.row
  .col-md-12
    .tabcordion
      #myTabContent.tab-content
        #product_general.tab-pane.fade.active.in
          .row
            .col-md-12
              form#form1.form-horizontal(name="timeOffRequestForm")
                .form-group
                  label.col-sm-3.control-label
                    | Day Type
                    span.asterisk *
                  .col-sm-1
                    input(type="radio", name="is_active", ng-model="timeoff.daytype", value="Full") 
                    | &nbsp;&nbsp;Full
                  .col-sm-2
                    input(type="radio", name="is_active", ng-model="timeoff.daytype", value="Partial") 
                    | &nbsp;&nbsp;Partial
                div(ng-if="timeoff.daytype === 'Full'")
                    .form-group
                      label.col-sm-3.control-label
                        | Start Date
                        span.asterisk *
                      .col-sm-2
                        input.form-control#startdate(type="text", placeholder="mm/dd/yyyy", ng-model="timeoff.startdate", required="required", style="padding: 8px 12px;", dateselection="event", readonly)
                      label.col-sm-2.control-label
                        | End Date
                        span.asterisk *
                      .col-sm-2
                        input.form-control#enddate(type="text", placeholder="mm/dd/yyyy", ng-model="timeoff.enddate", required="required", style="padding: 8px 12px;", dateselection="event", readonly)
                div(ng-if="timeoff.daytype === 'Partial'")
                    .form-group
                      label.col-sm-3.control-label
                        | Date
                        span.asterisk *
                      .col-sm-2
                        input.form-control(type="text", placeholder="mm/dd/yyyy", ng-model="timeoff.startdate", required="required", style="padding: 8px 12px;", dateselection="event", readonly)
                      label.col-sm-1.control-label
                        | Shift
                        span.asterisk *
                      .col-sm-5
                        div(multi-select='', input-model='shifts', button-label='name', item-label='name', tick-property='ticked', required='required')
                .form-group
                  label.col-sm-3.control-label
                    | Description
                    span.asterisk *
                  .col-sm-7
                    textarea.form-control(placeholder="Description", ng-model="timeoff.description", rows="6", required="required")
            .col-md-12.m-t-20.m-b-40.align-center
                button.btn.btn-default.m-r-10.m-t-10(href="#", ng-click="cleardata()")
                  i.fa.fa-reply.p-r-10
                  | Clear
                a.btn.btn-info.m-r-10.m-t-10(href='/myavailability')
                  i.fa.fa-reply.p-r-10
                  | Cancel
                button.btn.btn-success.m-t-10(href="#" ng-click="sendTimeOffRequest(timeoff)")
                  i.fa.fa-check.p-r-10
                  | Send Request
            .col-md-12.align-center(ng-if="haveResult")
              h4 Applied TimeOff Status
            table#datatable_ajax.table.table-striped.table-bordered.table-hover.f-left.m-r-10(ng-table='tableParams', style="width:80%;margin-left:150px", ng-if="haveResult")
              thead
                tr.heading.purple-bg(role='row')
                  th.text-center.unsortheading(style="width:10%") From
                  th.text-center.unsortheading(style="width:10%") To
                  th.text-center.unsortheading(style="width:20%") Request Type
                  th.text-center.unsortheading(style="width:20%") Shift
                  th.text-center.unsortheading(style="width:10%") Status
                  th.text-center.unsortheading(style="width:40%") Comment
              tbody
                tr.odd(role='row',ng-repeat='data in $data', ng-if="haveResult")
                  td.text-center {{data.startdate}}
                  td.text-center {{data.enddate}}
                  td.text-center(ng-bind="data.daytype")
                  td.text-center(ng-bind="data.shift")
                  td.text-center(ng-if="data.status == 'Approve'") 
                    .label.label-success Approved
                  td.text-center(ng-if="data.status == 'Reject'") 
                    .label.label-danger Rejected
                  td.text-center(ng-if="!data.status") 
                    .label.label-info Waiting
                  td.text-center {{data.manager_comment}}
                tr(ng-if="haveResult")
                  td(colspan='6')
                    h5.pull-right(style="color:#3276B1")
                      strong Total TimeOff: {{totalRecords}}
style(type="text/css").
  .ng-table-pager {
      margin-left:150px;
      width:80%;
  }
           