#modal-fullimage.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog(style='width:750px;')
    .modal-content
      .modal-header(style='background-color:lightgray')
        button.close(type='button', data-dismiss='modal', aria-hidden='true') X
        h4#myModalLabel.modal-title Employee Picture
      .modal-body(style='line-height:25px;font-weight:bolder;max-height:500px;overflow-y:auto;text-align:center;')
        img#bigprofilepic(ng-src='{{backendsiteurl}}/public/{{fullimage}}', alt='user avatar', fallback-src='', width='450px')
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Close
showloader
.m-b-20.clearfix
  .pull-left
    h3
      strong Employees Listing
  .pull-right
    a.btn.btn-success.m-t-10(href='/dashboard')
      i.fa.fa-reply.p-r-10
      | Back
.row(ng-show='visibility')
  .col-md-12
    .panel.panel-default
      .panel-heading
        .col-md-5
          .input-group.m-b-10
            input.form-control.w-700(type='text', placeholder='Search by name / email.', ng-model='searchText.val', style='border:solid 2px darkgray;color:#2a6496;', ng-pattern="searchPattern", name="searchemployee")
            span.input-group-addon
              i.fa.fa-search
      .panel-body
        .row
          .table-container(style='')
            #datatable_ajax_wrapper.dataTables_wrapper.dataTables_extended_wrapper.dataTables_extended_wrapper.no-footer
              .margin-b-10.tbl_response
                table#datatable_ajax.table.table-striped.table-bordered.table-hover.f-left(ng-table='tableParams')
                  thead
                    tr.heading.purple-bg(role='row')
                      th(width='3%')
                        i.glyph-icon.flaticon-account.c-blue
                      th(width='10%')
                        a.cursor-pointer(ng-click="sortType = 'employeeid'; sortReverse = !sortReverse; sortOrderby('employeeid',sortReverse);")
                          strong Emp Id
                          span.fa.fa-sort.m-l-5(ng-class="getIcon('employeeid')")
                      th(width='13%')
                        a.cursor-pointer(ng-click="sortType = 'last_name'; sortReverse = !sortReverse; sortOrderby('last_name',sortReverse);")
                          strong Last Name
                          span.fa.fa-sort.m-l-5(ng-class="getIcon('last_name')")
                      th(width='13%')
                        a.cursor-pointer(ng-click="sortType = 'first_name'; sortReverse = !sortReverse; sortOrderby('first_name',sortReverse);")
                          strong First Name
                          span.fa.fa-sort.m-l-5(ng-class="getIcon('first_name')")
                      th.unsortheading(width='13%') Phone
                      
                      th.unsortheading(width='13%') Role
                  tbody
                    tr.odd(role='row', ng-repeat='data in $data', ng-if='haveResult')
                      td
                        img.animated.flipInY.cursor-pointer(ng-src='/img/avatars/avatar2_big.png', alt='avatar 4', ng-if="!data.prof_image", width='30px', height= '30px', ng-click='showfullImage(data.prof_image)', data-toggle='modal', data-target='#modal-fullimage')
                        img#smallprofilepic.animated.flipInY.cursor-pointer(ng-src='{{backendsiteurl}}/public/{{data.prof_image}}', alt='user avatar', ng-if="data.prof_image", fallback-src='', height= '30px', width='30px', ng-click='showfullImage(data.prof_image)', data-toggle='modal', data-target='#modal-fullimage')
                      td.text-center(ng-bind='data.employeeid | numberFixedLen:4')
                      td(ng-bind='data.last_name | limitTo: 20', title='{{data.last_name}}')
                      td(ng-bind='data.first_name | limitTo: 20', title='{{data.first_name}}')
                      td.text-center
                        a(href = "{{'tel:'+data.phone}}") {{data.phone | tel}}
                      td.text-center(ng-bind='data.roles[0] | uppercase')
                    tr(ng-if='haveResult')
                      td(colspan='8')
                        h5.pull-right(style='color:#3276B1')
                          strong Total Employees: {{totalRecords}}
          .alert.alert-info.fade.in.text-center(ng-if='!haveResult')
            h4 No employees for you at this time.
