#modal-changelocation.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog(style="width:800px;")
    .modal-content
      .modal-header(style='background-color:lightgray')
        button.close(type='button', data-dismiss='modal', aria-hidden='true', title="Close") X
        h4#myModalLabel.modal-title.dis-inline-b Choose Location for which you want to login.
      .modal-body(style='line-height:25px;font-weight:bolder;min-height:280px;max-height:480px;overflow-y:auto;')
        div(multi-select='', selection-mode = "SINGLE", input-model='locationmodernWebBrowsers', max-labels='1', button-label='title', item-label='title', tick-property='ticked', required='required', default-label='Select Location', on-item-click='updateLocationinStorage()')
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Close
nav#sidebar.mCustomScrollbar(scroll="")
  #main-menu
    ul.sidebar-nav
      li(ng-class="{current:isActive('/dashboard')}")
        a(href='/dashboard', ng-click="pagetitle('Dashboard')")
          i.fa.fa-dashboard(title='Dashboard')
          span.sidebar-text Dashboard
      li.hasSub(ng-class="isMainActive('employee_info')")
        a.cursor-pointer(ng-click='toggleSubMenu($event)')
          i.fa.fa-user
          span.sidebar-text Employee Info
          span.fa.arrow
        ul.submenu.collapse(style='height:0px')
          li(ng-class="{current:isActive('/viewadminemployee') || isActive('/addemployee') || isActive('/employee/edit') || isActive('/employee/availibility')}")
            a(href='/viewadminemployee', ng-click="pagetitle('Employees')")
              span.sidebar-text Employees
          li(ng-class="{current:isActive('/empschedule')}")
            a(href='/empschedule', ng-click="pagetitle('Employee Availability')")
              span.sidebar-text Employee Availability
          li(ng-class="{current:isActive('/emptoschedule')}")
            a(href='/emptoschedule', ng-click="pagetitle('Employees Available to Schedule')")
              span.sidebar-text Employees Available to Schedule
          li(ng-class="{current:isActive('/empAvlscheduled')}")
            a(href='/empAvlscheduled', ng-click="pagetitle('Employee Schedule/Availability')")
              span.sidebar-text Employee Schedule/Availability
          li(ng-class="{current:isActive('/memolist') || isActive('/addmemo') || isActive('/memo') || isActive('/scheduleMsg')}")
            a(href='/memolist', ng-click="pagetitle('Texting Employees')")
              span.sidebar-text Texting  Employees
          li(ng-class="{current:isActive('/timeofflist') || isActive('/timeoffdetail')}")
            a(href='/timeofflist', ng-click="pagetitle('Time Off Requests')")
              span.sidebar-text Time Off Requests
                span.label.label-danger.m-l-10(ng-bind='timeOffnotifications', ng-if='timeOffnotifications>0')
          li(ng-class="{current:isActive('/tradeAdminRequests') || isActive('/adminRejectedTrades') || isActive('/tradedetail/')  || isActive('/rejectedtradedetail/')}")
            a(href='/tradeAdminRequests', ng-click="pagetitle('Trade Requests')")
              span.sidebar-text Trade Requests
                span.label.label-danger.m-l-10(ng-bind='admintradenotifications', ng-if='admintradenotifications>0')
          li(ng-class="{current:isActive('/clocking') || isActive('/timesheet')}")
            a(href='/clocking', ng-click="pagetitle('Timeclock')")
              span.sidebar-text Timeclock
          li(ng-class="{current:isActive('/whiteboard')}")
            a(href='/whiteboard', ng-click="pagetitle('White Board')")
              span.sidebar-text White Board
      li.hasSub(ng-class="isMainActive('SchedulingMenu')")
        a.cursor-pointer(ng-click='toggleSubMenu($event)')
          i.fa.fa-calendar(title='Scheduling')
          span.sidebar-text Scheduling
          span.fa.arrow
        ul.submenu.collapse(style='height:0px')
          li(ng-class="{current:isActive('/schedule') || isActive('/reportSchedule')}")
            a(href='/schedule', ng-click="pagetitle('Employee Scheduling')")
              span.sidebar-text Scheduling
          li(ng-class="{current:isActive('/schCalendar')}")
            a(href='/schCalendar', ng-click="pagetitle('Schedule Calendar')")
              span.sidebar-text Schedule Calendar
          li(ng-class="{current:isActive('/timeslots')}")
            a(href='/timeslots', ng-click="pagetitle('Time Slots')")
              span.sidebar-text Time Slots
          li(ng-class="{current:isActive('/timeslotbuffer')}")
            a(href='/timeslotbuffer', ng-click="pagetitle('Weekly Time Slot Buffer')")
              span.sidebar-text Time Slot Buffer            
      li.hasSub(ng-class="isMainActive('RegularAccounts')")
        a.cursor-pointer(ng-click='toggleSubMenu($event)')
          i.fa.fa-repeat(title='Regular Accounts')
          span.sidebar-text Regular Accounts
          span.fa.arrow
        ul.submenu.collapse(style='height:0px')
          li(ng-class="{current:isActive('/reoccurringaccount') || isActive('/addaccount') || isActive('/account/edit') || isActive('/accountcalendar')}")
            a(href='/reoccurringaccount', ng-click="pagetitle('Regular Accounts')")
              span.sidebar-text Regular Accounts
          li(ng-class="{current:isActive('/eventlist') || isActive('/addevent') || isActive('/event/edit') || isActive('/eventcalendar')}")
            a(href='/eventlist', ng-click="pagetitle('Events')")
              span.sidebar-text Events
          li(ng-class="{current:isActive('/questionlist')}")
            a(href='/questionlist', ng-click="pagetitle('Questions')")
              span.sidebar-text Questions
      li.hasSub(ng-class="isMainActive('ReportsMenu')")
        a.cursor-pointer(ng-click='toggleSubMenu($event)')
          i.fa.fa-book(title='Reports')
          span.sidebar-text Reports 
          span.fa.arrow
        ul.submenu.collapse(style='height:0px')
          li(ng-class="{current:isActive('/reports') || isActive('/reports')}")
            a(href='/reports', ng-click="pagetitle('Availability Comment Report')")
              span.sidebar-text Availability Comment Report
          li(ng-class="{current:isActive('/ticketnotes') || isActive('/ticketmonthlynotes')}")
            a(href='/ticketnotes', ng-click="pagetitle('Ticket System Report')")
              span.sidebar-text Ticket System Report
          li(ng-class="{current:isActive('/ticketcomments')}")
            a(href='/ticketcomments', ng-click="pagetitle('Ticket System Comments')")
              span.sidebar-text Ticket System Comments
          li(ng-class="{current:isActive('/profitlossreport')}")
            a(href='/profitlossreport', ng-click="pagetitle('Profit/Loss Report')")
              span.sidebar-text Profit/Loss Report
          li(ng-class="{current:isActive('/hoursworkedreport')}")
            a(href='/hoursworkedreport', ng-click="pagetitle('Hours Worked Report')")
              span.sidebar-text Hours Worked Report
          li(ng-class="{current:isActive('/payrollreport')}")
            a(href='/payrollreport', ng-click="pagetitle('Payroll Report')")
              span.sidebar-text Payroll Report
          li(ng-class="{current:isActive('/overlapreport')}")
            a(href='/overlapreport', ng-click="pagetitle('Overlapping Shift Report')")
              span.sidebar-text Overlapping Shift Report
          li(ng-class="{current:isActive('/trackclosereport')}")
            a(href='/trackclosereport', ng-click="pagetitle('Clocking Report')")
              span.sidebar-text Clocking Report
          li(ng-class="{current:isActive('/totalhoursreport')}")
            a(href='/totalhoursreport', ng-click="pagetitle('Total Hours Report')")
              span.sidebar-text Total Hours Report
          li(ng-class="{current:isActive('/availDetailReport')}")
            a(href='/availDetailReport', ng-click="pagetitle('Employee Availability Report')")
              span.sidebar-text Employee Avail Report
          li(ng-class="{current:isActive('/ShiftAcknowledgement')}")
            a(href='/ShiftAcknowledgement', ng-click="pagetitle('Shift Acknowledgement')")
              span.sidebar-text Shift Acknowledgement
      li.hasSub(ng-class="isMainActive('RecognitionMenu')")
        a.cursor-pointer(ng-click='toggleSubMenu($event)')
          i.fa.fa-star
          span.sidebar-text Evaluation & Ranking
          span.fa.arrow
        ul.submenu.collapse(style='height:0px')
          li(ng-class="{current:isActive('/rankRecog')}")
            a(href='/rankRecog', ng-click="pagetitle('Sparkys / Writeups')")
              span.sidebar-text Sparkys / Writeups
          li(ng-class="{current:isActive('/evaluation') || isActive('/evalquestions')}")
            a(href='/evaluation', ng-click="pagetitle('Evaluation')")
              span.sidebar-text Evaluation
          li(ng-class="{current:isActive('/empranking')}")
            a(href='/empranking', ng-click="pagetitle('Employee Ranking system')")
              span.sidebar-text Employee Ranking
      li.hasSub.m-b-250(ng-class="isMainActive('MiscMenu')")
        a.cursor-pointer(ng-click='toggleSubMenu($event)')
          i.fa.fa-search
          span.sidebar-text Misc
          span.fa.arrow
        ul.submenu.collapse(style='height:0px')
          li(ng-class="{current:isActive('/todolist')}")
            a(href='/todolist', ng-click="pagetitle('To Do')")
              span.sidebar-text To Do
          li(ng-class="{current:isActive('/mytodolist') || isActive('/mytodocalendar')}")
            a(href='/mytodolist', ng-click="pagetitle('My To Do Lists')")
              span.sidebar-text My To Do
          li(ng-class="{current:isActive('/documentslib')}")
            a(href='/documentslib', ng-click="pagetitle('Documents Library')")
              span.sidebar-text Documents Library
          li(ng-class="{current:isActive('/zipinitials')}")
            a(href='/zipinitials', ng-click="pagetitle('Zip Codes, Initials')")
              span.sidebar-text Zip Codes, Initials
          li(ng-class="{current:isActive('/locations')}")
            a(href='/locations', ng-click="pagetitle('Locations')")
              span.sidebar-text Locations
  .footer-widget
    .footer-gradient
    .sidebar-footer.clearfix
      a.pull-left(href="/editpassword", title="Change Password", ng-click="pagetitle('Change Password')")
        i.fa.fa-key
      a.pull-left(href="/adminprofile", title="Edit Profile", ng-click="pagetitle('My Profile')")
        i.fa.fa-edit
      a.pull-left.cursor-pointer(title='Change Location', data-toggle='modal', data-target='#modal-changelocation')
        i.fa.fa-map-marker
      a.pull-left(href='#', title='Logout', ng-click='logout()', ng-controller='LogoutController')
        i.fa.fa-power-off
