showloader
.m-b-20.clearfix
    .pull-left
      h3
        strong Manage Time Slots buffer
    .pull-right
      a.btn.btn-success.m-t-10(href='/timeslots')
        i.fa.fa-reply.p-r-10
        | Back
.row
  .col-md-12
    .tabcordion
      #myTabContent.tab-content
        #product_general.tab-pane.fade.active.in
          .row
            .col-md-12
              .tabcordion.tbl_response.pad_btm10p
                #myTabContent.tab-content
                  #product_general.tab-pane.fade.active.in
                    .row
                .col-xs-12
                  .box
                    .box-header
                      h3.box-title
                      .box-tools
                        .input-group
                    // /.box-header
                    .box-body.table-responsive.no-padding
                      table.table.table-bordered
                        tr
                          th(width='10%', style='background-color:#F2F1F0') Time Slots 
                          th.align-center(colspan='{{weekdays.length }}', style='background-color:#F2F1F0') Weekdays 
                        tr
                          th(style='background-color:#F2F1F0')
                          th(ng-repeat='week in weekdays') {{week}}
                        tr(ng-repeat='tmsl in timeslots')
                          th(style='background-color:#F2F1F0') {{tmsl}}
                          td(ng-repeat='week in weekdays')
                            input.form-control(type='text', ng-model='gridData[week][tmsl]', valid-number='', id='{{week}}-{{tmsl}}', value='0', to-number='to-number', maxlength='3')
                        // numbers-only="numbers-only"
                    // /.box-body
                  // /.box
            .col-md-12.m-t-20.m-b-40.align-center(style='clear:both')
              button.btn.btn-default.m-r-10.m-t-10(href='#', ng-click='resetdata()', title='Rollback your updates.')
                i.fa.fa-reply.p-r-10
                | Reset
              button.btn.btn-info.m-r-10.m-t-10(href='#', ng-click='clearDataConfirmation()', title='Clear all buffer values.')
                i.fa.fa-reply.p-r-10
                | Clear
              button.btn.btn-success.m-t-10(ng-click='submitBuffer(gridData)', title='Save Changes')
                i.fa.fa-check.p-r-10
                | Save Changes
#confirm_clear.ng-scope(style='display: none;')
  .confirmon-overlay(style='display: block;')
    .confirmon-box(style='display: block; width:32%')
      p.confirmon-content Are you sure you want to clear all the buffer values ?
      button.confirmon-button.confirmon-button(onclick="$('#confirm_clear').hide()") Cancel
      | &nbsp;&nbsp;&nbsp;&nbsp; 
      button.confirmon-button.confirmon-button(ng-click='cleardata()') Confirm
