style.
  #modal-employeeExceptionSection .multiSelect .checkBoxContainer{
  max-height:200px;
  overflow-y:scroll;
  }
showloader
#modal-employeeNotesSection.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog(style="width:800px;")
    .modal-content
      .modal-header(style='background-color:lightgray')
        button.close(type='button', data-dismiss='modal', aria-hidden='true', title="Close") X
        h4#myModalLabel.modal-title.dis-inline-b {{employee.first_name}} {{employee.last_name}} Notes
      .modal-body(style='line-height:25px;font-weight:bolder;max-height:480px;overflow-y:auto')
        form(ng-submit='noteAdd(employee._id)', name="notesForm", novalidate='novalidate')
          textarea#noteText.form-control(type="text", name="noteText", ng-model="noteitem.noteInput", placeholder="Write Notes ...", style="width:88%;resize:none;", ng-maxlength='250', required='required', title='Maximum 250 characters are allowed.')
          button.btn.btn-success.m-l-5(type='submit', title='Add New', ng-disabled="notesForm.$invalid", style='vertical-align:bottom')
            | Save
          span.help-inline(ng-show='notesForm.noteText.$error.maxlength') Maximum 250 characters are allowed.
        br
        div(ng-repeat='x in noteItemList | orderBy : "added_date"')
          i.f-left.fa.fa-comment.p-l-5.m-t-10.f-10(style='color:#0090d9;')
          p.p-l-5.dis-inline-b(ng-bind='x.noteText', style='width:60%')
          p.p-l-5.dis-inline-b(style='color:#0090d9;width:20%') -- {{x.added_by.first_name}} {{x.added_by.last_name}}
          i.f-right.fa.fa-trash-o.p-l-5.m-t-5.cursor-pointer.f-16(style='color:#0090d9;', title="Remove", ng-click='removeNoteConfirmation(employeeid, noteItemListId, x._id)')
          span.f-right.p-l-5.dis-inline-b(ng-bind='x.added_date| date:"MM/dd/yyyy"')
      .modal-footer
        button.btn.btn-default(type='button', ng-click='removeNoteListConfirmation(noteItemListId)', ng-if="noteItemList.length", title="Clear all the items from this list.") 
          i.fa.fa-reply.p-r-10
          | Clear All
#modal-employeeExceptionSection.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog(style="width:800px;")
    .modal-content
      .modal-header(style='background-color:lightgray')
        button.close(type='button', data-dismiss='modal', aria-hidden='true', title="Close") X
        h4#myModalLabel.modal-title.dis-inline-b {{employee.first_name}} {{employee.last_name}} Exception Rates List 
          span.c-blue.f-16.w-600.p-l-10(ng-if='exceptionItemList') ---- Location : {{event_account.name}}
      .modal-body(style='line-height:25px;font-weight:bolder;max-height:450px;min-height:400px;overflow-y:auto')
        form(ng-submit='exceptionAdd(employee._id)', name="exceptionForm", novalidate='novalidate')
          table
            tr
              td(style='width:40%;border-right:dotted 1px gray;vertical-align:top;')
                .form-group
                  .col-sm-12.col-md-12
                    div(multi-select='', selection-mode = "SINGLE", input-model='allEvents', max-labels='1', button-label='buttonlabel', default-label = 'Select Event/Account *', item-label='buttonlabel', tick-property='ticked', on-item-click = 'showEmpEvtExceptions()', style='padding-left:0px')
                br
                .form-group
                  label.col-md-12.control-label.col-sm-12.mrng_lbl.m-t-10
                    | Rate ($)
                    span.asterisk *
                  .col-sm-12.mrng_sel.col-md-12
                    input.form-control(type='text', placeholder='Rate', required='required', ng-model='exception.price', decimal='decimal', maxlength='8', style='width:150px')
                br
                .form-group
                  label.col-md-12.control-label.col-sm-12.mrng_lbl.m-t-10
                    | Effective from
                    span.asterisk *
                  .col-sm-12.mrng_sel.col-md-12
                    input.form-control(type='text', placeholder='Effective Date', required='required', ng-model='exception.effective_date', style='width:150px;padding:8px 12px;', readonly='readonly', dateselection='event')
                button.btn.btn-success.m-t-20.m-l-20(href='#', ng-click='addExceptionRate(exception)')
                  i.fa.fa-check.p-r-10
                  | Add Exception Rate
              td(style="vertical-align:top;padding-left:10px;")
                div(ng-repeat='x in exceptionItemList')
                  i.f-left.fa.fa-circle.p-l-5.f-10(style='color:#D3D3D3;margin-top:8px;')
                  p.p-l-5.dis-inline-b (${{x.price}} Effective From {{x.effective_date | date : 'MM/dd/yyyy'}})
                  i.f-right.fa.fa-trash-o.p-l-5.m-t-5.cursor-pointer.f-16(style='color:#0090d9;', title="Remove", ng-click='removeExceptionConfirmation(employeeid, event_account._id, exceptionItemListId, x._id)')
      .modal-footer
        button.btn.btn-default(type='button', ng-click='removeExceptionListConfirmation(exceptionItemListId)', ng-if="exceptionItemList.length", title="Clear all the rates from this list.") 
          i.fa.fa-reply.p-r-10
          | Clear All
#modal-fullimage.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog(style='width:750px;')
    .modal-content
      .modal-header(style='background-color:lightgray')
        button.close(type='button', data-dismiss='modal', aria-hidden='true') X
        h4#myModalLabel.modal-title Employee Picture
      .modal-body(style='line-height:25px;font-weight:bolder;max-height:500px;overflow-y:auto;text-align:center;')
        img#bigprofilepic(ng-src='{{backendsiteurl}}/public/{{fullimage}}', alt='user avatar', fallback-src='', width='450px')
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Close
#modal-basic.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header(style='background-color:lightgray')
        button.close(type='button', data-dismiss='modal', aria-hidden='true') X
        h4#myModalLabel.modal-title Employee Detail
      .modal-body(style='line-height:25px;font-weight:bolder;max-height:480px;overflow-y:auto')
        b Employee ID 
        |  : {{employee.employeeid}}
        br
        b Employee Name 
        |  : {{employee.first_name}} {{employee.last_name}}
        br
        b Is Active
        |  : {{employee.active}}
        br
        b Employee Email 
        |  : {{employee.email}}
        br
        b Employee Date of Birth
        |  : {{employee.date_of_birth}}
        br
        b Employee Date of Hiring
        |  : {{employee.date_of_hiring | date:"MM/dd/yyyy"}}
        br
        b Street1
        |  : {{employee.address.line1}}
        br
        b Street2
        |  : {{employee.address.line2}}
        br
        b City
        |  : {{employee.address.city}}
        br
        b State
        |  : {{employee.address.state}}
        br
        b Zip
        |  : {{employee.address.zip}}
        br
        b Phone
        |  : {{employee.phone}}
        br
        b Driver License
        |  : {{employee.driver_license}}
        br
        b Employee Role
        |  : {{employee.emp_role}}
        br
        b Emergency contact name
        |  : {{employee.emergency_contact_name}}
        br
        b Emergency contact number
        |  : {{employee.emergencyphone | tel}}
        br
        b Last Login Date
        |  : {{employee.last_login | date : 'MM/dd/yyyy'}}
        br
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Close
#modal-timeWithCompany.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header(style='background-color:lightgray')
        button.close(type='button', data-dismiss='modal', aria-hidden='true') X
        h4#myModalLabel.modal-title Active/Inactive Days 
      .modal-body(style='line-height:25px;font-weight:bolder;max-height:480px;overflow-y:auto')
        b Hiring Date
        |  : {{hiringdate | date : 'MM/dd/yyyy'}}
        br
        b Active Days 
        |  : {{activeDays}}
        br
        b In Active Days
        |  : {{Inactivedays}}
        br
        b Time in the company
        |  : {{activeDays - Inactivedays}} Days
        br
        b Inactive Time Period List
        br
        .panel.panel-default.company-memo
          .panel-body.mCustomScrollbar.p-l-10(style='min-height:100px !important;')
            .row
              .col-md-12.col-sm-12.col-xs-12
                span(ng-repeat='emptimeentry in empTimeData')
                  span 
                  | {{$index + 1}}) {{emptimeentry.InActiveFrom|date : 'MM/dd/yyyy' }} - {{emptimeentry.ActiveFrom|date : 'MM/dd/yyyy'}}
                  br
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Close
.m-b-20.clearfix
  .page-title.pull-left
    h3.pull-left
      strong Manage Employees
.row(ng-show='visibility')
  .col-md-12
    .panel.panel-default
      .panel-heading
        .col-md-5
          .input-group.m-b-10
            input.form-control.w-700(type='text', readonly placeholder='Search by Name/Email.', ng-model='searchText.val', style='border:solid 2px darkgray;color:#2a6496;', ng-pattern="searchPattern", name="searchemployee", autocomplete="off", onfocus="this.removeAttribute('readonly');")
            span.input-group-addon
              i.fa.fa-search
        .col-md-2.col-sm-6.col-xs-6.sd_res_btn.res_cen.colres100
          select#stslist.btn.select_tag(ng-model='status', style='border: 1px solid lightgray;', ng-options='stslist.value as stslist.name for stslist in liststs', ng-change='reset_page()')        
        .col-md-2.col-sm-6.col-xs-6.sd_res_btn.res_cen.colres100
          select#rolelist.btn.select_tag(ng-model='roleselect', style='border: 1px solid lightgray;', ng-options='rolelist.value as rolelist.name for rolelist in rolelist', ng-change='reset_page()')  
        .col-md-3.col-xs-6.res_cen.colres100
          .DTTT_container
            button.btn.btn-success(ng-click='addemp()')
              i.fa.fa-plus.p-r-10
              |  Add Employee
      .panel-body
        .row
          .table-container(style='')
            #datatable_ajax_wrapper.dataTables_wrapper.dataTables_extended_wrapper.dataTables_extended_wrapper.no-footer
              .margin-b-10.tbl_response
                table#datatable_ajax.table.table-striped.table-bordered.table-hover.f-left(ng-table='tableParams')
                  thead
                    tr.heading.purple-bg(role='row')
                      th(width='3%')
                        input.group-checkable(type='checkbox', ng-model='checkAll.val', ng-change='selectAllGroup(checkAll.val)')
                      th(width='3%')
                        i.glyph-icon.flaticon-account.c-blue
                      th(width='4%')
                        a.cursor-pointer(ng-click="sortType = 'employeeid'; sortReverse = !sortReverse; sortOrderby('employeeid',sortReverse);")
                          strong ID
                          span.fa.fa-sort.m-l-5(ng-class="getIcon('employeeid')")
                      th(width='12%')
                        a.cursor-pointer(ng-click="sortType = 'last_name'; sortReverse = !sortReverse; sortOrderby('last_name',sortReverse);")
                          strong LName
                          span.fa.fa-sort.m-l-5(ng-class="getIcon('last_name')")
                      th(width='12%')
                        a.cursor-pointer(ng-click="sortType = 'first_name'; sortReverse = !sortReverse; sortOrderby('first_name',sortReverse);")
                          strong FName
                          span.fa.fa-sort.m-l-5(ng-class="getIcon('first_name')")
                      th(width='16%')
                        a.cursor-pointer(ng-click="sortType = 'email'; sortReverse = !sortReverse; sortOrderby('email',sortReverse);")
                          strong Email
                          span.fa.fa-sort.m-l-5(ng-class="getIcon('email')")
                      th.unsortheading(width='12%') Phone
                      th(width='8%')
                        a.cursor-pointer(ng-click="sortType = 'active'; sortReverse = !sortReverse; sortOrderby('active',sortReverse);")
                          strong Status
                          span.fa.fa-sort.m-l-5(ng-class="getIcon('active')")
                      th(width='10%')
                        a.cursor-pointer(ng-click="sortType = 'last_login'; sortReverse = !sortReverse; sortOrderby('last_login',sortReverse);")
                          strong Last Login
                          span.fa.fa-sort.m-l-5(ng-class="getIcon('last_login')")
                      th.unsortheading(width='18%') Actions
                  tbody
                    tr.odd(role='row', ng-repeat='data in $data', ng-if='haveResult')
                      td.text-center
                        .checker1
                          span
                            input(type='checkbox', checklist-model='selectedEmployee.employee', checklist-value='data._id')
                      td
                        img.animated.flipInY.cursor-pointer(ng-src='/img/avatars/avatar2_big.png', alt='avatar 4', ng-if="!data.prof_image", width='30px', height= '30px', ng-click='showfullImage(data.prof_image)', data-toggle='modal', data-target='#modal-fullimage')
                        img#smallprofilepic.animated.flipInY.cursor-pointer(ng-src='{{backendsiteurl}}/public/thumbs/{{data.prof_image}}', alt='user avatar', ng-if="data.prof_image", fallback-src='', height= '30px', width='30px', ng-click='showfullImage(data.prof_image)', data-toggle='modal', data-target='#modal-fullimage')
                      td.text-center.cursor-pointer(ng-bind='data.employeeid', data-toggle='modal', data-target='#modal-basic', title='View Detail', ng-click='showEmpdetails(data._id)', style='color:#0090d9;')
                      td(ng-bind='data.last_name | limitTo: 20', title='{{data.last_name}}')
                      td(ng-bind='data.first_name | limitTo: 20', title='{{data.first_name}}')
                      td
                        a(href='mailto:{{data.email}}') {{data.email}}
                      td.text-center
                        a(href = "{{'tel:'+data.phone}}") {{data.phone | tel}}
                      td.text-center(ng-if='data.active == true', title='Inactive')
                        .label.cursor-pointer.label-success(ng-click='update_status($index,data)') Active
                      td.text-center(ng-if='data.active !== true', title='Active')
                        .label.cursor-pointer.label-danger(ng-click='update_status($index,data)') Inactive
                      td.text-center  {{data.last_login | date : 'MM/dd/yyyy'}}
                      td.text-center
                        i.fa.fa-edit.cursor-pointer.f-14.m-r-5(ng-click='showEmp(data._id)', rel='tooltip', title='Edit', type='button', style='color:#0090d9;')
                        i.fa.m-r-5.fa-comment.cursor-pointer.f-14(data-toggle='modal', data-target='#modal-employeeNotesSection',ng-click='showEmpNotes(data._id)', rel='tooltip', title='Notes', type='button', style='color:#0090d9;')
                        i.fa.m-r-5.fa-usd.cursor-pointer.f-14(data-toggle='modal', data-target='#modal-employeeExceptionSection',ng-click='showEmpExceptions(data._id)', rel='tooltip', title='Exception Rates', type='button', style='color:#0090d9;')
                        a.m-l-5.m-r-5(href='/employee/availibility/:{{data._id}}')
                          img(src='assets/img/availability.png', title='Availability', style='height:12px;')
                        i.fa.m-r-5.fa-calendar.cursor-pointer.f-14(ng-click='showEmpSch(data._id, data.location)', rel='tooltip', title='view Schedule', type='button', style='color:#0090d9;')
                        i.fa.fa-clock-o.cursor-pointer.f-14(title='Time with the Company', style='color:#0090d9;', data-toggle='modal', data-target='#modal-timeWithCompany', ng-click='calculateTimeWithCompany(data._id)')
                        i.m-l-5.fa.fa-bell.cursor-pointer.f-14.c-green(ng-click='update_notification($index,data)', ng-if='data.notificationalert', title='Notification On')
                        i.m-l-5.fa.fa-bell.cursor-pointer.f-14.c-red(ng-click='update_notification($index,data)', ng-if='!data.notificationalert', title='Notification Off')
                        a.m-l-5(href='/timesheet/:{{data._id}}')
                          i.fa.fa-history.cursor-pointer.f-14.m-r-5(rel='tooltip', title='Timesheet', style='color:#0090d9;')
                        i.fa.fa-star.cursor-pointer.f-14(style='color:#0090d9;', ng-click='showSparkyWriteup(data._id)',  title='Sparkys/Writeups')
                    tr(ng-if='haveResult')
                      td(colspan='10')
                        div(style='display:inline-block;margin-right:1%;text-align: left;')
                          select#selectedAction.btn.select_tag(name='selectedAction', ng-model='selectedAction', style='border: 1px solid lightgray;')
                            option(value='0') Select
                            option(value='1') Active
                            option(value='2') Inactive
                            option(value='3') Delete
                            option(value='4') Notifications On
                            option(value='5') Notifications Off
                        input.btn.btn-primary(type='button', name='go', value='Go', ng-click='performAction()', ng-disabled="selectedEmployee.employee == '' ", style='width:auto;display:inline-block;margin-right:1%;background-color:#77ABD7;')
                        h5.pull-right(style='color:#3276B1')
                          strong Total Employees: {{totalRecords}}
          .alert.alert-info.fade.in.text-center(ng-if='!haveResult')
            h4 No data found for this selection.
#confirm_del.ng-scope(style='display: none;')
  .confirmon-overlay(style='display: block;')
    .confirmon-box(style='display: block; width:40%')
      p.confirmon-content Please enter your password to complete this action
      input(type='password', ng-model='pwd', style='width:350px;')
      br
      button#leave_private.confirmon-button.confirmon-button(onclick="$('#confirm_del').hide()") Cancel 
      button.confirmon-button.confirmon-button(ng-click='check_usrpwd()') Confirm   
#confirm_notedel.ng-scope(style='display: none;')
  .confirmon-overlay(style='display: block;')
    .confirmon-box(style='display: block; width:32%')
      p.confirmon-content Are you sure you want to delete ?
      button.confirmon-button.confirmon-button(onclick="$('#confirm_notedel').hide()") Cancel
      | &nbsp;&nbsp;&nbsp;&nbsp; 
      button.confirmon-button.confirmon-button(ng-click='removeNote()') Confirm   
#confirm_notelistdel.ng-scope(style='display: none;')
  .confirmon-overlay(style='display: block;')
    .confirmon-box(style='display: block; width:32%')
      p.confirmon-content Are you sure you want to delete ?
      button.confirmon-button.confirmon-button(onclick="$('#confirm_notelistdel').hide()") Cancel
      | &nbsp;&nbsp;&nbsp;&nbsp; 
      button.confirmon-button.confirmon-button(ng-click='removeNoteList()') Confirm    
#confirm_exceptiondel.ng-scope(style='display: none;')
  .confirmon-overlay(style='display: block;')
    .confirmon-box(style='display: block; width:32%')
      p.confirmon-content Are you sure you want to delete ?
      button.confirmon-button.confirmon-button(onclick="$('#confirm_exceptiondel').hide()") Cancel
      | &nbsp;&nbsp;&nbsp;&nbsp; 
      button.confirmon-button.confirmon-button(ng-click='removeException()') Confirm
#confirm_exceptionlistdel.ng-scope(style='display: none;')
  .confirmon-overlay(style='display: block;')
    .confirmon-box(style='display: block; width:32%')
      p.confirmon-content Are you sure you want clear whole list ?
      button.confirmon-button.confirmon-button(onclick="$('#confirm_exceptionlistdel').hide()") Cancel
      | &nbsp;&nbsp;&nbsp;&nbsp; 
      button.confirmon-button.confirmon-button(ng-click='removeExceptionList()') Confirm 
#confirm_exceptionOverride.ng-scope(style='display: none;')
  .confirmon-overlay(style='display: block;')
    .confirmon-box(style='display: block; width:32%')
      p.confirmon-content This Exception is already exists from this date. Do you want to override it?
      button.confirmon-button.confirmon-button(onclick="$('#confirm_exceptionOverride').hide()") Cancel
      | &nbsp;&nbsp;&nbsp;&nbsp; 
      button.confirmon-button.confirmon-button(ng-click='addExceptionRateConfirm()') Confirm 
