#main-content(data-ng-init="init()")
  #event-modal.modal.fade
    .modal-dialog
        .modal-content
          .modal-header(style="background-color:lightgray")
            button.close(type='button', data-dismiss='modal', aria-hidden='true') X
            h4#myModalLabel.modal-title
              | Account Detail
          .modal-body(style="line-height:25px;font-weight:bolder;max-height:480px;overflow-y:auto")
            b Name 
            |  : {{scheduledData[0].name}}
            br
            b Is Active
            |  : {{scheduledData[0].is_active}}
            br
            b Description 
            |  : {{scheduledData[0].description}}
            br
            b Start Date 
            |  : {{start_date | date:'MM/dd/yyyy'}}
            br 
            b Event type 
            |  : {{scheduledData[0].event_data.event_type}}
            br
            b Contact Name 
            |  : {{scheduledData[0].event_data.contact_name}}
            br
            b Contact Phone 
            |  : {{scheduledData[0].event_data.contact_phone}}
            br
            b Contact Email 
            |  : {{scheduledData[0].event_data.contact_email}}
            br
            b Notes 
            |  : {{scheduledData[0].event_data.notes}}
            br
            b Show End Time on the schedule
            |  : {{scheduledData[0].showendtime}}
            br
            b Location Address 
            |  : {{scheduledData[0].location_address.address}}
            br
            b Billing Address 
            |  : {{scheduledData[0].billing_address.address}} 
            br
            b Shifts Details 
            |  :
            br
            span(ng-repeat="shift in shiftData", style="padding-left:15px")
              |  {{'-- '+ shift.day + '/' + shift.timeslot}}
              br
              span(style="padding-left:30px", ng-repeat="sht in shift.shifts", ng-if="scheduledData[0].showendtime")
                | {{sht.startShiftTime + ' - '+sht.endshiftTime}} 
                br
              span(style="padding-left:30px", ng-repeat="sht in shift.shifts", ng-if="!scheduledData[0].showendtime")
                | {{sht.startShiftTime}}
                br
          .modal-footer
            button.btn.btn-default(type="button", data-dismiss="modal") Close
.m-b-20.clearfix
  .pull-left
    h3
      strong Account Calendar
  .pull-right
    a.btn.btn-success.m-t-10(ng-click="goback()")
      i.fa.fa-reply.p-r-10
      | Back
.col-md-13.p-0.no-bd
    .widget.bg-white
      .widget-body
        .row
          .col-md-13.col-sm-13.col-xs-13
            #calendar