style.
  input[type="file"] 
  {
    color:transparent
  }
showloader
.m-b-20.clearfix
  .pull-left
    h3
      strong Add Employee
  .pull-right
    a.btn.btn-success.m-t-10(href='/viewadminemployee', ng-if="role == 'admin' && employeeForm.$dirty", ng-confirm-click='')
      i.fa.fa-reply.p-r-10
      | Back
    a.btn.btn-success.m-t-10(href='/viewmanageremployee', ng-if="role == 'manager' && employeeForm.$dirty", ng-confirm-click='')
      i.fa.fa-reply.p-r-10
      | Back
    a.btn.btn-success.m-t-10(href='/viewadminemployee', ng-if="role == 'admin' && employeeForm.$pristine")
      i.fa.fa-reply.p-r-10
      | Back
    a.btn.btn-success.m-t-10(href='/viewmanageremployee', ng-if="role == 'manager' && employeeForm.$pristine")
      i.fa.fa-reply.p-r-10
      | Back
    a.btn.btn-success.m-t-10(href="/viewhremployee", ng-if="role == 'hr' && employeeForm.$pristine")
      i.fa.fa-reply.p-r-10
      | Back  
    a.btn.btn-success.m-t-10(href="/viewhremployee", ng-if="role == 'hr' && employeeForm.$dirty", ng-confirm-click="")
      i.fa.fa-reply.p-r-10
      | Back  
.row
  .col-md-12
    .tabcordion
      #myTabContent.tab-content
        #product_general.tab-pane.fade.active.in
          .row
            .col-md-12
              form#form1.form-horizontal(name='employeeForm', novalidate='')
                .form-group
                  label.col-sm-2.control-label
                    | Employee No.
                    span.asterisk *
                  .col-sm-3
                    input.form-control#empNo(type='text', ng-model='employee.employeeid', required='required', to-number='to-number', maxlength='4', placeholder='Enter Employee No (Max 4 digits)', ng-blur='generate_random()')
                  i.fa.m-t-10(ng-class='empnoVerifyClass', ng-if='employee.employeeid') 
                .form-group
                  label.col-sm-2.control-label
                    | First Name
                    span.asterisk *
                  .col-sm-7
                    input.form-control(type='text', name='fname', placeholder='Enter First Name', ng-model='employee.first_name', required='required', ng-maxlength='20', ng-pattern="/^[a-zA-Z']*$/", maxlength='20')
                    span.help-inline(ng-show='employeeForm.fname.$error.pattern') Only Follwing characters (a-z A-Z ') are allowed.
                    span.help-inline(ng-show='employeeForm.fname.$error.maxlength') Maximum 20 characters are allowed.
                .form-group
                  label.col-sm-2.control-label
                    | Last Name
                    span.asterisk *
                  .col-sm-7
                    input.form-control(type='text', name='lname', placeholder='Enter Last Name', ng-model='employee.last_name', required='required', ng-maxlength='20', ng-pattern='emplnamePattern', maxlength='20')
                    span.help-inline(ng-show='employeeForm.lname.$error.pattern') Only Follwing characters (a-z A-Z ') are allowed.
                    span.help-inline(ng-show='employeeForm.lname.$error.maxlength') Maximum 20 characters are allowed.
                .form-group
                  label.col-sm-2.control-label
                    | Email
                    span.asterisk *
                  .col-sm-7
                    input.form-control#emailAddress(type='email', placeholder='Enter Email Address', name='empemail', required='required', ng-model='employee.email', ng-readonly='truefalse', maxlength='50', ng-pattern='emailPattern', ng-blur='checkEmailUnique($event)')
                    span.help-inline(ng-show='employeeForm.empemail.$error.pattern') Invalid email Address.
                    span.help-inline(ng-show='employeeForm.empemail.$error.email') Email is Invalid.
                  i.fa.m-t-10(ng-class='emailVerifyClass', ng-if='employee.email') 
                  a.active.cursor-pointer.m-t-10.m-l-5.w-500(ng-click='restorePopup()', ng-if='employee.email', ng-show='showRestoreLink') Restore
                .form-group
                  label.col-sm-2.control-label
                    | Address
                    span.asterisk * 
                  .col-sm-7
                    input.form-control#locationAddress(type='text', g-places-autocomplete='', ng-model='employee.address.line1', placeholder='United States',required='required', ng-change='changeAdd()', autocomplete="off")
                .form-group
                  label.col-sm-2.control-label
                    | City
                    span.asterisk
                  .col-sm-7
                    input.form-control(type='text', name='city', placeholder='City', ng-model='employee.address.city', maxlength='50', ng-maxlength='50', ng-pattern='/^[a-zA-Zs_-]+( [a-zA-Zs_-]+)*$/')
                    span.help-inline(ng-show='employeeForm.city.$error.pattern') Only Follwing characters (a-z A-Z _ -) & blank space is allowed.
                    span.help-inline(ng-show='employeeForm.city.$error.maxlength') Maximum 50 characters are allowed.
                .form-group
                  label.col-sm-2.control-label
                    | Zip
                    span.asterisk
                  .col-sm-7
                    input.form-control(type='text', placeholder='Zip Code', ng-model='employee.address.zip', to-number='to-number', maxlength='5', ng-minlength='5', name='zip')
                    span.help-inline(ng-show='employeeForm.zip.$error.minlength') Please enter 5-digit zip code.
                .form-group
                  label.col-sm-2.control-label
                    | Date Of Birth
                    span.asterisk *
                  .col-sm-7
                    input#dob.form-control(type='text', placeholder='MM/DD/YYYY', ng-model='employee.date_of_birth', style='padding: 8px 12px;', dateselection='dob', readonly='readonly', required='required')
                .form-group
                  label.col-sm-2.control-label
                    | Date Of Hiring
                    span.asterisk *
                  .col-sm-7
                    input#hiring.form-control.datepicker(type='text', placeholder='MM/DD/YYYY', ng-model='employee.date_of_hiring', style='padding: 8px 12px;', readonly='readonly', required='required')
                .form-group
                  label.col-sm-2.control-label
                    | Phone
                    span.asterisk *
                  .col-sm-7
                    input.form-control(type='text', name='phone', placeholder='(xxx) xxx-xxxx', ng-model='employee.phone', phone-input='phone-input', ng-minlength='10', required='required')
                    span.help-inline(ng-show='employeeForm.phone.$error.minlength') Minimum 10 digits are allowed.
                .form-group
                  label.col-sm-2.control-label
                    | Emergency Contact
                  .col-sm-7
                    input#field-1.form-control(name="emergencyname", type="text", placeholder="Enter Emergency Contact Name", ng-model="employee.emergency_contact_name", maxlength="40", ng-maxlength="20", ng-pattern ="emplnamePattern")
                    span.help-inline(ng-show='employeeForm.emergencyname.$error.pattern') Only Follwing characters (a-z A-Z ') are allowed.
                    span.help-inline(ng-show='employeeForm.emergencyname.$error.maxlength') Maximum 40 characters are allowed.
                .form-group
                  label.col-sm-2.control-label
                    | Emergency Phone
                  .col-sm-7
                    input#field-1.form-control(type="text", name="emergencyphone", placeholder="(xxx) xxx-xxxx", ng-model="employee.emergencyphone", phone-input, ng-minlength="10")
                    span.help-inline(ng-show='employeeForm.emergencyphone.$error.minlength') Minimum 10 digits are allowed.
                .form-group
                  label.col-sm-2.control-label
                    | Driver License
                    span.asterisk
                  .col-sm-7
                    input.form-control(type='text', name='license', placeholder='Enter License', ng-model='employee.driver_license', maxlength='20', ng-maxlength='20', ng-pattern='/^[0-9a-zA-Zs_-]+( [0-9a-zA-Zs_-]+)*$/')
                    span.help-inline(ng-show='employeeForm.license.$error.pattern') Only Follwing characters (0-9 a-z A-Z _ -) are allowed.
                    span.help-inline(ng-show='employeeForm.license.$error.maxlength') Maximum 20 characters are allowed.
                .form-group(ng-if="role == 'admin'")
                  label.col-sm-2.control-label Role
                  .col-sm-7
                    select.btn.select_tag(ng-model='employee.emp_role', ng-init="employee.emp_role='Employee'", style='border:solid 1px lightgray')
                      option Employee
                      option Manager
                      option Hr
                .form-group
                  label.col-sm-2.control-label Is Active
                  .col-sm-7
                    select.btn.select_tag(ng-model='employee.active', ng-init="employee.active='Yes'", style='border:solid 1px lightgray')
                      option Yes
                      option No
                .form-group
                  label.col-sm-2.control-label
                    | Profile Image
                    span.asterisk
                  .col-sm-7
                    input#field1.form-controlinput(type="file", file-model="myFile", accept="image/*")
              .col-md-12.m-t-20.m-b-40.align-center.sd_last_btn
                button.btn.btn-default.m-r-10.m-t-10(href='#', ng-click='cleardata()')
                  i.fa.fa-reply.p-r-10
                  | Clear
                a.btn.btn-info.m-r-10.m-t-10(href='/viewadminemployee', ng-if="role == 'admin'")
                  i.fa.fa-reply.p-r-10
                  | Cancel
                a.btn.btn-info.m-r-10.m-t-10(href='/viewmanageremployee', ng-if="role == 'manager'")
                  i.fa.fa-reply.p-r-10
                  | Cancel
                button.btn.btn-success.m-t-10(href='#', ng-click='addEmployee(employee)', ng-disabled="buttonDisabled")
                  i.fa.fa-check.p-r-10
                  | Save changes
#confirm_restore.ng-scope(style='display: none;')
  .confirmon-overlay(style='display: block;')
    .confirmon-box(style='display: block; width:32%')
      p.confirmon-content This user is already exists in your deleted entries, Do you want to restore ?
      button.confirmon-button.confirmon-button(onclick="$('#confirm_restore').hide()") Cancel
      | &nbsp;&nbsp;&nbsp;&nbsp; 
      button.confirmon-button.confirmon-button(ng-click='restoreEmployee()') Restore

