.m-b-20.clearfix
  .pull-left
    h3
      strong Add Event
  .pull-right
    a.btn.btn-success.m-t-10(href='/eventlist', ng-confirm-click='', ng-if='eventForm.$dirty')
      i.fa.fa-reply.p-r-10
      | Back
    a.btn.btn-success.m-t-10(href='/eventlist', ng-if='eventForm.$pristine')
      i.fa.fa-reply.p-r-10
      | Back
.row
  .col-md-12
    .tabcordion
      #myTabContent.tab-content
        #product_general.tab-pane.fade.active.in
          .row
            .col-md-12
              form#form1.form-horizontal(name='eventForm', novalidate='novalidate')
                .form-group
                  label.col-sm-3.control-label
                    | Event Name
                    span.asterisk *
                  .col-sm-7
                    input#eventname.form-control(type='text', placeholder='Enter Event Name', name='eventname', ng-model='event.name', required='required', ng-maxlength='50', ng-pattern='eventnamePattern', maxlength='50')
                    span.help-inline(ng-show='eventForm.eventname.$error.pattern') Only Following characters (0-9 a-z A-Z _-'#@) & blank space is allowed.
                    span.help-inline(ng-show='eventForm.eventname.$error.maxlength') Maximum 50 characters are allowed.
                .form-group
                  label.col-sm-3.control-label
                    | Description
                    span.asterisk
                  .col-sm-7
                    textarea.form-control(rows='3', type='textarea', placeholder='Enter Event Description', ng-model='event.description', maxlength='250')
                .form-group
                  label.col-sm-3.control-label
                    | Start Date
                    span.asterisk *
                  .col-sm-7
                    input#startdate.form-control(type='text', placeholder='MM/DD/YYYY', ng-model='event.start_date', style='padding: 8px 12px;cursor:pointer !important', required='required', ng-change='select_day()', dateselection='event', readonly='readonly')
                .form-group
                  label.col-sm-3.control-label
                    | End Date
                    span.asterisk *
                  .col-sm-7
                    input#enddate.form-control(type='text', placeholder='MM/DD/YYYY', ng-model='event.end_date', style='padding: 8px 12px;cursor:pointer !important', required='required', ng-change='select_day()', dateselection='event', readonly='readonly')
                .form-group
                  label.col-sm-3.control-label Event Type
                  .col-sm-7
                    input.form-control(type='text', placeholder='Event Type', name='eventtype', ng-model='event.event_data.event_type', maxlength='50', ng-maxlength='50', ng-pattern='/^[0-9a-zA-Zs_-]+( [0-9a-zA-Zs_-]+)*$/')
                    span.help-inline(ng-show='eventForm.eventtype.$error.pattern') Only Follwing characters (0-9 a-z A-Z _ -) & blank space is allowed.
                    span.help-inline(ng-show='eventForm.eventtype.$error.maxlength') Maximum 50 characters are allowed.
                .form-group
                  label.col-sm-3.control-label
                    | Contact Name
                  .col-sm-7
                    input.form-control(type='text', name='contactname', placeholder='Enter Contact Name', ng-model='event.event_data.contact_name', ng-readonly='truefalse', maxlength='50', ng-maxlength='50', ng-pattern='/^[0-9a-zA-Zs_-]+( [0-9a-zA-Zs_-]+)*$/')
                    span.help-inline(ng-show='eventForm.contactname.$error.pattern') Only Follwing characters (0-9 a-z A-Z _ -) & blank space is allowed.
                    span.help-inline(ng-show='eventForm.contactname.$error.maxlength') Maximum 50 characters are allowed.
                .form-group
                  label.col-sm-3.control-label
                    | Contact Phone
                  .col-sm-7
                    input.form-control(type='text', name='phone', placeholder='(xxx) xxx-xxxx', ng-minlength='10', ng-model='event.event_data.contact_phone', ng-readonly='truefalse', phone-input='phone-input')
                    span.help-inline(ng-show='eventForm.phone.$error.minlength') Minimum 10 digits are allowed.
                .form-group
                  label.col-sm-3.control-label
                    | Contact Email
                  .col-sm-7
                    input.form-control(type='email', placeholder='Enter Email', name='contactemail', ng-model='event.event_data.contact_email', ng-readonly='truefalse', maxlength='50', ng-pattern='emailPattern')
                    span.help-inline(ng-show='eventForm.contactemail.$error.email') Email is required.
                    span.help-inline(ng-show='eventForm.contactemail.$error.pattern') Invalid email Address.
                .form-group
                  label.col-sm-3.control-label Booked By
                  .col-sm-7
                    input.form-control(type='text', placeholder='Booked By', name='booked_by', ng-model='event.event_data.booked_by', maxlength='50', ng-maxlength='50', ng-pattern='/^[0-9a-zA-Zs_-]+( [0-9a-zA-Zs_-]+)*$/')
                    span.help-inline(ng-show='eventForm.booked_by.$error.pattern') Only Follwing characters (0-9 a-z A-Z _ -) & blank space is allowed.
                    span.help-inline(ng-show='eventForm.booked_by.$error.maxlength') Maximum 50 characters are allowed.
                .form-group
                  label.col-sm-3.control-label Invoice #
                  .col-sm-7
                    input.form-control(type='text', placeholder='Invoice #', name='invoice', ng-model='event.event_data.invoice', maxlength='50', ng-maxlength='50', ng-pattern='/^[0-9a-zA-Zs_-]+( [0-9a-zA-Zs_-]+)*$/')
                    span.help-inline(ng-show='eventForm.invoice.$error.pattern') Only Follwing characters (0-9 a-z A-Z _ -) & blank space is allowed.
                    span.help-inline(ng-show='eventForm.invoice.$error.maxlength') Maximum 50 characters are allowed.
                .form-group
                  label.col-sm-3.control-label Equipment Brought by
                  .col-sm-7
                    input.form-control(type='text', placeholder='Equipment Brought by', name='equipment', ng-model='event.event_data.equipment', maxlength='50', ng-maxlength='50', ng-pattern='/^[0-9a-zA-Zs_-]+( [0-9a-zA-Zs_-]+)*$/')
                    span.help-inline(ng-show='eventForm.equipment.$error.pattern') Only Follwing characters (0-9 a-z A-Z _ -) & blank space is allowed.
                    span.help-inline(ng-show='eventForm.equipment.$error.maxlength') Maximum 50 characters are allowed.
                .form-group
                  label.col-sm-3.control-label Equipment Needed
                  .col-sm-7
                    input.form-control(type='text', placeholder='Equipment Needed', name='equipment_needed', ng-model='event.event_data.equipment_needed', maxlength='200', ng-maxlength='200', ng-pattern='equipPattern')
                    span.help-inline(ng-show='eventForm.equipment_needed.$error.pattern') Only Follwing characters (0-9 a-z A-Z , . ? ! : ; " ' & _ -) & blank space is allowed.
                    span.help-inline(ng-show='eventForm.equipment_needed.$error.maxlength') Maximum 200 characters are allowed.
                .form-group
                  label.col-sm-3.control-label
                    | Equip Assigned
                  .col-sm-1
                    input(type="radio", name="equip_assigned", ng-model="event.event_data.equip_assigned", value="yes", checked="checked") 
                    | &nbsp;&nbsp;Yes
                  .col-sm-1
                    input(type="radio", name="equip_assigned", ng-model="event.event_data.equip_assigned", value="no") 
                    | &nbsp;&nbsp;No
                .form-group
                  label.col-sm-3.control-label
                    | On Call
                  .col-sm-1
                    input(type="radio", name="on_call", ng-model="event.event_data.on_call", value="yes", checked="checked") 
                    | &nbsp;&nbsp;Yes
                  .col-sm-1
                    input(type="radio", name="on_call", ng-model="event.event_data.on_call", value="no") 
                    | &nbsp;&nbsp;No
                .form-group
                  label.col-sm-3.control-label Notes
                  .col-sm-7
                    textarea.form-control(rows='3', type='text', placeholder='Write Notes', ng-model='event.event_data.notes', maxlength='1000')
                    span.m-l-5.dis-block
                      | {{1000 - event.event_data.notes.length}} Characters left
                .form-group
                  label.col-sm-3.control-label
                    | Location Address
                    span.asterisk *
                  .col-sm-7
                    input.form-control#locationAddress(type='text', g-places-autocomplete='', ng-model='event.location_address', placeholder='United States',required='required', autocomplete="off")
                .form-group
                  label.col-sm-3.control-label
                  .col-sm-7
                    input(type='checkbox', ng-change='populate()', ng-model='populatecheck', ng-true-value='populate', ng-false-value='')
                    b  Same as Above
                //.form-group
                  label.col-sm-3.control-label
                    | Geo Fencing (In Miles)
                  .col-sm-7
                    input.form-control(placeholder='Enter Radius', ng-model='event.radius', decimal='decimal', maxlength='3', decimal='decimal', name="radius")
                .form-group
                  label.col-sm-3.control-label
                    | Billing Address
                    span.asterisk *
                  .col-sm-7
                    input.form-control#billingAddress(type='text', g-places-autocomplete='', ng-model='event.billing_address', placeholder='United States',required='required', autocomplete="off")
                .form-group(ng-if='showRevenueAndAmount')
                  label.col-sm-3.control-label
                    | Revenue Type
                  .col-sm-2
                    input(type='radio', name='revenue_type', ng-model='event.revenue_type', value='per_car')
                    |   Per Car
                  .col-sm-2
                    input(type='radio', name='revenue_type', ng-model='event.revenue_type', value='flat_rate')
                    |   Flat Rate
                  .col-sm-2
                    input(type='radio', name='revenue_type', ng-model='event.revenue_type', value='rate_per_hour')
                    |   Rate Per Hour
                .form-group(ng-if='event.revenue_type == "flat_rate"')
                  label.col-sm-3.control-label
                    | Flat Rate Per Event ($)
                    span.asterisk *
                  .col-sm-7
                    input.form-control(placeholder='Enter Flat Rate', ng-model='event.flat_rate', required='required', maxlength='8', decimal='decimal')
                .form-group(ng-if='event.revenue_type == "rate_per_hour"')
                  label.col-sm-3.control-label
                    | Rate Per Hour ($)
                    span.asterisk *
                  .col-sm-7
                    input.form-control(placeholder='Enter Rate Per Hour', ng-model='event.rate_per_hour', required='required', maxlength='8', decimal='decimal')
                .form-group
                  label.col-sm-3.control-label
                    | Basic Pay Rate
                    span.asterisk *
                  .col-sm-7
                    input.form-control(placeholder='Enter Basic Rate', ng-model='event.basic_pay_rate', required='required', maxlength='8', decimal='decimal')
                .form-group
                  label.col-sm-3.control-label
                    | Need Ticket Control
                    span.asterisk
                  .col-sm-1
                    input(type='radio', name='ticket_control', ng-model='event.ticket_control', value='yes')
                    |   Yes
                  .col-sm-1
                    input(type='radio', name='ticket_control', ng-model='event.ticket_control', value='no')
                    |   No
                .form-group
                  label.col-sm-3.control-label
                    | Shift text reminder
                    span.asterisk
                  .col-sm-1
                    input(type='radio', name='text_reminder', ng-model='event.text_reminder', value='yes')
                    |   Yes
                  .col-sm-1
                    input(type='radio', name='text_reminder', ng-model='event.text_reminder', value='no')
                    |   No
                .form-group
                  label.col-sm-3.control-label
                    | Is Active
                    span.asterisk
                  .col-sm-1
                    input(type='radio', name='is_active', ng-model='event.is_active', value='yes')
                    |   Yes
                  .col-sm-1
                    input(type='radio', name='is_active', ng-model='event.is_active', value='no')
                    |   No
                .form-group
                  label.col-sm-2.control-label
                    span.asterisk
                  .col-sm-8
                    .box-body.table-responsive.no-padding
                      .col-md-12.m-t-20.m-b-10.align-center
                        input.m-t-20.m-b-20.f-20(type='checkbox', ng-model='event.showendtime')
                        b(style='display:inline;')  Please tick the box if you want to show the end times on the schedule.
                      .sd_tbl_response
                        table.table.table-bordered.f-left
                          tr
                            th(width='10%', style='background-color:#F2F1F0') Time Slots 
                            th.align-center(style='background-color:#F2F1F0', colspan='{{weekdays.length }}') Weekdays 
                          tr
                            th(style='background-color:#F2F1F0')
                            th(ng-repeat='week in weekdays') {{week}}
                          tr(ng-repeat='tmsl in timeslots')
                            th(style='background-color:#F2F1F0') {{tmsl}}
                            td(ng-repeat='week in weekdays')
                              table(style='width:85%')
                                tr
                                  td
                                    input.timepicker(type='text', placeholder='hh:mm', ng-model='gridDataST[week][tmsl]', readonly='readonly', data-scroll-default='6:00am', style='padding: 2px;width:60px;cursor:pointer !important', ng-if='daysArr.indexOf(week)!= -1', ng-time-arr='{{tmsl|limitTo : 4}}_Slots')
                                    input.timepicker(type='text', placeholder='hh:mm', ng-model='gridDataET[week][tmsl]', readonly='readonly', data-scroll-default='6:00am', style='padding: 2px;width:60px;cursor:pointer !important', ng-if='daysArr.indexOf(week)!= -1', ng-time-arr='{{tmsl|limitTo : 4}}_Slots')
                                  td
                                    i.fa.fa-plus-circle.f-20.c-green(title='Add Shift', style='cursor:pointer', ng-click='AddShift(week, tmsl, gridDataST[week][tmsl], gridDataET[week][tmsl])', ng-if='daysArr.indexOf(week)!= -1')
                      .col-md-12.m-t-20.align-center(style='clear:both;')
                        b Preview Of Shifts
                      .sd_tbl_response
                        table.table.table-bordered.f-left(style='background-color:#f8f8f8')
                          tr
                            th(style='background-color:#F2F1F0') Time Slots 
                            th.align-center(style='background-color:#F2F1F0;', colspan='{{weekdays.length }}') Weekdays 
                          tr
                            th(style='background-color:#F2F1F0;')
                            th(ng-repeat='week in weekdays', style='width:13%') {{week}}
                          tr(ng-repeat='tmsl in timeslots')
                            th(style='background-color:#F2F1F0;') {{tmsl}}
                            td(ng-repeat='week in weekdays')
                              table(style='width:100%')
                                tr
                                  td.align-center
                                    i.fa.fa-refresh.f-15(title='Clear all Shifts', style='cursor:pointer;padding-left:4px;', ng-click='ClearAllShift(week, tmsl)', ng-show='fetchshiftdata(week,tmsl).shifts.length > 1 ')
                                tr
                                  td
                                    span(ng-repeat='st in fetchshiftdata(week,tmsl).shifts')
                                      h5.w-600(style='display:inline;color:#2A64A4') {{$index + 1}}){{st.startShiftTime}}
                                      h5.w-600(style='display:inline;color:#2A64A4') -{{st.endshiftTime}} 
                                      i.fa.fa-minus-circle.f-20.c-red.p-l-5(title='Remove Shift', style='cursor:pointer;', ng-click='RemoveShift(week, tmsl, st)')
                                      br.m-t-5
                      .col-md-12.m-t-20.align-center(style='clear:both;', ng-if='event.revenue_type == "per_car"')
                        b Event Revenue
                      .sd_tbl_response(ng-if='event.revenue_type == "per_car"')
                        table.table.table-bordered.f-left
                          tr
                            th(width='10%', style='background-color:#F2F1F0') Time Slots 
                            th.align-center(colspan='{{weekdays.length }}', style='background-color:#F2F1F0') Weekdays 
                          tr
                            th(style='background-color:#F2F1F0')
                            th(ng-repeat='week in weekdays') {{week}}
                          tr(ng-repeat='tmsl in timeslots')
                            th(style='background-color:#F2F1F0') {{tmsl}}
                            td(ng-repeat='week in weekdays')
                              input.form-control(type='text', ng-model='gridData[week][tmsl]', valid-number='', id='{{week}}-{{tmsl}}', value='0', decimal='decimal', maxlength='4')
                      .col-md-12.m-t-20.align-center(style='clear:both;')
                        b Pay Rates
                      .sd_tbl_response
                        table.table.table-bordered.f-left
                          tr
                            th(width='10%', style='background-color:#F2F1F0') Time Slots 
                            th.align-center(colspan='{{weekdays.length }}', style='background-color:#F2F1F0') Weekdays 
                          tr
                            th(style='background-color:#F2F1F0')
                            th(ng-repeat='week in weekdays') {{week}}
                          tr(ng-repeat='tmsl in timeslots')
                            th(style='background-color:#F2F1F0') {{tmsl}}
                            td(ng-repeat='week in weekdays')
                              input.form-control(type='text', ng-model='paygridData[week][tmsl]', valid-number='', id='{{week}}-{{tmsl}}', value='0', decimal='decimal', maxlength='5')                  

              .col-md-12.m-t-20.m-b-40.align-center.sd_last_btn
                button.btn.btn-default.m-r-10.m-t-10(href='#', ng-click='cleardata()')
                  i.fa.fa-reply.p-r-10
                  | Clear
                a.btn.btn-info.m-r-10.m-t-10(href='/eventlist')
                  i.fa.fa-reply.p-r-10
                  | Cancel
                button.btn.btn-success.m-t-10(href='#', ng-click='addEvent(event)', ng-disabled="buttonDisabled")
                  i.fa.fa-check.p-r-10
                  | Save Changes
