style.
  .multiSelect .checkBoxContainer{
    max-height:200px;
    overflow-y:scroll;
  }
.m-b-20.clearfix
  .pull-left
    h3
      strong Add Memo
  .pull-right  
    button.btn.btn-success.m-t-10.m-r-10(data-toggle='modal', data-target='#modal-group', ng-click='openCreateGroup()')
      i.fa.fa-plus.p-r-5
      | Create New Group
    button.btn.btn-info.m-t-10.m-r-10(data-toggle='modal', data-target='#modal-grouplist', ng-click='fetchGroups()')
      i.fa.fa-group.p-r-10
      | Group Management
    a.btn.btn-success.m-t-10(href='/memolist', ng-confirm-click='', ng-if='memoForm.$dirty')
      i.fa.fa-reply.p-r-10
      | Back
    a.btn.btn-success.m-t-10(href='/memolist', ng-if='memoForm.$pristine')
      i.fa.fa-reply.p-r-10
      | Back
#modal-grouplist.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog(style="width:800px;")
    .modal-content
      .modal-header(style='background-color:lightgray')
        button.close(type='button', data-dismiss='modal', aria-hidden='true', title="Close") X
        h4#myModalLabel.modal-title Group Management
      .modal-body(style='line-height:25px;font-weight:bolder;max-height:480px;overflow-y:unset')
        span.dis-block(ng-repeat = "groupinfo in groupArr") 
          h4.dis-inline(style='color:#0090d9;') {{groupinfo.groupname}}
          i.f-right.fa.fa-trash-o.cursor-pointer.f-20.p-l-10(title='Remove Group', ng-if="(userRole==='admin' || userRole==='manager'  || userRole==='hr')", ng-click="removeGroupconfirmation(groupinfo._id)", style='color:#0090d9;')
          i.f-right.fa.fa-pencil.cursor-pointer.f-20.p-l-10(data-toggle='modal', title='Edit Group', data-target='#modal-group', ng-if="(userRole==='admin' || userRole==='manager'  || userRole==='hr')", ng-click="editGroup(groupinfo)", style='color:#0090d9;')
      .modal-footer
        button.btn.btn-success(type='button', data-dismiss='modal', aria-hidden='true', title="Close") Close
#modal-group.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog(style="width:800px;")
    .modal-content
      .modal-header(style='background-color:lightgray')
        button.close(type='button', data-dismiss='modal', aria-hidden='true', title="Close") X
        h4#myModalLabel.modal-title Add New Group
      .modal-body(style='line-height:25px;font-weight:bolder;max-height:480px;overflow-y:unset')
        form#form1.form-horizontal(name='groupForm', novalidate='novalidate')
                .form-group
                  label.col-sm-3.control-label
                    | Group Name
                    span.asterisk *
                  .col-sm-7
                    input#groupname.form-control(type='text', placeholder='Enter Group Name', name='groupname', ng-model='groupInfo.groupname', required='required', ng-maxlength='50', ng-pattern='groupnamePattern', maxlength='50')
                    span.help-inline(ng-show='groupForm.groupname.$error.pattern') Only Following characters (0-9 a-z A-Z _-'#@) & blank space is allowed
                    span.help-inline(ng-show='groupForm.topicname.$error.maxlength') Maximum 50 characters are allowed.
                .form-group
                  label.col-sm-3.control-label
                    | Select Employee
                    span.asterisk *
                  .col-sm-9
                    div(multi-select='', input-model='modernWebBrowsers', max-labels='0', button-label='first_name', item-label='fullname', tick-property='ticked', required='required', default-label='Select Employee')
      .modal-footer
        button.btn.btn-success(type='button', ng-disabled="buttonDisabled", ng-click="addGroup(groupInfo)") Save
.row
  .col-md-12
    .tabcordion
      #myTabContent.tab-content
        #product_general.tab-pane.fade.active.in
          .row
            .col-md-12
              form#form1.form-horizontal(name='memoForm', novalidate='')
                .form-group
                  label.col-sm-3.control-label
                    | Select Employee
                    span.asterisk *
                  .col-sm-7
                    div(multi-select='', input-model='modernWebBrowsers', max-labels='0', button-label='first_name', item-label='fullname', tick-property='ticked', required='required', default-label='Select Employee')
                .form-group
                  label.col-sm-3.control-label
                  .col-sm-7 
                    strong OR
                .form-group
                  label.col-sm-3.control-label
                    | Select Group
                    span.asterisk *
                  .col-sm-3
                    div(multi-select='', input-model='groupArr', max-labels='0', button-label='groupname', item-label='groupname', tick-property='ticked', required='required', default-label='Select Group')
                .form-group
                  label.col-sm-3.control-label
                    | Memo Title
                    span.asterisk *
                  .col-sm-7
                    input.form-control(type='text', placeholder='Enter title', ng-model='memo.title', required='required', maxlength='100')
                .form-group
                  label.col-sm-3.control-label Select Files
                  .col-sm-7
                    input.form-control(type='file', ngf-select='uploadFiles($files)', multiple='', file-model='myFile')
                    br
                    span.progress(ng-show='progress >= 0')
                      .w-700.progress.progress-bar.progress-bar-success(style='width:{{progress}}%;', ng-bind="'Uploading Progress :'+progress + '%'")
                    |     {{errorMsg}}
                .form-group
                  label.col-sm-3.control-label
                    | Description
                    span.asterisk
                  .col-sm-7
                    textarea.form-control(placeholder='Enter description', ng-model='memo.description', rows='6', maxlength='250')  
                    span.m-l-5.dis-block
                      | {{250 - memo.description.length}} Characters left
              .col-md-12.m-t-20.m-b-40.align-center.sd_last_btn
                button.btn.btn-default.m-r-10.m-t-10(href='#', ng-click='cleardata()')
                  i.fa.fa-reply.p-r-10
                  | Clear
                a.btn.btn-info.m-r-10.m-t-10(href='/memolist')
                  i.fa.fa-reply.p-r-10
                  | Cancel
                button.btn.btn-success.m-t-10(href='#', ng-click='addMemo(memo)', ng-disabled="buttonDisabled")
                  i.fa.fa-check.p-r-10
                  | Send Memo
#confirm_del_group.ng-scope(style='display: none;')
  .confirmon-overlay(style='display: block;')
    .confirmon-box(style='display: block; width:32%')
      p.confirmon-content Are you sure you want to remove this group ?
      button.confirmon-button.confirmon-button(onclick="$('#confirm_del_group').hide()") Cancel
      | &nbsp;&nbsp;&nbsp;&nbsp; 
      button.confirmon-button.confirmon-button(ng-click='removeGroup()') Confirm
