style.
  .multiSelect .checkBoxContainer{
  max-height:200px;
  overflow-y:scroll;
  }
#modal-basic.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header(style='background-color:lightgray')
        button.close(type='button', data-dismiss='modal', aria-hidden='true', title="Close") X
        h4#myModalLabel.modal-title Update clock in time 
      .modal-body(style='line-height:25px;font-weight:bolder;max-height:480px;overflow-y:auto')
        form#form1.form-horizontal(name='clockInForm', novalidate='novalidate')
          .form-group
            label.col-sm-4.control-label
              | Clock In
              span.asterisk *
            .col-sm-6
              input.form-control.datetimepicker(type='text', placeholder='MM/DD/YYYY HH:MM', ng-model='clocknewdata.newclockInDateTime', required = 'required', style='padding: 8px 12px;cursor:pointer !important', readonly='readonly')
      .modal-footer
        button.btn.btn-success(type='button', ng-disabled="clockInForm.$invalid", ng-click="saveclockUpdate(clocknewdata)") Save
.m-b-20.clearfix
  .pull-left
    h3
      strong Timesheet
  .pull-right
    a.btn.btn-success.m-t-10(href='/clocking', ng-if="role == 'admin' || role == 'manager' || role == 'hr'")
      i.fa.fa-reply.p-r-10
      | Back
.row
  .col-md-12
    .tabcordion
      #myTabContent.tab-content
        #product_general.tab-pane.fade.active.in
          .row
            .col-md-12
              form#form1.form-horizontal(name='timesheetForm', novalidate='')
                .form-group
                  label.col-sm-3.control-label
                    | Select Employee
                    span.asterisk *
                  .col-sm-7
                    div(multi-select='', selection-mode = "SINGLE", input-model='modernWebBrowsers', max-labels='1', button-label='fullname', item-label='fullname', tick-property='ticked', required='required', default-label='Select Employee')
                .form-group
                  label.col-md-3.control-label
                    | Start Date
                    span.asterisk *
                  .col-sm-3
                    input.datepicker.form-control(type='text', name='stDate', placeholder='Start Date', ng-model='dateRange.start_date', style='padding: 8px 12px;', required='', readonly='readonly')
                .form-group
                  label.col-md-3.control-label
                    | End Date
                    span.asterisk *
                  .col-sm-3
                    input.datepicker.form-control(type='text', name='enDate', placeholder='End Date', ng-model='dateRange.end_date', style='padding: 8px 12px;', required='', readonly='readonly')
                .form-group
                  label.col-md-3.control-label
                  .col-sm-3
                    button.btn.btn-success(ng-click='viewTimesheet()')
                      i.fa.fa-check.p-r-10
                      | View Timesheet
              .table-container(ng-if='haveResult')
                #datatable_ajax_wrapper.dataTables_wrapper.dataTables_extended_wrapper.dataTables_extended_wrapper.no-footer
                  .margin-b-10.table-responsive.pad_b15
                    table#datatable_ajax.table.table-striped.table-bordered.table-hover.f-left(ng-table='tableParams')
                      thead
                        tr#header.heading.purple-bg(role='row')
                          th.text-center.unsortheading.get(width="25%") Event/Account
                          th.text-center.unsortheading.get(width="15%") clock in
                          th.text-center.unsortheading.get(width="15%") clock out
                          th.text-center.unsortheading.get(width="25%") Hours(Minus Break)
                          th.text-center.unsortheading.get(width="15%") Break
                      tbody
                        tr.odd(role='row', ng-repeat='data in timesheetRecords | orderBy : clockInDateTime', id='{{data._id}}', ng-if='haveResult', ng-class='checkClockOutDate(data)')
                          td {{data.eventId.name}} 
                          td.text-center.cursor-pointer(data-toggle='modal', data-target='#modal-basic', ng-click='editClockin(data)', title='Edit', ng-if='!data.clockOutDateTime') {{data.clockInDateTime | date:'MM/dd/yyyy HH:mm'}}
                          td.text-center(ng-if='data.clockOutDateTime') {{data.clockInDateTime | date:'MM/dd/yyyy HH:mm'}}
                          td.text-center {{data.clockOutDateTime | date:'MM/dd/yyyy HH:mm'}}
                          td.text-center {{data.totalTime}}
                          td.text-center {{data.breaktime}}
                      tfoot(ng-if='haveResult')
                        tr
                          th.text-right(colspan='5')
                            span.f-right.dis-block.c-blue Total : {{ totalRegHours() }}
                            br
                            span.f-right.dis-block.c-blue Without Breaks : {{ withoutBreakHours() }}
                            br
                            span.f-right.dis-block.c-blue Breaks : {{ totalBreaks() }}
          .alert.alert-info.fade.in.text-center(ng-if='!haveResult && adminTimesheet')
            h4 Time sheet is empty for this time period.