style.
  .multiSelect .checkBoxContainer{
    max-height:200px;
    overflow-y:scroll;
    text-align:left;
    font-size:14px;
  }
showloader
.m-b-20.clearfix.sd_top_head
  .page-title.pull-left.col-xs-12.col-md-4.col-sm-2.sd_avail
    h3.pull-left
      strong Employee Availability Report
.row
  .col-md-12
    .tabcordion
      #myTabContent.tab-content
        #product_general.tab-pane.fade.active.in
          .row
            .col-xs-12
              .box
                .box-header
                  h3.box-title
                  .box-tools
                    .input-group
                .box-body.table-responsive.no-padding
                  h4.align-center.w-700(style='color:#2a6496') Please select week to see corresponding data.
                  .inner-addon.left-addon
                    .sd_calender1
                      input.form-control.w-700.align-center(weekpicker='weekpicker', ng-model='weekdate', placeholder='Choose a week by click here', readonly='readonly', style='border:solid 4px darkgray;color:#2a6496;')
                      i.fa.fa-calendar.f-20  
                  br
                  table.table.table-bordered(ng-repeat='tmsl in timeslots')
                    tr
                      th.text-center {{tmsl}} Shifts
                      th(ng-repeat='a in sevenWeekDayArr', style='width:10%') {{a | date: 'EEEE (M/d/yyyy)'}}
                    tr
                      th(style='background-color:#F2F1F0')  # Employees
                      td(ng-repeat='week in weekdays')
                        span {{no_of_employees}}
                    tr
                      th(style='background-color:#F2F1F0')  # Timeslot Shifts Buffer
                      td(ng-repeat='week in weekdays')
                        span {{gridData[week][tmsl]}}
                    tr
                      th(style='background-color:#F2F1F0', title='Yes Maybe Employees')  # of yes/maybe Employees
                      td(ng-repeat='a in sevenWeekDayArr')
                        span {{yesmaybedata[a][tmsl]}}
                    tr
                      th(style='background-color:#F2F1F0')  # Employees not done avail
                      td(ng-repeat='a in sevenWeekDayArr')
                        span {{no_of_employees - yesmaybedata[a][tmsl]}}
                    tr
                      th(style='background-color:#F2F1F0' title='# Total shifts in that time slot')  # Avail Shifts
                      td(ng-repeat='week in weekdays')
                        span {{shiftGrid[week][tmsl] + extrashiftGrid[week][tmsl]}}     
                    tr
                      th(style='background-color:#F2F1F0', title='Yes Maybe Screwed Employees')  # Avail Employees
                      td(ng-repeat='a in sevenWeekDayArr')
                        span {{yesmaybescreweddata[a][tmsl]}}
                    tr
                      th(style='background-color:#F2F1F0')  # of No Employees
                      td(ng-repeat='a in sevenWeekDayArr')
                        span {{nodata[a][tmsl]}}  
                    tr
                      th(style='background-color:#F2F1F0', title='# Employees - # Avail Shifts - # Buffer')  # That can be Unavailable
                      td(ng-repeat='week in weekdays')
                        span {{no_of_employees - (shiftGrid[week][tmsl] + extrashiftGrid[week][tmsl]) - gridData[week][tmsl]}}
                    tr
                      th(style='background-color:#F2F1F0', title='# That can be Unavailable - # of No Employees')  # Diff
                      td(ng-repeat='week in weekdays')
                        span {{(no_of_employees - (shiftGrid[week][tmsl] + extrashiftGrid[week][tmsl]) - gridData[week][tmsl]) - nodata[sevenWeekDayArr[$index]][tmsl]}}
