style.
  .multiSelect .checkBoxContainer{
    max-height:200px;
    overflow-y:scroll;
  }
#modal-list.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog(style='width:700px;')
    .modal-content
      .modal-header(style='background-color:lightgray')
        button.close(type='button', data-dismiss='modal', aria-hidden='true', title="Close") X
        h4#myModalLabel.modal-title Radius Listing
      .modal-body(style='line-height:25px;font-weight:bolder;max-height:480px;overflow-y:auto')
        span(ng-repeat = "rl in radiusList") 
         span {{rl.radius}} Feet 
         span.c-blue ({{timeToDecimal(rl.startTime)}} - 
         span.c-blue {{timeToDecimal(rl.endTime)}})
         i.f-right.fa.fa-trash-o.cursor-pointer.f-20.p-l-10(title="Remove" ng-click="removeRadius(rl._id)", style="color:#0090d9;")
         br
      .modal-footer
        button.btn.btn-success(type='button', data-dismiss='modal', aria-hidden='true', title="Close") Close
#modal-basic.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header(style='background-color:lightgray')
        button.close(type='button', data-dismiss='modal', aria-hidden='true', title="Close") X
        h4#myModalLabel.modal-title Geo Fencing Current Value 
          span(ng-if='viewVal') ({{viewVal}} Feet)
      .modal-body(style='line-height:25px;font-weight:bolder;max-height:480px;overflow-y:auto')
        form#form1.form-horizontal(name='radiusForm', novalidate='novalidate')
          .form-group
            label.col-sm-4.control-label
              | Start Time 
              span.asterisk *
            .col-sm-6
              input.timepicker(type='text', placeholder='hh:mm', ng-model='radiusForm.startTime', readonly='readonly', data-scroll-default='6:00am', style='padding: 2px;width:60px;cursor:pointer !important;', required='required')
          .form-group
            label.col-sm-4.control-label
              | End time
              span.asterisk *
            .col-sm-6
              input.timepicker(type='text', placeholder='hh:mm', ng-model='radiusForm.endTime', readonly='readonly', data-scroll-default='6:00am', style='padding: 2px;width:60px;cursor:pointer !important;', required='required')
          .form-group
            label.col-sm-4.control-label
              | Radius (In Feet)
              span.asterisk *
            .col-sm-6
              input#foldername.form-control(type='text', placeholder='Enter Radius', decimal='decimal', name='defaultradius', ng-model='radiusForm.radius', required='required', maxlength='6')
              span.help-inline(ng-show='radiusForm.radius.$error.maxlength') Maximum 6 digits are allowed.
      .modal-footer
        button.btn.btn-success(type='button', ng-disabled="radiusForm.$invalid", ng-click="saveRadius()") Save
.m-b-20.clearfix
  .pull-left
    h3
      strong Clocking System
  .pull-right
    a.btn.btn-success.m-t-10.m-r-10(href='/admintimesheet') Timesheet
    button.btn.btn-success.m-t-10(data-toggle='modal', data-target='#modal-basic', ng-click='openRadusFolder()') Geo Fencing Radius
    button.btn.btn-success.m-t-10.m-l-10(data-toggle='modal', data-target='#modal-list', ng-click='fetchRadiusListing()') Geo Fencing Listing
showloader
.row
  .col-md-12
    .tabcordion
      #myTabContent.tab-content
        #product_general.tab-pane.fade.active.in
          .row
            .col-md-12
              form#form1.form-horizontal(name='clockinForm', novalidate='')
                .form-group
                  label.col-sm-3.control-label
                    | Select Employee
                    span.asterisk *
                  .col-sm-7
                    div(multi-select='', selection-mode = "SINGLE", input-model='modernWebBrowsers', max-labels='1', button-label='fullname', item-label='fullname', tick-property='ticked', required='required', on-item-click='chckclockedIn()', default-label='Select Employee')
                .form-group
                  label.col-md-3.control-label
                    | Select Event / Account
                    span.asterisk *
                  .col-sm-7
                    div(multi-select='', selection-mode = "SINGLE", input-model='allEvents', max-labels='1', button-label='name', item-label='name', tick-property='ticked', style='padding-left:0px', default-label='Select Event/Account')
                .form-group
                  label.col-md-3.control-label
                    | Select Shift
                    span.asterisk *
                  .col-sm-7
                    select.btn.select_tag(ng-options='shift.value as shift.name for shift in shifts', ng-model='clockdata.shift', ng-init='clockdata.shift = clockdata.shift || shifts[0].value', style='border:1px solid lightgray')
                .form-group
                  label.col-sm-3.control-label
                    | Clock In
                  .col-sm-3
                    input.form-control.datetimepicker(type='text', placeholder='MM/DD/YYYY HH:MM', ng-model='clockdata.clockInDateTime', style='padding: 8px 12px;cursor:pointer !important', readonly='readonly')
                .form-group(ng-if='clockout')
                  label.col-sm-3.control-label
                    | Clock Out
                    span.asterisk *
                  .col-sm-3
                    input.form-control.datetimepicker(type='text', placeholder='MM/DD/YYYY HH:MM', ng-model='clockdata.clockOutDateTime', style='padding: 8px 12px;cursor:pointer !important', readonly='readonly', ng-change='chkTime()')
                .form-group(ng-if='clockout')
                  label.col-sm-3.control-label
                    | Break (In Minutes)
                  .col-sm-3
                    input.form-control(type='text', ng-model='clockdata.break', style='padding: 8px 12px;', to-number = 'to-number', maxlength = 3)
              .col-md-12.m-t-20.m-b-40.align-center.sd_last_btn
                button.btn.btn-default.m-r-10.m-t-10(href='#', ng-click='cleardata()')
                  i.fa.fa-reply.p-r-10
                  | Clear
                button.btn.btn-success.m-t-10(href='#', ng-click='clockInFun(clockdata)', ng-if='clockin')
                  i.fa.fa-check.p-r-10
                  | Clock In
                button.btn.btn-danger.m-t-10(href='#', ng-click='clockOutFun(clockdata)', ng-if='clockout')
                  i.fa.fa-check.p-r-10
                  | Clock Out
#confirm_radiusOverride.ng-scope(style='display: none;')
  .confirmon-overlay(style='display: block;')
    .confirmon-box(style='display: block; width:32%')
      p.confirmon-content Radius is already exists for this time range. Do you want to override it?
      button.confirmon-button.confirmon-button(onclick="$('#confirm_radiusOverride').hide()") Cancel
      | &nbsp;&nbsp;&nbsp;&nbsp; 
      button.confirmon-button.confirmon-button(ng-click='addRadiusConfirm()') Confirm 
