style.
  .form-control[disabled]{
    background:#eee !important;
  }
  textarea{
    resize:none;
  }
showloader
#shiftack-modal.modal.fade
    .modal-dialog
      .modal-content
        .modal-header(style="background-color:lightgray")
          button.close(type="button", data-dismiss="modal", aria-hidden="true") &#215;
          h4.modal-title(style='text-align:center') Event Details
        .modal-body(style="line-height:25px;font-weight:bolder;max-height:480px;overflow-y:auto")
            b Account Name
            |  : {{evtDetail.name}}
            br
            b Notes 
            |  : {{evtDetail.event_data.notes}}
            br
            b Location Address 
            |  : {{evtDetail.location_address.address}} 
            br
            b Shifts Details 
            |  : {{wholeData.scheduleDate | date:'fullDate'}} {{wholeData.timeslot}}, {{wholeData.shiftReminderTime}}
        .modal-footer
          button.btn.btn-default(ng-if="!wholeData.is_approve", ng-click="approveScheduleViewforAdmin(wholeData._id)") Acknowledge this Shift
          button.btn.btn-default(type="button", data-dismiss="modal") Close
#event-modal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header(style="background-color:lightgray")
        button.close(type="button", data-dismiss="modal", aria-hidden="true") &#215;
        h4.modal-title(style='text-align:center') {{evtDetail.name}} Information
      .modal-body(style="line-height:25px;font-weight:bolder;max-height:480px;overflow-y:auto")
          p.p-b-10
            span Day : {{schInfo.day_of_week}}
            br
            span Timeslot : {{schInfo.timeslot}}
            br
            span Notes : {{schInfo.schnotes}}
            br
            span Shift Start Time : {{twentyfour_to_twelve(schInfo.shiftReminderTime)}}
            span(ng-if="schInfo.event_account_id.showendtime")
              span(ng-repeat="sft in schInfo.event_account_id.shift_template_id")
                span(ng-repeat="st in sft.shifts")
                  span(ng-if="st._id === schInfo.shift_id")
                    br
                    span Shift End Time : {{twentyfour_to_twelve(st.endshiftTime)}}
          h4.text-center Event/Account Information
          b Name 
          |  : {{evtDetail.name}}
          br
          b Description 
          |  : {{evtDetail.description}}
          br
          b(ng-if='!evtDetail.is_repeat') Contact Name 
            |  : {{evtDetail.event_data.contact_name}}
          br(ng-if='!evtDetail.is_repeat')
          strong Notes 
          |  :
          span.c-white.bg-red(style='padding:3px') {{evtDetail.event_data.notes}}
          br
          b Location Address 
          |  : {{evtDetail.location_address.address}} 
          br
          b Billing Address 
          |  : {{evtDetail.billing_address.address}} 
      .modal-footer 
        button.btn.btn-success(disabled="disabled", ng-if="schInfo.is_approve") I am aware of my shift
        button.btn.btn-default(ng-if="!schInfo.is_approve", ng-click="approveScheduleView(schInfo._id)") Acknowledge this Shift
        button.btn.btn-default(type="button", data-dismiss="modal") Close
#modal-weekpicker.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header(style='background-color:lightgray')
        button.close(type='button', data-dismiss='modal', aria-hidden='true', title="Close") X
        h4#myModalLabel.modal-title.dis-inline-b Choose a week that you would like to see not done their availability.
      .modal-body(style='line-height:25px;font-weight:bolder;overflow-y:auto')
        .inner-addon.left-addon
          .sd_calender1
            input.form-control.w-700.align-center(weekpicker='weekpicker', ng-model='dashboardweekdate', placeholder='Choose a week by click here', readonly='readonly', style='border:solid 4px darkgray;color:#2a6496;')
            i.fa.fa-calendar.f-20
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Close
#modal-tracklist.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog(style="width:800px;")
    .modal-content
      .modal-header(style='background-color:lightgray')
        button.close(type='button', data-dismiss='modal', aria-hidden='true', title="Close") X
        h4#myModalLabel.modal-title.dis-inline-b Lot Tracking List
      .modal-body(style='line-height:25px;font-weight:bolder;max-height:450px;min-height:400px;overflow-y:auto')
        form(ng-submit='AddShiftTrackInfo(employee._id)', name="tracklistForm", novalidate='novalidate')
          table
            tr
              td(style='width:40%;border-right:dotted 1px gray;vertical-align:top;')
                .form-group
                  label.col-md-12.control-label.col-sm-12.mrng_lbl
                    | Make
                    span.asterisk *
                  .col-sm-12.col-md-12
                    input.form-control(type='text', placeholder='Enter Make', required='required', ng-model='tracklist.make', maxlength='30', style='width:150px')
                br
                .form-group
                  label.col-md-12.control-label.col-sm-12.mrng_lbl.m-t-10
                    | License Plate No.
                    span.asterisk *
                  .col-sm-12.mrng_sel.col-md-12
                    input.form-control(type='text', placeholder='Enter first 3 Digits', required='required', ng-model='tracklist.license', maxlength='3', minlength='3', style='width:150px')
                button.btn.btn-success.m-t-20.m-l-19(href='#', ng-click='addTrackInfo(tracklist, clockinId)')
                  i.fa.fa-check.p-r-10
                  | Add Track Info
              td(style="vertical-align:top;padding-left:10px;")
                div(ng-repeat='x in trackItemList')
                  i.f-left.fa.fa-circle.p-l-5.f-10(style='color:#D3D3D3;margin-top:8px;')
                  p.p-l-5.dis-inline-b {{x.make}} / {{x.license}}
                  i.f-right.fa.fa-trash-o.p-l-5.m-t-5.cursor-pointer.f-16(style='color:#0090d9;', title="Remove", ng-click='removeTrackConfirmation(clockinId, trackMainId, x._id)')
                  span.f-right.p-l-5.dis-inline-b(ng-bind='x.added_date| date:"MM/dd/yyyy"')
      .modal-footer
        button.btn.btn-default(type='button', ng-click='removeTrackListConfirmation(trackMainId)', ng-if="exceptionItemList.length", title="Clear all the rates from this list.") 
          i.fa.fa-reply.p-r-10
          | Clear All
#modal-questions.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header(style='background-color:lightgray')
        button.close(type='button', data-dismiss='modal', aria-hidden='true') X
        h4#myModalLabel.modal-title Opening/Closing procedures for the shift
      .modal-body(style='line-height:25px;font-weight:bolder;max-height:480px;overflow-y:auto;')
        form(name='questionForm')
          span.dis-block(ng-repeat="x in questions") 
            | {{x.title}}
            input.form-control(type='text', style='width:100%', ng-model='questionProcedure[x._id]', maxlength='150', required='required', placeholder='Write here please ...')
      .modal-footer
        button.btn.btn-success(type='button', ng-disabled="questionForm.$invalid", ng-click="saveQuest(clockinId)") Save
#modal-tickets.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header(style='background-color:lightgray')
        button.close(type='button', data-dismiss='modal', aria-hidden='true') X
        h4#myModalLabel.modal-title Ticket Control System
      .modal-body(style='line-height:25px;font-weight:bolder;max-height:480px;overflow-y:auto')
        form#form1.form-horizontal(name='ticketControlForm', novalidate='novalidate')
          .form-group
            label.col-sm-4.control-label
              | Tickets Added
              span.asterisk *
            .col-sm-6
              input.form-control(type='text', ng-model='ticketForm.ticketadded', name='ticketadded', required='required', maxlength='5', to-number)
          .form-group
            label.col-sm-4.control-label
              | Previous Count
              span.asterisk *
            .col-sm-6
              input.form-control(type='number', name='prevCount', ng-model='ticketForm.prevCount',  required='required', to-number)
          .form-group
            label.col-sm-4.control-label
              | Start Count
            .col-sm-6
              span.form-control(disabled='disabled') {{ ticketForm.ticketadded -- ticketForm.prevCount }}
          .form-group
            label.col-sm-4.control-label
              | End Count
              span.asterisk *
            .col-sm-6
              input.form-control(type='number', name='endCount', ng-model='ticketForm.endCount', max="{{ ticketForm.ticketadded -- ticketForm.prevCount }}", required='required', to-number)
              span.help-inline(ng-show='ticketForm.endCount.$error.max') End count should be less or same of start count.
              span.help-inline(ng-show='ticketForm.endCount.$error.min') End count should be less or same of previous.
          .form-group
            label.col-sm-4.control-label
              | Car Parked
            .col-sm-6
              span.form-control(disabled='disabled') {{ ticketForm.ticketadded -- ticketForm.prevCount - ticketForm.endCount}}
          .form-group
            label.col-sm-4.control-label
              | VIPs
              span.asterisk *
            .col-sm-6
              input.form-control(type='text', name='vips', ng-model='ticketForm.vips', required='required', maxlength='5', to-number, ng-init='ticketForm.vips = 0')
          .form-group(ng-if='ticketForm.vips > 0')
            label.col-sm-4.control-label
              | VIPs List
            .col-sm-6
              textarea.form-control(type='text', name='viplist', ng-model='ticketForm.viplist', maxlength='150')
          .form-group
            label.col-sm-4.control-label
              | Total charged cars
            .col-sm-6
              input(type='hidden', ng-model='ticketForm.totalChargedCars', id='totalChargedCars', value='{{ ticketForm.ticketadded -- ticketForm.prevCount - ticketForm.endCount - ticketForm.vips}}')
              span.form-control(disabled='disabled') {{ ticketForm.ticketadded -- ticketForm.prevCount - ticketForm.endCount - ticketForm.vips}}
          .form-group
            label.col-sm-4.control-label
              | Shift
            .col-sm-6
              select.btn.select_tag(ng-options='shift.value as shift.name for shift in shifts', ng-model='ticketForm.shift', ng-init='ticketForm.shift = ticketForm.shift || shifts[0].value', style='border:1px solid lightgray', ng-change='openTicketcontrolOnshift(ticketForm.shift)')
          .form-group(ng-if='eventInfo')
            label.col-sm-4.control-label
              | Revenue Type
            .col-sm-6
              span.form-control(disabled='disabled') {{revenue_type}}
          .form-group(ng-show='(eventInfo.revenue_type === "per_car") && (role !== "employee")')
            label.col-sm-4.control-label
              | Amount Per Car
            .col-sm-6
              span.form-control(disabled='disabled') {{amountPerCar}}
          .form-group(ng-show='(eventInfo.revenue_type === "rate_per_hour")  && (role !== "employee")')
            label.col-sm-4.control-label
              | Rate Per Hour
            .col-sm-6
              span.form-control(disabled='disabled') {{eventInfo.rate_per_hour}}
          .form-group(ng-show='(eventInfo.revenue_type === "per_car")  && (role !== "employee")')
            label.col-sm-4.control-label
              | Revenue
            .col-sm-6
              input(type='hidden', ng-model='ticketForm.revenue', id='revenue', value='{{ (ticketForm.ticketadded -- ticketForm.prevCount - ticketForm.endCount - ticketForm.vips) * amountPerCar}}')
              span.form-control(disabled='disabled') {{ (ticketForm.ticketadded -- ticketForm.prevCount - ticketForm.endCount - ticketForm.vips) * amountPerCar}}
          .form-group(ng-show='(eventInfo.revenue_type === "flat_rate")  && (role !== "employee")')
            label.col-sm-4.control-label
              | Revenue
            .col-sm-6
              input(type='hidden', ng-model='ticketForm.revenue', id='revenue', value='{{eventInfo.flat_rate}}')
              span.form-control(disabled='disabled') {{eventInfo.flat_rate}}
          .form-group(ng-show='(eventInfo.revenue_type === "rate_per_hour")  && (role !== "employee")')
            label.col-sm-4.control-label
              | Revenue
            .col-sm-6
              input(type='hidden', ng-model='ticketForm.revenue', id='revenue', value='{{(eventInfo.rate_per_hour) * timeToDecimal(totalhoursofDay)}}')
              span.form-control(disabled='disabled') {{(eventInfo.rate_per_hour) * timeToDecimal(totalhoursofDay)}}
          .form-group
            label.col-sm-4.control-label
              | Credit Card charges $
            .col-sm-6
              input.form-control(ng-model='ticketForm.ccc', name='ccc', required='required', maxlength='7', placeholder='Not included processing fee', ng-init='ticketForm.ccc = 0', decimal='decimal')
          .form-group(ng-if='eventInfo.revenue_type === "per_car"')
            label.col-sm-4.control-label
              | Cash Deposit
            .col-sm-6
              input(type='hidden', ng-model='ticketForm.cashDeposit', id='cashDeposit', value='{{ ((ticketForm.ticketadded -- ticketForm.prevCount - ticketForm.endCount - ticketForm.vips) * amountPerCar) - ticketForm.ccc }}')
              span.form-control(disabled='disabled') {{ ((ticketForm.ticketadded -- ticketForm.prevCount - ticketForm.endCount - ticketForm.vips) * amountPerCar)- ticketForm.ccc}}
          .form-group(ng-if='eventInfo.revenue_type === "flat_rate" || eventInfo.revenue_type === "rate_per_hour" ')
            label.col-sm-4.control-label
              | Cash Deposit
            .col-sm-6
              input(type='hidden', ng-model='ticketForm.cashDeposit', id='cashDeposit', value='0')
              span.form-control(disabled='disabled') 0
          .form-group
            label.col-sm-4.control-label
              | Equipment Needs
            .col-sm-6
              input.form-control(type='text', name='equipNeeds', ng-model='ticketForm.equipNeeds', ng-pattern='notesNamePattern')
              span.help-inline(ng-show='ticketForm.equipNeeds.$error.pattern') Only Following characters (0-9 a-z A-Z '$&_-=%#@) & blank space is allowed.
          .form-group
            label.col-sm-4.control-label
              | Notes
            .col-sm-6
              textarea.form-control(type='text', name='notes', ng-model='ticketForm.notes', maxlength='150', ng-pattern='notesNamePattern')
              span.help-inline(ng-show='ticketForm.notes.$error.pattern') Only Following characters (0-9 a-z A-Z '$&_-=%#@) & blank space is allowed.
      .modal-footer
        button.btn.btn-success(type='button', ng-disabled="ticketControlForm.$invalid", ng-click="saveTicketControl(clockinId)") Save
#modal-basic.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header(style='background-color:lightgray')
        button.close(type='button', data-dismiss='modal', aria-hidden='true') X
        h4#myModalLabel.modal-title Event Detail
      .modal-body(style='line-height:25px;font-weight:bolder;max-height:480px;overflow-y:auto')
        b Event Name 
        |  : {{evtDetail.name}}
        br
        b Event Description 
        |  : {{evtDetail.description}}
        br
        b Event Start Date 
        |  : {{eventStartDate | date:'short'}}
        br 
        b Event End Date 
        |  : {{eventEndDate | date:'short'}}
        br
        b Event type 
        |  : {{evtDetail.event_data.event_type}}
        br
        b Contact Name 
        |  : {{evtDetail.event_data.contact_name}}
        br
        b Contact Phone 
        |  : {{evtDetail.event_data.contact_phone}}
        br
        b Contact Email 
        |  : {{evtDetail.event_data.contact_email}}
        br
        strong Notes 
        |  :
        span(style='background-color:lightblue') {{evtDetail.event_data.notes}}
        br
        b Location Address 
        |  : {{evtDetail.location_address.address}} 
        br
        b Billing Address 
        |  : {{evtDetail.billing_address.address}} 
        br
        b Shifts Details 
        |  :
        br
        span(ng-repeat="shift in shiftData", style="padding-left:15px")
          |  {{'-- '+ shift.day + '/' + shift.timeslot}}
          br
          span(style="padding-left:30px", ng-repeat="sht in shift.shifts", ng-if="event.showendtime")
            | {{sht.startShiftTime + ' - '+sht.endshiftTime}}
            br
          span(style="padding-left:30px", ng-repeat="sht in shift.shifts", ng-if="!event.showendtime")
            | {{sht.startShiftTime}}
            br
marquee
  a.w-700(href='/documentslib', ng-if="role == 'employee'")
    | Go to Training Videos to Get Assistance  
.alert.alert-warning.fade.in(ng-if='!password_change')
  button.close(type='button', data-dismiss='alert', aria-hidden='true') &#215
  strong.cursor-pointer(ng-click='gotochangePassword()') Please update your password!
.row(ng-show='welcomemessage && !welcomemessagestatus', ng-if='userFullData')
  .col-md-12.col-sm-12.col-xs-12
    .alert.alert-success.fade.in
      button.close(type='button', data-dismiss='alert', aria-hidden='true') &#215
      strong Welcome {{ userFullData.first_name }} {{ userFullData.last_name }}
      p
.row.m-b-10
  .m-t-10
  .col-md-6(ng-if="role != 'hr' && role != 'manager' && role != 'admin'")
    .col-md-12
      .row
        .panel.panel-default.company-memo
          .panel-heading.no-bd.bg-dark
            h3.panel-title(style='width:100%')
              i.fa.fa-list-alt
              | Schedules of Current Week
          .panel-body.mCustomScrollbar(style='min-height:230px !important;')
            ul(ng-if='empDataHaveResult')
              li.left.clearfix(ng-repeat="sch in schedules")
                .chat-body.clearfix
                  .header
                    strong
                      span.primary-font.p-5.cursor-pointer(ng-class="sch.classVal", data-toggle='modal', data-target='#event-modal', ng-click='showscheduleDetail(sch)', style='line-height:unset') {{sch.event_account_id.name}} | {{sch.timeslot}} | ({{sch.scheduleDate | date : 'MM/dd/yyyy'}} | {{twentyfour_to_twelve(sch.shiftReminderTime)}} 
                        span(sch.event_account_id.showendtime) - {{twentyfour_to_twelve(sch.shiftEndTime)}})
                  p {{memo.description}}
  .col-md-6
    .col-md-12
      .row
        .panel.panel-default.company-memo
          .panel-heading.no-bd.bg-dark
            h3.panel-title(style='width:100%')
              i.fa.fa-clock-o
              | Timeclock
              i.f-right.m-l-10.fa.fa-info-circle.cursor-pointer#tracklist(data-toggle='modal', data-target='#modal-tracklist', ng-click='openTrackList(clockinId)', title='Tracking List', style='display:none')
              i.f-right.m-l-10.fa.fa-question-circle.cursor-pointer#Questions(data-toggle='modal', data-target='#modal-questions', ng-click='openQuestion()', title='Opening/Closing procedures', style='display:none')
              i.f-right.fa.fa-ticket.cursor-pointer#Ticketcontrol(data-toggle='modal', data-target='#modal-tickets', ng-click='openTicketcontrol()', title='Ticket Control', style='display:none')
          .panel-body.mCustomScrollbar(style='min-height:230px !important;')
            .row
              .col-md-12
                span(ng-if="selectAccount")
                  .form-group
                    label.col-md-12.control-label.col-sm-12.mrng_lbl(style='color:#0090d9')
                      | Please select Event/Account for which you want to clock in.
                    .col-sm-12.col-md-12
                      select.btn.select_tag(ng-model='eventname', style='border:1px solid lightgray')
                        option(value='') 
                          |-- Choose an option --
                        option(ng-repeat='event in eventAccountArr', value='{{event}}')
                          {{event.name}}
                      select.btn.select_tag.m-l-5(ng-model='shift', style='border:1px solid lightgray', ng-change="clockInEvent(eventname, shift)", ng-if='eventname')
                        option(value='') 
                          |-- Select Timeslot --
                        option(ng-repeat='sft in shifts', value='{{sft}}')
                          {{sft.value}}
                span#clockIn(style='display:none')
                  i.fa.fa-circle.p-10.m-5.cursor-pointer(style='border:solid 1px #8AB242;color:#8AB242;margin-left:130px !important;margin-top:86px !important;', ng-click='clockin()')
                  button.btn.btn-success(style="background-color:#8AB242;", ng-click='clockin()') 
                    i.fa.fa-arrow-left.p-r-10
                    | Clock in
                span#clockingIn(style='display:none')
                  i.fa.fa-circle.p-10.m-5.cursor-pointer(style='border:solid 1px #8AB242;color:#8AB242;margin-left:115px !important;margin-top:86px !important;')
                  button.btn.btn-success(style="background-color:#8AB242;cursor:unset;") 
                    i.fa.fa-arrow-left.p-r-10
                    | Clocking in..
                span#clockedOut(style='display:none;width:95%')
                  span.btn.btn-normal.p-10.m-5(style="cursor:unset;") 
                    i.fa.fa-circle.p-r-10(style='color:#8AB242;')
                    | Clocked in. --  
                    span {{clockInTime | date :"shortTime"}}
                  br
                  p.dis-block.p-10.m-5.cursor-pointer(style='background-color:#f2f1f0;height:115px !important;overflow:auto', data-toggle='modal', data-target='#modal-basic', title='Detail View', ng-click="viewEvent(eventInfo)") {{eventInfo.name}} ({{selectedtimeslot}}) ---- {{eventInfo.event_data.notes}}
                  span#clockOutButtons
                    i.fa.fa-circle.p-10.m-5.cursor-pointer(style='color:#E86557;border:solid 1px #E86557;', ng-click='clockOutConfirmbox(clockinId)')
                    button.btn.btn-danger(ng-click='clockOutConfirmbox(clockinId)', style='background-color:#E86557') 
                      i.fa.fa-arrow-left.p-r-10
                      | Clock out
                  span#continueshiftbuttons(ng-if='beakcomes')
                    i.fa.fa-circle.p-10.m-5.cursor-pointer(style='color:#8AB242;border:solid 1px #8AB242;', ng-click='continueshift(clockinId)')
                    button.btn.btn-success(ng-click='continueshift(clockinId)', style='background-color:#8AB242') 
                      i.fa.fa-arrow-left.p-r-10
                      | Continue Shift
                  i.fa.fa-coffee.f-right.m-10.f-24.cursor-pointer(ng-click='breakTime(clockinId)', style='color:#2A7FD1;', title='Start Break', ng-show='!beakcomes')
  .col-md-6(ng-if="role !== 'employee'")
    .col-md-12
      .row
        .panel.panel-default.company-memo
          .panel-heading.no-bd.bg-dark
            h3.panel-title(style='width:100%')
              i.fa.fa-list-alt
              | Emp. ({{employeelist.length}}) 
              span(style='font-size:14px') : Who haven't complete their availability.  
              i.f-right.m-l-10.fa.fa-search.cursor-pointer#tracklist(data-toggle='modal', data-target='#modal-weekpicker', ng-click='openWeekPicker()', title='Search By week')
          .panel-body.mCustomScrollbar(style='min-height:215px !important;')
            .row
              .col-md-12.col-sm-12.col-xs-12
                strong.message-item.media(ng-repeat='empl in employeelist')
                  .pull-left
                    span(popover-label='{{$index+1}} : {{empl.first_name}}  {{empl.last_name}}', imgval='{{empl.prof_image}}', popover-placement='right', popover-html='{{empl.prof_image}} <span style="float:right;padding-left:10px"> {{empl.first_name}} {{empl.last_name}} </br> <i class="glyph-icon flaticon-mobile26"></i> {{empl.phone}} </span>', custom-popover='')
br
.row.m-b-10
  .col-md-6(ng-if="role == 'employee'")
    .col-md-12
      .row
        .panel.panel-default
          .panel-heading.no-bd.bg-dark
            h3.panel-title.cursor-pointer(style='width:70%', ng-click='viewEmployeesList()', ng-if="role == 'employee'")
              i.fa.fa-list-alt
              | Contacts ({{loggedemployeelist.length}})
          .panel-body.mCustomScrollbar.messages(style='height:305px !important;')
            .row
              .col-md-12.col-sm-12.col-xs-12
                a.message-item.media(ng-repeat="log_empl in loggedemployeelist | orderBy : 'logged_in' : true")
                  .media
                    img.pull-left(width='35', height='35', alt='avatar 1', src='{{log_empl.prof_image}}')
                    .media-body
                      .pull-left
                        p.c-dark.m-0
                          strong {{log_empl.first_name}}  {{log_empl.last_name}} 
                          i.fa.fa-circle(style='color:{{log_empl.logged_in}}', ng-if="role != 'employee'")
                        p.c-gray.m-0(ng-if="role != 'employee'") {{log_empl.email}}
                      .pull-right.f-18.cursor-pointer(ng-if='log_empl.phone', ng-click="callOnNumber(log_empl.phone)") {{log_empl.phone  | tel}}
  .col-md-6(ng-if="role !== 'employee'")
    .col-md-12
      .row
        .panel.panel-default
          .panel-heading.no-bd.bg-dark
            h3.panel-title.cursor-pointer(style='width:70%', ng-click='mytodolist()')
              i.fa.fa-list-alt
              | My To Do List
          .panel-body.mCustomScrollbar.messages(style='height:305px !important;')
            .row(ng-if='todolength')
              .col-md-12.col-sm-12.col-xs-12(ng-if='allTodos')
                strong.message-item.media(ng-repeat='mtl in allTodos')
                  .pull-left
                    span.primary-font.p-5 {{mtl.listname}} | Assigned By : {{mtl.created_by.first_name}} {{mtl.created_by.last_name}} |Tasks : 
                    .c-red(style='display: inline-block;') {{mtl.todoIncompleteCount}}
                    | /
                    .c-green(style='display: inline-block;') {{mtl.todo_items.length}}
            .alert.alert-info.fade.in.text-center(ng-if = "!todolength")
                    h4
                      | No ToDos are found.

  .col-md-6(ng-if="role !== 'employee'")
      .panel.panel-default.company-memo
        .panel-heading.no-bd.bg-dark
          h3.panel-title.cursor-pointer(style='width:100%', ng-click='viewShiftAcknowledgement()')
              i.fa.fa-list-alt
              | Shift Acknowledgement
        .panel-body.mCustomScrollbar(style='min-height:305px !important;')
          .row
            .col-md-12.col-sm-12.col-xs-12
              span.message-item.media(ng-repeat='sch in allSchedules')
                .pull-left
                  .alert.cursor-pointer(id="{{sch._id}}", ng-click="ScheduleView(sch)", data-toggle="modal" data-target="#shiftack-modal",ng-class="sch.scheduleInfoclass", style='margin:0 !important')
                    p(style='height:auto !important')
                      b {{sch.employee_id.first_name}}  {{sch.employee_id.last_name}} : 
                      |  {{sch.event_account_id.name}} / {{sch.timeslot}} : {{sch.shiftReminderTime}} / {{sch.shiftDate}}

                  .alert.alert-info.fade.in.text-center(ng-if="!haveResult")
                    h4
                      | No Schedules are found.


  .col-md-6(ng-if="role == 'employee'")
    .col-md-12
      .row
        .panel.panel-default.company-memo
          .panel-heading.no-bd.bg-dark
            h3.panel-title
              i.fa.fa-list-alt
              | Company Memos
          .panel-body.mCustomScrollbar(style='min-height:305px !important;')
            ul(ng-if='haveResult')
              li.left.clearfix(ng-repeat='memo in allMemos', ng-if='$index<2')
                .chat-body.clearfix
                  .header
                    strong
                      a.primary-font(href='/memo/{{memo._id}}', rel='tooltip', title='Read Memo', type='button', ng-click='markRead(memo._id)') {{memo.title}}
                    small.pull-right.text-muted.mark_read
                      i.fa.fa-check-circle.f-20(ng-show='checkRead(user._id, memo.sent_to)', style='color:green')
                  p {{memo.description}}
              li.left.clearfix(ng-repeat='memo in allMemos', ng-if='$index==2')
                strong
                  a.primary-font(href='/memolist', rel='tooltip', title='Read Memo', type='button', style='text-decoration:underline;float:right') View All
            .alert.alert-info.fade.in.text-center(ng-if='!haveResult')
              h3 No memo for you this time.
#confirm_shiftclose.ng-scope(style='display: none;')
  .confirmon-overlay(style='display: block;')
    .confirmon-box(style='display: block; width:32%')
      p.confirmon-content Are you closing the shift ?
      button.confirmon-button.confirmon-button(ng-click='clockOutconfirmation("no", alreadyclockId)') No
      | &nbsp;&nbsp;&nbsp;&nbsp; 
      button.confirmon-button.confirmon-button(ng-click='clockOutconfirmation("yes", alreadyclockId)') Yes
#confirm_trackdel.ng-scope(style='display: none;')
  .confirmon-overlay(style='display: block;')
    .confirmon-box(style='display: block; width:32%')
      p.confirmon-content Are you sure you want to delete ?
      button.confirmon-button.confirmon-button(onclick="$('#confirm_trackdel').hide()") Cancel
      | &nbsp;&nbsp;&nbsp;&nbsp; 
      button.confirmon-button.confirmon-button(ng-click='removeTrack()') Confirm
#confirm_tracklistdel.ng-scope(style='display: none;')
  .confirmon-overlay(style='display: block;')
    .confirmon-box(style='display: block; width:32%')
      p.confirmon-content Are you sure you want clear whole list ?
      button.confirmon-button.confirmon-button(onclick="$('#confirm_tracklistdel').hide()") Cancel
      | &nbsp;&nbsp;&nbsp;&nbsp; 
      button.confirmon-button.confirmon-button(ng-click='removeTrackList()') Confirm 
#confirm_ticketcontrolOverride.ng-scope(style='display: none;')
  .confirmon-overlay(style='display: block;')
    .confirmon-box(style='display: block; width:32%')
      p.confirmon-content Report is already filled for this location/shift/Date. Do you want to override it?
      button.confirmon-button.confirmon-button(onclick="$('#confirm_ticketcontrolOverride').hide()") Cancel
      | &nbsp;&nbsp;&nbsp;&nbsp; 
      button.confirmon-button.confirmon-button(ng-click='updateTicketControlConfirm()') Confirm 

