#modal-basic.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header(style='background-color:lightgray')
        button.close(type='button', data-dismiss='modal', aria-hidden='true', title="Close") X
        h4#myModalLabel.modal-title Create Folder
      .modal-body(style='line-height:25px;font-weight:bolder;max-height:480px;overflow-y:auto')
        form#form1.form-horizontal(name='folderForm', novalidate='novalidate')
                .form-group
                  label.col-sm-3.control-label
                    | Folder Name
                    span.asterisk *
                  .col-sm-7
                    input#foldername.form-control(type='text', placeholder='Enter Folder Name', name='foldername', ng-model='folderdata.foldername', required='required', ng-maxlength='50', ng-pattern='foldernamePattern', maxlength='50')
                    span.help-inline(ng-show='folderForm.foldername.$error.pattern') Only Following characters (0-9 a-z A-Z _) are allowed.
                    span.help-inline(ng-show='folderForm.foldername.$error.maxlength') Maximum 50 characters are allowed.
      .modal-footer
        button.btn.btn-success(type='button', ng-disabled="folderForm.$invalid || buttondisable", ng-click="createFolder()") Save
#modal-folder.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog(style='width:700px;')
    .modal-content
      .modal-header(style='background-color:lightgray')
        button.close(type='button', data-dismiss='modal', aria-hidden='true', title="Close") X
        h4#myModalLabel.modal-title {{folderInfo.foldername}}
      .modal-body(style='line-height:25px;font-weight:bolder;max-height:480px;overflow-y:auto')
        span(ng-repeat = "fileinfo in folderInfo.my_file|orderBy :'filename'")
         span.cursor-pointer(ng-click="viewfile(fileinfo._id, fileinfo.filename)", style='color:#0090d9;', title='View Document', ng-if="fileinfo.filetype === 'pdf'") {{fileinfo.filename}}
         span(ng-if="fileinfo.filetype != 'pdf'") {{fileinfo.filename}}
         i.f-right.fa.fa-trash-o.cursor-pointer.f-20.p-l-10(title='Remove Document', ng-if="(userRole==='admin' || userRole==='manager' || userRole==='hr')", ng-click="removeFile(fileinfo,folderInfo._id,'inFolder')", style='color:#0090d9;')
         i.f-right.fa.fa-pencil.cursor-pointer.f-20.p-l-10(data-toggle='modal', title='Rename Document', data-target='#modal-renamefile', ng-if="(userRole==='admin' || userRole==='manager' || userRole==='hr')", ng-click="renameFile(fileinfo,folderInfo._id)", style='color:#0090d9;')
         i.f-right.fa.fa-download.cursor-pointer.f-20.p-l-10(ng-click="downloadfile(fileinfo._id, fileinfo.filepath)", style='color:#0090d9;', title='Download Video', ng-if="fileinfo.filetype !== 'pdf'")
         i.f-right.fa.fa-file-pdf-o.cursor-pointer.f-20.p-l-10(ng-click="viewfile(fileinfo._id, fileinfo.filename)", style='color:#0090d9;', title='View Document', ng-if="fileinfo.filetype === 'pdf'")
         br
        h4(style='color:#0090d9;', ng-if='folderInfo.links.length') Links Information
        span(ng-repeat = "linkDetail in folderInfo.links|orderBy :'linktitle'") 
         a.cursor-pointer(ng-click='goTolink(linkDetail.link)') {{linkDetail.linktitle}}
         i.f-right.fa.fa-trash-o.cursor-pointer.f-20.p-l-10(title='Remove Link', ng-if="(userRole==='admin' || userRole==='manager' || userRole==='hr')", ng-click="removeLink(linkDetail,folderInfo._id,'inFolder')", style='color:#0090d9;')
         i.f-right.fa.fa-pencil.cursor-pointer.f-20.p-l-10(data-toggle='modal', title='Edit Link', data-target='#modal-renamelink', ng-if="(userRole==='admin' || userRole==='manager' || userRole==='hr')", ng-click="renameLink(linkDetail,folderInfo._id)", style='color:#0090d9;')
         br
      .modal-footer
        button.btn.btn-success(type='button', data-dismiss='modal', aria-hidden='true', title="Close") Close
#modal-renamefile.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header(style='background-color:lightgray')
        button.close(type='button', data-dismiss='modal', aria-hidden='true', title="Close") X
        h4#myModalLabel.modal-title Rename Document
      .modal-body(style='line-height:25px;font-weight:bolder;max-height:480px;overflow-y:auto')
        form#form1.form-horizontal(name='renameForm', novalidate='novalidate')
                .form-group
                  label.col-sm-3.control-label
                    | File Name
                    span.asterisk *
                  .col-sm-7
                    input#changedname.form-control(type='text', placeholder='Enter Document Name', name='changedname', ng-model='changedname', required='required', ng-maxlength='50', ng-pattern='filenamePattern', maxlength='50')
                    span.help-inline(ng-show='renameForm.changedname.$error.pattern') Only Following characters (0-9 a-z A-Z _-#@) are allowed.
                    span.help-inline(ng-show='renameForm.changedname.$error.maxlength') Maximum 50 characters are allowed.
      .modal-footer
        button.btn.btn-success(type='button', ng-disabled="renameForm.$invalid", ng-click="renameFileSave()") Save
#modal-renamefolder.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header(style='background-color:lightgray')
        button.close(type='button', data-dismiss='modal', aria-hidden='true', title="Close") X
        h4#myModalLabel.modal-title Rename Folder
      .modal-body(style='line-height:25px;font-weight:bolder;max-height:480px;overflow-y:auto')
        form#form1.form-horizontal(name='renamefolderForm', novalidate='novalidate')
                .form-group
                  label.col-sm-3.control-label
                    | Folder Name
                    span.asterisk *
                  .col-sm-7
                    input#changedfoldername.form-control(type='text', placeholder='Enter Folder Name', name='changedfoldername', ng-model='changedfoldername', required='required', ng-maxlength='50', ng-pattern='foldernamePattern', maxlength='50')
                    span.help-inline(ng-show='renamefolderForm.changedfoldername.$error.pattern') Only Following characters (0-9 a-z A-Z _) are allowed.
                    span.help-inline(ng-show='renamefolderForm.changedfoldername.$error.maxlength') Maximum 50 characters are allowed.

      .modal-footer
        button.btn.btn-success(type='button', ng-disabled="renamefolderForm.$invalid", ng-click="renameFolderSave()") Save
#modal-link.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog(style="width:800px;")
    .modal-content
      .modal-header(style='background-color:lightgray')
        button.close(type='button', data-dismiss='modal', aria-hidden='true', title="Close") X
        h4#myModalLabel.modal-title Share Link
      .modal-body(style='line-height:25px;font-weight:bolder;max-height:480px;overflow-y:auto')
        form#form1.form-horizontal(name='linkForm', novalidate='novalidate')
                .form-group
                  label.col-sm-1.control-label
                    | Title
                    span.asterisk *
                  .col-sm-7
                    input#linktitle.form-control(type='text', placeholder='Enter Title Name', name='linktitle', ng-model='linkdata.linktitle', required='required', ng-maxlength='50', ng-pattern='linktitlePattern', maxlength='50')
                    span.help-inline(ng-show='linkForm.linktitle.$error.pattern') Only Following characters (0-9 a-z A-Z _) are allowed.
                    span.help-inline(ng-show='linkForm.linktitle.$error.maxlength') Maximum 50 characters are allowed.
                .form-group
                  label.col-sm-1.control-label
                    | Link
                    span.asterisk *
                  .col-sm-11
                    input#link.form-control(type='url', placeholder='Enter Link', name='link', ng-model='linkdata.link', required='required', maxlength='50')
                    span.help-inline(ng-show='linkForm.link.$error.url &&  linkForm.link.$dirty') Not valid url!
      .modal-footer
        button.btn.btn-success(type='button', ng-disabled="linkForm.$invalid", ng-click="createLink(folderId)") Save
#modal-renamelink.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog(style="width:800px;")
    .modal-content
      .modal-header(style='background-color:lightgray')
        button.close(type='button', data-dismiss='modal', aria-hidden='true', title="Close") X
        h4#myModalLabel.modal-title Rename Document
      .modal-body(style='line-height:25px;font-weight:bolder;max-height:480px;overflow-y:auto')
        form#form1.form-horizontal(name='renameLinkForm', novalidate='novalidate')
                .form-group
                  label.col-sm-1.control-label
                    | Title
                    span.asterisk *
                  .col-sm-7
                    input#linktitle.form-control(type='text', placeholder='Enter Title Name', name='linktitle', ng-model='linkdetails.linktitle', required='required', ng-maxlength='50', ng-pattern='linktitlePattern', maxlength='50')
                    span.help-inline(ng-show='renameLinkForm.linktitle.$error.pattern') Only Following characters (0-9 a-z A-Z _) are allowed.
                    span.help-inline(ng-show='renameLinkForm.linktitle.$error.maxlength') Maximum 50 characters are allowed.
                .form-group
                  label.col-sm-1.control-label
                    | Link
                    span.asterisk *
                  .col-sm-11
                    input#link.form-control(type='url', placeholder='Enter Link', name='link', ng-model='linkdetails.link', required='required', maxlength='50')
                    span.help-inline(ng-show='renameLinkForm.link.$error.url') Not valid url!
      .modal-footer
        button.btn.btn-success(type='button', ng-disabled="renameLinkForm.$invalid", ng-click="renameLinkSave()") Save
#modal-view.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog(style="width:900px;")
    .modal-content
      .modal-header(style='background-color:lightgray')
        button.close(type='button', data-dismiss='modal', aria-hidden='true', title="Close") X
        h4#myModalLabel.modal-title(style="display:inline-block;") {{filename}}
        span.align-center(style="margin-right:15px !important;margin-top:-2px;display:inline-block;float:right")
          button.align-center(ng-click='gotoPage(1)', title="First Page") |&lt;
          button.align-center(ng-click='prevPage()', title="Previous Page") &lt;
          button.align-center(ng-click='nextPage()', title="Next Page") &gt;
          button.align-center(ng-click='gotoPage(totalPages)', title="Last Page") &gt;|
          span Page: 
          input(type='text', min='1', ng-model='currentPage', style="width:60px;height:30px;", ng-init="gotopage = 1")
          span  / {{totalPages}} 
          button.align-center(ng-click='Fit()', title="Zoom In") 100%
          button.align-center(ng-click='zoomOut()', title="Zoom Out") -
          button.align-center(ng-click='zoomIn()', title="Zoom In") +
      .modal-body(style='line-height:25px;font-weight:bolder;max-height:500px;overflow-y:auto;width:100%')
        pdfviewer#viewer(src='{{pdfurl}}', on-page-load='pageLoaded(page,total)')
      .modal-footer(style="margin-top:0 !important;padding:8px 12px;")
        button.btn.btn-success(ng-click='fullPdf()', title="Full View") Full View
        button.btn.btn-success(type='button', data-dismiss='modal', aria-hidden='true', title="Close") Close
showloader
.m-b-20.clearfix
  .page-title.pull-left
    h3.pull-left
      strong Documents Library 
      //span.m-l-60.p-l-5.p-r-5.btn-warning(style="color:#0090d9", ng-if="userRole!=='employee'") Only pdf documents and videos(flash, mp4) are supported.
.row(ng-show='visibility')
  .col-md-12
    .panel.panel-default
      .panel-heading
        .col-md-6.col-sm-6.col-xs-12
          .input-group.m-b-10
            input.form-control.w-700(type='text', placeholder='Search by folder/file name.', ng-model='searchText.val', style='border:solid 2px darkgray;color:#2a6496;')
            span.input-group-addon
              i.fa.fa-search
        .col-md-6.col-sm-6.col-xs-12
          .DTTT_container.sd_btnsuccess.m-b-10
            button.btn.btn-success.grnbtn100(ng-click='uploadfile("noFile")', ng-if="userRole==='admin' || userRole==='manager' || userRole==='hr'")
                i.fa.fa-upload.p-r-10
                | Upload
            button.btn.btn-success.grnbtn100(data-toggle='modal', data-target='#modal-basic', ng-if="userRole==='admin' || userRole==='manager' || userRole==='hr'", ng-click="enableFolderOpen()")
                i.fa.fa-plus.p-r-10
                | Add Folder
            input.form-control(type='file', style="display: none;", ngf-select='uploadDocs($files)', multiple='', file-model='myDoc', ng-if="userRole==='admin' || userRole==='manager' || userRole==='hr'")
      .panel-body
        .row
          .table-container
            #datatable_ajax_wrapper.dataTables_wrapper.dataTables_extended_wrapper.dataTables_extended_wrapper.no-footer
              .margin-b-10.tbl_response
                table#datatable_ajax.table.table-striped.table-bordered.table-hover.f-left(ng-table='tableParams')
                  thead
                    tr#header.heading.purple-bg(role='row')
                      th(width="1%")
                      th(width="30%")
                        a.cursor-pointer(ng-click="sortType = 'foldername'; sortReverse = !sortReverse; sortOrderby('foldername',sortReverse);")
                          strong Name
                          span.fa.fa-sort.m-l-5(ng-class="getIcon('foldername')")
                      th.text-center.unsortheading.get(style='width:5%') Files
                      th.text-center.unsortheading.get(style='width:5%') Links
                      th.text-center.unsortheading.get(style='width:15%') Created Date
                      th.text-center.unsortheading(width='15%') Actions
                      th.unsortheading(width='5%', ng-if="userRole !== 'employee'") Mark Important
                  tbody
                    tr.odd(role='row', ng-repeat="data in $data", ng-if='haveResult', id='{{data._id}}')
                      td.text-center(ng-class="data.onTopclass", disabled, ng-if="data.foldername")
                        i.fa.fa-folder.f-20(rel='tooltip', title='Folder', type='button', style='color:#0090d9;', disabled)
                      td.text-center(ng-class="data.onTopclass", disabled, ng-if="!data.foldername && data.my_file[0].filetype === 'pdf'")
                        i.fa.fa-file.f-16(rel='tooltip', title='File', type='button', style='color:#0090d9;', disabled)
                      td.text-center(ng-class="data.onTopclass", disabled, ng-if="!data.foldername && data.my_file[0].filetype !== 'pdf'")
                        i.fa.fa-music.f-16(rel='tooltip', title='Video', type='button', style='color:#0090d9;', disabled)
                      td.cursor-pointer.w-600(ng-bind='data.foldername', ng-if="data.foldername", data-toggle='modal', data-target='#modal-folder' ng-click='goTofolder(data)' style="color:#0090d9;", ng-class="data.onTopclass")

                      td.cursor-pointer(ng-bind='data.my_file[0].filename', data-toggle='modal', title='View Document', data-target='#modal-view', ng-if="!data.foldername && data.my_file[0].filetype === 'pdf'", ng-click="viewfile(data.my_file[0]._id, data.my_file[0].filename)", style='color:#0090d9;', ng-class="data.onTopclass")

                      td(ng-bind='data.my_file[0].filename', ng-if="!data.foldername && data.my_file[0].filetype != 'pdf'", ng-class="data.onTopclass")

                      td.cursor-pointer.w-600.get.text-center(ng-class="data.onTopclass", ng-bind="data.my_file.length", ng-if="data.foldername", data-toggle='modal', data-target='#modal-folder' ng-click='goTofolder(data)' style="color:#0090d9;")
                      td.get.text-center(ng-class="data.onTopclass", ng-if="!data.foldername") --
                      td.cursor-pointer.w-600.get.text-center(ng-class="data.onTopclass", ng-bind="data.links.length", ng-if="data.foldername", data-toggle='modal', data-target='#modal-folder' ng-click='goTofolder(data)' style="color:#0090d9;")
                      td.get.text-center(ng-if="!data.foldername", ng-class="data.onTopclass") --
                      td.get.text-center(ng-bind="data.created_date | date:'MM/dd/yyyy'", ng-class="data.onTopclass")
                      td.text-center(ng-class="data.onTopclass")
                        i.fa.fa-upload.cursor-pointer.f-20(ng-click='uploadfile(data._id)', title='Upload Document', type='button', style='color:#0090d9;', ng-if="(data.foldername) && (userRole==='admin' || userRole==='manager' || userRole==='hr')")
                        i.fa.fa-folder-open-o.cursor-pointer.f-20.p-l-10(data-toggle='modal', data-target='#modal-folder' ng-click='goTofolder(data)', title='Open Folder', type='button', style='color:#0090d9;', ng-if="(data.foldername) && (userRole==='employee')")
                        i.fa.fa-file-pdf-o.cursor-pointer.f-20.p-l-10(data-toggle='modal', title='View Document', data-target='#modal-view', ng-if="!data.foldername && data.my_file[0].filetype === 'pdf'", ng-click="viewfile(data.my_file[0]._id, data.my_file[0].filename)", style='color:#0090d9;')
                        i.fa.fa-download.cursor-pointer.f-20.p-l-10(ng-click="downloadfile(data.my_file[0]._id, data.my_file[0].filepath)", style='color:#0090d9;', title='Download Video', ng-if="!data.foldername && data.my_file[0].filetype !== 'pdf'")
                        i.fa.fa-pencil.cursor-pointer.f-20.p-l-10(data-toggle='modal', title='Rename Document', data-target='#modal-renamefile', ng-if="(!data.foldername) && (userRole==='admin' || userRole==='manager' || userRole==='hr')", ng-click="renameFile(data.my_file[0], data._id)", style='color:#0090d9;')

                        i.fa.fa-link.cursor-pointer.f-20.p-l-10(data-toggle='modal', title='Add Link', data-target='#modal-link', ng-if="(data.foldername) && (userRole==='admin' || userRole==='manager' || userRole==='hr')", style='color:#0090d9;', ng-click='AddLinkToFolder(data._id)')

                        i.fa.fa-pencil.cursor-pointer.f-20.p-l-10(data-toggle='modal', title='Rename Folder', data-target='#modal-renamefolder', ng-if="(data.foldername) && (userRole==='admin' || userRole==='manager' || userRole==='hr')", ng-click="renameFolder(data)", style='color:#0090d9;')
                        i.fa.fa-trash-o.cursor-pointer.f-20.p-l-10(title='Remove Document', ng-if="(!data.foldername) && (userRole==='admin' || userRole==='manager' || userRole==='hr')", ng-click="removeFile(data.my_file[0], data._id, 'outFolder')", style='color:#0090d9;')
                        i.fa.fa-trash-o.cursor-pointer.f-20.p-l-10(title='Remove Folder', ng-if="(data.foldername) && (userRole==='admin' || userRole==='manager' || userRole==='hr')", ng-click="removeFolder(data)", style='color:#0090d9;')
                      td.text-center(ng-class="data.onTopclass", ng-if="userRole !== 'employee'")
                        input(type='checkbox', ng-model='onTop', ng-true-value="yes", ng-false-value='', ng-change = "checkOnTop(data._id,data.checkOnTop)")
                    tr(ng-if='haveResult')
                      td(colspan='8')
                        h5.pull-right(style='color:#3276B1')
                          strong Total : {{totalRecords}}
          .alert.alert-info.fade.in.text-center(ng-if='!haveResult')
            h3 This Library is empty. 
#confirm_del.ng-scope(style='display: none;')
  .confirmon-overlay(style='display: block;')
    .confirmon-box(style='display: block; width:32%')
      p.confirmon-content Are you sure you want to delete ?
      button.confirmon-button.confirmon-button(onclick="$('#confirm_del').hide()") Cancel
      | &nbsp;&nbsp;&nbsp;&nbsp; 
      button.confirmon-button.confirmon-button(ng-click='deleteDocument()') Confirm
