.page-title
  h3
    strong Change Password
.row
  .col-md-12
    .tabcordion
      #myTabContent.tab-content
        #product_general.tab-pane.fade.active.in
          .row
            .col-md-12
              form#form1.form-horizontal(name='editpasswordForm')
                .form-group
                  label.col-sm-3.control-label
                    | Current Password
                    span.asterisk *
                  .col-sm-5
                    input.form-control(type='password', name='hiddenpassword', style='display:none')
                    input.form-control(type='password', name='oldpassword', ng-model='password.curr_pass', maxlength='15', ng-minlength='8', required='required')
                    span.help-inline(ng-show='editpasswordForm.oldpassword.$dirty && editpasswordForm.oldpassword.$error.required') Current Password is required
                    span.help-inline(ng-show='editpasswordForm.oldpassword.$error.minlength') Minimum length 8 is allowed.
                .form-group
                  label.col-sm-3.control-label
                    | New Password
                    span.asterisk *
                  .col-sm-5
                    input.form-control(type='password', name='new_password', ng-model='password.new_pass', maxlength='15', ng-minlength='8', required='required')
                    span.help-inline(ng-show='editpasswordForm.new_password.$dirty && editpasswordForm.new_password.$error.required') New Password is required
                    span.help-inline(ng-show='editpasswordForm.new_password.$error.minlength') Minimum length 8 is allowed.
                .form-group
                  label.col-sm-3.control-label
                    | Re Type New Password
                    span.asterisk *
                  .col-sm-5
                    input.form-control(type='password', name='retype', maxlength='15', ng-model='password.new_retype_pass', ng-minlength='8', required='required')
                    span.help-inline(ng-show='editpasswordForm.retype.$dirty && editpasswordForm.retype.$error.required') Re Type New Password is required
                    span.help-inline(ng-show='editpasswordForm.retype.$error.minlength') Minimum length 8 is allowed.
              .col-md-12.m-t-20.m-b-40.align-center
                button.btn.btn-success.m-t-9(href='#', ng-click='editPassword(password)', ng-disabled='editpasswordForm.$invalid')
                  i.fa.fa-check.p-r-5
                  | Change Password
