style.
  .panel-body
  {
    padding:0 !important
  }
  input[type="file"] 
  {
    color:transparent
  }
#del_img.ng-scope(style='display: none;')
  .confirmon-overlay(style='display: block;')
    .confirmon-box(style='display: block; width:32%')
      p.confirmon-content Are you sure you want to delete Image?
      button.confirmon-button.confirmon-button(onclick="$('#del_img').hide()") Cancel 
      button.confirmon-button.confirmon-button(ng-click='imgDelete()') Confirm
.m-b-20.clearfix
  .pull-left
    h3(ng-if='showrole')
      strong Edit Employee
    h3(ng-if='!showrole')
      strong Edit Profile
  .pull-right(ng-if='showrole')
    a.btn.btn-success.m-t-10(href="/viewadminemployee", ng-if="role == 'admin' && employeeForm.$dirty", ng-confirm-click="")
      i.fa.fa-reply.p-r-10
      | Back  
    a.btn.btn-success.m-t-10(href="/viewmanageremployee", ng-if="role == 'manager' && employeeForm.$dirty", ng-confirm-click="")
      i.fa.fa-reply.p-r-10
      | Back 
    a.btn.btn-success.m-t-10(href="/viewadminemployee", ng-if="role == 'admin' && employeeForm.$pristine")
      i.fa.fa-reply.p-r-10
      | Back  
    a.btn.btn-success.m-t-10(href="/viewmanageremployee", ng-if="role == 'manager' && employeeForm.$pristine")
      i.fa.fa-reply.p-r-10
      | Back  
    a.btn.btn-success.m-t-10(href="/viewhremployee", ng-if="role == 'hr' && employeeForm.$pristine")
      i.fa.fa-reply.p-r-10
      | Back  
    a.btn.btn-success.m-t-10(href="/viewhremployee", ng-if="role == 'hr' && employeeForm.$dirty", ng-confirm-click="")
      i.fa.fa-reply.p-r-10
      | Back  
    
showloader
.row
  .col-md-12
    form#settings.form-horizontal(name="employeeForm", novalidate)
      // BEGIN TABS
      .tabbable.tabbable-custom.form
        .tab-content
          .space20
          #general_settings.tab-pane.active
            .row.profile
              .col-md-12
                .row
                  .col-md-12
                    .col-md-12
                .row.profile-classic
                  .col-md-12.m-t-20
                    .panel
                      .panel-title.line
                        .caption
                          i.fa.fa-phone.c-gray.m-r-10
                          | CONTACT
                      .panel-body
                        .row
                          .control-label.col-md-3 Email:
                            span.asterisk *
                          .col-md-6
                            input.form-control#emailAddress(type='email', placeholder='Enter Email Address', name='empemail', required='required', ng-model='employee.email', ng-readonly='truefalse', maxlength='50', ng-pattern='emailPattern', ng-blur='checkEmailUnique($event)')
                            span.help-inline(ng-show='employeeForm.empemail.$error.pattern') Invalid email Address.
                            span.help-inline(ng-show='employeeForm.empemail.$error.email') Email is Invalid.
                          i.fa.m-t-10(ng-class='emailVerifyClass', ng-if='employee.email') 
                          a.active.cursor-pointer.m-t-10.m-l-5.w-500(ng-click='restorePopup()', ng-if='employee.email', ng-show='showRestoreLink') Restore
                        .row
                          .control-label.col-md-3 Phone:
                            span.asterisk *
                          .col-md-6
                            input#field-1.form-control(type="text", name="phone", placeholder="(xxx) xxx-xxxx", ng-model="employee.phone", phone-input, ng-minlength="10", required="required")
                            span.help-inline(ng-show='employeeForm.phone.$error.minlength') Minimum 10 digits are allowed.
                .row.profile-classic
                  .col-md-12
                    .panel
                      .panel-title.line
                        .caption
                          i.fa.fa-info.c-gray.m-r-10
                          | ABOUT
                      .panel-body
                        .row
                          .control-label.col-md-3 Employee No.
                            span.asterisk *
                          .col-md-6
                            input.form-control#empNo(type='text', ng-model='employee.employeeid', required='required', to-number='to-number', maxlength='4', placeholder='Enter Employee No (Max 4 digits)', ng-blur='generate_random()')
                          i.fa.m-t-10(ng-class='empnoVerifyClass', ng-if='employee.employeeid') 
                        .row
                          .control-label.col-md-3 First Name:
                            span.asterisk *
                          .col-md-6
                            input#field-1.form-control(name="fname", type="text", placeholder="Enter First Name", ng-model="employee.first_name", required="required", maxlength="20", ng-maxlength="20", ng-pattern ="/^[a-zA-Z\']*$/")
                            span.help-inline(ng-show='employeeForm.fname.$error.pattern') Only Follwing characters (a-z A-Z ') are allowed.
                            span.help-inline(ng-show='employeeForm.fname.$error.maxlength') Maximum 20 characters are allowed.
                        .row
                          .control-label.col-md-3 Last Name:
                            span.asterisk *
                          .col-md-6
                            input#field-1.form-control(name="lname", type="text", placeholder="Enter Last Name", ng-model="employee.last_name", maxlength="20", required="required", ng-maxlength="20", ng-pattern ='emplnamePattern')
                            span.help-inline(ng-show='employeeForm.lname.$error.pattern') Only Follwing characters (a-z A-Z ') are allowed.
                            span.help-inline(ng-show='employeeForm.lname.$error.maxlength') Maximum 20 characters are allowed.
                        .row(ng-if="role == 'admin' && showrole")
                          .control-label.col-md-3 Role:
                          .col-md-6
                            select.btn.select_tag(ng-model="employee.emp_role", style="border:solid 1px lightgray")
                              option Employee
                              option Manager
                              option Hr
                .row.profile-classic
                  .col-md-12
                    .panel
                      .panel-title.line
                        .caption
                          i.fa.fa-home.c-gray.m-r-10
                          | ADDRESS
                      .panel-body
                        .row
                          .control-label.col-md-3 Address:
                          .col-md-6
                            input.form-control#locationAddress(type='text', g-places-autocomplete='', ng-model='employee.address.line1', placeholder='United States',required='required', ng-change='changeAdd()', autocomplete="off")
                        .row
                          .control-label.col-md-3 City:
                          .col-md-6
                            input#field-1.form-control(name="city", type="text", placeholder="Enter City Name", ng-model="employee.address.city", maxlength="50", ng-maxlength="50", ng-pattern ="/^[a-zA-Z\s\_\-]+( [a-zA-Z\s\_\-]+)*$/")
                            span.help-inline(ng-show='employeeForm.city.$error.pattern') Only Follwing characters (a-z A-Z _ -) & blank space is allowed.
                            span.help-inline(ng-show='employeeForm.city.$error.maxlength') Maximum 50 characters are allowed.
                        .row
                          .control-label.col-md-3 Street Line:
                          .col-md-6
                            input#field-1.form-control(name="line2", type="text", placeholder="Street Line", ng-model="employee.address.line2", maxlength="50", ng-maxlength="50", ng-pattern ="/^[a-zA-Z0-9\s\_\-]+( [a-zA-Z0-9\s\_\-]+)*$/")
                            span.help-inline(ng-show='employeeForm.line2.$error.pattern') Only Follwing characters (a-z A-Z _ -) & blank space is allowed.
                            span.help-inline(ng-show='employeeForm.line2.$error.maxlength') Maximum 50 characters are allowed.
                        .row
                          .control-label.col-md-3 Zip:
                          .col-md-6
                            input#field-1.form-control(type="text", placeholder="Zip Code", ng-model="employee.address.zip", to-number, maxlength="5", ng-minlength='5', name='zip')
                            span.help-inline(ng-show='employeeForm.zip.$error.minlength') Please enter 5-digit zip code.
                .row.profile-classic
                  .col-md-12
                    .panel
                      .panel-title.line
                        .caption
                          i.fa.fa-bar-chart-o.c-gray.m-r-10
                          | PERSONAL INFORMATION
                      .panel-body
                        .row
                          .control-label.col-md-3 Emergency contact name:
                          .col-md-6
                            input#field-1.form-control(name="emergencyname", type="text", placeholder="Enter Emergency Contact Name", ng-model="employee.emergency_contact_name", maxlength="40", ng-maxlength="20", ng-pattern ="emplnamePattern")
                            span.help-inline(ng-show='employeeForm.emergencyname.$error.pattern') Only Follwing characters (a-z A-Z ') are allowed.
                            span.help-inline(ng-show='employeeForm.emergencyname.$error.maxlength') Maximum 40 characters are allowed.
                        .row
                          .control-label.col-md-3  Emergency contact number:
                          .col-md-6
                            input#field-1.form-control(type="text", name="emergencyphone", placeholder="(xxx) xxx-xxxx", ng-model="employee.emergencyphone", phone-input, ng-minlength="10")
                            span.help-inline(ng-show='employeeForm.emergencyphone.$error.minlength') Minimum 10 digits are allowed.
                        .row
                          .control-label.col-md-3 Driver License:
                          .col-md-6
                            input#field-1.form-control(type="text", placeholder="Enter License",name="license", ng-model="employee.driver_license", maxlength="20", ng-maxlength="20", ng-pattern ="/^[0-9a-zA-Z\s\_\-]+( [0-9a-zA-Z\s\_\-]+)*$/")
                            span.help-inline(ng-show='employeeForm.license.$error.pattern') Only Follwing characters (a-z A-Z) are allowed.
                            span.help-inline(ng-show='employeeForm.license.$error.maxlength') Maximum 20 characters are allowed.
                        .row
                          .control-label.col-md-3 Date Of Birth:
                            span.asterisk *
                          .col-md-6
                            input.form-control(type="text", placeholder="MM/DD/YYYY", ng-model="employee.date_of_birth", style="padding: 8px 12px;", readonly, dateselection="dob", required="required")
                        .row
                          .control-label.col-md-3 Date Of hiring:
                            span.asterisk *
                          .col-md-6
                            input.datepicker.form-control(type="text", placeholder="MM/DD/YYYY", ng-model="employee.date_of_hiring", style="padding: 8px 12px;", readonly, required="required")
                        .row(ng-if="activate")
                          .control-label.col-md-3 Is Active:
                          .col-md-6
                            input(type="radio", name="active", ng-model="employee.active", value="true" ng-checked="is_active_yes")
                            | &nbsp; Yes &nbsp;
                            input(type="radio", name="active", ng-model="employee.active", value="false" ng-checked="is_active_no")
                            | &nbsp; No
                        .row
                          .control-label.col-md-3 Image:
                          .col-md-6
                            input#field-1.form-controlinput(type="file", file-model="myFile",accept="image/*")
                        .row(ng-if="employee.prof_image")
                          .control-label.col-md-3
                          .col-md-4(ng-if="!del_profile_pic && employee.prof_image")
                            button.btn.red.add-block-btn.image_cls.m-b-5(style="bottom:0", type='button', ng-click='deleteusrimg(employee)') X
                            img(src="{{backendsiteurl}}/public/{{employee.prof_image}}")
                .col-sm-12
                  .align-center
                    a.btn.btn-info.m-r-10(href="/viewadminemployee" , ng-if="role == 'admin'")
                      i.fa.fa-reply.p-r-10
                      | Cancel
                    a.btn.btn-info.m-r-10(href="/viewmanageremployee", ng-if="role == 'manager'")
                      i.fa.fa-reply.p-r-10
                      | Cancel 
                    button.btn.btn-success(href="#", ng-click="updateEmployee(employee)")
                      i.fa.fa-check 
                      | Save Changes
