style.
  .multiSelect .checkBoxContainer{
    max-height:200px;
    overflow-y:scroll;
    text-align:left;
    font-size:14px;
  }
  .ng-table-counts {
    display: none;
  }
showloader
.m-b-20.clearfix.sd_top_head
  .page-title.pull-left.col-xs-12.col-md-4.col-sm-2.sd_avail
    h4.pull-left
      strong Employee Schedule/Availability
  .page-title.pull-right.ng-scope.col-xs-12.col-md-8.col-sm-10
    div.f-right(multi-select='', selection-mode = "SINGLE", input-model='modernWebBrowsers', max-labels='1', button-label='fullname', item-label='fullname', tick-property='ticked', required='required', default-label='Search By Employee', on-item-click='fetchEmployeeAvail()', on-close='closeEmpAvailSearch()', style='margin-right:250px;')
.row
  .col-md-12
    .panel.panel-default
      .panel-heading.sd_manage_pd
        .col-xs-12
          .box
            .box-header
              h3.box-title
              .box-tools
                .input-group
            .box-body.table-responsive.no-padding
              h4.align-center.w-700(style='color:#2a6496') Please select week and time slot to see Schedule/Availability.
              .inner-addon.left-addon
                .sd_calender1
                  input.form-control.w-700.align-center(weekpicker='weekpicker', ng-model='schweekdate', placeholder='Choose a week by click here', readonly='readonly', style='border:solid 4px darkgray;color:#2a6496;')
                  i.fa.fa-calendar.f-20
              h4.align-center
                label.m-r-5.checkbox-inline
                  input.input_check(type='radio', ng-model='marked', value='marked', name='shift', ng-change='fetchDataOnChange()', style='margin-right:2px;')
                  | Who have marked their availability
                label.m-r-5.checkbox-inline
                  input.input_check(type='radio', ng-model='marked', value='notmarked', name='shift', ng-change='fetchDataOnChange()', style='margin-right:2px;')
                  | Who haven't marked their availability
      .panel-body(ng-if = "marked == 'notmarked'")
        .row
          .table-container(style='')
            #datatable_ajax_wrapper.dataTables_wrapper.dataTables_extended_wrapper.dataTables_extended_wrapper.no-footer
              .margin-b-10.tbl_response
                table#datatable_ajax.table.table-striped.table-bordered.table-hover.f-left.m-t-10
                  thead
                    tr.heading.purple-bg(role='row')
                  tbody(ng-if = "marked == 'notmarked'")
                    tr(ng-if='NotmarkedhaveResult')
                      th(ng-repeat='a in sevenWeekDayArr', style='width:14%') {{a | date: 'EEE, M/d/yy'}}
                    tr(ng-if='NotmarkedhaveResult')
                      td(colspan='7') 
                        table.table(ng-repeat='siu in availabilityData', style='border :1px outset lightgray;margin-bottom:10px;background-color:#F5F5F5;')
                            tr
                              td.w-700(colspan='7', style='border-top:none')
                                h5(style='color:#2a6496;line-height:0px !important;display:inline;') 
                                {{siu.result[0].first_name}} {{siu.result[0].last_name}} ({{siu.result[0].employeeid}}) - {{matchZipInInitial(siu.result[0].address.zip)}}
                            tr(ng-repeat = 'tsl in timeslots')
                              td.bg-orange(ng-repeat='a in sevenWeekDayArr', style='padding:0px !important;padding-right:2px !important;width:14%;border:solid 1px #fff;vertical-align:middle', ng-if='tsl === "Morning"') 
                                ul
                                  li.m-b-5.p-5.w-700
                                    

                              td.bg-yellow(ng-repeat='a in sevenWeekDayArr', style='padding:0px !important;padding-right:2px !important;width:14%;border:solid 1px #fff;vertical-align:middle', ng-if='tsl === "Afternoon"') 
                                ul
                                  li.m-b-5.p-5.w-700
                                    

                              td.bg-blue(ng-repeat='a in sevenWeekDayArr', style='padding:0px !important;padding-right:2px !important;width:14%;border:solid 1px #fff;vertical-align:middle', ng-if='tsl === "Night"') 
                                ul
                                  li.m-b-5.p-5.w-700
                                   
                              td.bg-dark(ng-repeat='a in sevenWeekDayArr', style='padding:0px !important;padding-right:2px !important;width:14%;border:solid 1px #fff;vertical-align:middle', ng-if='tsl === "Late Night"') 
                                ul
                                  li.m-b-5.p-5.w-700
                                   
                    tr(ng-if='NotmarkedhaveResult')
                      td(colspan='7')
                        h5.pull-right(style='color:#3276B1')
                          strong Total Employees: {{totalentries}}                
                h3.align-center(style='color:#BD362F', ng-if='!NotmarkedhaveResult && (marked == "notmarked")') No Employees for this week.
      .panel-body(ng-if = "marked == 'marked'")
        .row
          .table-container(style='')
            #datatable_ajax_wrapper.dataTables_wrapper.dataTables_extended_wrapper.dataTables_extended_wrapper.no-footer
              .margin-b-10.tbl_response
                table#datatable_ajax.table.table-striped.table-bordered.table-hover.f-left.m-t-10(ng-table='tableParams')
                  thead
                    tr.heading.purple-bg(role='row')
                  tbody(ng-if = "marked == 'marked'")
                    tr(ng-if='haveResult')
                      th(ng-repeat='a in sevenWeekDayArr', style='width:14%') {{a | date: 'EEE, M/d/yy'}}
                    tr(ng-if='haveResult')
                      td(colspan='7') 
                        table.table(ng-repeat='siu in updatedAvailData', style='border :1px outset lightgray;margin-bottom:10px;background-color:#F5F5F5;')
                            tr
                              td.w-700(colspan='7', style='border-top:none')
                                h5(style='color:#2a6496;line-height:0px !important;display:inline;') 
                                {{siu.result[0].empFirstName}} {{siu.result[0].empLastName}} ({{siu.result[0].employeeid}}) - {{matchZipInInitial(siu.result[0].empZipcode)}}
                                h5.w-700(ng-if='siu.comment', style='color:#2a6496;display:inline')  ({{siu.comment}})
                            tr(ng-repeat = 'tsl in timeslots')
                              td.bg-orange(ng-repeat='a in sevenWeekDayArr', style='padding:0px !important;padding-right:2px !important;width:14%;border:solid 1px #fff;vertical-align:middle', ng-if='tsl === "Morning"') 
                                ul
                                  li.m-b-5.p-5.w-700
                                    span(ng-if='gridSchData[siu.empId][a][tsl]') {{twentyfour_to_twelve(gridSchData[siu.empId][a][tsl].shiftReminderTime)}} - {{twentyfour_to_twelve(gridSchData[siu.empId][a][tsl].shiftEndTime)}} -  {{gridSchData[siu.empId][a][tsl].event_account_id[0]}}
                                    span.f-right {{gridData[siu.empId][a][tsl]}}
                              td.bg-yellow(ng-repeat='a in sevenWeekDayArr', style='padding:0px !important;padding-right:2px !important;width:14%;border:solid 1px #fff;vertical-align:middle', ng-if='tsl === "Afternoon"') 
                                ul
                                  li.m-b-5.p-5.w-700
                                    span(ng-if='gridSchData[siu.empId][a][tsl]') {{twentyfour_to_twelve(gridSchData[siu.empId][a][tsl].shiftReminderTime)}} - {{twentyfour_to_twelve(gridSchData[siu.empId][a][tsl].shiftEndTime)}} -  {{gridSchData[siu.empId][a][tsl].event_account_id[0]}}
                                    span.f-right {{gridData[siu.empId][a][tsl]}}

                              td.bg-blue(ng-repeat='a in sevenWeekDayArr', style='padding:0px !important;padding-right:2px !important;width:14%;border:solid 1px #fff;vertical-align:middle', ng-if='tsl === "Night"') 
                                ul
                                  li.m-b-5.p-5.w-700
                                    span(ng-if='gridSchData[siu.empId][a][tsl]') {{twentyfour_to_twelve(gridSchData[siu.empId][a][tsl].shiftReminderTime)}} - {{twentyfour_to_twelve(gridSchData[siu.empId][a][tsl].shiftEndTime)}} -  {{gridSchData[siu.empId][a][tsl].event_account_id[0]}}
                                    span.f-right {{gridData[siu.empId][a][tsl]}}
                              td.bg-dark(ng-repeat='a in sevenWeekDayArr', style='padding:0px !important;padding-right:2px !important;width:14%;border:solid 1px #fff;vertical-align:middle', ng-if='tsl === "Late Night"') 
                                ul
                                  li.m-b-5.p-5.w-700
                                    span(ng-if='gridSchData[siu.empId][a][tsl]') {{twentyfour_to_twelve(gridSchData[siu.empId][a][tsl].shiftReminderTime)}} - {{twentyfour_to_twelve(gridSchData[siu.empId][a][tsl].shiftEndTime)}} -  {{gridSchData[siu.empId][a][tsl].event_account_id[0]}}
                                    span.f-right {{gridData[siu.empId][a][tsl]}}
                    tr(ng-if='haveResult && (marked == "marked")' )
                      td(colspan='7')
                        h5.pull-right(style='color:#3276B1')
                          strong Total Employees: {{(totalRecords / 7) | roundup}}                
                h3.align-center(style='color:#BD362F', ng-if='!haveResult && (marked == "marked")') No Availability and Schedules for this week
               

               
