showloader
.m-b-20.clearfix
  .page-title.pull-left
    h3.pull-left
      strong(ng-copy="$event.preventDefault()") Employee Ranking System
  .row
    .col-md-12
      .panel.panel-default
        .panel-heading
          .col-md-5
            div(multi-select='', selection-mode = "SINGLE", input-model='modernWebBrowsers', max-labels='1', button-label='fullname', item-label='fullname', tick-property='ticked', default-label='Search by Employee Name, Email, EmployeeId', required='required', on-item-click = 'fetchRankings()', on-close='closeSearch()')
          br
        .panel-body
          .row(ng-if='haveResult')
            .table-container
              #datatable_ajax_wrapper.dataTables_wrapper.dataTables_extended_wrapper.dataTables_extended_wrapper.no-footer
                .margin-b-10.tbl_response
                  table#datatable_ajax.table.table-striped.table-bordered.table-hover.f-left(ng-table='tableParams')
                    thead
                      tr#header.heading.purple-bg(role='row')
                        th.unsortheading(width='20%') Name
                        th.unsortheading(width='15%') EER_Ranking                        
                    tbody
                      tr.odd(role='row', ng-repeat='data in rankdata | orderBy : "eer_emprank"', ng-if='haveResult', id='{{data._id}}')
                        td {{data._id.empfname[0]}} {{data._id.emplname[0]}}
                        td {{ $index + 1 }}
                      tr(ng-if='haveResult')
                        td(colspan='6')
                          h5.pull-right(style='color:#3276B1')
                            strong Total Records : {{totalRecords}}
          .alert.alert-info.fade.in.text-center(ng-if='!haveResult')
            h3 No Lists for you this time.


