showloader
.m-b-20.clearfix
  .page-title.pull-left
    h3.pull-left
      strong(ng-copy="$event.preventDefault()") Employee Ranking System
  .row
    .col-md-12
      .panel.panel-default
        .panel-heading
          .col-md-5
            //div(multi-select='', selection-mode = "SINGLE", input-model='modernWebBrowsers', max-labels='1', button-label='fullname', item-label='fullname', tick-property='ticked', default-label='Search by Employee Name, Email, EmployeeId', required='required', on-item-click = 'fetchRankings()', on-close='closeSearch()')
            input.form-control(ng-model="searchtxt" type="text" placeholder="Search By Name ........")
          br
        .panel-body
          .row(ng-if='haveResult')
            .table-container
              #datatable_ajax_wrapper.dataTables_wrapper.dataTables_extended_wrapper.dataTables_extended_wrapper.no-footer
                .margin-b-10.tbl_response
                  table#datatable_ajax.table.table-striped.table-bordered.table-hover.f-left(ng-table='tableParams')
                    thead
                      tr#header.heading.purple-bg(role='row')
                        th.unsortheading(width='20%') Name
                        th.unsortheading(width='15%') EER_Ranking
                        th.unsortheading(width='15%', title='Cumulative score of the (EER_EmpNum + EER_Writeup + EER_EvalRating)') EER_Value
                        th.unsortheading(width='15%', title='Active days since the hiring date') EER_EmpNum
                        th.unsortheading(width='15%', title='All active Writeups value') EER_WriteUp
                        th.unsortheading(width='15%', title='last 10 evaluation average') EER_EvalRating
                    tbody
                      tr.odd(role='row', ng-repeat='data in rankdata | orderBy : "eer_emprank" | filter : searchtxt', ng-if='haveResult', id='{{data._id}}')
                        td {{data._id.empfname[0]}} {{data._id.emplname[0]}}
                        td {{data.eer_emprank}}
                        td {{data._id.rankval + data.evaluationval + getRankEmpNum(data.activeDays, activedaysArr) * 2 | number : 2}}
                        td {{ data.eer_emprank * 2 }} ({{data.eer_emprank}})
                        td {{data._id.rankval * -1 | number : 2}}
                        td {{data.evaluationval | number : 2}}
                      tr(ng-if='haveResult')
                        td(colspan='6')
                          h5.pull-right(style='color:#3276B1')
                            strong Total Records : {{totalRecords}}
          .alert.alert-info.fade.in.text-center(ng-if='!haveResult')
            h3 No Lists for you this time.


