style.
  .multiSelect .checkBoxContainer{
    max-height:200px;
    overflow-y:scroll;
    text-align:left;
    font-size:14px;
  }
showloader
.m-b-20.clearfix.sd_top_head
  .page-title.pull-left.col-xs-12.col-md-4.col-sm-2.sd_avail
    h4.pull-left
      strong Employees Available to Schedule
  .page-title.pull-right.ng-scope.col-xs-12.col-md-8.col-sm-10(ng-if='days.length')
    h4.pull-right.text-right.sd_legend
      input.legend.yes(type='text', disabled='disabled')
      strong.p-r-10  Yes
      input.legend.maybe(type='text', disabled='disabled')
      strong.p-r-10  Maybe
      input.legend.no(type='text', disabled='disabled')
      strong.p-r-10  No
      input.legend.yesforced(type='text', disabled='disabled')
      strong.p-r-10  Screwed Yes
      input.legend.maybeforced(type='text', disabled='disabled')
      strong.p-r-10  Screwed Maybe
.row
  .col-md-12
    .tabcordion
      #myTabContent.tab-content
        #product_general.tab-pane.fade.active.in
          .row
            .col-xs-12
              .box
                .box-header
                  h3.box-title
                  .box-tools
                    .input-group
                .box-body.table-responsive.no-padding
                  h4.align-center.w-700(style='color:#2a6496') Please select week and time slot to see available to schedule.
                  .inner-addon.left-addon
                    .sd_calender1
                      input.form-control.w-700.align-center(weekpicker='weekpicker', ng-model='empweekdate', placeholder='Choose a week by click here', readonly='readonly', style='border:solid 4px darkgray;color:#2a6496;')
                      i.fa.fa-calendar.f-20
                  h4.align-center
                    label.m-r-5.checkbox-inline
                      input.input_check(type='radio', ng-model='shift', value='Morning', ng-change='fetchscheduleReportOnChangeShift()', style='margin-right:2px;')
                      | Morning
                    label.m-r-5.checkbox-inline
                      input.input_check(type='radio', ng-model='shift', value='Afternoon', ng-change='fetchscheduleReportOnChangeShift()', style='margin-right:2px;')
                      | Afternoon
                    label.m-r-5.checkbox-inline
                      input.input_check(type='radio', ng-model='shift', value='Night', ng-change='fetchscheduleReportOnChangeShift()', style='margin-right:2px;')
                      | Night
                    label.m-r-5.checkbox-inline
                      input.input_check(type='radio', ng-model='shift', value='LateNight', ng-change='fetchscheduleReportOnChangeShift()', style='margin-right:2px;')
                      | Late Night
                    label.m-r-5.checkbox-inline
                      div(multi-select='', selection-mode = "SINGLE", input-model='modernWebBrowsers', max-labels='1', button-label='fullname', item-label='fullname', tick-property='ticked', required='required', default-label='Search By Employee', on-item-click='fetchEmployeeAvail()', on-close='closeEmpAvailSearch()')
                .sd_tbl_response1
                  table.table.table-bordered.m-t-10(ng-if='days.length')
                    tr
                      th(ng-repeat='week in weekdays') {{week}}
                    tr
                      td(ng-repeat='week in weekdays')
                        ul
                          li(ng-repeat='day in days | filter: { day: week }')
                            ul
                              li.m-t-10(ng-repeat='emp in day.employees |orderBy : "textOrder" | filter:filterByClass', ng-class='emp.textclass')
                                span.w-700.f-14(title='{{emp.fullname}}') 
                                  | {{emp.empRandomGeneratedID_id | numberFixedLen:4}}/ {{emp.fullname}} - {{matchZipInInitial(emp.zipcode)}}
                h3.align-center(style='color:#BD362F', ng-if='(days[0] == null) || (!availabilityData.length && availabilityData_status == 200)') No Availability is pending to schedule for this week
               
