style.
  .multiSelect .checkBoxContainer{
    max-height:200px;
    overflow-y:scroll;
  }
#modal-evaluationlist.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog(style="width:800px;")
    .modal-content
      .modal-header(style='background-color:lightgray')
        button.close(type='button', data-dismiss='modal', aria-hidden='true', title="Close") X
        h4#myModalLabel.modal-title Evaluation List
      .modal-body(style='line-height:25px;font-weight:bolder;max-height:480px;min-height:400px;overflow-y:auto')
        span(ng-repeat='eval in evaluationList')
          p Evaluation by 
            b {{eval.manager.first_name}} {{eval.manager.last_name}} 
            | on {{eval.created_date | date : 'mediumDate'}} is 
            b {{eval.evaluation}}
            i.fa.fa-trash-o.cursor-pointer.f-20.p-l-10.f-right(title='Remove Evaluation', ng-if="(userRole==='admin' || userRole==='manager' || userRole==='hr')", ng-click="removeEval(eval._id)", style='color:#0090d9;')
      .modal-footer
        button.btn.btn-success(type='button', data-dismiss='modal', aria-hidden='true', title="Close") Close
.m-b-20.clearfix
  .pull-left
    h3
      strong Employee Evaluation
  .pull-right
    a.btn.btn-info.m-t-10(href='/evalquestions')
      i.fa.fa-list.p-r-10
      | Questions List
.row
  .col-md-12
    .tabcordion
      #myTabContent.tab-content
        #product_general.tab-pane.fade.active.in
          .row
            .col-md-12
              form#form1.form-horizontal(name='evaluationForm', novalidate='')
                .form-group
                  .col-sm-3
                    div(multi-select='', selection-mode = "SINGLE", input-model='modernWebBrowsers', max-labels='1', button-label='fullname', item-label='fullname', tick-property='ticked', default-label='Select Employee', required='required')
                  .col-sm-3
                    div(multi-select='', selection-mode = "SINGLE", input-model='allManagers', max-labels='1', button-label='fullname', item-label='fullname', tick-property='ticked', default-label='Select Manager', style='padding-left:0px')
                  button.btn.btn-info.m-r-10(ng-click='fetchEvaluation()')
                    i.glyph-icon.flaticon-star105.p-r-10
                    | Evaluation List
              table#datatable_ajax.table.table-bordered.table-hover.f-left
                tbody
                  tr.odd(role='row', ng-repeat='data in allQuestions', ng-if='haveResult', id='{{data._id}}')
                    td.text-left.w-600(width='95%'){{data.title}}
                    td(text-center)
                      input(type='text', ng-model='evaluationData[data._id]', decimal='decimal', maxlength = '4', style='width:45px;')
              .col-md-12.m-t-20.m-b-40.align-center.sd_last_btn
                button.btn.btn-default.m-r-10.m-t-10(href='#', ng-click='cleardata()')
                  i.fa.fa-reply.p-r-10
                  | Clear
                button.btn.btn-success.m-t-10(ng-disabled="!haveResult", href='#', ng-click='addEvaluation(evaluationData)')
                  i.fa.fa-check.p-r-10
                  | Add Evaluation               