.page-title
  h3 
    strong Manage Event shifts
.row
  .col-md-12
    .tabcordion
      #myTabContent.tab-content
        #product_general.tab-pane.fade.active.in
           .row
            .col-md-12
              .tabcordion
                #myTabContent.tab-content
                  #product_general.tab-pane.fade.active.in
                    .row
                .col-xs-11
                  .box
                    .box-header
                      h3.box-title
                      .box-tools
                        .input-group
                    // /.box-header
                    .box-body.table-responsive.no-padding
                      .col-md-12.m-t-20.m-b-40.align-center
                        input.m-t-20.m-b-20.f-20(type="checkbox" ng-model="showendtime", ng-change="ShowEndTime()")
                        h4(style="display:inline;color:#2A64A4")  Please tick the box if you want to fill end time in shifts.
                      table.table.table-bordered
                        tr
                          th(width='10%', style="background-color:#DFDBD2") Time Slots 
                          th.align-center(style="background-color:#DFDBD2", colspan='{{weekdays.length }}') Weekdays 
                        tr
                          th(style="background-color:#DFDBD2")
                          th(ng-repeat='week in weekdays') {{week}}
                        tr(ng-repeat='tmsl in timeslots')
                          th(style="background-color:#DFDBD2") {{tmsl}}
                          td(ng-repeat='week in weekdays')
                            table(style="width:85%")
                              tr
                                td
                                  select(ng-model='gridDataST[week][tmsl]', ng-options="timeslot.value as timeslot.name for timeslot in timeslotsvalue", ng-init="gridDataST[week][tmsl] = '12:00 PM'")
                                  select(ng-model='gridDataET[week][tmsl]', ng-options="timeslot.value as timeslot.name for timeslot in timeslotsvalue", ng-show="showendtime", ng-init="gridDataET[week][tmsl] = '01:00 PM'")
                                td
                                  i.fa.fa-plus-circle.f-20.c-green(title="Add Shift", style="cursor:pointer", ng-click="AddShift(week, tmsl, gridDataST[week][tmsl], gridDataET[week][tmsl])")
                      .col-md-12.m-t-20.m-b-40.align-center
                        h4(style="color:#2A64A4")  Preview Of Shifts.
                      table.table.table-bordered(style="background-color:#f8f8f8")
                        tr
                          th(style="background-color:#DFDBD2") Time Slots 
                          th.align-center(style="background-color:#DFDBD2;width:13%", colspan='{{weekdays.length }}') Weekdays 
                        tr
                          th(style="background-color:#DFDBD2;")
                          th(ng-repeat='week in weekdays', style="width:13%") {{week}}
                        tr(ng-repeat='tmsl in timeslots')
                          th(style="background-color:#DFDBD2;") {{tmsl}}
                          td(ng-repeat='week in weekdays')
                            table(style="width:100%")
                              tr
                                td.align-center
                                  i.fa.fa-refresh.f-15(title="Clear all Shifts", style="cursor:pointer;padding-left:4px;", ng-click="ClearAllShift(week, tmsl)", ng-show="fetchshiftdata(week,tmsl).shifts.length > 1 ")
                              tr
                                td
                                  span(ng-repeat = "st in fetchshiftdata(week,tmsl).shifts")
                                    h5.w-600(style="display:inline;color:#2A64A4") {{$index + 1}}) {{st.startShiftTime}}
                                    h5.w-600(style="display:inline;color:#2A64A4", ng-show="showendtime") -{{st.endshiftTime}} 
                                    i.fa.fa-minus-circle.f-20.c-red.p-l-5(title="Remove Shift",style="cursor:pointer;",ng-click="RemoveShift(week, tmsl, st)")
                                    br.m-t-5
                              
                        // numbers-only="numbers-only"
                    // /.box-body
                  // /.box
            .col-md-12.m-t-20.m-b-40.align-center
                button.btn.btn-success.m-t-10(ng-click="submitBuffer(gridData)")
                  i.fa.fa-check
                  | Submit       
                  