.verticalcenter
  h1.brand
    img(alt='EpicValet', src='https://epicvalet.com/wp-content/uploads/2014/01/epic-valet-logo1.png')
  .panel.login
    .panel-body
      h4.text-center(style='margin-bottom: 25px') Reset Your Password
      .text-center(ng-class='alertType', role='alert', ng-show='showforgetmessage')
        button.close(aria-hidden='true', data-dismiss='alert', type='button') &#215
        strong.ng-binding {{message}}
      form.form-horizontal(style='margin-bottom: 0px;', name='forgetPassword', ng-submit='forgetpassword()', novalidate='')
        .form-group
          .col-sm-12
            .input-group
              span.input-group-addon
                i.fa.fa-user
              input.form-control(type='email', name='emailAddress', placeholder='user@example.com', ng-model='credentials.email', autofocus='autofocus', required='required', maxlength='50', ng-pattern="emailPattern")
            span.help-inline(style='color:#b94a48;font-weight: 500;margin-left:10%', ng-show='forgetPassword.emailAddress.$error.email') Invalid email Address
            span.help-inline(style='color:#b94a48;font-weight: 500;margin-left:10%', ng-show='forgetPassword.emailAddress.$error.pattern') Invalid email Address
        .pull-left
          | Back to 
          a(href='/login') Login
        .pull-right
          button.btn.btn-primary(type='submit', ng-disabled='forgetPassword.$invalid') Reset
