style.
  .multiSelect .checkBoxContainer{
      max-height:200px;
      overflow-y:scroll;
  }
showloader
.m-b-20.clearfix
  .page-title.pull-left
    h3.pull-left.head_to
      strong  Hours Worked Report ({{dateRange.start_date}} - {{dateRange.end_date}})
  .pull-right
    button.btn.btn-primary.m-t-10(ng-if='haveResult', excel-export export-data="exportData" file-name="'HoursWorkedReport'")
.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        form#form1.form-horizontal(name='availableRangeForm', novalidate='')
          .row
            .col-md-2.col-sm-2.col-xs-12.mar_bt10
              input.datepicker.form-control(type='text', name='stDate', placeholder='Start Date', ng-model='dateRange.start_date', style='padding: 8px 12px;', required='', readonly='readonly')
            .col-md-2.col-sm-2.col-xs-12.mar_bt10
              input.datepicker.form-control(type='text', name='enDate', placeholder='End Date', ng-model='dateRange.end_date', style='padding: 8px 12px;', required='', readonly='readonly')
            .col-md-2.col-sm-2.col-xs-12.mar_bt10
              div(multi-select='', selection-mode = "SINGLE", input-model='allEvents', max-labels='1', button-label='buttonlabel', item-label='buttonlabel', tick-property='ticked', style='padding-left:0px', default-label='Select Account')
            .col-md-3.col-sm-2.col-xs-12.mar_bt10
              div(multi-select='', selection-mode = "SINGLE", input-model='modernWebBrowsers', max-labels='1', button-label='fullname', item-label='fullname', tick-property='ticked', required='required', default-label='Select Employee')
            .col-md-3.col-sm-2.col-xs-12.mar_bt10
              button.btn.btn-success.grnbtn100(href='#', ng-click='getReport(dateRange)', ng-disabled='availableRangeForm.$invalid')
                i.fa.fa-check.p-r-10
                | Fetch Reports
      .panel-body(style='clear:both')
        .row
          .table-container(style='')
            #datatable_ajax_wrapper.dataTables_wrapper.dataTables_extended_wrapper.dataTables_extended_wrapper.no-footer
              .margin-b-10.tbl_response
                table#datatable_ajax.f-left(ng-table='tableParams', style='width:100%')
                  thead
                  tbody
                    tr(role='row', ng-repeat='dt in hoursworkedReport', ng-if='haveResult')
                      td(colspan='6')
                        table.table.table-bordered.table-hover.f-left.m-b-0
                          thead(ng-show='$index == 0')
                            tr
                              th.unsortheading Emp #
                              th.unsortheading Username
                              th.unsortheading Account
                              th.unsortheading Date of Shift
                              th.unsortheading Start Time
                              th.unsortheading End Time
                              th.unsortheading Break
                              th.unsortheading(title='Working hours') Hours
                          tbody
                            tr(ng-repeat='data in dt.Timesheets')
                              td.text-center(width='5%') {{data.employeeid[0]}}
                              td.text-center(width='15%') {{data.first_name[0]}} {{data.last_name[0]}}
                              td.text-center(width='20%') {{data.accountName[0]}}
                              td.text-center(width='15%') {{data.clockInDateTime | date:'MM/dd/yyyy'}}
                              td.text-center(width='15%') {{data.clockInDateTime | date:'MM/dd/yyyy HH:mm'}}
                              td.text-center(width='15%') {{data.clockOutDateTime | date:'MM/dd/yyyy HH:mm'}}
                              td.text-center(width='15%') {{timeToDecimal(data.totalBreakTime)}}
                              td.text-center(width='15%') {{timeToDecimal(data.totalTimeDiff)}}
                            tr
                              td.text-right.w-600(colspan='8', style='color:#2a6496') Total Hours : {{timeToDecimal(dt.totalTimeDiffSum)}}
                    tr(ng-if='haveResult')
                      td.text-right.w-600(colspan='8', style='color:#2a6496') Total Report Hours : {{timeToDecimal(totalreportHours)}}
          .alert.alert-info.fade.in.text-center(ng-if='!haveResult')
            h4 No reports found for this selection.