.verticalcenter
  h1.brand
    img(alt='EpicValet', src='https://epicvalet.com/wp-content/uploads/2014/01/epic-valet-logo1.png')
  .panel.login
    .panel-body
      h4.text-center(style='margin-bottom: 25px') Log in to get started
      .centeralign(ng-class='alertType', role='alert', ng-show='showmessage')
        button.close(aria-hidden='true', data-dismiss='alert', type='button') &#215
        strong.ng-binding {{message}}
      form.form-horizontal(style='margin-bottom: 0px;', name='loginForm', ng-submit='login()', autocomplete='on', novalidate='')
        .form-group
          .col-sm-12
            .input-group
              span.input-group-addon
                i.fa.fa-user
              input.form-control(type='email', name='emailAddress', placeholder='Enter Email Address', ng-model='credentials.email', autofocus='autofocus', required='required', maxlength='50', ng-maxlength="50",ng-pattern="emailPattern")
            span.help-inline(style='color:#b94a48;font-weight: 500;margin-left:10%', ng-show='loginForm.emailAddress.$error.email') Invalid email Address
            span.help-inline(style='color:#b94a48;font-weight: 500;margin-left:10%', ng-show='loginForm.emailAddress.$error.pattern') Invalid email Address.
            span.help-inline(ng-show='loginForm.emailAddress.$error.maxlength') Maximum 50 characters are allowed.
        .form-group
          .col-sm-12
            .input-group
              span.input-group-addon
                i.fa.fa-lock
              input.form-control(name='password', type='password', placeholder='password', ng-model='credentials.password', required='required', maxlength='15')
        .pull-right
          button.btn.btn-primary(type='submit', ng-disabled='loginForm.emailAddress.$invalid || loginForm.password.$invalid') Log In
      .forget
        a#forgetpassword(href='/forgetpassword') Forgot Password ?
