showloader
.m-b-20.clearfix
  .page-title.pull-left
    h3.pull-left
      strong Activities
.row(ng-show='visibility')
  .col-md-12
    .panel.panel-default
      .panel-body
        .row
          .table-container
            #datatable_ajax_wrapper.dataTables_wrapper.dataTables_extended_wrapper.dataTables_extended_wrapper.no-footer
              .margin-b-10.table-responsive.pad_b15
                table#datatable_ajax.table.table-striped.table-bordered.table-hover.f-left(ng-table='tableParams')
                  thead
                    tr#header.heading.purple-bg(role='row')
                      th.text-center(style='width:10%') 
                        a.cursor-pointer(ng-click="sortType = 'notification_type'; sortReverse = !sortReverse; sortOrderby('notification_type',sortReverse);")
                          strong Type
                          span.fa.fa-sort.m-l-5(ng-class="getIcon('notification_type')")
                      th.text-center.unsortheading.get(style='width:60%') 
                        a.cursor-pointer(ng-click="sortType = 'message'; sortReverse = !sortReverse; sortOrderby('message',sortReverse);")
                          strong Activity
                          span.fa.fa-sort.m-l-5(ng-class="getIcon('message')")
                      th.text-center.unsortheading.get(style='width:10%') Sendby
                      th.text-center(width="15%")
                        a.cursor-pointer(ng-click="sortType = 'sent_date'; sortReverse = !sortReverse; sortOrderby('sent_date',sortReverse);")
                          strong Timestamp
                          span.fa.fa-sort.m-l-5(ng-class="getIcon('sent_date')")
                  tbody
                    tr.odd(role='row', ng-repeat="data in $data", ng-if='haveResult', id='{{data._id}}')
                      td.get {{data.notification_type}}
                      td.get {{data.message}}
                      td.get(title='{{data.sender_id.phone}}, {{data.sender_id.email}}') {{data.sender_id.first_name}} {{data.sender_id.last_name}}
                      td.get.text-center {{data.sent_date | date : 'MM/dd/yyyy'}}
                    tr(ng-if='haveResult')
                      td(colspan='4')
                        h5.pull-right(style='color:#3276B1')
                          strong Total : {{totalRecords}}
          .alert.alert-info.fade.in.text-center(ng-if='!haveResult')
            h3 This Library is empty. 
#confirm_del.ng-scope(style='display: none;')
  .confirmon-overlay(style='display: block;')
    .confirmon-box(style='display: block; width:32%')
      p.confirmon-content Are you sure you want to delete ?
      button.confirmon-button.confirmon-button(onclick="$('#confirm_del').hide()") Cancel
      | &nbsp;&nbsp;&nbsp;&nbsp; 
      button.confirmon-button.confirmon-button(ng-click='deleteDocument()') Confirm
