showloader
#del_memo.ng-scope(style='display: none;')
  .confirmon-overlay(style='display: block;')
    .confirmon-box(style='display: block; width:32%')
      p.confirmon-content Are you sure you want to delete Memo?
      button.confirmon-button.confirmon-button(onclick="$('#del_memo').hide()") Cancel
      button.confirmon-button.confirmon-button(ng-click='memoDelete()') Confirm
.m-b-20.clearfix
  .page-title.pull-left
    h3.pull-left
      strong Memo List  
.top-menu
  a.btn(ng-click='inbox()', ng-class='colorInb')
    strong Inbox
    span.label.label-danger.m-l-10(ng-bind='msgsCount', ng-if='msgsCount>0')
  a.btn(ng-click='sent()', ng-class='colorSnt', ng-if='userPriv')
    strong Sent Memos
  a.btn(ng-click='schMsg()', ng-class='colorSch', ng-if='userPriv')
    strong Schedule Texts
.row(ng-show='visibility')
  .col-md-12
    .panel.panel-default
      .panel-heading.fl_l100
        .col-md-6.col-sm-6.col-xs-12
          .input-group.m-b-10
            input.form-control.w-700(type='text', placeholder='Search by title...', ng-model='searchText.val', style='border:solid 2px darkgray;color:#2a6496;')
            span.input-group-addon
              i.fa.fa-search
        .col-md-6.col-sm-6.col-xs-12
          .DTTT_container.sd_btnsuccess(ng-if='userPriv')
            button.btn.btn-success(ng-click='sendScheduleMsg()')
              i.fa.fa-clock-o.p-r-5
              |  Schedule Reminder
            button.btn.btn-success(ng-click='addmemo()')
              i.fa.fa-plus.p-r-5
              |  Add Memo
      .panel-body
        .table-container(style='')
          #datatable_ajax_wrapper.dataTables_wrapper.dataTables_extended_wrapper.dataTables_extended_wrapper.no-footer
            .margin-b-10.table-responsive.pad_b15
              table#datatable_ajax.table.table-striped.table-bordered.table-hover.f-left.sd_table_memo(ng-table='tableParams' style='width:100% !important')
                thead
                  tr.heading.purple-bg(role='row' ng-if='!scheduletextvisibility')
                    th(width='13%')
                      a.cursor-pointer(ng-click="sortType = 'title'; sortReverse = !sortReverse; sortOrderby('title',sortReverse);")
                        strong Title
                        span.fa.fa-sort.m-l-5(ng-class="getIcon('title')")
                    th.unsortheading(width='13%') Created date
                    th.unsortheading(width='13%') From
                    th.unsortheading(width='13%') Attachment
                    th.unsortheading(width='13%') Action
                  tr.heading.purple-bg(role='row' ng-if='scheduletextvisibility')
                    th(width='13%')
                      a.cursor-pointer(ng-click="sortType = 'title'; sortReverse = !sortReverse; sortOrderby('title',sortReverse);")
                        strong Title
                        span.fa.fa-sort.m-l-5(ng-class="getIcon('title')")
                    th.unsortheading(width='20%') Description
                    th.unsortheading(width='13%') Execute Time
                    th.unsortheading(width='13%') Cron Time
                    th.unsortheading(width='13%') From
                    th.unsortheading(width='13%') Status
                    th.unsortheading(width='13%') Action
                tbody.no-bd-y
                  tr.odd(role='row', ng-repeat='data in $data', ng-if='haveResult && !scheduletextvisibility')
                    td(ng-bind='data.title', ng-class="checkRead(user._id, data.sent_to)?'w-300':'w-700'")
                    td.text-center(ng-bind="data.created_date | date: 'MM/dd/yyyy'", ng-class="checkRead(user._id, data.sent_to)?'w-300':'w-700'")
                    td.text-center(ng-bind='data.creator_name', ng-class="checkRead(user._id, data.sent_to)?'w-300':'w-700'")
                    td.text-center(ng-if = 'data.my_file.length')
                      i.fa.fa-paperclip.m-l-10.f-24(ng-click='download_memo(data)', style='cursor:pointer;')
                    td.text-center(ng-if = '!data.my_file.length') --
                    td.text-center
                      a.btn.btn-primary.btn-sm(href='/memo/{{data._id}}', rel='tooltip', title='Read Memo', type='button', ng-click='markRead(data._id)', ng-class="data.admin_checked?'btn-info':'btn-warning'", ng-if="userRole === 'admin'") Read 
                      a.btn.btn-primary.btn-sm(href='/memo/{{data._id}}', rel='tooltip', title='Read Memo', type='button', ng-click='markRead(data._id)', ng-class="checkRead(user._id, data.sent_to)?'btn-info':'btn-warning'", ng-if="userRole === 'other'") Read
                      //a.btn.btn-primary.btn-sm(rel='tooltip', title='Read Memo', type='button', ng-click='open_edit(memo)', ng-class="checkRead(user._id, data.sent_to)?'btn-info':'btn-warning'", ng-if="userRole ==='admin' && edit == true  && data.mins <=15") Edit
                      //a.btn.btn-danger.btn-sm(rel='tooltip', title='Read Memo', type='button', ng-click='delmemos(data._id)', ng-class="checkRead(user._id, data.sent_to)?'btn-info':'btn-warning'", ng-if="userRole ==='admin' && showDelete == true && data.mins <= 15") Delete
                  tr.odd(role='row', ng-repeat='data in $data', ng-if='scheduletextvisibility')
                    td(ng-bind='data.title')
                    td(ng-bind='data.description| limitTo : 100', title='{{data.description}}')
                    td.text-center(ng-bind="data.schDate | date: 'MM/dd/yyyy'")
                    td.text-center(ng-bind="data.cronTimestr")
                    td.text-center(ng-bind='data.created_by_name')
                    td.text-center
                      span.c-green(ng-if='data.CronStatus') Executed
                      span.c-red(ng-if='!data.CronStatus') Not Executed
                    td.text-center
                      .label.cursor-pointer.label-danger(ng-if='!data.status', title="Active Cron", ng-click="activeInactiveCron(data)") Inactive
                      .label.cursor-pointer.label-success(ng-if='data.status', title="Inactive Cron", ng-click="activeInactiveCron(data)") Active
                  tr(ng-if='haveResult')
                    td(colspan='8')
                      h5.pull-right(style='color:#3276B1')
                        strong Total : {{totalRecords}}
        .alert.alert-info.fade.in.text-center(ng-if='!haveResult')
          h3 No data is found for you this time.

// BEGIN MODAL
#get-modal.modal(style='display:block;')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', ng-click='closemodal()', data-dismiss='modal', aria-hidden='true') ×
        h4.modal-title(style='text-align:center')
          | Edit Memo
          .modal-body
            form#form1.form-horizontal(name='eventForm')
              .form-group
                label.col-sm-3.control-label Memo Title
                .col-sm-7
                  input.form-control(type='text', placeholder='Enter title', ng-model='currentMemo.title', required='required')
              .form-group
                label.col-sm-3.control-label Description
                .col-sm-7
                  textarea.form-control(placeholder='Enter description', ng-model='currentMemo.description', rows='6')
          .modal-footer
            button.btn.btn-default(type='button', ng-click='closemodal()', data-dismiss='modal') Close
            button.btn.btn-success(type='button', ng-click='save_memo()', data-dismiss='modal') Save changes    
    // END MODAL
