showloader
#modal-timesheets.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header(style='background-color:lightgray')
        button.close(type='button', data-dismiss='modal', aria-hidden='true') X
        h4#myModalLabel.modal-title Timesheet information
      .modal-body(style='line-height:25px;font-weight:bolder;max-height:480px;overflow-y:auto')
        p(ng-repeat='timeshift in timesheetDetailInfo', style="border-bottom:solid 1px lightgray")
          span Clocked In By : {{timeshift.userId.first_name}} {{timeshift.userId.last_name}} ( {{timeshift.clockInDateTime | date : 'MM/dd/yyyy HH:mm:ss'}} )
          br
          span Event / Account Name : {{timeshift.eventId.name}}
          br
          input.form-control.datetimepicker(type='text', placeholder='ClockOut Time In : MM/DD/YYYY HH:MM', ng-model='clockdata[$index].clockOutDateTime', style='padding: 8px 12px;cursor:pointer !important;width:70%', readonly='readonly', ng-change='chkTime()')
          input.form-control.m-l-5(type='text', ng-model='clockdata[$index].break', placeholder = 'Break (In Minutes)', style='padding: 8px 12px;width:25%', to-number = 'to-number', maxlength = 3)
          br
          span.f-right
            button.btn.btn-link(type='button', ng-click='clockOutFromMissedPunch(timeshift, clockdata[$index])', data-toggle='modal', data-target='#modal-clockoutBlock',) Clock Out
          br
          br
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Close
.m-b-20.clearfix
  .page-title.pull-left
    h3.pull-left.head_to
      strong  Missed PunchOut Report ({{dateRange.start_date}} - {{dateRange.end_date}})
.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        form#form1.form-horizontal(name='availableRangeForm', novalidate='')
          .row
            .col-md-3.col-sm-3.col-xs-12.mar_bt10
              input.datepicker.form-control(type='text', name='stDate', placeholder='Start Date', ng-model='dateRange.start_date', style='padding: 8px 12px;', required='', readonly='readonly')
            .col-md-3.col-sm-3.col-xs-12.mar_bt10
              input.datepicker.form-control(type='text', name='enDate', placeholder='End Date', ng-model='dateRange.end_date', style='padding: 8px 12px;', required='', readonly='readonly')
            .col-md-3.col-sm-3.col-xs-12.mar_bt10
              button.btn.btn-success.grnbtn100(href='#', ng-click='getReport(dateRange)', ng-disabled='availableRangeForm.$invalid')
                i.fa.fa-check.p-r-10
                | Fetch Reports
      .panel-body(style='clear:both')
        .row
          .table-container(style='')
            #datatable_ajax_wrapper.dataTables_wrapper.dataTables_extended_wrapper.dataTables_extended_wrapper.no-footer
              .margin-b-10.tbl_response
                table#datatable_ajax.table.table-striped.table-bordered.table-hover.f-left(ng-table='tableParams')
                  thead
                    tr
                      th.unsortheading Punch Date
                      th.unsortheading Missed Punches Count
                  tbody
                    tr.odd(role='row', ng-repeat='data in $data', ng-if='haveResult')
                      td.text-center {{data.missedPunchTimesheets[0].clockInDateTime|date:'MM/dd/yyyy'}}
                      td.text-center.cursor-pointer.c-blue(data-toggle='modal', data-target='#modal-timesheets', ng-click='showTimesheets(data.missedPunchTimesheets)') {{data.missedPunchTimesheets.length}}
                  tfoot(ng-if='haveResult')
                    tr
                      th.text-left(colspan='5')
                        span.f-right.dis-block.c-blue Total Missed Count : {{totalCountInRange}} 
                        br
          .alert.alert-info.fade.in.text-center(ng-if='!haveResult')
            h4 No reports found for this selection.
