#modal-usertodos.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog(style="width:1000px;")
    .modal-content
      .modal-header(style='background-color:lightgray')
        button.close(type='button', data-dismiss='modal', aria-hidden='true', title="Close") X
        h4#myModalLabel.modal-title.dis-inline-b {{listdetails.listname}} {{chkval}}
        label.checkbox-inline.f-right.m-r-20(ng-if="todoItemList.length")
          i.fa.fa-circle.m-t-5(style='color:gray;') 
          span.p-l-5 Assign Date
          i.fa.fa-circle.p-l-20.m-t-5(style='color:#d9534f;')
          span.p-l-5 Due Date
          i.fa.fa-circle.p-l-20.m-t-5(style='color:green;') 
          span.p-l-5 completion Date
      .modal-body(style='line-height:25px;font-weight:bolder;max-height:480px;overflow-y:auto')
        div(ng-repeat='x in todoItemList | orderBy : "due_date"')
          label.checkbox-inline(style='width:100%;')
            input(type='checkbox', ng-model='x.done', ng-change='completeToDo(x,listdetails._id,listdetails)', style='with:10%')
            span.f-left.p-l-5(ng-bind='x.todoText', ng-class="strikethrough(x.done)", , style='width:45%')
            span.p-l-5.dis-inline-b(style='color:#0090d9;width:10%') -- {{x.assign_by.first_name}} {{x.assign_by.last_name}}
            span.f-right.p-l-5(style='width:35%') 
              i.fa.fa-circle.p-l-5.m-t-5(style='color:gray;', title="Assign Date")
              span.p-l-5(ng-bind='x.assign_date| date:"MM/dd/yyyy"')
              i.fa.fa-circle.p-l-5.m-t-5(style='color:#d9534f;', title="Due Date")
              span.p-l-5(ng-bind='x.due_date| date:"MM/dd/yyyy"')
              i.fa.fa-circle.p-l-5.m-t-5(style='color:green;', ng-if="x.completion_date", title="Completion Date")
              span.p-l-5(ng-bind='x.completion_date| date:"MM/dd/yyyy"', ng-if="x.completion_date")
      .modal-footer.text-center
        span.m-l-60.p-l-5.p-r-5.btn-warning.w-600(style="color:#0090d9") Mark ToDo Items to make it Complete, it will send an email notification to Assigner.
        br
        br
        span.m-l-60.p-l-5.p-r-5.btn-warning.w-600(style="color:#0090d9") Completed Items can be removed by Admin.
showloader
.m-b-20.clearfix
  .page-title.pull-left
    h3.pull-left
      strong(ng-copy="$event.preventDefault()") My To Do Lists
      a(href='/mytodocalendar', style='margin-top:10px;font-size:20px;', title='My ToDo Calendar')
        i.flaticon-calendar5
.row(ng-show='visibility')
  .col-md-12
    .panel.panel-default
      .panel-heading
        .col-md-6.col-sm-6.col-xs-12
          .input-group.m-b-10
            input.form-control.w-700(type='text', placeholder='Search by list title.', ng-model='searchText.val', style='border:solid 2px darkgray;color:#2a6496;')
            span.input-group-addon
              i.fa.fa-search
      .panel-body
        .row
          .table-container
            #datatable_ajax_wrapper.dataTables_wrapper.dataTables_extended_wrapper.dataTables_extended_wrapper.no-footer
              .margin-b-10.tbl_response
                table#datatable_ajax.table.table-striped.table-bordered.table-hover.f-left(ng-table='tableParams')
                  thead
                    tr#header.heading.purple-bg(role='row')
                      th(width='3%')
                      th(width='40%')
                        a.cursor-pointer(ng-click="sortType = 'listname'; sortReverse = !sortReverse; sortOrderby('listname',sortReverse);")
                          strong Lists
                          span.fa.fa-sort.m-l-5(ng-class="getIcon('listname')")
                      th.text-center.unsortheading.get(width="10%") Assigned By
                      th.text-center.unsortheading.get(width="5%") Tasks
                  tbody
                    tr.odd(role='row', ng-repeat='data in $data', ng-if='haveResult', id='{{data._id}}')
                      td.text-center
                        i.fa.fa-tasks.f-16(rel='tooltip', title='Tasklist', type='button', style='color:#0090d9;', disabled)
                      td.cursor-pointer.w-600.get(ng-bind='data.listname', title='{{data.listname}}', data-toggle='modal', data-target='#modal-usertodos' ng-click='goToDoList(data)' style="color:#0090d9;")
                      td.w-600.get.text-center {{data.created_by.first_name}} {{data.created_by.last_name}}
                      td.w-600.get.text-center(ng-bind="data.todo_items.length")
                    tr(ng-if='haveResult')
                      td(colspan='4')
                        h5.pull-right(style='color:#3276B1')
                          strong Total Lists : {{totalRecords}}
          .alert.alert-info.fade.in.text-center(ng-if='!haveResult')
            h3 No Lists for you this time.

