style.
  .multiSelect .checkBoxContainer{
    max-height:200px;
    overflow-y:scroll;
  }
  .ng-table-counts {
    display: none;
  }
showloader
#modal-OverlapShiftSection.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog(style="width:800px;")
    .modal-content
      .modal-header(style='background-color:lightgray')
        button.close(type='button', data-dismiss='modal', aria-hidden='true', title="Close") X
        h4#myModalLabel.modal-title.dis-inline-b '{{shiftsData[0].userfname[0]}} {{shiftsData[0].userlname[0]}}' Shifts Information ({{shiftsData[0].scheduleDate | date:'MM/dd/yyyy'}})
      .modal-body(style='line-height:25px;font-weight:bolder;max-height:480px;overflow-y:auto')
        span(ng-repeat='sd in shiftsData') 
          span {{sd.eventAccountName[0]}} | {{sd.timeslot}} Shift | {{twentyfour_to_twelve(sd.shiftReminderTime)}} - {{twentyfour_to_twelve(sd.shiftEndTime)}}
          hr
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Close
.m-b-20.clearfix
  .page-title.pull-left
    h3
      strong  Overlappping Shift Report
  .page-title.pull-right.ng-scope.col-xs-12.col-md-8.col-sm-10(ng-if='haveResult')
    h4.pull-right.text-right.sd_legend
      input.legend.bg-red(type='text', disabled='disabled')
      strong.p-r-10  Unchecked
      input.legend.bg-gray(type='text', disabled='disabled')
      strong.p-r-10  Checked
.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        .row
          .col-md-3.col-sm-2.col-xs-12.mar_bt10
            div(multi-select='', selection-mode = "SINGLE", input-model='modernWebBrowsers', max-labels='1', button-label='fullname', item-label='fullname', tick-property='ticked', required='required', default-label='Search by Employee', on-item-click ='fetchOverlap()', on-close = 'reset_page()')
      .panel-body(style='clear:both')
        .row
          .table-container(style='')
            #datatable_ajax_wrapper.dataTables_wrapper.dataTables_extended_wrapper.dataTables_extended_wrapper.no-footer
              .margin-b-10.tbl_response
                table#datatable_ajax.table.table-striped.table-bordered.table-hover.f-left(ng-table='tableParams')
                  thead
                    tr
                      th.unsortheading Username
                      th.unsortheading Phone
                      th.unsortheading Schedule Date
                      th.unsortheading Actions
                      th.unsortheading Ok
                  tbody
                    tr.odd(role='row', ng-repeat='data in correctReport', ng-if='haveResult')
                      td(ng-class="data.overlapclass") {{data.entries[0].userfname[0]}} {{data.entries[0].userlname[0]}} - {{matchZipInInitial(data.entries[0].zip[0])}}
                      td.text-center(width='20%', ng-class="data.overlapclass") {{data.entries[0].userphone[0]}}
                      td.text-center(ng-class="data.overlapclass") {{data._id.scheduleDate | date:'MM/dd/yyyy'}}
                      td.text-center.cursor-pointer.c-blue.w-500(ng-class="data.overlapclass", width='15%', data-toggle='modal', data-target='#modal-OverlapShiftSection', title='View Detail', ng-click='showOverlappings(data.entries)') View Detail
                      td.text-center(ng-class="data.overlapclass")
                        input(type='checkbox', ng-model='overlap', ng-true-value="yes", ng-false-value='', ng-change = "checkOverlap(data._id.scheduleDate, data._id.employee_id,data.entries[0].checkInOverlap)")
                  tfoot(ng-if='haveResult')
                    tr
                      th.text-left(colspan='9')
                        span.f-right.dis-block.c-blue Total Records : {{correctReport.length}} 
                        br
          .alert.alert-info.fade.in.text-center(ng-if='!haveResult')
            h4 No reports found for this selection.