.col-md-6.align-left
  #products-table_paginate.dataTables_paginate.paging_simple_numbers
    ul.pagination
      li#products-table_previous.previous(aria-controls="products-table", tabindex="0",ng-click="previous()", ng-disabled="isPreviousDisabled")
        a(href='') <<
      li.active(aria-controls="products-table", tabindex="0",ng-repeat="i in navButtons")
        a(href="", ng-class="offset == i * perPage && 'active'", ng-click="getoffset(i * perPage)") {{i+1}}
      li#products-table_next.next(aria-controls="products-table", tabindex="0",ng-click="next()", ng-disabled="isNextDisabled")
        a(href='') >>