style.
  .multiSelect .checkBoxContainer{
    max-height:200px;
    overflow-y:scroll;
  }
showloader
.m-b-20.clearfix
  .page-title.pull-left
    h3
      strong  Payroll Report ({{dateRange.start_date}} - {{dateRange.end_date}})
  .pull-right
    button.btn.btn-primary.m-t-10(ng-if='haveResult', excel-export export-data="exportData" file-name="'PayrollReport'")
#modal-editPayroll.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header(style='background-color:lightgray')
        button.close(type='button', data-dismiss='modal', aria-hidden='true', title="Close") X
        h4#myModalLabel.modal-title Update Payroll Entry
      .modal-body(style='line-height:25px;font-weight:bolder;max-height:480px;overflow-y:unset')
        form#form1.form-horizontal(name='clockInForm', novalidate='novalidate')
          .form-group
            label.col-sm-4.control-label
              | Clock In
              span.asterisk *
            .col-sm-6
              input.form-control.datetimepicker(type='text', placeholder='MM/DD/YYYY HH:MM', ng-model='clocknewdata.newclockInDateTime', required = 'required', style='padding: 8px 12px;cursor:pointer !important', readonly='readonly')
          .form-group
            label.col-sm-4.control-label
              | Clock Out
              span.asterisk *
            .col-sm-6
              input.form-control.datetimepicker(type='text', placeholder='MM/DD/YYYY HH:MM', ng-model='clocknewdata.newclockOutDateTime', required = 'required', style='padding: 8px 12px;cursor:pointer !important', readonly='readonly')
          .form-group
            label.col-sm-4.control-label
              | Event/Account
              span.asterisk *
            .col-sm-6
              div(multi-select='', selection-mode = "SINGLE", input-model='allEvents', max-labels='1', button-label='buttonlabel', item-label='buttonlabel', tick-property='ticked', style='padding-left:0px', default-label='Select Event/Account')
          .form-group
            label.col-md-4.control-label
              | Select Shift
              span.asterisk *
            .col-sm-6
              select.btn.select_tag(ng-options='shift.value as shift.name for shift in shifts', ng-model='clocknewdata.shift', ng-init='clocknewdata.shift = clocknewdata.shift || shifts[0].value', style='border:1px solid lightgray')
          .form-group(ng-if='clockout')
            label.col-md-4.control-label
              | Break (In Minutes)
            .col-sm-6
              input.form-control(type='text', ng-model='clocknewdata.break', style='padding: 8px 12px;', to-number = 'to-number', maxlength = 3)

      .modal-footer
        button.btn.btn-success(type='button', ng-disabled="clockInForm.$invalid", ng-click="saveclockUpdate(clocknewdata)") Save
.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        form#form1.form-horizontal(name='availableRangeForm', novalidate='')
          .row
            .col-md-2.col-sm-2.col-xs-12.mar_bt10
              input.datepicker.form-control(type='text', name='stDate', placeholder='Start Date', ng-model='dateRange.start_date', style='padding: 8px 12px;', required='', readonly='readonly')
            .col-md-2.col-sm-2.col-xs-12.mar_bt10
              input.datepicker.form-control(type='text', name='enDate', placeholder='End Date', ng-model='dateRange.end_date', style='padding: 8px 12px;', required='', readonly='readonly')
            .col-md-2.col-sm-2.col-xs-12.mar_bt10
              div(multi-select='', selection-mode = "SINGLE", input-model='allEvents', max-labels='1', button-label='buttonlabel', item-label='buttonlabel', tick-property='ticked', style='padding-left:0px', default-label='Select Account')
            .col-md-2.col-sm-6.col-xs-6.sd_res_btn.res_cen.colres100
              select#reportTypelist.btn.select_tag(ng-model='reportselect', style='border: 1px solid lightgray;', ng-options='reportTypelist.value as reportTypelist.name for reportTypelist in reportTypelist', ng-change='reset_page()') 
            .col-md-2.col-sm-2.col-xs-12.mar_bt10
              div(multi-select='', selection-mode = "SINGLE", input-model='modernWebBrowsers', max-labels='1', button-label='fullname', item-label='fullname', tick-property='ticked', required='required', default-label='Select Employee')
            .col-md-2.col-sm-2.col-xs-12.mar_bt10
              button.btn.btn-success.grnbtn100(href='#', ng-click='getReport(dateRange)', ng-disabled='availableRangeForm.$invalid')
                i.fa.fa-check.p-r-10
                | Fetch
      .panel-body(style='clear:both')
        .row
          .table-container(style='')
            #datatable_ajax_wrapper.dataTables_wrapper.dataTables_extended_wrapper.dataTables_extended_wrapper.no-footer
              .margin-b-10.tbl_response
                table#datatable_ajax.table.table-striped.table-bordered.table-hover.f-left(ng-table='tableParams')
                  thead
                    tr
                      th.unsortheading Emp #
                      th.unsortheading Account #
                      th.unsortheading Username
                      th.unsortheading Account
                      th.unsortheading Date of Shift
                      th.unsortheading Pay Rate
                      th.unsortheading Start Time
                      th.unsortheading End Time
                      th.unsortheading Break
                      th.unsortheading(title='Working hours') Hours
                      th.unsortheading How early/late(In Min)
                      th.unsortheading Action
                  tbody
                    tr.odd(role='row', ng-repeat='data in report', ng-if='haveResult')
                      td.text-center {{data.userId.employeeid}}
                      td.text-center {{data.eventId.accountId}}
                      td.text-center {{data.userId.fullname}}
                      td.text-center {{data.eventId.name}}
                      td.text-center {{data.created_date | date:'MM/dd/yyyy'}}
                      td.text-center ${{data.payrate}}
                      td.text-center {{data.clockInDateTime}}
                      td.text-center {{data.clockOutDateTime}}
                      td.text-center {{timeToDecimal(data.totalBreakTime)}}
                      td.text-center {{data.totalTimeDiff}}
                      td.text-center(width='5%') {{data.howLate_howEarly}}
                      td.text-center
                        i.fa.fa-edit.cursor-pointer.f-20.m-r-5(data-toggle='modal', data-target='#modal-editPayroll', title='Edit', ng-click='editPayrol(data)', rel='tooltip', type='button', style='color:#0090d9;')
                        i.fa.fa-trash-o.cursor-pointer.f-20.m-r-5(title='Delete', ng-click='deletePayrol(data)', rel='tooltip', type='button', style='color:#0090d9;')
                    tr(ng-if='haveResult')
                      th.text-right(colspan='9') Total 
                      th.text-center {{totalhours}} 
                      th.text-center  
                  tfoot(ng-if='haveResult')
                    tr
                      th.text-left(colspan='12')
                        span.f-right.dis-block.c-blue Total Records : {{report.length}} 
                        br
          .alert.alert-info.fade.in.text-center(ng-if='!haveResult')
            h4 No reports found for this selection.
#confirm_del.ng-scope(style='display: none;')
  .confirmon-overlay(style='display: block;')
    .confirmon-box(style='display: block; width:32%')
      p.confirmon-content Are you sure you want to delete ?
      button.confirmon-button.confirmon-button(onclick="$('#confirm_del').hide()") Cancel
      | &nbsp;&nbsp;&nbsp;&nbsp; 
      button.confirmon-button.confirmon-button(ng-click='deletePayrollConfirm()') Confirm

