style.
  .multiSelect .checkBoxContainer{
  max-height:200px;
  overflow-y:scroll;
  }
showloader
#modal-grossPayroll.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog(style="width:800px;")
    .modal-content
      .modal-header(style='background-color:lightgray')
        button.close(type='button', data-dismiss='modal', aria-hidden='true', title="Close") X
        h4#myModalLabel.modal-title.dis-inline-b {{employee.first_name}} {{employee.last_name}} Gross Payroll Detail
      .modal-body(style='line-height:25px;font-weight:bolder;max-height:450px;min-height:400px;overflow-y:auto')
        span(ng-repeat='pri in payrollInfo')
          {{pri.userfname[0]}} {{pri.userlname[0]}} : ${{pri.payroll}}
          br
.m-b-20.clearfix
  .page-title.pull-left
    h3.pull-left.head_to
      strong  Profit/Loss Report (Range of : {{dateRange.start_date}} - {{dateRange.end_date}} )
.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        form#form1.form-horizontal(name='availableRangeForm', novalidate='')
          .row
            .col-md-3.col-sm-3.col-xs-12.mar_bt10
              input.datepicker.form-control(type='text', name='stDate', placeholder='Start Date', ng-model='dateRange.start_date', style='padding: 8px 12px;', required='', readonly='readonly')
            .col-md-3.col-sm-3.col-xs-12.mar_bt10
              input.datepicker.form-control(type='text', name='enDate', placeholder='End Date', ng-model='dateRange.end_date', style='padding: 8px 12px;', required='', readonly='readonly')
            .col-md-3.col-sm-2.col-xs-12.mar_bt10
              div(multi-select='', selection-mode = "SINGLE", input-model='allEvents', max-labels='1', button-label='buttonlabel', item-label='buttonlabel', tick-property='ticked', style='padding-left:0px', default-label='Select Event/Account')
            .col-md-3.col-sm-3.col-xs-12.mar_bt10
              button.btn.btn-success.grnbtn100(href='#', ng-click='getReport(dateRange)', ng-disabled='availableRangeForm.$invalid')
                i.fa.fa-check.p-r-10
                | Fetch Reports
      .panel-body(style='clear:both')
        .row
          .table-container(style='')
            #datatable_ajax_wrapper.dataTables_wrapper.dataTables_extended_wrapper.dataTables_extended_wrapper.no-footer
              .margin-b-10.tbl_response
                table#datatable_ajax.table.table-striped.table-bordered.table-hover.f-left(ng-table='tableParams')
                  thead
                    tr
                      th.unsortheading Date
                      th.unsortheading Hours
                      th.unsortheading Gross Payroll
                      th.unsortheading Revenue
                      th.unsortheading Profit/Loss
                  tbody
                    tr.odd(role='row', ng-repeat='data in profitLossReport', ng-if='haveResult')
                      td.text-center {{data.inputDate | date:'MM/dd/yyyy'}}
                      td.text-center {{timeToDecimal(data.totalTimeDiff)}}
                      td.text-center.cursor-pointer(data-toggle='modal', data-target='#modal-grossPayroll',ng-click='showPayroll(data.inputDate)', rel='tooltip', title='Payroll Details', type='button', style='color:#0090d9;') ${{data.grossPayroll}}
                      td.text-center ${{data.revenue}}
                      td.text-center ${{data.profit_loss}}
                  tfoot(ng-if='haveResult')
                    tr
                      th.text-left(colspan='5')
                        span.f-right.dis-block.c-blue Revenue Type : {{revenueType}} 
                        br
                        span.f-right.dis-block.c-blue(ng-if='revenueType!="flat_rate"') Revenue Rate : ${{revenueRate}}
                        br(ng-if='revenueType!="flat_rate"')
                        span.f-right.dis-block.c-blue Total Payroll : ${{tcPayroll}}
                        br
                        span.f-right.dis-block.c-blue Total Revenue : ${{tcRevenue}}
                        br
                        span.f-right.dis-block.c-blue Total Profit/Loss : ${{tcProfitloss}}
          .alert.alert-info.fade.in.text-center(ng-if='!haveResult')
            h4 No reports found for this selection.