style.
  .multiSelect .checkBoxContainer{
  max-height:200px;
  overflow-y:scroll;
  }
showloader
#modal-writeup.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog(style="width:800px;")
    .modal-content
      .modal-header(style='background-color:lightgray')
        button.close(type='button', data-dismiss='modal', aria-hidden='true', title="Close") X
        h4#myModalLabel.modal-title Add New Writeup / Sparky
      .modal-body(style='line-height:25px;font-weight:bolder;max-height:480px;overflow-y:unset')
        form#postForm.form-horizontal(name='postForm', novalidate='novalidate')
                .form-group
                  label.col-sm-3.control-label
                    | Select Employee
                    span.asterisk *
                  .col-sm-9
                    div(multi-select='', selection-mode = "SINGLE", input-model='modernWebBrowsers', max-labels='1', button-label='fullname', item-label='fullname', tick-property='ticked', style='padding-left:0px')
                .form-group
                  label.col-sm-3.control-label
                    | Select Event / Account
                    span.asterisk *
                  .col-sm-9
                    div(multi-select='', selection-mode = "SINGLE", input-model='allEvents', max-labels='1', button-label='buttonlabel', item-label='buttonlabel', tick-property='ticked', style='padding-left:0px')
                .form-group
                  label.col-sm-3.control-label
                    | Manager
                    span.asterisk *
                  .col-sm-9
                    div(multi-select='', selection-mode = "SINGLE", input-model='allManagers', max-labels='1', button-label='fullname', item-label='fullname', tick-property='ticked', style='padding-left:0px')
                .form-group
                  label.col-sm-3.control-label
                    | Type
                    span.asterisk *
                  .col-sm-3
                    input(type='radio', name='writeup_type', ng-model='writeupData.writeup_type', value='positive')
                    |   Positive
                  .col-sm-6
                    input(type='radio', name='writeup_type', ng-model='writeupData.writeup_type', value='negative')
                    |   Negative
                .form-group
                  label.col-sm-3.control-label
                    | Value
                    span.asterisk *
                  .col-sm-9
                    input(type='text', ng-model='writeupData.value' to-number)
                .form-group
                  label.col-sm-3.control-label
                    | WriteUp Date
                    span.asterisk *
                  .col-sm-7
                    input#writeupdate.form-control.datepicker(type='text', placeholder='MM/DD/YYYY', ng-model='writeupData.writeupDate', style='padding: 8px 12px;cursor:pointer !important', required='required', readonly='readonly')
                .form-group
                  label.col-sm-3.control-label
                    | Reason
                    span.asterisk *
                  .col-sm-9
                    textarea#reason.form-control(rows='5', type='text', placeholder='Enter Reason', name='reason', ng-model='writeupData.reason', required='required', maxlength='400', style='resize:none;')
                    span
                    | {{400 - writeupData.reason.length}} left
      .modal-footer
        button.btn.btn-success(type='button', ng-disabled="buttonDisabled", ng-click="saveWriteup(writeupData)") Save
#modal-editWriteup.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog(style="width:800px;")
    .modal-content
      .modal-header(style='background-color:lightgray')
        button.close(type='button', data-dismiss='modal', aria-hidden='true', title="Close") X
        h4#myModalLabel.modal-title Edit Writeup 
      .modal-body(style='line-height:25px;font-weight:bolder;max-height:480px;overflow-y:unset')
        form#editpostForm.form-horizontal(name='editpostForm', novalidate='novalidate')
                .form-group
                  label.col-sm-3.control-label
                    | Select Employee
                    span.asterisk *
                  .col-sm-9
                    div(multi-select='', selection-mode = "SINGLE", input-model='modernWebBrowsers', max-labels='1', button-label='fullname', item-label='fullname', tick-property='ticked', style='padding-left:0px')
                .form-group
                  label.col-sm-3.control-label
                    | Select Event / Account
                    span.asterisk *
                  .col-sm-9
                    div(multi-select='', selection-mode = "SINGLE", input-model='allEvents', max-labels='1', button-label='buttonlabel', item-label='buttonlabel', tick-property='ticked', style='padding-left:0px')
                .form-group
                  label.col-sm-3.control-label
                    | Manager
                    span.asterisk *
                  .col-sm-9
                    div(multi-select='', selection-mode = "SINGLE", input-model='allManagers', max-labels='1', button-label='fullname', item-label='fullname', tick-property='ticked', style='padding-left:0px')
                .form-group
                  label.col-sm-3.control-label
                    | Type
                    span.asterisk *
                  .col-sm-3
                    input(type='radio', name='writeup_type', ng-model='writeupData.writeup_type', value='positive')
                    |   Positive
                  .col-sm-6
                    input(type='radio', name='writeup_type', ng-model='writeupData.writeup_type', value='negative')
                    |   Negative
                .form-group
                  label.col-sm-3.control-label
                    | Value
                    span.asterisk *
                  .col-sm-9
                    input(type='text', ng-model='writeupData.value', required = 'required')
                .form-group
                  label.col-sm-3.control-label
                    | WriteUp Date
                    span.asterisk *
                  .col-sm-7
                    input#writeupdate.form-control.datepicker(type='text', placeholder='MM/DD/YYYY', ng-model='writeupData.writeupDate', style='padding: 8px 12px;cursor:pointer !important', required='required', readonly='readonly')
                .form-group
                  label.col-sm-3.control-label
                    | Reason
                    span.asterisk *
                  .col-sm-9
                    textarea#reason.form-control(rows='5', type='text', placeholder='Enter Reason', name='reason', ng-model='writeupData.reason', required='required', maxlength='400', style='resize:none;')
                    span
                    | {{400 - writeupData.reason.length}} left
      .modal-footer
        button.btn.btn-success(type='button', ng-disabled="editpostForm.$invalid", ng-click="saveWriteup(writeupData)") Save
.m-b-20.clearfix
  .pull-left
    h3
      strong(ng-copy="$event.preventDefault()") Sparkys / Writeups
  .pull-right(ng-if='showbackbutton')
    a.btn.btn-success.m-t-10(href='/viewhremployee', ng-if="userRole == 'hr'")
      i.fa.fa-reply.p-r-10
      | Back
    a.btn.btn-success.m-t-10(href='/viewadminemployee', ng-if="userRole == 'admin'")
      i.fa.fa-reply.p-r-10
      | Back
    a.btn.btn-success.m-t-10(href='/viewmanageremployee', ng-if="userRole == 'manager'")
      i.fa.fa-reply.p-r-10
      | Back
  .page-title.pull-right.ng-scope.col-xs-12.col-md-8.col-sm-10(ng-if='totalRecords')
    h4.text-center.sd_legend
      input.legend.bg-white(type='text', disabled='disabled')
      strong.p-r-10  Active
      input.legend.bg-gray-light(type='text', disabled='disabled')
      strong.p-r-10  Inactive
.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        .col-md-3.col-sm-3.col-xs-12(ng-if="userRole==='admin' || userRole==='manager' || userRole==='hr'")
          .input-group.m-b-10
            div(multi-select='', selection-mode = "SINGLE", input-model='modernWebBrowsers', max-labels='1', button-label='fullname', item-label='fullname', tick-property='ticked', default-label='Search By Employee', required='required', on-item-click='employeeBasedSearch()', on-close='closeSearch()')
        .col-md-3.col-sm-3.col-xs-12(ng-if="userRole==='admin' || userRole==='manager' || userRole==='hr'")
          .input-group.m-b-10
            div(multi-select='', selection-mode = "SINGLE", input-model='allEvents', max-labels='1', button-label='buttonlabel', item-label='buttonlabel', tick-property='ticked', default-label='Search by Event/Account', required='required', on-item-click='accountBasedSearch()', on-close='closeAccountSearch()')
        .col-md-3.col-sm-3.col-xs-12(ng-if="userRole==='admin' || userRole==='manager' || userRole==='hr'")
          .input-group.m-b-10
            div(multi-select='', selection-mode = "SINGLE", input-model='allManagers', max-labels='1', button-label='fullname', item-label='fullname', tick-property='ticked', default-label='Search by Manager', required='required', on-item-click='managerBasedSearch()', on-close='closeManagerSearch()')
        .col-md-3.col-sm-6.col-xs-12.f-right(ng-if="userRole==='admin' || userRole==='manager' || userRole==='hr'")
          .DTTT_container.m-b-10.sd_btnsuccess
            button.btn.btn-success.grnbtn100(data-toggle='modal', data-target='#modal-writeup', ng-click='addWriteUp()')
              i.fa.fa-plus.p-r-10
              | Add Writeup/Sparky
      .panel-body
        .row
          .table-container
            #datatable_ajax_wrapper.dataTables_wrapper.dataTables_extended_wrapper.dataTables_extended_wrapper.no-footer
              .margin-b-10.table-responsive.pad_b15
                table#datatable_ajax.table.table-bordered.table-hover.f-left(ng-table='tableParams')
                  thead(style="display:none;")
                    tr#header.heading.purple-bg(role='row')
                      th(width='1%', ng-if="userRole==='admin' || userRole==='manager' || userRole==='hr'")
                      th(width='99%')
                  tbody
                    tr.odd(role='row', ng-repeat="data in $data | orderBy:'-currDate'", ng-if='haveResult', id='{{data._id}}', ng-class='checkActiveInactive(data.currDate)')
                      td.text-center(width='1%',ng-if="userRole==='admin' || userRole==='manager' || userRole==='hr'")
                        .checker1
                          span
                            input(type='checkbox', checklist-model='selectedRecognitionList.RecognitionlistArr', checklist-value='data._id')
                      td.w-600.cursor-pointer(width='99%', style='color:#0090d9;', ng-click='editWriteUp(data)', data-toggle='modal', data-target='#modal-editWriteup', title='Click to Edit', ng-if="userRole==='admin' || userRole==='manager' || userRole==='hr'")
                        span.c-gray(ng-if='data.writeup_type == "positive"') Sparky Date : {{data.writeupDate | date : 'MM/dd/yyyy'}}
                        span.c-gray(ng-if='data.writeup_type == "negative"') Writeup Date : {{data.writeupDate | date : 'MM/dd/yyyy'}}
                        br
                        | Employee : {{data.empInfo[0].first_name}} {{data.empInfo[0].last_name}}
                        br
                        | Manager : {{data.managerInfo[0].first_name}} {{data.managerInfo[0].last_name}}
                        br
                        | Value : 
                        span.c-green(ng-if='data.writeup_type == "positive"') {{data.value}}
                        span.c-red(ng-if='data.writeup_type == "negative"') {{data.value}}
                        br
                        | Location : {{data.eventInfo[0].name}}
                        br
                        span.c-gray Reason : {{data.reason}}
                      td.w-600(width='99%', style='color:#0090d9;', ng-if="userRole==='employee'")
                        span.c-gray(ng-if='data.writeup_type == "positive"') Sparky Date : {{data.writeupDate | date : 'MM/dd/yyyy'}}
                        span.c-gray(ng-if='data.writeup_type == "negative"') Writeup Date : {{data.writeupDate | date : 'MM/dd/yyyy'}}
                        br
                        | Employee : {{data.empInfo[0].first_name}} {{data.empInfo[0].last_name}}
                        br
                        | Manager : {{data.managerInfo[0].first_name}} {{data.managerInfo[0].last_name}}
                        br
                        | Value : 
                        span.c-green(ng-if='data.writeup_type == "positive"') {{data.value}}
                        span.c-red(ng-if='data.writeup_type == "negative"') {{data.value}}
                        br
                        | Location : {{data.eventInfo[0].name}}
                        br
                        span.c-gray Reason : {{data.reason}}
                    tr(ng-if='haveResult', style='background-color:#F5F5F5;')
                      td(colspan="2")
                        h5.pull-left(style='color:#3276B1')
                          strong Total Sparkys/Writeups : {{totalRecords}}
                        button.btn.btn-info.f-right(type='button', ng-click='removeSelectedConfirmation()', ng-if="haveResult && (userRole==='admin' || userRole==='manager' || userRole==='hr')", title="Clear all the marked ones.") 
                          i.fa.fa-reply.p-r-10
                          | Clear Selected
                        button.btn.btn-default.f-right.m-r-10(type='button', ng-click='clearWriteupConfirmation()', ng-if="haveResult && (userRole==='admin' || userRole==='manager' || userRole==='hr')", title="Clear All") 
                          i.fa.fa-reply.p-r-10
                          | Clear All
          .alert.alert-info.fade.in.text-center(ng-if='!haveResult')
            h3 There is no writeup.
#clear_all.ng-scope(style='display: none;')
  .confirmon-overlay(style='display: block;')
    .confirmon-box(style='display: block; width:32%')
      p.confirmon-content Are you sure you want to clear all the items ?
      button.confirmon-button.confirmon-button(onclick="$('#clear_all').hide()") Cancel
      | &nbsp;&nbsp;&nbsp;&nbsp; 
      button.confirmon-button.confirmon-button(ng-click='clearAllWriteups()') Confirm  
#clear_selected.ng-scope(style='display: none;')
  .confirmon-overlay(style='display: block;')
    .confirmon-box(style='display: block; width:32%')
      p.confirmon-content Are you sure you want to remove selected items?
      button.confirmon-button.confirmon-button(onclick="$('#clear_selected').hide()") Cancel
      | &nbsp;&nbsp;&nbsp;&nbsp; 
      button.confirmon-button.confirmon-button(ng-click='clearSelectedWriteups()') Confirm  