.m-b-20.clearfix
  .pull-left
    h3
      strong Trade Request Detail
  .pull-right
    a.btn.btn-success.m-t-10(href='/adminRejectedTrades')
      i.fa.fa-reply.p-r-10
      | Back
.row
  .col-md-12
    .tabcordion
      #myTabContent.tab-content
        #product_general.tab-pane.fade.active.in 
          table.table.table-striped.table-hover.sd_req1
            tbody.no-bd-y
              tr
                td(colspan='2')
                  .sd_dv_list
                    .c-blue.col-md-2.col-xs-6 Trade By :
                    .col-md-4.col-sm-4.col-xs-6
                      | {{TradeInfo.userId.first_name}} {{TradeInfo.userId.last_name}}
              tr
                td(colspan='2')
                  .sd_dv_list
                    .c-blue.col-md-2.col-xs-6 Location:
                    .col-md-4.col-sm-4.col-xs-6 
                      | {{TradeInfo.eventId.location_address.address}}
              tr
                td
                  .sd_dv_list
                    .c-blue.col-md-2.col-xs-6 Is Offering Shift(s) :
                    .col-md-4.col-sm-4.col-xs-6 
                      | {{TradeInfo.eventId.name}} | {{TradeInfo.eventScheduleDate | date : "mediumDate" }} | {{TradeInfo.eventId.shifttime}} | {{TradeInfo.timeslot}} Shift
              tr
                td
                  .sd_dv_list
                    .c-blue.col-md-2.col-xs-6 In Exchange for shift(s) :
                    .col-md-4.col-sm-4.col-xs-6(ng-if='TradeInfo.exchangeEventAccId.name')
                      | {{TradeInfo.exchangeEventAccId.name}} | {{TradeInfo.exchangeScheduleDate | date : "mediumDate" }} | {{TradeInfo.exchangeshift}} | {{TradeInfo.exchangeSchId.timeslot}} Shift
              tr
                td
                  .sd_dv_list
                    .c-blue.col-md-2.col-xs-6 Co-Worker :
                    .col-md-4.col-sm-4.col-xs-6  {{TradeInfo.coWorkerUserId.first_name}} {{TradeInfo.coWorkerUserId.last_name}}
              tr
                td
                  .sd_dv_list
                    .c-blue.col-md-2.col-xs-6 Co-Worker other Shifts :
                    .col-md-10.col-sm-10.col-xs-10 {{TradeInfo.overlapshifts}}
              tr
                td
                  .sd_dv_list
                    .c-blue.col-md-2.col-xs-6 Trading Notes :
                    .col-md-4.col-sm-4.col-xs-6 {{TradeInfo.comment}}
              tr
                td
                  .sd_dv_list
                    .c-blue.col-md-2.col-xs-6 Updated By :
                    .col-md-4.col-sm-4.col-xs-6 {{TradeInfo.approveRejectBy.first_name}} {{TradeInfo.approveRejectBy.last_name}}
              tr
                td
                  .sd_dv_list
                    .c-blue.col-md-2.col-xs-6 Updated Date :
                    .col-md-4.col-sm-4.col-xs-6 {{TradeInfo.tradeDateTime | date : "mediumDate"}}
              tr
                td(colspan='2')
                  textarea.form-control(placeholder='Comment', ng-model='TradeInfo.manager_comment', rows='6')
              
             
