style.
  #modal-extraShift .multiSelect .checkBoxContainer{
  max-height:200px;
  overflow-y:scroll;
  }
showloader
#modal-extraShift.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog(style="width:800px;")
    .modal-content
      .modal-header(style='background-color:lightgray')
        button.close(type='button', data-dismiss='modal', aria-hidden='true', title="Close") X
        h4#myModalLabel.modal-title.dis-inline-b Extra Shifts List
      .modal-body(style='line-height:25px;font-weight:bolder;max-height:450px;min-height:400px;overflow-y:auto') 
        form(ng-submit='extraShiftAdd(eventAccount._id)', name="extrashiftForm", novalidate='novalidate')
          table
            tr
              td(style='width:40%;border-right:dotted 1px gray;vertical-align:top;')
                b Name 
                |  : {{eventAccount.name}}
                br
                b Start Date 
                |  : {{eventAccount.start_date | date:'MM/dd/yyyy'}}
                br
                .form-group
                  label.col-md-12.control-label.col-sm-12.mrng_lbl.m-t-10
                    | Select Date
                    span.asterisk *
                  .col-sm-12.mrng_sel.col-md-12
                    input.form-control#extraDate(type='text', placeholder='MM/DD/YYYY', ng-model='extrashift.extrashiftdate', dateselection='event', style='width:150px;padding: 8px 12px;', required='required', readonly='readonly')
                .form-group
                  label.col-md-12.control-label.col-sm-12.mrng_lbl.m-t-10
                    | Select Timeslot
                    span.asterisk *
                  .col-sm-12.col-md-12
                    select.btn.select_tag(ng-options='shift.value as shift.name for shift in shifts', ng-model='extrashift.shift', ng-init='extrashift.shift = extrashift.shift || shifts[0].value', style='border:1px solid lightgray')
                .form-group
                  label.col-md-12.control-label.col-sm-12.mrng_lbl.m-t-10
                    | Start Time / End Time
                    span.asterisk *
                  .col-sm-12.col-md-12
                    input.timepicker(type='text', placeholder='hh:mm', ng-model='extrashift.startshift', readonly='readonly', data-scroll-default='6:00am', style='padding: 2px;width:60px;cursor:pointer !important') 
                    input.timepicker(type='text', placeholder='hh:mm', ng-model='extrashift.endshift', readonly='readonly', data-scroll-default='6:00am', style='padding: 2px;width:60px;cursor:pointer !important')
                button.btn.btn-default.m-t-20.m-l-20(href='#', ng-click='clearshiftdata()')
                  i.fa.fa-reply.p-r-10
                  | Clear 
                button.btn.btn-success.m-t-20.m-l-20(href='#', ng-click='addExtraShift(extrashift)')
                  i.fa.fa-check.p-r-10
                  | Add 
              td(style="vertical-align:top;padding-left:10px;")
                div(ng-repeat='x in shiftData | orderBy : "-shiftdate"')
                  p.p-l-5.width-100p.dis-inline-b(ng-repeat='y in x.shifts') 
                    i.f-left.fa.fa-circle.p-r-5.f-10(style='color:#D3D3D3;margin-top:8px;')
                    {{y.startShiftTime}} - {{y.endshiftTime}} ({{x.timeslot}} - {{x.shiftdate | date:"MM/dd/yyyy"}} )
                    i.f-right.fa.fa-trash-o.p-l-5.m-t-5.cursor-pointer.f-16(style='color:#0090d9;', title="Remove", ng-click='removeExtrashiftConfirmation(itemMainId, x._id, y._id)')
                //span.f-right.p-l-5.dis-inline-b(ng-bind='x.added_date| date:"MM/dd/yyyy"')
      .modal-footer
        button.btn.btn-default(type='button', ng-click='removeExtraListConfirmation(itemMainId)', ng-if="shiftData.length", title="Clear all the rates from this list.") 
          i.fa.fa-reply.p-r-10
          | Clear All
#modal-NotesSection.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog(style="width:800px;")
    .modal-content
      .modal-header(style='background-color:lightgray')
        button.close(type='button', data-dismiss='modal', aria-hidden='true', title="Close") X
        h4#myModalLabel.modal-title.dis-inline-b {{employee.first_name}} {{employee.last_name}} Notes
      .modal-body(style='line-height:25px;font-weight:bolder;max-height:480px;overflow-y:auto')
        form(ng-submit='noteAdd(event_account_id)', name="notesForm", novalidate='novalidate')
          textarea#noteText.form-control(type="text", name="noteText", ng-model="noteitem.noteInput", placeholder="Write Notes ...", style="width:95%;resize:none;", ng-maxlength='1000', required='required', title='Maximum 1000 characters are allowed.', rows = '5')
          button.close.m-t-20(type='submit', title='Add New', ng-disabled="notesForm.$invalid", style="color:#159077;opacity:unset")
            i.fa.fa-plus
          span.m-l-5.dis-block
              | {{1000 - noteitem.noteInput.length}} Characters left
          span.help-inline(ng-show='notesForm.noteText.$error.maxlength') Maximum 1000 characters are allowed.
        br
        div(ng-repeat='x in noteItemList | orderBy : "added_date"')
          i.f-left.fa.fa-comment.p-l-5.m-t-10.f-10(style='color:#0090d9;')
          p.p-l-5.dis-inline-b(ng-bind='x.noteText', style='width:80%')
          i.f-right.fa.fa-trash-o.p-l-5.m-t-5.cursor-pointer.f-16(style='color:#0090d9;', title="Remove", ng-click='removeNoteConfirmation(event_account_id, noteItemListId, x._id)')
          span.f-right.p-l-5.dis-inline-b(ng-bind='x.added_date| date:"MM/dd/yyyy"')
      .modal-footer
        button.btn.btn-default(type='button', ng-click='removeNoteListConfirmation(noteItemListId)', ng-if="noteItemList.length", title="Clear all the items from this list.") 
          i.fa.fa-reply.p-r-10
          | Clear All
#modal-questions.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog(style="width:900px;")
    .modal-content
      .modal-header(style='background-color:lightgray')
        button.close(type='button', data-dismiss='modal', aria-hidden='true') X
        h4#myModalLabel.modal-title Choose Questions for this event.
      .modal-body(style='line-height:25px;font-weight:bolder;max-height:480px;overflow-y:auto')
        div(ng-repeat='x in questions|orderBy:"done":true')
          label.checkbox-inline(style='width:100%;')
            input(type='checkbox', ng-model='x.done')
            span.p-l-5(ng-bind='x.title')
      .modal-footer
        button.btn.btn-default(type='button', ng-click='removeAllConfirmation(eventAccountId)' title="Clear all the selected items from this list.") 
          i.fa.fa-reply.p-r-10
          | Clear All
        button.btn.btn-success(type='button', ng-click="saveQuestion(eventAccountId)", ng-disabled="questionListForm.$invalid") Save
#modal-basic.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header(style='background-color:lightgray')
        button.close(type='button', data-dismiss='modal', aria-hidden='true') X
        h4#myModalLabel.modal-title Regular Account Detail
      .modal-body(style='line-height:25px;font-weight:bolder;max-height:480px;overflow-y:auto')
        b Event Name 
        |  : {{event.name}}
        br
        b Is Active
        |  : {{event.is_active}}
        br
        b Event Description 
        |  : {{event.description}}
        br
        b Event Start Date 
        |  : {{event.start_date | date:'short'}}
        br
        b Event End Date 
        |  : {{event.end_date | date:'short'}}
        br
        b Event type 
        |  : {{event.event_data.event_type}}
        br
        b Contact Name 
        |  : {{event.event_data.contact_name}}
        br
        b Contact Phone 
        |  : {{event.event_data.contact_phone}}
        br
        b Contact Email 
        |  : {{event.event_data.contact_email}}
        br
        b Notes 
        |  : {{event.event_data.notes}}
        br
        b Show End Time in shifts 
        |  : {{event.showendtime}}
        br
        b Location Address 
        |  : {{event.location_address.address}} 
        br
        b Billing Address 
        |  : {{event.billing_address.address}} 
        br
        b Shifts Details 
        |  :
        br
        span(ng-repeat='shift in shiftData', style='padding-left:15px', ng-if='shiftData')
          | {{'-- '+ shift.day + '/' + shift.timeslot}}
          br
          span(style='padding-left:30px', ng-repeat='sht in shift.shifts', ng-if='event.showendtime')
            | {{sht.startShiftTime + ' - '+ sht.endshiftTime}}
            br
          span(style='padding-left:30px', ng-repeat='sht in shift.shifts', ng-if='!event.showendtime')
            | {{sht.startShiftTime}}
            br
        b Extra shifts
        |  :
        br
        span(ng-repeat='shift in extrashift', style='padding-left:15px', ng-if='extrashift')
          | -- {{shift.shiftdate |date:"MM/dd/yyyy"}} / {{shift.timeslot}}
          br
          span(style='padding-left:30px', ng-repeat='sht in shift.shifts', ng-if='event.showendtime')
            | {{sht.startShiftTime + ' - '+ sht.endshiftTime}}
            br
          span(style='padding-left:30px', ng-repeat='sht in shift.shifts', ng-if='!event.showendtime')
            | {{sht.startShiftTime}}
            br
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Close
.m-b-20.clearfix
  .pull-left
    h3
      strong Regular Accounts
      a(href='/accountcalendar', style='margin-top:10px;font-size:20px;', title='Account Calendar')
        i.flaticon-calendar5
.row(ng-show='visibility')
  .col-md-12
    .panel.panel-default
      .panel-heading
        .col-md-5
          .input-group.m-b-10
            input.form-control.w-700(type='text', placeholder='Search by name / contact name / phone.', ng-model='searchText.val', style='border:solid 2px darkgray;color:#2a6496;', ng-pattern="searchPattern")
            span.input-group-addon
              i.fa.fa-search
        .col-md-2.col-sm-6.col-xs-6.sd_res_btn
          select#stslist.btn.select_tag(ng-model='status', style='border: 1px solid lightgray;', ng-options='stslist.value as stslist.name for stslist in liststs', ng-change='reset_page()')       
        .col-md-5.col-xs-6
          .DTTT_container.sd_btn_res
            button.btn.btn-success(ng-click='addaccount()')
              i.fa.fa-plus.p-r-10
              | Add Account
      .panel-body
        .row
          .table-container(style='')
            #datatable_ajax_wrapper.dataTables_wrapper.dataTables_extended_wrapper.dataTables_extended_wrapper.no-footer
              .margin-b-10.tbl_response
                table#datatable_ajax.table.table-striped.table-bordered.table-hover.f-left(ng-table='tableParams')
                  thead
                    tr.heading.purple-bg(role='row')
                      th(width='3%')
                        input.group-checkable(type='checkbox', ng-model='checkAll.val', ng-change='selectAllGroup(checkAll.val)')
                      th(width='5%')
                        a.cursor-pointer(ng-click="sortType = 'accountId'; sortReverse = !sortReverse; sortOrderby('accountId',sortReverse);")
                          strong ID
                          span.fa.fa-sort.m-l-5(ng-class="getIcon('accountId')")
                      th(width='20%')
                        a.cursor-pointer(ng-click="sortType = 'name'; sortReverse = !sortReverse; sortOrderby('name',sortReverse);")
                          strong Name
                          span.fa.fa-sort.m-l-5(ng-class="getIcon('name')")
                      th(width='15%')
                        a.cursor-pointer(ng-click="sortType = 'start_date'; sortReverse = !sortReverse; sortOrderby('start_date',sortReverse);")
                          strong Start Date
                          span.fa.fa-sort.m-l-5(ng-class="getIcon('start_date')")
                      th.unsortheading(width='15%')
                        a.cursor-pointer(ng-click="sortType = 'event_data.contact_name'; sortReverse = !sortReverse; sortOrderby('event_data.contact_name',sortReverse);")
                          strong Contact Name
                          span.fa.fa-sort.m-l-5(ng-class="getIcon('event_data.contact_name')")
                      th.unsortheading(width='13%') Phone
                      th.unsortheading(width='15%')
                        a.cursor-pointer(ng-click="sortType = 'event_data.contact_email'; sortReverse = !sortReverse; sortOrderby('event_data.contact_email',sortReverse);")
                          strong Contact Email
                          span.fa.fa-sort.m-l-5(ng-class="getIcon('event_data.contact_email')")
                      th(width='10%')
                        a.cursor-pointer(ng-click="sortType = 'is_active'; sortReverse = !sortReverse; sortOrderby('is_active',sortReverse);")
                          strong Status
                          span.fa.fa-sort.m-l-5(ng-class="getIcon('is_active')")
                      th.unsortheading(width='20%') Actions
                  tbody
                    tr.odd(role='row', ng-repeat='data in $data', ng-if='haveResult')
                      td.text-center
                        .checker1
                          span
                            input(type='checkbox', checklist-model='selectedEvent.event', checklist-value='data._id')
                      td.text-center(ng-bind='data.accountId')
                      td(ng-bind='data.name | limitTo: 20', title='{{data.name}}')
                      td.text-center(ng-bind="data.start_date | date:'MM/dd/yyyy'")
                      td(ng-bind='data.event_data.contact_name | limitTo: 20', title='{{data.event_data.contact_name}}')
                      td.text-center(ng-bind='data.event_data.contact_phone | tel')
                      td(ng-bind='data.event_data.contact_email')
                      td.text-center(ng-if='data.is_active == true')
                        .label.cursor-pointer.label-success(ng-click='update_status($index,data)') Active
                      td.text-center(ng-if='data.is_active !== true')
                        .label.cursor-pointer.label-danger(ng-click='update_status($index,data)') Inactive
                      td.text-center
                        i.fa.fa-edit.cursor-pointer.f-20(ng-click='showEvent(data._id)', rel='tooltip', title='Edit', type='button', style='color:#0090d9;')
                        i.fa.fa-eye.cursor-pointer.f-20(data-toggle='modal', data-target='#modal-basic', title='View', ng-click='showEventdetails(data._id)', style='margin-left:5px;color:#0090d9')
                        i.fa.fa-question-circle.cursor-pointer.f-20(data-toggle='modal', data-target='#modal-questions', title='Questions', ng-click='fetchQuestions(data.questions, data._id)', style='margin-left:5px;color:#0090d9')
                        i.fa.fa-comment.cursor-pointer.f-20.m-l-5(data-toggle='modal', data-target='#modal-NotesSection',ng-click='showNotes(data._id)', rel='tooltip', title='Notes', type='button', style='color:#0090d9;')
                        i.fa.fa-plus.cursor-pointer.f-20.m-l-5(data-toggle='modal', data-target='#modal-extraShift',ng-click='showAccount(data._id)', rel='tooltip', title='Add Extra Shift', type='button', style='color:#0090d9;')
                    tr(ng-if='haveResult')
                      td(colspan='9')
                        div(style='display:inline-block;margin-right:1%;')
                          select#selectedAction.btn.select_tag(name='selectedAction', style='border: 1px solid lightgray;text-align: left;')
                            option(value='0') Select
                            option(value='1') Active
                            option(value='2') Inactive
                        input.btn.btn-primary(type='button', name='go', value='Go', ng-disabled="selectedEvent.event == '' ", ng-click='performAction()', style='width:auto;display:inline-block;margin-right:1%;background-color:#77ABD7;')
                        h5.pull-right(style='color:#3276B1')
                          strong Total Accounts: {{totalRecords}}
          .alert.alert-info.fade.in.text-center(ng-if='!haveResult')
            h4 No accounts for you at this time.
#clear_all.ng-scope(style='display: none;')
  .confirmon-overlay(style='display: block;')
    .confirmon-box(style='display: block; width:32%')
      p.confirmon-content Are you sure you want to reset whole selected items?
      button.confirmon-button.confirmon-button(onclick="$('#clear_all').hide()") Cancel
      | &nbsp;&nbsp;&nbsp;&nbsp; 
      button.confirmon-button.confirmon-button(ng-click='removeAll()') Confirm
#confirm_notedel.ng-scope(style='display: none;')
  .confirmon-overlay(style='display: block;')
    .confirmon-box(style='display: block; width:32%')
      p.confirmon-content Are you sure you want to delete ?
      button.confirmon-button.confirmon-button(onclick="$('#confirm_notedel').hide()") Cancel
      | &nbsp;&nbsp;&nbsp;&nbsp; 
      button.confirmon-button.confirmon-button(ng-click='removeNote()') Confirm   
#confirm_notelistdel.ng-scope(style='display: none;')
  .confirmon-overlay(style='display: block;')
    .confirmon-box(style='display: block; width:32%')
      p.confirmon-content Are you sure you want to delete ?
      button.confirmon-button.confirmon-button(onclick="$('#confirm_notelistdel').hide()") Cancel
      | &nbsp;&nbsp;&nbsp;&nbsp; 
      button.confirmon-button.confirmon-button(ng-click='removeNoteList()') Confirm  
#confirm_extrashiftdel.ng-scope(style='display: none;')
  .confirmon-overlay(style='display: block;')
    .confirmon-box(style='display: block; width:32%')
      p.confirmon-content Are you sure you want to delete ?
      button.confirmon-button.confirmon-button(onclick="$('#confirm_extrashiftdel').hide()") Cancel
      | &nbsp;&nbsp;&nbsp;&nbsp; 
      button.confirmon-button.confirmon-button(ng-click='removeExtrashift()') Confirm
#confirm_extrashiftlistdel.ng-scope(style='display: none;')
  .confirmon-overlay(style='display: block;')
    .confirmon-box(style='display: block; width:32%')
      p.confirmon-content Are you sure you want clear whole list ?
      button.confirmon-button.confirmon-button(onclick="$('#confirm_extrashiftlistdel').hide()") Cancel
      | &nbsp;&nbsp;&nbsp;&nbsp; 
      button.confirmon-button.confirmon-button(ng-click='removeExtrashiftList()') Confirm 
