showloader
.m-b-20.clearfix
  .page-title.pull-left
    h3.pull-left.head_to
      strong  Availability Comment Report (Range of : {{dateRange.start_date}} - {{dateRange.end_date}} )
  .pull-right
    button.btn.btn-primary.m-t-10(ng-if='haveResult', excel-export export-data="exportData" file-name="'AvailabilityReport'")
.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        form#form1.form-horizontal(name='availableRangeForm', novalidate='')
          .row
            .col-md-3.col-sm-3.col-xs-12.mar_bt10
              input.datepicker.form-control(type='text', name='stDate', placeholder='Start Date', ng-model='dateRange.start_date', style='padding: 8px 12px;', required='', readonly='readonly')
            .col-md-3.col-sm-3.col-xs-12.mar_bt10
              input.datepicker.form-control(type='text', name='enDate', placeholder='End Date', ng-model='dateRange.end_date', style='padding: 8px 12px;', required='', readonly='readonly')
            .col-md-3.col-sm-3.col-xs-12.mar_bt10
              button.btn.btn-success.grnbtn100(href='#', ng-click='getReport(dateRange)', ng-disabled='availableRangeForm.$invalid')
                i.fa.fa-check.p-r-10
                | Fetch Reports
      .panel-body(style='clear:both')
        .row
          .table-container(style='')
            #datatable_ajax_wrapper.dataTables_wrapper.dataTables_extended_wrapper.dataTables_extended_wrapper.no-footer
              .margin-b-10.tbl_response
                table#datatable_ajax.table.table-striped.table-bordered.table-hover.f-left(ng-table='tableParams')
                  thead
                    tr
                      th.unsortheading(width='7%') Emp #
                      th.unsortheading(width='12%') Username
                      th(width='12%')
                        a.cursor-pointer(ng-click="sortType = 'startWeekDate'; sortReverse = !sortReverse; sortOrderby('startWeekDate',sortReverse);")
                          strong Start Date
                          span.fa.fa-sort.m-l-5(ng-class="getIcon('startWeekDate')")
                      th(width='12%')
                        a.cursor-pointer(ng-click="sortType = 'endWeekDate'; sortReverse = !sortReverse; sortOrderby('endWeekDate',sortReverse);")
                          strong End Date
                          span.fa.fa-sort.m-l-5(ng-class="getIcon('endWeekDate')")
                      th.unsortheading(width='55%') Comment
                  tbody
                    tr.odd(role='row', ng-repeat='data in $data', ng-if='haveResult')
                      td.text-center {{data.employee[0].employeeid}}
                      td {{data.employee[0].first_name}} {{data.employee[0].last_name}}
                      td.text-center {{data.startWeekDate | date: 'MM/dd/yyyy'}}
                      td.text-center {{data.endWeekDate | date: 'MM/dd/yyyy'}}
                      td.cursor-pointer(title='Click to show detail', ng-click='viewReport(data)') {{data.comment}}
          .alert.alert-info.fade.in.text-center(ng-if='!haveResult')
            h4 No reports found for this selection.
style.
  .largeDiv > p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 137px;
  margin:auto;
  }
  // BEGIN MODAL
#get-modal.modal(style='display:block;')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', ng-click='closemodal()', data-dismiss='modal', aria-hidden='true') ×
        h4.modal-title.unsortheading(style='text-align:center') Report Data
      .modal-body
        p
          br
          | Name : {{modal_data.employee[0].first_name}} {{modal_data.employee[0].last_name}}
          br
          |  Comment: {{modal_data.comment}} 
          br
          | Start of Week: {{modal_data.startWeekDate | date: 'fullDate'}}
          br
          | End of Week: {{modal_data.endWeekDate | date: 'fullDate'}} 
          br
      
      .modal-footer
        button.btn.btn-default(type='button', ng-click='closemodal()', data-dismiss='modal') Close
// END MODAL
