#event-modal.modal.fade
  .modal-dialog(style='width:1050px')
      .modal-content
        .modal-header(style="background-color:lightgray")
          button.close(type='button', data-dismiss='modal', aria-hidden='true') X
          h4#myModalLabel.modal-title
            | Availability | Schedule ({{clickedDate | date : 'fullDate'}})
        .modal-body(style="line-height:25px;font-weight:bolder;max-height:480px;overflow-y:auto")
          showloader
          h4.pull-right.text-right.sd_legend.m-b-40(ng-if='haveResult && employeeDayAvail.length')
            input.legend.yes(type='text', disabled='disabled')
            strong.p-r-10  Yes
            input.legend.maybe(type='text', disabled='disabled')
            strong.p-r-10  Maybe
            input.legend.no(type='text', disabled='disabled')
            strong.p-r-10  No
            input.legend.maybeforced(type='text', disabled='disabled')
            strong.p-r-10  Screwed Maybe
          br
          table.table.table-bordered.m-t-10(ng-if='haveResult && employeeDayAvail.length')
            tr
              td.bg-orange Morning
              td.bg-yellow Afternoon
              td.bg-blue Night
              td.bg-dark Late Night
            tr
              td
                span.p-t-10(ng-repeat='EDA in employeeDayAvail| orderBy : "morningsortOrder"', ng-if='EDA.is_morning_scheduled_type !== "" && EDA.is_morning_scheduled_type !== "false"') 
                  h4(ng-class='EDA.morningTextclass') {{EDA.employee_id.employeeid}} / {{EDA.employee_id.first_name}} {{EDA.employee_id.last_name}}
                    span(ng-if='EDA.MorningSchedule') 
                      i.fa.fa-clock-o.f-right.cursor-pointer(data-toggle='modal', data-target='#modal-schedule', title='view schedule', ng-click='viewScheduleInfo(EDA.employee_id._id, "Morning")')
              td
                span(ng-repeat='EDA in employeeDayAvail| orderBy : "afternoonsortOrder"' , ng-if='EDA.is_afternoon_scheduled_type !== "" && EDA.is_afternoon_scheduled_type !== "false"')
                  h4(ng-class='EDA.afternoonTextclass') {{EDA.employee_id.employeeid}} / {{EDA.employee_id.first_name}} {{EDA.employee_id.last_name}} 
                    span(ng-if='EDA.AfternoonSchedule')
                      i.fa.fa-clock-o.f-right.cursor-pointer(data-toggle='modal', data-target='#modal-schedule', title='view schedule', ng-click='viewScheduleInfo(EDA.employee_id._id, "Afternoon")')
              td
                span(ng-repeat='EDA in employeeDayAvail| orderBy : "nightsortOrder"', ng-if='EDA.is_night_scheduled_type !== "" && EDA.is_night_scheduled_type !== "false"')
                  h4(ng-class='EDA.nightTextclass') {{EDA.employee_id.employeeid}} / {{EDA.employee_id.first_name}} {{EDA.employee_id.last_name}}
                    span(ng-if='EDA.NightSchedule')
                      i.fa.fa-clock-o.f-right.cursor-pointer(data-toggle='modal', data-target='#modal-schedule', title='view schedule', ng-click='viewScheduleInfo(EDA.employee_id._id, "Night")')
              td
                span(ng-repeat='EDA in employeeDayAvail| orderBy : "latenightsortOrder"', ng-if='EDA.is_late_night_scheduled_type !== "" && EDA.is_late_night_scheduled_type !== "false"')
                  h4(ng-class='EDA.latenightTextclass') {{EDA.employee_id.employeeid}} / {{EDA.employee_id.first_name}} {{EDA.employee_id.last_name}}
                    span(ng-if='EDA.LateNightSchedule')
                      i.fa.fa-clock-o.f-right.cursor-pointer(data-toggle='modal', data-target='#modal-schedule', title='view schedule', ng-click='viewScheduleInfo(EDA.employee_id._id, "Late Night")')
          .alert.alert-info.fade.in.text-center(ng-if='!employeeDayAvail.length && haveResult')
            h4.text-center No data is found for this selection
        .modal-footer
          button.btn.btn-default(type="button", data-dismiss="modal") Close
#modal-schedule.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog(style='width:1050px')
    .modal-content
      .modal-header(style='background-color:lightgray')
        button.close(type='button', data-dismiss='modal', aria-hidden='true') X
        h4#myModalLabel.modal-title Schedule Information ({{clickedDate | date : 'fullDate'}})
      .modal-body(style='line-height:25px;font-weight:bolder;max-height:480px;overflow-y:auto')
        h4 {{selectedSchedule.employee_id.first_name}} - {{selectedSchedule.employee_id.last_name}}
        h4 Event/Account : {{selectedSchedule.event_account_id.name}}
        h4 Timeslot : {{selectedSchedule.timeslot}}
        h4 ShiftTime : {{twentyfour_to_twelve(selectedSchedule.shiftReminderTime)}}
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Close
.m-b-20.clearfix
  .pull-left
    h4.align-center.w-700(style='color:#2a6496') Schedule Calendar(Click on a date to view its Availability | Schedule)
  .pull-right

.col-md-13.p-0.no-bd
    .widget.bg-white
      .widget-body
        .row
          .col-md-13.col-sm-13.col-xs-13
            #calendar