style.
  .multiSelect .checkBoxContainer{
    max-height:200px;
    overflow-y:scroll;
  }
  .disableTable{
    opacity:0.30;
  }
  .removedisableTable{
    opacity:1.0;
  }
#confirm_change.ng-scope(style='display: none;')
  .confirmon-overlay(style='display: block;')
    .confirmon-box(style='display: block; width:32%')
      p.confirmon-content Are you sure you want to clear all the scheduling for this week ?
      br
      button#leave_private.confirmon-button.confirmon-button(ng-click='cancelbtn()') Cancel 
      button.confirmon-button.confirmon-button(ng-click='cleardata()') Confirm
showloader
.m-b-20.clearfix
    .pull-left
      h3
        strong Employee Scheduling
    .pull-right
      a.btn.btn-success.m-t-10.m-r-10(ng-if="!screenlockedDetails._id", ng-click="lock_Screen()")
        i.fa.fa-lock.p-r-10
        | Lock Screen
      a.btn.btn-danger.m-t-10.m-r-10(ng-if="screenlockedDetails._id", ng-click="unlock_Screen()")
        i.fa.fa-unlock.p-r-10
        | Unlock Screen
      a.btn.btn-success.m-t-10(href='/reportSchedule')
        i.fa.fa-calendar.p-r-10
        | Schedule Report
.row(ng-show='visibility')
  .col-md-12
    .panel.panel-default
      .panel-heading.sd_manage_pd
        .col-xs-12
          .box
            .box-header
              h3.box-title
              .box-tools
                .input-group
            .box-body.table-responsive.no-padding
              h2.c-red(ng-if = "(screenlockedDetails._id && (screenlockedDetails._id !== user._id))", style='margin-top:250px;position:absolute;font-weight:bold !important;margin-left:50px !important') Schedule screen is locked by {{screenlockedDetails.first_name}} {{screenlockedDetails.last_name}}, Please wait.
              .inner-addon.left-addon.m-b-10.dis-inline-b
                .sd_calender1(style="width:380px;")
                  div(multi-select='', selection-mode = "SINGLE", input-model='allEvents', max-labels='1', button-label='buttonlabel', item-label='buttonlabel', tick-property='ticked', style='padding-left:0px', default-label='Search by Event/Account', on-item-click='accountBasedSearch()', on-close='closeSearch()')
              .inner-addon.left-addon.m-b-10.dis-inline-b(style='vertical-align:top')
                .sd_calender1(style="width:240px;")
                  input.form-control.w-700.align-center(weekpicker='weekpicker', ng-model='weekdate', placeholder='Choose a week by click here', readonly='readonly', style='border:solid 4px darkgray;color:#2a6496;padding-left:20px')
                  i.fa.fa-calendar.f-20
              h5.text-right(style="color:#3276B1", ng-if='haveResult && !searchOccur') 
                strong Total Shifts : {{totalShifts -- totalExtraShifts}}| 
                strong Shifts scheduled : {{totalScheduledShifts}} | 
                strong.c-red(ng-if='totalShifts') Shifts to be Scheduled : {{totalShifts -- totalExtraShifts - totalScheduledShifts}}
      .panel-body( ng-class='disenable')
        div.overlay(style='top:130px', ng-if = "(screenlockedDetails._id && (screenlockedDetails._id !== user._id))")
        .row
          .table-container(style='')
            #datatable_ajax_wrapper.dataTables_wrapper.dataTables_extended_wrapper.dataTables_extended_wrapper.no-footer
              .margin-b-10.tbl_response
                table#datatable_ajax.table.table-striped.table-bordered.table-hover.f-left(ng-table='tableParams')
                  thead
                    tr.heading.purple-bg(role='row')
                  tbody
                    
                    tr(ng-if='haveResult')
                      td
                        table#eventtable.table.table-bordered.m-b-10(ng-repeat='eventAcc in $data|orderBy : eventAcc.shift_template_id.length', class="table{{$index}}")
                          tr.cursor-pointer(ng-if="!haveshifts(eventAcc.shift_template_id)") 
                            th(colspan='4', style='color:#2A6496;background-color:lightblue;text-align:left;', ng-if="!eventAcc.is_repeat")
                              i.fa.fa-star.f-16.p-r-10(ng-if="!eventAcc.is_repeat", title="Edit Event")
                              | {{eventAcc.name}} ( {{eventAcc.start_date | date:'MM/dd/yyyy'}} - {{eventAcc.end_date | date:'MM/dd/yyyy'}} ) 
                              span.c-red.p-l-10(ng-if='eventAcc.shifttobescheduled.shiftTextClass == "c-red"'){{eventAcc.shifttobescheduled.shifttobescheduleText}} 
                              span.c-green.p-l-10(ng-if='eventAcc.shifttobescheduled.shiftTextClass == "c-green"'){{eventAcc.shifttobescheduled.shifttobescheduleText}}
                              span.c-orange.p-l-10(ng-if='eventAcc.shifttobescheduled.shiftTextClass == "c-orange"'){{eventAcc.shifttobescheduled.shifttobescheduleText}}  
                            th(colspan='4', style='color:#2A6496;background-color:lightblue;text-align:left;', ng-if="eventAcc.is_repeat")
                              i.fa.fa-repeat.f-16.p-r-10
                              | {{eventAcc.name}} ( {{eventAcc.start_date | date:'MM/dd/yyyy'}})
                              span.c-red.p-l-10(ng-if='eventAcc.shifttobescheduled.shiftTextClass == "c-red"'){{eventAcc.shifttobescheduled.shifttobescheduleText}} 
                              span.c-green.p-l-10(ng-if='eventAcc.shifttobescheduled.shiftTextClass == "c-green"'){{eventAcc.shifttobescheduled.shifttobescheduleText}} 
                              span.c-orange.p-l-10(ng-if='eventAcc.shifttobescheduled.shiftTextClass == "c-orange"'){{eventAcc.shifttobescheduled.shifttobescheduleText}}  
                          tr.cursor-pointer(ng-click="showhide($index);", ng-if="haveshifts(eventAcc.shift_template_id)") 
                            th(colspan='4', style='color:#2A6496;background-color:lightblue;text-align:left;', ng-if="!eventAcc.is_repeat")
                              i.fa.fa-star.f-16.p-r-10(ng-if="!eventAcc.is_repeat", title="Edit Event")
                              | {{eventAcc.name}} ( {{eventAcc.start_date | date:'MM/dd/yyyy'}} - {{eventAcc.end_date | date:'MM/dd/yyyy'}} ) 
                              span.c-red.p-l-10(ng-if='eventAcc.shifttobescheduled.shiftTextClass == "c-red"'){{eventAcc.shifttobescheduled.shifttobescheduleText}} 
                              span.c-green.p-l-10(ng-if='eventAcc.shifttobescheduled.shiftTextClass == "c-green"'){{eventAcc.shifttobescheduled.shifttobescheduleText}} 
                            th(colspan='4', style='color:#2A6496;background-color:lightblue;text-align:left;', ng-if="eventAcc.is_repeat")
                              i.fa.fa-repeat.f-16.p-r-10
                              | {{eventAcc.name}} ( {{eventAcc.start_date | date:'MM/dd/yyyy'}})
                              span.c-red.p-l-10(ng-if='eventAcc.shifttobescheduled.shiftTextClass == "c-red"'){{eventAcc.shifttobescheduled.shifttobescheduleText}} 
                              span.c-green.p-l-10(ng-if='eventAcc.shifttobescheduled.shiftTextClass == "c-green"'){{eventAcc.shifttobescheduled.shifttobescheduleText}} 
                            th(style='color:#2A6496;background-color:lightblue;text-align:right', width="4%") 
                              i.fa.fa-plus-circle.f-20.cursor-pointer(id="plusminus")
                          tr(style='background-color:lightgray;display:none')
                            th(style='width:1%')
                            th.text-center(style='width:24%', ng-repeat='tmsl in timeslots', id='{{tmsl}}') {{tmsl}}
                          tr(ng-repeat='week in weekdays', class="weekdaysrows", style="display:none")
                            th(style='background-color:lightgray') {{week}}
                            td(ng-repeat='tmsl in timeslots')
                              ul
                                li(ng-repeat='shift in eventAcc.shift_template_id | filter: {day: week, timeslot: tmsl} : true')
                                  ul
                                    li(ng-repeat='sft in shift.shifts')
                                      span.w-600(style='display:inline-block;color:#2A64A4') {{$index + 1}}) {{twentyfour_to_twelve(sft.startShiftTime)}} 
                                      span.w-600(style='display:inline-block;color:#2A64A4', ng-if='sft.endshiftTime') - {{twentyfour_to_twelve(sft.endshiftTime)}}
                                      i.fa.fa-star.f-10.c-red.p-l-5(ng-if='sft.extrashift', title="Extra Shift")
                                      span.w-600.c-red(ng-if='!selectedEmpArr[sft._id]', ng-click='checkOnBoard(sft, tmsl, eventAcc._id, week, eventAcc.name)')  (+/- TO TB)
                                      .form-group.m-l-5.m-b-5.dis-block
                                        div(id='{{sft._id}}_{{eventAcc._id}}_{{week}}_{{tmsl}}_{{sft.startShiftTime}}_{{sft.endshiftTime}}', angucomplete-alt='', placeholder='Align User', pause = '100', auto-match='auto-match', maxlength='50', selected-object='selectedUser', remote-api-handler='yesMaybeEmployee', title-field='fullname', minlength='1', input-class='form-control form-control-small', match-class='highlight', focus-in='focusIn()', focus-out='focusOut()', initial-value='selectedEmpArr[sft._id]')
                                      input(type='hidden', id='{{sft._id}}_selectedval', value='')
                                      input#focusedId(type='hidden', value='')
          .alert.alert-info.fade.in.text-center(ng-if='!eventAccountList.length && eventAccountList_status == 200 && haveResult') 
            h4 There is no Schedule for this selected week.
          .alert.alert-info.fade.in.text-center(ng-if='!eventAccountList.length && eventAccountList_status == 200 && !haveResult') 
            h4 There is no Schedule for this selected week.
          .col-md-12.m-t-5.align-center(ng-if='eventAccountList.length',style="clear:both")
            button.btn.btn-success.m-t-10(href='#', ng-click='saveschedule()', ng-if='(selectedDate.getTime() >= currDate.getTime())', ng-disabled = "(screenlockedDetails._id && (screenlockedDetails._id !== user._id))")
              i.fa.fa-check.p-r-10
              | Save Changes
#confirm_trade.ng-scope(style='display: none;')
  .confirmon-overlay(style='display: block;')
    .confirmon-box(style='display: block; width:32%')
      p.confirmon-content You want to remove that shift from trade board ?
      button.confirmon-button.confirmon-button(onclick="$('#confirm_trade').hide()") Cancel
      | &nbsp;&nbsp;&nbsp;&nbsp; 
      button.confirmon-button.confirmon-button(ng-click='BackFromTradeDocument(tradeId)') Confirm
#confirm_scheduleUpdate.ng-scope(style='display: none;')
  .confirmon-overlay(style='display: block;')
    .confirmon-box(style='display: block; width:32%')
      p.confirmon-content {{fullName}} has made updates in scheduling, So the page will be reload to reflect updates.
      button.confirmon-button.confirmon-button(ng-click='reloadPage()') Confirm
