.m-b-20.clearfix
  .page-title.pull-left
    h3.pull-left
      strong Schedule Employee ({{eventInfo.name}} : {{eventInfo.start_date | date:'yyyy-MM-dd'}} | {{eventInfo.end_date | date:'yyyy-MM-dd'}})
.row
  .col-md-12
    .tabcordion
      #myTabContent.tab-content
        #product_general.tab-pane.fade.active.in
          .row
            .col-md-12
              form#form1.form-horizontal(name="schedule employees", novalidate="")
                .form-group
                  label.col-sm-3.control-label
                    | Select Shift
                    span.asterisk *
                  .col-sm-7
                    select.btn#shiftlist(ng-model="selected_shift", ng-options="shiftlist.value as shiftlist.name for shiftlist in shifts", ng-init="selected_shift=shifts[0].value")
                .form-group
                  label.col-sm-3.control-label
                    | Select Date
                    span.asterisk
                  .col-sm-2
                    input.datepicker.form-control(type="text", placeholder="mm/dd/yyyy", ng-model="selected_date", style="padding: 8px 8px;", required="required")
                .form-group
                  label.col-sm-3.control-label                   
                  .col-sm-7
                    input(type="checkbox", ng-model="showemployeescheck", required="required" ng-change="emplst(showemployeescheck)")
                    | &nbsp;&nbsp;
                    b Please check to get available employees 
                .form-group(ng-if="showemployeescheck == true && selected_date!= '' ")
                  label.col-sm-3.control-label
                    | Select Employee
                  .col-sm-7
                    div(multi-select="" input-model="modernWebBrowsers", button-label="email", item-label="first_name", tick-property="ticked")
              .col-md-12.m-t-20.m-b-40.align-center
                a.btn.btn-default.m-r-10.m-t-10(href="/eventlist")
                  i.fa.fa-reply
                  | Back
                button.btn.btn-success.m-t-10(ng-if="modernWebBrowsers.length>0", ng-click="assign_emp()")
                  i.fa.fa-check
                  | Submit