style.
  .multiSelect .checkBoxContainer{
    max-height:200px;
    overflow-y:scroll;
  }
.m-b-20.clearfix
  .pull-left
    h3
      strong Schedule Reminder 
  .pull-right
    a.btn.btn-info.m-t-10.m-r-5(href='/addmemo')
      i.fa.fa-group.p-r-10
      | Group Management Page
    a.btn.btn-success.m-t-10(href='/memolist', ng-confirm-click='', ng-if='memoForm.$dirty')
      i.fa.fa-reply.p-r-10
      | Back
    a.btn.btn-success.m-t-10(href='/memolist', ng-if='memoForm.$pristine')
      i.fa.fa-reply.p-r-10
      | Back
.row
  .col-md-12
    .tabcordion
      #myTabContent.tab-content
        #product_general.tab-pane.fade.active.in
          .row
            .col-md-12
              form#form1.form-horizontal(name='memoForm', novalidate='')
                .form-group
                  label.col-sm-3.control-label
                  .col-sm-7.w-500
                    input(type="radio", name="texttype", ng-model="memo.texttype", value="EventBased", checked="checked") 
                    | &nbsp;&nbsp;Send a text to clockedIn employees of an Event/Account.
                    br
                    input(type="radio", name="texttype", ng-model="memo.texttype", value="EmployeeBased", checked="checked") 
                    | &nbsp;&nbsp;Schedule text for employee or a group.
                .form-group(ng-if='memo.texttype == "EventBased"')
                  label.col-md-3.control-label
                    | Select Event / Account
                    span.asterisk *
                  .col-sm-7
                    div.multiSelectButton(multi-select='', selection-mode = "SINGLE", input-model='allEvents', max-labels='1', button-label='name', item-label='name', tick-property='ticked', style='padding-left:0px')
                .form-group(ng-if='memo.texttype == "EmployeeBased"')
                  label.col-sm-3.control-label
                    | Select Employee
                    span.asterisk *
                  .col-sm-7
                    div(multi-select='', input-model='modernWebBrowsers', max-labels='0', button-label='first_name', item-label='fullname', tick-property='ticked', required='required', default-label='Select Employee')
                .form-group(ng-if='memo.texttype == "EmployeeBased"')
                  label.col-sm-3.control-label
                  .col-sm-7 
                    strong OR
                .form-group(ng-if='memo.texttype == "EmployeeBased"')
                  label.col-sm-3.control-label
                    | Select Group
                    span.asterisk *
                  .col-sm-3
                    div(multi-select='', input-model='groupArr', max-labels='0', button-label='groupname', item-label='groupname', tick-property='ticked', required='required', default-label='Select Group')
                .form-group(ng-if='memo.texttype == "EventBased"')
                  label.col-sm-3.control-label
                    | Text
                  .col-sm-1
                    input(type="radio", name="texttime", ng-model="memo.texttime", value="now", checked="checked") 
                    | &nbsp;&nbsp;Now
                  .col-sm-3
                    input(type="radio", name="texttime", ng-model="memo.texttime", value="later") 
                    | &nbsp;&nbsp;Send On Specific Date!
                  .col-sm-3
                    input(type="radio", name="texttime", ng-model="memo.texttime", value="repeat") 
                    | &nbsp;&nbsp;Repeat On Week Day
                .form-group(ng-if='memo.texttime == "later" || memo.texttype == "EmployeeBased"')
                  label.col-sm-3.control-label
                    | Schedule Date/Time
                    span.asterisk *
                  .col-sm-3
                    input.form-control.datetimepicker(type='text', placeholder='MM/DD/YYYY HH:MM', ng-model='memo.schRemindertime', style='padding: 8px 12px;cursor:pointer !important', readonly='readonly')
                .form-group(ng-if='memo.texttype == "EventBased" && memo.texttime == "repeat"')
                  label.col-sm-3.control-label
                    | Schedule WeekDay/Time
                    span.asterisk *
                  .col-sm-2
                    select.btn.select_tag(ng-options='wd.value as wd.name for wd in weekdays', ng-model='memo.weekdy', ng-init='memo.weekdy = weekdays[0].value', style='border:1px solid lightgray')
                  .col-sm-2
                    input.form-control.timepicker(type='text', placeholder='HH:MM', ng-model='memo.schRepeattime', style='padding: 8px 12px;cursor:pointer !important', readonly='readonly')
                .form-group
                  label.col-sm-3.control-label
                    | Title
                    span.asterisk *
                  .col-sm-7
                    input.form-control(type='text', placeholder='Enter title', ng-model='memo.title', required='required', maxlength='100')
                .form-group
                  label.col-sm-3.control-label
                    | Description
                    span.asterisk
                  .col-sm-7
                    textarea.form-control(placeholder='Enter description', ng-model='memo.description', rows='6', maxlength='250')  
                    span.m-l-5.dis-block
                      | {{250 - memo.description.length}} Characters left
              .col-md-12.m-t-20.m-b-40.align-center.sd_last_btn
                button.btn.btn-default.m-r-10.m-t-10(href='#', ng-click='cleardata()')
                  i.fa.fa-reply.p-r-10
                  | Clear
                a.btn.btn-info.m-r-10.m-t-10(href='/memolist')
                  i.fa.fa-reply.p-r-10
                  | Cancel
                button.btn.btn-success.m-t-10(href='#', ng-click='addMemo(memo)')
                  i.fa.fa-check.p-r-10
                  | Send