style.
  .multiSelect .checkBoxContainer{
    max-height:200px;
    overflow-y:scroll;
    text-align:left;
    font-size:14px;
  }
showloader
#modal-schNote.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog(style="width:900px;")
    .modal-content
      .modal-header(style='background-color:lightgray')
        button.close(type='button', data-dismiss='modal', aria-hidden='true') X
        h4#myModalLabel.modal-title Note for this shift
      .modal-body(style='line-height:25px;font-weight:bolder;max-height:480px;overflow-y:auto')
        form(name="notesForm", novalidate='novalidate')
          textarea#noteText.form-control(type="text", name="noteText", ng-model="noteitem.noteInput", placeholder="Write Notes ...", style="width:99%;resize:none;", ng-maxlength='250', required='required', title='Maximum 250 characters are allowed.')
          span.help-inline(ng-show='notesForm.noteText.$error.maxlength') Maximum 250 characters are allowed.
      .modal-footer
        button.btn.btn-success(type='button', ng-click="saveScheduleNote(scheduleshiftId, noteitem.noteInput)", ng-disabled="notesForm.$invalid") Save
.m-b-20.clearfix
    .pull-left
      h3
        strong Schedule Report
    .pull-right
      a.btn.btn-success.m-t-10(href='/schedule')
        i.fa.fa-reply.p-r-10
        | Back
      button.btn.btn-success.m-t-10.m-l-10(ng-click='getpdffile()')
        i.fa.fa-download.p-r-10
        | Schedule in Pdf
.row
  .col-md-12
    .tabcordion
      #myTabContent.tab-content
        #product_general.tab-pane.fade.active.in
          .row
            .col-md-12
              .tabcordion
                #myTabContent.tab-content
                  #product_general.tab-pane.fade.active.in
                    .row
                .col-xs-12
                  .box
                    .box-header
                      h3.box-title
                      .box-tools
                        .input-group
                    .box-body.table-responsive.no-padding.sd_schedule_dv
                      h4.align-center.w-700(style='color:#2a6496') Please select week and time slot to see schedule report.
                      .inner-addon.left-addon
                        .sd_calender1
                          input.form-control.w-700.align-center(weekpicker='weekpicker', ng-model='weekdate', placeholder='Choose a week by click here', readonly='readonly', style='border:solid 4px darkgray;color:#2a6496;')
                          i.fa.fa-calendar.f-20
                      h4.align-center
                        label.m-r-5.checkbox-inline
                          input.input_check(type='radio', ng-model='shift', value='Morning', ng-change='fetchscheduleReportOnChangeShift()', style='margin-right:2px;')
                          | Morning
                        label.m-r-5.checkbox-inline
                          input.input_check(type='radio', ng-model='shift', value='Afternoon', ng-change='fetchscheduleReportOnChangeShift()', style='margin-right:2px;')
                          | Afternoon
                        label.m-r-5.checkbox-inline
                          input.input_check(type='radio', ng-model='shift', value='Night', ng-change='fetchscheduleReportOnChangeShift()', style='margin-right:2px;')
                          | Night
                        label.m-r-5.checkbox-inline
                          input.input_check(type='radio', ng-model='shift', value='Late Night', ng-change='fetchscheduleReportOnChangeShift()', style='margin-right:2px;')
                          | Late Night
                        label.m-r-5.checkbox-inline
                          div(multi-select='', selection-mode = "SINGLE", input-model='allEvents', max-labels='1', button-label='name', item-label='name', tick-property='ticked', required='required', default-label='Search By Event/Account', on-item-click='fetchScheduleReportOnSearch()', on-close='closeScheduleReportSearch()')
                    table.table.table-bordered.m-t-10#exportthis(ng-if='scheduleIdsUnique.length')
                      tr
                        th(ng-repeat='a in sevenWeekDayArr', style='width:14%') {{a | date: 'EEE, M/d/yy'}}
                      tr(ng-if='scheduleIdsUnique.length')
                        td(colspan='7')
                          table.table(ng-repeat='siu in scheduleIdsUnique', style='border :1px outset lightgray;margin-bottom:10px;background-color:#F5F5F5;')
                            tr
                              td(colspan='7', style='border-top:none')
                                h5(style='color:#2a6496;line-height:0px !important') {{siu.entries[0].eventAccountName[0]}}
                            tr
                              td(ng-repeat='week in weekdays', style='padding:0px !important;padding-right:2px !important;width:14%') 
                                ul
                                  li.m-b-5.p-5.cursor-pointer(ng-repeat='emp in siu.entries | filter : {day_of_week : week}', style='background-color:#EEEEEE;border:1px solid lightgray;max-height:55px;min-height:55px;', ng-click='schDetail(emp.employee_id, emp.schnotes)', data-toggle='modal', data-target='#modal-schNote', title='Add Note for this shift')
                                    span.w-700.f-10(style='display:block;color:#2a6496;') {{twentyfour_to_twelve(emp.shiftReminderTime)}} - {{twentyfour_to_twelve(emp.shiftEndTime)}} : {{emp.userfname[0]}} {{emp.userlname[0]}} - {{matchZipInInitial(emp.zipcode[0])}} ({{emp.employeeid[0]}})
                    h3.align-center(style='color:#BD362F', ng-if='!scheduleIdsUnique.length && schedules_status == 200') No Schedules are found for this selection
