#main-content
  #modal-shifts.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header(style='background-color:lightgray')
          button.close(type='button', data-dismiss='modal', aria-hidden='true') X
          h4#myModalLabel.modal-title Trade Shifts Information ({{selectedDate | date : 'fullDate'}})
        .modal-body(style='line-height:25px;font-weight:bolder;max-height:480px;overflow-y:auto')
          p(ng-repeat='shift in shiftsInfo', style="border-bottom:solid 1px lightgray")
            span Trade By : {{shift.userId.first_name}} {{shift.userId.last_name}}
            br
            span Account Name : {{shift.eventId.name}}
            br
            span Location : {{shift.eventId.location_address.address}}
            span.f-right(ng-if='user._id !== shift.userId._id')
              button.btn.btn-link(type='button', ng-click='chooseTrade(shift)', ng-if='(selectedDate.getTime() >= currDate.getTime())') Select Shift
            br
            span Shift Info : {{shift.eventId.shiftslot}} / {{twentyfour_to_twelve(shift.eventId.shifttime)}}
            br
            span Notes : {{shift.comment}}
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Close
.m-b-20.clearfix
  .pull-left
    h3
      strong Trade Board Postings
  .pull-right
    a.btn.btn-success.m-t-10(href='/tradeAdminRequests', ng-if="role !== 'employee'")
      i.fa.fa-reply.p-r-10
      | Back
    a.btn.btn-success.m-t-10(ng-click='tradeSubscribe()', ng-if="role == 'employee' && !user.tradesubscribe")
      i.fa.fa-hand-o-right.p-r-10
      | Click here to subscribe, if you want to get notified when a new shift is added to the tradeboard.
    a.btn.btn-info.m-t-10(ng-click='tradeUnsubscribe()', ng-if="role == 'employee' && user.tradesubscribe")
      i.fa.fa-hand-o-right.p-r-10
      | Click here to unsubscribe, if you want to stop getting notified of shifts posted to tradeboard.
  br
.widget.bg-white
  .widget-body
    .row
      .col-md-13.col-sm-13.col-xs-13
        #calendar
#confirm_shift.ng-scope(style='display: none;')
  .confirmon-overlay(style='display: block;')
    .confirmon-box(style='display: block; width:32%')
      p.confirmon-content Are you sure you want that shift ?
      button.confirmon-button.confirmon-button(onclick="$('#confirm_shift').hide()") Cancel
      | &nbsp;&nbsp;&nbsp;&nbsp; 
      button.confirmon-button.confirmon-button(ng-click='shiftTradeConfirm()') Confirm