style.
  .multiSelect .checkBoxContainer{
  max-height:200px;
  overflow-y:scroll;
  }
  .ui-datepicker-calendar{
  display:none;
  }
showloader
#modal-viewticketDetail.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header(style='background-color:lightgray')
        button.close(type='button', data-dismiss='modal', aria-hidden='true', title="Close") X
        h4#myModalLabel.modal-title.dis-inline-b  Ticket Control Detail
      .modal-body(style='line-height:25px;font-weight:bolder;overflow-y:auto')
        b Event/Account
        |  : {{ticketDetail.eventId.name}}
        br
        b Shift 
        |  : {{ticketDetail.shift}}
        br
        b Report Date
        |  : {{ticketDetail.dateOfReport | date : 'MM/dd/yyyy'}}
        br
        b Revenue
        |  : {{ticketDetail.revenue}}
        br
        b Total Cars
        |  : {{ticketDetail.totalChargedCars + ticketDetail.vips}}
        br
        b Vips
        |  : {{ticketDetail.vips}}
        br
        b Vips List
        |  : {{ticketDetail.viplist}}
        br
        b Charged Cars
        |  : {{ticketDetail.totalChargedCars}}
        br
        b Deposit
        |  : {{ticketDetail.cashDeposit}}
        br
        b BTicket#
        |  : {{ ticketDetail.ticketadded -- ticketDetail.prevCount }}
        br
        b ETicket#
        |  : {{ticketDetail.endCount}}
        br
        b PTicket#
        |  : {{ticketDetail.prevCount}}
        br
        b Equipment Needs
        |  : {{ticketDetail.equipNeeds}}
        br
        b Notes
        |  : {{ticketDetail.notes}}
        br
        b Credit Card charges $
        |  : {{ticketDetail.ccc}}
        br
        b Created By
        |  : {{ticketDetail.created_by.employeeid}} - {{ticketDetail.created_by.first_name}} {{ticketDetail.created_by.last_name}}
        br
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Close
.m-b-20.clearfix
  .page-title.pull-left
    h3.pull-left.head_to
      strong  Monthly Ticket Comments
  .pull-right
    a.btn.btn-success.m-t-10(href='/ticketcomments')
      i.fa.fa-reply.p-r-10
      | Back
.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        form#form1.form-horizontal(name='availableRangeForm', novalidate='')
          .row
            .col-md-2.col-sm-3.col-xs-12.mar_bt10
              input.monthpicker.form-control(type='text', name='monthDate', placeholder='Start Date', ng-model='monthDate', style='padding: 8px 12px;', required='', readonly='readonly')
            .col-md-3.col-sm-3.col-xs-12.mar_bt10
              div(multi-select='', selection-mode = "SINGLE", input-model='allEvents', max-labels='1', button-label='buttonlabel', item-label='buttonlabel', tick-property='ticked', style='padding-left:0px', default-label='Select Event/Account')
            .col-md-3.col-sm-3.col-xs-12.mar_bt10
              button.btn.btn-success.grnbtn100(href='#', ng-click='getMonthlyReport(monthDate)')
                i.fa.fa-check.p-r-10
                | Fetch Reports
      .panel-body(style='clear:both')
        .row
          .table-container(style='')
            #datatable_ajax_wrapper.dataTables_wrapper.dataTables_extended_wrapper.dataTables_extended_wrapper.no-footer
              .margin-b-10.tbl_response
                table#datatable_ajax.table.table-striped.table-bordered.table-hover.f-left(ng-table='tableParams')
                  thead
                    tr.heading.purple-bg(role='row')
                      th(width='2%').unsortheading EmpId
                      th(width='20%').unsortheading Location
                      th.unsortheading Shift
                      th(width='13%').unsortheading Date
                      th.unsortheading Vips
                      th.unsortheading Notes
                      th.unsortheading Equipment
                  tbody
                    tr.odd(role='row', ng-repeat='data in $data', ng-if='haveResult')
                      td.text-center {{data.created_by.employeeid}}
                      td.cursor-pointer(data-toggle='modal', data-target='#modal-viewticketDetail', ng-click='viewTicketcontrolInfo(data._id)', title='View Detail') {{data.eventId.name}}
                      td {{data.shift}}
                      td {{data.dateOfReport | date : 'MM/dd/yyyy, EEE'}}
                      td.text-center {{data.viplist}} ({{data.vips}})
                      td.text-center {{data.notes}}
                      td.text-center {{data.equipNeeds}}
                    tr(ng-if='haveResult')
                      td(colspan='13')
                        h5.pull-right(style='color:#3276B1')
                          strong Total : {{totalRecords}}
          .alert.alert-info.fade.in.text-center(ng-if='!haveResult')
            h4 No report found for this selection.
style.
  .largeDiv > p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 137px;
  margin:auto;
  }
  // BEGIN MODAL
#get-modal.modal(style='display:block;')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', ng-click='closemodal()', data-dismiss='modal', aria-hidden='true') ×
        h4.modal-title.unsortheading(style='text-align:center') Report Data
      .modal-body
        p
          br
          | Name : {{modal_data.employee[0].first_name}} {{modal_data.employee[0].last_name}}
          br
          | Event/Account : {{modal_data.event[0].name}}
          br
          | Comment: {{modal_data.ticketControl.notes}} 
          br
          | ClockOut Date: {{modal_data.clockOutDateTime | date: 'fullDate'}}   
      .modal-footer
        button.btn.btn-default(type='button', ng-click='closemodal()', data-dismiss='modal') Close
// END MODAL
#confirm_ticketcontrolOverride.ng-scope(style='display: none;')
  .confirmon-overlay(style='display: block;')
    .confirmon-box(style='display: block; width:32%')
      p.confirmon-content Report is already filled for this location/shift/Date. Do you want to override it?
      button.confirmon-button.confirmon-button(onclick="$('#confirm_ticketcontrolOverride').hide()") Cancel
      | &nbsp;&nbsp;&nbsp;&nbsp; 
      button.confirmon-button.confirmon-button(ng-click='updateTicketControlConfirm()') Confirm 
