style.
  .multiSelect .checkBoxContainer{
      max-height:200px;
      overflow-y:scroll;
  }
  .form-control[disabled]{
      background:#eee !important;
  }
showloader
#modal-viewticketDetail.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header(style='background-color:lightgray')
        button.close(type='button', data-dismiss='modal', aria-hidden='true', title="Close") X
        h4#myModalLabel.modal-title.dis-inline-b  Ticket Control Detail
      .modal-body(style='line-height:25px;font-weight:bolder;overflow-y:auto')
        b Event/Account
        |  : {{ticketDetail.eventId.name}}
        br
        b Shift 
        |  : {{ticketDetail.shift}}
        br
        b Report Date
        |  : {{ticketDetail.dateOfReport | date : 'MM/dd/yyyy'}}
        br
        b Revenue
        |  : {{ticketDetail.revenue}}
        br
        b Total Cars
        |  : {{ticketDetail.totalChargedCars + ticketDetail.vips}}
        br
        b Vips
        |  : {{ticketDetail.vips}}
        br
        b Vips List
        |  : {{ticketDetail.viplist}}
        br
        b Charged Cars
        |  : {{ticketDetail.totalChargedCars}}
        br
        b Deposit
        |  : {{ticketDetail.cashDeposit}}
        br
        b BTicket#
        |  : {{ ticketDetail.ticketadded -- ticketDetail.prevCount }}
        br
        b ETicket#
        |  : {{ticketDetail.endCount}}
        br
        b PTicket#
        |  : {{ticketDetail.prevCount}}
        br
        b Equipment Needs
        |  : {{ticketDetail.equipNeeds}}
        br
        b Notes
        |  : {{ticketDetail.notes}}
        br
        b Credit Card charges $
        |  : {{ticketDetail.ccc}}
        br
        b Created By
        |  : {{ticketDetail.created_by.employeeid}} - {{ticketDetail.created_by.first_name}} {{ticketDetail.created_by.last_name}}
        br
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Close
#modal-editTicket.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header(style='background-color:lightgray')
        button.close(type='button', data-dismiss='modal', aria-hidden='true') X
        h4#myModalLabel.modal-title Edit Ticket Control Entry
      .modal-body(style='line-height:25px;font-weight:bolder;max-height:480px;overflow-y:auto')
        form#form1.form-horizontal(name='ticketControlEditForm', novalidate='novalidate')
          .form-group
            .col-sm-10
              input(type='hidden', ng-model='tickeditInfo.eventId')
              span.c-blue
                | Event/Account - {{tickeditInfo.eventId.name}} | {{tickeditInfo.dateOfReport | date : 'MM/dd/yyyy'}}
          .form-group
            label.col-sm-4.control-label
              | Select Employee
              span.asterisk *
            .col-sm-6
              div(multi-select='', selection-mode = "SINGLE", input-model='modernWebBrowsers', max-labels='1', button-label='fullname', item-label='fullname', tick-property='ticked', required='required', default-label='Select Employee')
          .form-group
            label.col-sm-4.control-label
              | Shift
            .col-sm-6
              select.btn.select_tag(ng-options='shift.value as shift.name for shift in shifts', ng-model='tickeditInfo.shift', ng-init='tickeditInfo.shift = tickeditInfo.shift || shifts[0].value', style='border:1px solid lightgray', ng-change='openTicketcontrolOnshift(tickeditInfo.shift, tickeditInfo.dateOfReport)')
          .form-group(ng-if='eventInfo')
            label.col-sm-4.control-label
              | Revenue Type
            .col-sm-6
              span.form-control(disabled='disabled') {{revenue_type}}
          .form-group(ng-if='tickeditInfo.revenueType === "per_car"')
            label.col-sm-4.control-label
              | Amount Per Car
            .col-sm-6
              span.form-control(disabled='disabled') {{amountPerCar}}
          .form-group(ng-if='tickeditInfo.revenueType === "rate_per_hour"')
            label.col-sm-4.control-label
              | Rate Per Hour
            .col-sm-6
              span.form-control(disabled='disabled') {{revenueRate}}
          .form-group
            label.col-sm-4.control-label
              | Tickets Added
              span.asterisk *
            .col-sm-6
              input.form-control(type='text', ng-model='tickeditInfo.ticketadded', name='ticketadded', required='required', maxlength='5', to-number)
          .form-group
            label.col-sm-4.control-label
              | Previous Count
              span.asterisk *
            .col-sm-6
              input.form-control(type='number', name='prevCount', ng-model='tickeditInfo.prevCount',  required='required', to-number)
          .form-group
            label.col-sm-4.control-label
              | Start Count
            .col-sm-6
              span.form-control(disabled='disabled') {{ tickeditInfo.ticketadded -- tickeditInfo.prevCount }}
          .form-group
            label.col-sm-4.control-label
              | End Count
              span.asterisk *
            .col-sm-6
              input.form-control(type='number', name='endCount', ng-model='tickeditInfo.endCount',  required='required', to-number)
          .form-group
            label.col-sm-4.control-label
              | Car Parked
            .col-sm-6
              span.form-control(disabled='disabled') {{ tickeditInfo.ticketadded -- tickeditInfo.prevCount - tickeditInfo.endCount}}
          .form-group
            label.col-sm-4.control-label
              | VIPs
              span.asterisk *
            .col-sm-6
              input.form-control(type='text', name='vips', ng-model='tickeditInfo.vips', required='required', maxlength='5', to-number, ng-init='tickeditInfo.vips = 0')
          .form-group(ng-if='tickeditInfo.vips > 0')
            label.col-sm-4.control-label
              | VIPs List
            .col-sm-6
              textarea.form-control(type='text', name='viplist', ng-model='tickeditInfo.viplist', maxlength='150')
          .form-group
            label.col-sm-4.control-label
              | Total charged cars
            .col-sm-6
              input(type='hidden', ng-model='tickeditInfo.totalChargedCars', id='totalChargedCarsedit', value='{{ tickeditInfo.ticketadded -- tickeditInfo.prevCount - tickeditInfo.endCount - tickeditInfo.vips}}')
              span.form-control(disabled='disabled') {{ tickeditInfo.ticketadded -- tickeditInfo.prevCount - tickeditInfo.endCount - ticketForm.vips}}
          .form-group(ng-if='tickeditInfo.revenueType === "per_car"')
            label.col-sm-4.control-label
              | Revenue
            .col-sm-6
              input(type='hidden', ng-model='tickeditInfo.revenue', id='revenueedit', value='{{ (tickeditInfo.ticketadded -- tickeditInfo.prevCount - tickeditInfo.endCount - tickeditInfo.vips) * amountPerCar}}')
              span.form-control(disabled='disabled') {{ (tickeditInfo.ticketadded -- tickeditInfo.prevCount - tickeditInfo.endCount - tickeditInfo.vips) * amountPerCar}}
          .form-group(ng-if='tickeditInfo.revenueType === "flat_rate"')
            label.col-sm-4.control-label
              | Revenue
            .col-sm-6
              input(type='hidden', ng-model='tickeditInfo.revenue', id='revenueedit', value='{{tickeditInfo.revenue}}')
              span.form-control(disabled='disabled') {{tickeditInfo.revenue}}
          .form-group(ng-if='tickeditInfo.revenueType === "rate_per_hour"')
            label.col-sm-4.control-label
              | Revenue 
            .col-sm-6
              input(type='hidden', ng-model='tickeditInfo.revenue', id='revenueedit', value='{{revenueRate * timeToDecimal(totalhoursofDay)}}')
              span.form-control(disabled='disabled') {{revenueRate * timeToDecimal(totalhoursofDay)}}
          .form-group
            label.col-sm-4.control-label
              | Credit Card charges $
            .col-sm-6
              input.form-control(ng-model='tickeditInfo.ccc', name='ccc', maxlength='7',  placeholder='Not included processing fee', ng-init='tickeditInfo.ccc = 0', decimal='decimal')
          .form-group(ng-if='eventInfo.revenue_type === "per_car"')
            label.col-sm-4.control-label
              | Cash Deposit
            .col-sm-6
              input(type='hidden', ng-model='tickeditInfo.cashDeposit', id='cashDepositedit', value='{{ ((tickeditInfo.ticketadded -- tickeditInfo.prevCount - tickeditInfo.endCount - tickeditInfo.vips) * amountPerCar) - tickeditInfo.ccc }}')
              span.form-control(disabled='disabled') {{ ((tickeditInfo.ticketadded -- tickeditInfo.prevCount - tickeditInfo.endCount - tickeditInfo.vips) * amountPerCar) - tickeditInfo.ccc }}
          .form-group(ng-if='tickeditInfo.revenueType === "flat_rate" || tickeditInfo.revenueType === "rate_per_hour" ')
            label.col-sm-4.control-label
              | Cash Deposit
            .col-sm-6
              input(type='hidden', ng-model='tickeditInfo.cashDeposit', id='cashDepositedit', value='0')
              span.form-control(disabled='disabled') 0
          .form-group
            label.col-sm-4.control-label
              | Equipment Needs
            .col-sm-6
              input.form-control(type='text', name='equipNeeds', ng-model='tickeditInfo.equipNeeds', ng-pattern='notesNamePattern')
              span.help-inline(ng-show='tickeditInfo.equipNeeds.$error.pattern') Only Following characters (0-9 a-z A-Z '$&_-=%#@) & blank space is allowed.
          .form-group
            label.col-sm-4.control-label
              | Notes
            .col-sm-6
              textarea.form-control(type='text', name='notes', ng-model='tickeditInfo.notes', maxlength='150', ng-pattern='notesNamePattern')
              span.help-inline(ng-show='tickeditInfo.notes.$error.pattern') Only Following characters (0-9 a-z A-Z '$&_-=%#@) & blank space is allowed.
      .modal-footer
        button.btn.btn-success(type='button', ng-disabled="ticketControlEditForm.$invalid", ng-click="editTicketControlData(eventInfo)") Save
#modal-tickets.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header(style='background-color:lightgray')
        button.close(type='button', data-dismiss='modal', aria-hidden='true') X
        h4#myModalLabel.modal-title Ticket Control System
      .modal-body(style='line-height:25px;font-weight:bolder;max-height:480px;overflow-y:auto')
        form#form1.form-horizontal(name='ticketControlForm', novalidate='novalidate')
          .form-group
            label.col-sm-4.control-label
              | Select Employee
              span.asterisk *
            .col-sm-6
              div(multi-select='', selection-mode = "SINGLE", input-model='modernWebBrowsers', max-labels='1', button-label='fullname', item-label='fullname', tick-property='ticked', required='required', default-label='Select Employee')
          .form-group
            label.col-sm-4.control-label
              | Select Date
              span.asterisk *
            .col-sm-6
              input#selectdate.form-control.datepicker(type='text', placeholder='MM/DD/YYYY', ng-model='ticketForm.dateOfReport', style='padding: 8px 12px;cursor:pointer !important;width:180px;', required='required', readonly='readonly')
          .form-group
            label.col-sm-4.control-label
              | Select Event/Account
              span.asterisk *
            .col-sm-6
              div(multi-select='', selection-mode = "SINGLE", input-model='allPopupEvents', max-labels='1', button-label='buttonlabel', item-label='buttonlabel', tick-property='ticked', style='padding-left:0px', default-label='Select Event/Account', on-item-click='fetchEventInfo()')
          .form-group
            label.col-sm-4.control-label
              | Shift
            .col-sm-6
              select.btn.select_tag(ng-options='shift.value as shift.name for shift in shifts', ng-model='ticketForm.shift', ng-init='ticketForm.shift = ticketForm.shift || shifts[0].value', style='border:1px solid lightgray', ng-change='openTicketcontrolOnshift(ticketForm.shift, ticketForm.dateOfReport)')
          .form-group(ng-if='eventInfo')
            label.col-sm-4.control-label
              | Revenue Type
            .col-sm-6
              span.form-control(disabled='disabled') {{revenue_type}}
          .form-group(ng-if='eventInfo.revenue_type === "per_car"')
            label.col-sm-4.control-label
              | Amount Per Car
            .col-sm-6
              span.form-control(disabled='disabled') {{amountPerCar}}
          .form-group(ng-if='eventInfo.revenue_type === "rate_per_hour"')
            label.col-sm-4.control-label
              | Rate Per Hour
            .col-sm-6
              span.form-control(disabled='disabled') {{eventInfo.rate_per_hour}}
          .form-group
            label.col-sm-4.control-label
              | Tickets Added
              span.asterisk *
            .col-sm-6
              input.form-control(type='text', ng-model='ticketForm.ticketadded', name='ticketadded', required='required', maxlength='5', to-number)
          .form-group
            label.col-sm-4.control-label
              | Previous Count
              span.asterisk *
            .col-sm-6
              input.form-control(type='number', name='prevCount', ng-model='ticketForm.prevCount',  required='required', to-number)
          .form-group
            label.col-sm-4.control-label
              | Start Count
            .col-sm-6
              span.form-control(disabled='disabled') {{ ticketForm.ticketadded -- ticketForm.prevCount }}
          .form-group
            label.col-sm-4.control-label
              | End Count
              span.asterisk *
            .col-sm-6
              input.form-control(type='number', name='endCount', ng-model='ticketForm.endCount', max="{{ ticketForm.ticketadded -- ticketForm.prevCount }}", required='required', to-number)
              span.help-inline(ng-show='ticketForm.endCount.$error.max') End count should be less or same of start count.
              span.help-inline(ng-show='ticketForm.endCount.$error.min') End count should be less or same of previous.
          .form-group
            label.col-sm-4.control-label
              | Car Parked
            .col-sm-6
              span.form-control(disabled='disabled') {{ ticketForm.ticketadded -- ticketForm.prevCount - ticketForm.endCount}}
          .form-group
            label.col-sm-4.control-label
              | VIPs
              span.asterisk *
            .col-sm-6
              input.form-control(type='text', name='vips', ng-model='ticketForm.vips', required='required', maxlength='5', to-number, ng-init='ticketForm.vips = 0')
          .form-group(ng-if='ticketForm.vips > 0')
            label.col-sm-4.control-label
              | VIPs List
            .col-sm-6
              textarea.form-control(type='text', name='viplist', ng-model='ticketForm.viplist', maxlength='150')
          .form-group
            label.col-sm-4.control-label
              | Total charged cars
            .col-sm-6
              input(type='hidden', ng-model='ticketForm.totalChargedCars', id='totalChargedCars', value='{{ ticketForm.ticketadded -- ticketForm.prevCount - ticketForm.endCount - ticketForm.vips}}')
              span.form-control(disabled='disabled') {{ ticketForm.ticketadded -- ticketForm.prevCount - ticketForm.endCount - ticketForm.vips}}
          .form-group(ng-if='eventInfo.revenue_type === "per_car"')
            label.col-sm-4.control-label
              | Revenue
            .col-sm-6
              input(type='hidden', ng-model='ticketForm.revenue', id='revenue', value='{{ (ticketForm.ticketadded -- ticketForm.prevCount - ticketForm.endCount - ticketForm.vips) * amountPerCar}}')
              span.form-control(disabled='disabled') {{ (ticketForm.ticketadded -- ticketForm.prevCount - ticketForm.endCount - ticketForm.vips) * amountPerCar}}
          .form-group(ng-if='eventInfo.revenue_type === "flat_rate"')
            label.col-sm-4.control-label
              | Revenue
            .col-sm-6
              input(type='hidden', ng-model='ticketForm.revenue', id='revenue', value='{{eventInfo.flat_rate}}')
              span.form-control(disabled='disabled') {{eventInfo.flat_rate}}
          .form-group(ng-if='eventInfo.revenue_type === "rate_per_hour"')
            label.col-sm-4.control-label
              | Revenue
            .col-sm-6
              input(type='hidden', ng-model='ticketForm.revenue', id='revenue', value='{{(eventInfo.rate_per_hour) * timeToDecimal(totalhoursofDay)}}')
              span.form-control(disabled='disabled') {{(eventInfo.rate_per_hour) * timeToDecimal(totalhoursofDay)}}
          .form-group
            label.col-sm-4.control-label
              | Credit Card charges $
            .col-sm-6
              input.form-control(ng-model='ticketForm.ccc', name='ccc', maxlength='7', placeholder='Not included processing fee', ng-init='ticketForm.ccc = 0', decimal='decimal')
          .form-group(ng-if='eventInfo.revenue_type === "per_car"')
            label.col-sm-4.control-label
              | Cash Deposit
            .col-sm-6
              input(type='hidden', ng-model='ticketForm.cashDeposit', id='cashDeposit', value='{{ ((ticketForm.ticketadded -- ticketForm.prevCount - ticketForm.endCount - ticketForm.vips) * amountPerCar)  - ticketForm.ccc }}')
              span.form-control(disabled='disabled') {{ ((ticketForm.ticketadded -- ticketForm.prevCount - ticketForm.endCount - ticketForm.vips) * amountPerCar)  - ticketForm.ccc}}
          .form-group(ng-if='eventInfo.revenue_type === "flat_rate" || eventInfo.revenue_type === "rate_per_hour" ')
            label.col-sm-4.control-label
              | Cash Deposit
            .col-sm-6
              input(type='hidden', ng-model='ticketForm.cashDeposit', id='cashDeposit', value='0')
              span.form-control(disabled='disabled') 0
          .form-group
            label.col-sm-4.control-label
              | Equipment Needs
            .col-sm-6
              input.form-control(type='text', name='equipNeeds', ng-model='ticketForm.equipNeeds', ng-pattern='notesNamePattern')
              span.help-inline(ng-show='ticketForm.equipNeeds.$error.pattern') Only Following characters (0-9 a-z A-Z '$&_-=%#@) & blank space is allowed.
          .form-group
            label.col-sm-4.control-label
              | Notes
            .col-sm-6
              textarea.form-control(type='text', name='notes', ng-model='ticketForm.notes', maxlength='150', ng-pattern='notesNamePattern')
              span.help-inline(ng-show='ticketForm.notes.$error.pattern') Only Following characters (0-9 a-z A-Z '$&_-=%#@) & blank space is allowed.
      .modal-footer
        button.btn.btn-success(type='button', ng-disabled="ticketControlForm.$invalid", ng-click="saveTicketControl()") Save
.m-b-20.clearfix
  .page-title.pull-left
    h3.pull-left.head_to
      strong  Ticket System Report
  .pull-right
    a.btn.btn-success.m-t-10(href='/ticketmonthlynotes', title='Monthly Ticket Control') Monthly Ticket Control
    a.btn.btn-success.m-t-10.m-l-10(data-toggle='modal', data-target='#modal-tickets', ng-click='openTicketcontrol()', title='Ticket Control')
      i.fa.fa-plus.p-r-10
      | Add Ticket System Report
.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        form#form1.form-horizontal(name='availableRangeForm', novalidate='')
          .row
            .col-md-2.col-sm-3.col-xs-12.mar_bt10
              input.datepicker.form-control(type='text', name='stDate', placeholder='Start Date', ng-model='dateRange.start_date', style='padding: 8px 12px;', required='', readonly='readonly')
            .col-md-2.col-sm-3.col-xs-12.mar_bt10
              input.datepicker.form-control(type='text', name='enDate', placeholder='End Date', ng-model='dateRange.end_date', style='padding: 8px 12px;', required='', readonly='readonly')
            .col-md-3.col-sm-3.col-xs-12.mar_bt10
              div(multi-select='', selection-mode = "SINGLE", input-model='allEvents', max-labels='1', button-label='buttonlabel', item-label='buttonlabel', tick-property='ticked', style='padding-left:0px', default-label='Select Event/Account')
            .col-md-2.col-sm-3.col-xs-12.mar_bt10
              select.btn.select_tag(ng-options='shift.value as shift.name for shift in shifts', ng-model='shift', ng-init='shift = shift || shifts[0].value', style='border:1px solid lightgray')
            .col-md-3.col-sm-3.col-xs-12.mar_bt10
              button.btn.btn-success.grnbtn100(href='#', ng-click='getReport(dateRange, shift)', ng-disabled='availableRangeForm.$invalid')
                i.fa.fa-check.p-r-10
                | Fetch Reports
      .panel-body(style='clear:both')
        .row
          .table-container(style='')
            #datatable_ajax_wrapper.dataTables_wrapper.dataTables_extended_wrapper.dataTables_extended_wrapper.no-footer
              .margin-b-10.tbl_response
                table#datatable_ajax.table.table-striped.table-bordered.table-hover.f-left(ng-table='tableParams')
                  thead
                    tr.heading.purple-bg(role='row')
                      th(width='3%')
                        input.group-checkable(type='checkbox', ng-model='checkAll.val', ng-change='selectAllGroup(checkAll.val)')
                      th(width='2%').unsortheading EmpId
                      th(width='20%').unsortheading Location
                      th(width='13%').unsortheading Date
                      th.unsortheading(title='Revenue') Rev
                      th.unsortheading Total
                      th.unsortheading Vips
                      th.unsortheading Charged
                      th.unsortheading(title="Credit Card Charges") CC
                      th.unsortheading(title='Deposit') Dep
                      th.unsortheading(width='2%') BTicket#
                      th.unsortheading(width='2%') ETicket#
                      th.unsortheading
                  tbody
                    tr.odd(role='row', ng-repeat='data in $data', ng-if='haveResult')
                      td.text-center
                        .checker1
                          span
                            input(type='checkbox', checklist-model='selectedReports.report', checklist-value='data._id')
                      td.text-center {{data.created_by.employeeid}}
                      td.cursor-pointer(data-toggle='modal', data-target='#modal-viewticketDetail', ng-click='viewTicketcontrolInfo(data._id)', title='View Detail') {{data.eventId.name}}
                      td {{data.dateOfReport | date:'fullDate'}}
                      td.text-center {{data.revenue}}
                      td.text-center {{data.totalChargedCars + data.vips}}
                      td.text-center {{data.vips}}
                      td.text-center {{data.totalChargedCars}}
                      td.text-center(title='Credit Card Charges') {{data.ccc}}
                      td.text-center {{data.cashDeposit}}
                      td.text-center {{ data.ticketadded -- data.prevCount }}
                      td.text-center {{data.endCount}}
                      td.text-center
                        i.fa.fa-edit.cursor-pointer.f-20.m-r-5(data-toggle='modal', data-target='#modal-editTicket', title='View', ng-click='editTicketcontrol(data)', rel='tooltip', title='Edit', type='button', style='color:#0090d9;')
                    tr(ng-if='haveResult')
                      th.text-right(colspan='5') Total 
                      //th.text-center {{totalRevenue}} 
                      th.text-center {{totalCars}} 
                      th.text-center {{totalVips}} 
                      th.text-center {{totalChargedCars}} 
                      th(colspan='6')
                    tr(ng-if='haveResult')
                      td(colspan='14')
                        div(style='display:inline-block;margin-right:1%;text-align: left;')
                          select#selectedAction.btn.select_tag(name='selectedAction', ng-model='selectedAction', style='border: 1px solid lightgray;')
                            option(value='0') Select
                            option(value='1') Delete
                        input.btn.btn-primary(type='button', name='go', value='Go', ng-click='performAction()', ng-disabled="selectedReports.report == '' ", style='width:auto;display:inline-block;margin-right:1%;background-color:#77ABD7;')
                        h5.pull-right(style='color:#3276B1')
                          strong Total : {{totalRecords}}
          .alert.alert-info.fade.in.text-center(ng-if='!haveResult')
            h4 No report found for this selection.
style.
  .largeDiv > p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 137px;
  margin:auto;
  }
  // BEGIN MODAL
#get-modal.modal(style='display:block;')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', ng-click='closemodal()', data-dismiss='modal', aria-hidden='true') ×
        h4.modal-title.unsortheading(style='text-align:center') Report Data
      .modal-body
        p
          br
          | Name : {{modal_data.employee[0].first_name}} {{modal_data.employee[0].last_name}}
          br
          | Event/Account : {{modal_data.event[0].name}}
          br
          | Comment: {{modal_data.ticketControl.notes}} 
          br
          | ClockOut Date: {{modal_data.clockOutDateTime | date: 'fullDate'}}   
      .modal-footer
        button.btn.btn-default(type='button', ng-click='closemodal()', data-dismiss='modal') Close
// END MODAL
#confirm_ticketcontrolOverride.ng-scope(style='display: none;')
  .confirmon-overlay(style='display: block;')
    .confirmon-box(style='display: block; width:32%')
      p.confirmon-content Report is already filled for this location/shift/Date. Do you want to override it?
      button.confirmon-button.confirmon-button(onclick="$('#confirm_ticketcontrolOverride').hide()") Cancel
      | &nbsp;&nbsp;&nbsp;&nbsp; 
      button.confirmon-button.confirmon-button(ng-click='updateTicketControlConfirm()') Confirm 
#confirm_ticketeditcontrolOverride.ng-scope(style='display: none;')
  .confirmon-overlay(style='display: block;')
    .confirmon-box(style='display: block; width:32%')
      p.confirmon-content Report is already filled for this location/shift/Date. Do you want to override it?
      button.confirmon-button.confirmon-button(ng-click= 'cancelTicketeditcontrolOverride()') Cancel
      | &nbsp;&nbsp;&nbsp;&nbsp; 
      button.confirmon-button.confirmon-button(ng-click='updateEditTicketControlConfirm(tickeditInfo)') Confirm 
