.m-b-20.clearfix
  .page-title.pull-left
    h3.pull-left
      strong Timesheet Detail
  .pull-right
      a.btn.btn-success.m-t-10(href='/viewadminemployee', ng-if="userRole==='admin'")
        i.fa.fa-reply.p-r-10
        | Back
      a.btn.btn-success.m-t-10(href='/viewmanageremployee', ng-if="userRole==='manager'")
        i.fa.fa-reply.p-r-10
        | Back
      a.btn.btn-success.m-t-10(href='/viewhremployee', ng-if="userRole==='hr'")
        i.fa.fa-reply.p-r-10
        | Back
.row
  .col-md-12
    .panel.panel-default
      .panel-heading.sd_manage_pd
        form#form1.form-horizontal(name='availableRangeForm', novalidate='')
          .row
            .col-md-3.col-sm-3.col-xs-12.mar_bt10
              input.datepicker.form-control(type='text', name='stDate', placeholder='Start Date', ng-model='dateRange.start_date', style='padding: 8px 12px;', required='', readonly='readonly')
            .col-md-3.col-sm-3.col-xs-12.mar_bt10
              input.datepicker.form-control(type='text', name='enDate', placeholder='End Date', ng-model='dateRange.end_date', style='padding: 8px 12px;', required='', readonly='readonly')
            .col-md-3.col-sm-3.col-xs-12.mar_bt10
              button.btn.btn-success.grnbtn100(href='#', ng-click='getTimesheetFun(userId)', ng-disabled='availableRangeForm.$invalid')
                i.fa.fa-check.p-r-10
                | View Timesheet
      .panel-body
        .row
          .table-container(style='')
            #datatable_ajax_wrapper.dataTables_wrapper.dataTables_extended_wrapper.dataTables_extended_wrapper.no-footer
              .margin-b-10.table-responsive.pad_b15
                table#datatable_ajax.table.table-striped.table-bordered.table-hover.f-left(ng-table='tableParams')
                  thead
                    tr#header.heading.purple-bg(role='row')
                      th.text-center.unsortheading.get(width="15%") Length
                      th.text-center.unsortheading.get(width="15%") clock in
                      th.text-center.unsortheading.get(width="15%") clock out
                      th.text-center.unsortheading.get(width="15%") Date
                      th.text-center.unsortheading.get(width="25%") Event/Account
                      th.text-center.unsortheading.get(width="15%") Break 
                  tbody
                    tr.odd(role='row', ng-repeat='data in timesheetRecords | orderBy : clockInDateTime', id='{{data._id}}', ng-if='haveResult', ng-class='checkClockOutDate(data)')
                      td.text-center {{data.totalTime}}
                      td.text-center {{data.clockInDateTime | date : "shortTime"}}
                      td.text-center {{data.clockOutDateTime | date : "shortTime"}}
                      td.text-center {{data.clockInDateTime | date : "mediumDate"}}
                      td {{data.eventId.name}} 
                      td.text-center {{data.breaktime}}
                  tfoot(ng-if='haveResult')
                    tr
                      th.text-right(colspan='6')
                        span.f-right.dis-block.c-blue Total : {{ totalRegHours() }} 
                        br 
                        span.f-right.dis-block.c-blue Without Breaks : {{ withoutBreakHours() }}
                        br
                        span.f-right.dis-block.c-blue Breaks : {{ totalBreaks() }}
          .alert.alert-info.fade.in.text-center(ng-if='!haveResult')
            h4 Your time sheet is empty for this time period.