#main-content(data-ng-init="init()")
  #event-modal.modal.fade
    .modal-dialog
        .modal-content
          .modal-header(style="background-color:lightgray")
            button.close(type='button', data-dismiss='modal', aria-hidden='true') X
            h4#myModalLabel.modal-title
              | {{due_date | date:'MM/dd/yyyy'}} | {{empname}}
          .modal-body(style="line-height:25px;font-weight:bolder;max-height:480px;overflow-y:auto")
            b(ng-repeat='todo in todoData')
              h4(style="color:#0090d9") {{todo.listname}}
                h5(ng-repeat="tditem in todo.todo_items | filter:{due_date : due_date}", ng-class="strikethrough(tditem.completion_date)")
                 i.fa.fa-circle.p-l-20.m-t-5.p-r-5(style='text-decoration:unset;', ng-class="strikethrough(tditem.completion_date)") 
                 | {{tditem.todoText}}
            br
          .modal-footer
            button.btn.btn-default(type="button", data-dismiss="modal") Close
.m-b-20.clearfix
  .pull-left
    h3
      strong Todo Calendar
  .pull-right
    a.btn.btn-success.m-t-10(ng-click="goback()")
      i.fa.fa-reply.p-r-10
      | Back
.col-md-13.p-0.no-bd
    .widget.bg-white
      .widget-body
        .row
          .col-md-13.col-sm-13.col-xs-13
            #calendar