style.
  .multiSelect .checkBoxContainer{
  max-height:200px;
  overflow-y:scroll;
  }
#modal-basic.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header(style='background-color:lightgray')
        button.close(type='button', data-dismiss='modal', aria-hidden='true', title="Close") X
        h4#myModalLabel.modal-title To Do List
      .modal-body(style='line-height:25px;font-weight:bolder;max-height:480px;overflow-y:unset')
        form#form1.form-horizontal(name='todoListForm', novalidate='novalidate')
                h3.text-center(ng-if="!todolist.todo_items.length && tasklistUpdateType === 'update'", style='color:red;margin-top:0') Please add items in this list first.
                .form-group
                  label.col-sm-4.control-label
                    | Title
                    span.asterisk *
                  .col-sm-6
                    input#listname.form-control(type='text', placeholder='Enter List Name', name='listname', ng-model='todolist.listname', required='required', ng-maxlength='80', maxlength='80')
                    span.help-inline(ng-show='todoListForm.listname.$error.maxlength') Maximum 80 characters are allowed.
                .form-group(ng-if="tasklistUpdateType === 'update'")
                  label.col-sm-4.control-label
                    | Select Employee
                    span.asterisk *
                  .col-sm-6
                    div(multi-select='', selection-mode = "SINGLE", input-model='modernWebBrowsers', max-labels='1', button-label='fullname', item-label='fullname', tick-property='ticked', default-label='Select Employee')
      .modal-footer
        button.btn.btn-success(type='button', ng-disabled="todoListForm.$invalid || (!todolist.todo_items.length && tasklistUpdateType === 'update')", ng-click="createTodoList()") Save
    
#modal-admintodos.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog(style="width:1000px;")
    .modal-content
      .modal-header(style='background-color:lightgray')
        button.close(type='button', data-dismiss='modal', aria-hidden='true', title="Close") X
        h4#myModalLabel.modal-title.dis-inline-b {{listdetails.listname}}
        label.checkbox-inline.f-right.m-r-20(ng-if="todoItemList.length")
          i.fa.fa-circle.m-t-5(style='color:gray;') 
          span.p-l-5 Assign Date
          i.fa.fa-circle.p-l-20.m-t-5(style='color:#d9534f;')
          span.p-l-5 Due Date
          i.fa.fa-circle.p-l-20.m-t-5(style='color:green;') 
          span.p-l-5 Completion Date
      .modal-body(style='line-height:25px;font-weight:bolder;max-height:480px;overflow-y:auto')
        form(ng-submit='todoAdd(listdetails._id)', name="todoForm", novalidate='novalidate')
          input#todotitle.form-control(type='text', name='todotitle', ng-model='listitem.todoInput', placeholder='Add New Item In The List', style="width:78%", ng-maxlength='150', required='required', title='Maximum 150 characters are allowed.')
          input.form-control.m-l-5(placeholder='Due Date', ng-model='listitem.due_date', style='padding: 8px 12px;width:17%;cursor:pointer !important', readonly='readonly', dateselection='event',required='required')
          button.close.m-t-10(type='submit', title='Add New', ng-disabled="todoForm.$invalid", style="color:#159077;opacity:unset")
            i.fa.fa-plus
          span.help-inline(ng-show='todoForm.todotitle.$error.maxlength') Maximum 150 characters are allowed.
        br
        div(ng-repeat='x in todoItemList | orderBy : asc')
          label.checkbox-inline(style='width:100%;')
            input(type='checkbox', ng-model='x.done', ng-disabled="x.completion_date", style='with:10%')
            span.f-left.p-l-5(ng-bind='x.todoText', ng-class="strikethrough(x.done)", style='width:45%')
            span.p-l-5.dis-inline-b(style='color:#0090d9;width:10%') -- {{x.assign_by.first_name}} {{x.assign_by.last_name}}
            span.f-right.p-l-5(style='width:35%') 
              i.fa.fa-circle.p-l-5.m-t-5(style='color:gray;', title="Assign Date")
              span.p-l-5(ng-bind='x.assign_date| date:"MM/dd/yyyy"')
              i.fa.fa-circle.p-l-5.m-t-5(style='color:#d9534f;', title="Due Date")
              span.p-l-5(ng-bind='x.due_date| date:"MM/dd/yyyy"')
              i.fa.fa-circle.p-l-5.m-t-5(style='color:green;', ng-if="x.completion_date", title="Completion Date")
              span.p-l-5(ng-bind='x.completion_date| date:"MM/dd/yyyy"', ng-if="x.completion_date")
      .modal-footer(ng-if="userRole==='admin' || userRole==='hr'")
        button.btn.btn-default(type='button', ng-click='removeAllConfirmation(listdetails._id)', ng-if="todoItemList.length", title="Clear all the items from this list.") 
          i.fa.fa-reply.p-r-10
          | Clear All
        button.btn.btn-info(type='button', ng-click='removeConfirmation(listdetails._id)', ng-if="todoItemList.length", title="Clear all the marked items from this list.") 
          i.fa.fa-reply.p-r-10
          | Clear Marked
        button.btn.btn-success(type='button', ng-click='removeCompletedConfirmation(listdetails._id)', ng-if="todoItemList.length", title="Clear all the completed items from this list.") 
          i.fa.fa-reply.p-r-10
          | Clear Completed
#modal-usertodos.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog(style="width:1000px;")
    .modal-content
      .modal-header(style='background-color:lightgray')
        button.close(type='button', data-dismiss='modal', aria-hidden='true', title="Close") X
        h4#myModalLabel.modal-title.dis-inline-b {{listdetails.listname}} {{chkval}}
        label.checkbox-inline.f-right.m-r-20(ng-if="todoItemList.length")
          i.fa.fa-circle.m-t-5(style='color:gray;') 
          span.p-l-5 Assign Date
          i.fa.fa-circle.p-l-20.m-t-5(style='color:#d9534f;')
          span.p-l-5 Due Date
          i.fa.fa-circle.p-l-20.m-t-5(style='color:green;') 
          span.p-l-5 completion Date
      .modal-body(style='line-height:25px;font-weight:bolder;max-height:480px;overflow-y:auto')
        div(ng-repeat='x in todoItemList | orderBy : "due_date"')
          label.checkbox-inline(style='width:100%;')
            input(type='checkbox', ng-model='x.done', ng-change='completeToDo(x,listdetails._id,listdetails)', style='with:10%')
            span.p-l-5.f-left(ng-bind='x.todoText', ng-class="strikethrough(x.done)", , style='width:45%')
            span.p-l-5.dis-inline-b(style='color:#0090d9;width:10%') -- {{x.assign_by.first_name}} {{x.assign_by.last_name}}
            span.f-right.p-l-5(style='width:35%') 
              i.fa.fa-circle.p-l-5.m-t-5(style='color:gray;', title="Assign Date")
              span.p-l-5(ng-bind='x.assign_date| date:"MM/dd/yyyy"')
              i.fa.fa-circle.p-l-5.m-t-5(style='color:#d9534f;', title="Due Date")
              span.p-l-5(ng-bind='x.due_date| date:"MM/dd/yyyy"')
              i.fa.fa-circle.p-l-5.m-t-5(style='color:green;', ng-if="x.completion_date", title="Completion Date")
              span.p-l-5(ng-bind='x.completion_date| date:"MM/dd/yyyy"', ng-if="x.completion_date")
      .modal-footer.text-center
        span.m-l-60.p-l-5.p-r-5.btn-warning.w-600(style="color:#0090d9") Mark ToDo Items to make it Complete, it will send an email notification to Assigner.
        br
        br
        span.m-l-60.p-l-5.p-r-5.btn-warning.w-600(style="color:#0090d9") Completed Items can be removed by Admin/Manager.
showloader
.m-b-20.clearfix
  .page-title.pull-left
    h3.pull-left
      strong(ng-copy="$event.preventDefault()") To Do Lists
      a(href='/mytodocalendar', style='margin-top:10px;font-size:20px;', title='ToDo Calendar', ng-if="userRole==='employee'")
        i.flaticon-calendar5
  
.row(ng-show='visibility')
  .col-md-12
    .panel.panel-default
      .panel-heading
        .col-md-6.col-sm-6.col-xs-12
          .input-group.m-b-10
            input.form-control.w-700(type='text', placeholder='Search by list title.', ng-model='searchText.val', style='border:solid 2px darkgray;color:#2a6496;')
            span.input-group-addon
              i.fa.fa-search
        .col-md-6.col-sm-6.col-xs-12
          .DTTT_container.m-b-10.sd_btnsuccess
            button.btn.btn-success.grnbtn100(data-toggle='modal', data-target='#modal-basic', ng-if="userRole==='admin' || userRole==='manager' || userRole==='hr'", ng-click='clearToDoList()')
              i.fa.fa-plus.p-r-10
              | Add New To Do List
      .panel-body
        .row
          .table-container
            #datatable_ajax_wrapper.dataTables_wrapper.dataTables_extended_wrapper.dataTables_extended_wrapper.no-footer
              .margin-b-10.tbl_response
                table#datatable_ajax.table.table-striped.table-bordered.table-hover.f-left(ng-table='tableParams')
                  thead
                    tr#header.heading.purple-bg(role='row')
                      th(width='3%')
                        input.group-checkable(type='checkbox', ng-model='checkAll.val', ng-change='selectAllGroup(checkAll.val)', ng-if="userRole==='admin' || userRole==='manager' || userRole==='hr'")
                      th(width='35%')
                        a.cursor-pointer(ng-click="sortType = 'listname'; sortReverse = !sortReverse; sortOrderby('listname',sortReverse);")
                          strong Lists
                          span.fa.fa-sort.m-l-5(ng-class="getIcon('listname')")
                      th.text-center.unsortheading.get(width="5%") Assigned By
                      th.text-center.unsortheading.get(width="5%") Tasks
                      th.text-center.unsortheading(width='15%', ng-if="userRole==='admin' || userRole==='manager' || userRole==='hr'") Actions
                  tbody
                    tr.odd(role='row', ng-repeat='data in $data', ng-if='haveResult', id='{{data._id}}')
                      td.text-center
                        .checker1(ng-if="userRole==='admin' || userRole==='manager' || userRole==='hr'")
                          span
                            input(type='checkbox', checklist-model='selectedTodolist.todolistArr', checklist-value='data._id')
                        i.fa.fa-tasks.f-16(rel='tooltip', title='Tasklist', type='button', style='color:#0090d9;', disabled, ng-if="userRole==='employee'")
                      td.cursor-pointer.w-600.get(ng-bind='data.listname', title='{{data.listname}}', data-toggle='modal', data-target='#modal-admintodos' ng-click='goToDoList(data)' style="color:#0090d9;", ng-if="userRole==='admin' || userRole==='manager' || userRole==='hr'")
                      td.cursor-pointer.w-600.get(ng-bind='data.listname', title='{{data.listname}}', data-toggle='modal', data-target='#modal-usertodos' ng-click='goToDoList(data)' style="color:#0090d9;", ng-if="userRole==='employee'")
                      td.w-600.get.text-center(ng-if="data.todo_items.length") {{data.created_by.first_name}} {{data.created_by.last_name}}
                      td.w-600.get.text-center(ng-if="!data.todo_items.length") --
                      td.w-600.get.text-center(ng-bind="data.todo_items.length")
                      td.get.text-center(ng-if="userRole==='admin' || userRole==='manager' || userRole==='hr'")
                        i.fa.fa-edit.f-20.p-r-5.cursor-pointer(ng-click='renamelist(data)', title='Rename List', data-toggle='modal', data-target='#modal-basic', ng-if="userRole==='admin' || userRole==='manager' || userRole==='hr'", style='color:#0090d9;') 
                        i.fa.fa-user.f-20.p-l-10.p-r-5.cursor-pointer(ng-click='renamelist(data)', title='Assign List', data-toggle='modal', data-target='#modal-basic', ng-if="userRole==='admin' || userRole==='manager' || userRole==='hr'", style='color:#0090d9;') 
                        i.fa.fa-trash-o.f-20.p-l-10.p-r-5.cursor-pointer(ng-click='deletelist(data)', title='Delete List', ng-if="userRole==='admin' || userRole==='manager' || userRole==='hr'", style='color:#0090d9;')
                    tr(ng-if='haveResult')
                      td(colspan='5')
                        div(style='display:inline-block;margin-right:1%;text-align: left;', ng-if="userRole==='admin' || userRole==='manager' || userRole==='hr'")
                          select#selectedAction.btn.select_tag(name='selectedAction', ng-model='selectedAction', style='border: 1px solid lightgray;')
                            option(value='0') Select
                            option(value='1') Delete
                        input.btn.btn-primary(type='button', name='go', value='Go', ng-click='performAction()', ng-disabled="selectedTodolist.todolistArr == '' ", style='width:auto;display:inline-block;margin-right:1%;background-color:#77ABD7;', ng-if="userRole==='admin' || userRole==='manager' || userRole==='hr'")
                        h5.pull-right(style='color:#3276B1')
                          strong Total Lists : {{totalRecords}}
          .alert.alert-info.fade.in.text-center(ng-if='!haveResult')
            h3 No Lists for you this time.
#confirm_del.ng-scope(style='display: none;')
  .confirmon-overlay(style='display: block;')
    .confirmon-box(style='display: block; width:32%')
      p.confirmon-content Are you sure you want to delete ?
      button.confirmon-button.confirmon-button(onclick="$('#confirm_del').hide()") Cancel
      | &nbsp;&nbsp;&nbsp;&nbsp; 
      button.confirmon-button.confirmon-button(ng-click='delete_todolists()') Confirm  
#clear_all.ng-scope(style='display: none;')
  .confirmon-overlay(style='display: block;')
    .confirmon-box(style='display: block; width:32%')
      p.confirmon-content {{removeMessage}}
      button.confirmon-button.confirmon-button(onclick="$('#clear_all').hide()") Cancel
      | &nbsp;&nbsp;&nbsp;&nbsp; 
      button.confirmon-button.confirmon-button(ng-click='removeAll()') Confirm  
#clear_marked.ng-scope(style='display: none;')
  .confirmon-overlay(style='display: block;')
    .confirmon-box(style='display: block; width:32%')
      p.confirmon-content Are you sure you want to remove marked items ?
      button.confirmon-button.confirmon-button(onclick="$('#clear_marked').hide()") Cancel
      | &nbsp;&nbsp;&nbsp;&nbsp; 
      button.confirmon-button.confirmon-button(ng-click='remove()') Confirm 
#clear_completed.ng-scope(style='display: none;')
  .confirmon-overlay(style='display: block;')
    .confirmon-box(style='display: block; width:32%')
      p.confirmon-content Are you sure you want to remove completed items ?
      button.confirmon-button.confirmon-button(onclick="$('#clear_completed').hide()") Cancel
      | &nbsp;&nbsp;&nbsp;&nbsp; 
      button.confirmon-button.confirmon-button(ng-click='removeCompleted()') Confirm 

