style.
  .multiSelect .checkBoxContainer{
      max-height:200px;
      overflow-y:scroll;
  }
showloader
.m-b-20.clearfix
  .page-title.pull-left
    h3.pull-left.head_to
      strong  Total Hours Worked  Report ({{dateRange.start_date}} - {{dateRange.end_date}})
.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        form#form1.form-horizontal(name='availableRangeForm', novalidate='')
          .row
            .col-md-2.col-sm-2.col-xs-12.mar_bt10
              input.datepicker.form-control(type='text', name='stDate', placeholder='Start Date', ng-model='dateRange.start_date', style='padding: 8px 12px;', required='', readonly='readonly')
            .col-md-2.col-sm-2.col-xs-12.mar_bt10
              input.datepicker.form-control(type='text', name='enDate', placeholder='End Date', ng-model='dateRange.end_date', style='padding: 8px 12px;', required='', readonly='readonly')
            .col-md-3.col-sm-2.col-xs-12.mar_bt10
              div(multi-select='', selection-mode = "SINGLE", input-model='modernWebBrowsers', max-labels='1', button-label='fullname', item-label='fullname', tick-property='ticked', required='required', default-label='Select Employee')
            .col-md-3.col-sm-2.col-xs-12.mar_bt10
              button.btn.btn-success.grnbtn100(href='#', ng-click='getReport(dateRange)', ng-disabled='availableRangeForm.$invalid')
                i.fa.fa-check.p-r-10
                | Fetch Reports
      .panel-body(style='clear:both')
        .row
          .table-container(style='')
            #datatable_ajax_wrapper.dataTables_wrapper.dataTables_extended_wrapper.dataTables_extended_wrapper.no-footer
              .margin-b-10.tbl_response
                table#datatable_ajax.table.table-striped.table-bordered.table-hover.f-left(ng-table='tableParams')
                  thead
                    tr
                      th.unsortheading Emp #
                      th.unsortheading Username
                      th.unsortheading Phone
                      th.unsortheading Total Hours
                  tbody
                    tr.odd(role='row', ng-repeat='data in reportData', ng-if='haveResult')
                      td.text-center(width='10%')  {{data.Timesheets[0].employeeid[0]}}
                      td(width='30%') {{data.Timesheets[0].first_name[0]}} {{data.Timesheets[0].last_name[0]}} - {{matchZipInInitial(data.Timesheets[0].zipcode[0])}}
                      td.text-center(width='20%') {{data.Timesheets[0].phone[0]}}
                      td(width='20%') {{data.totalTimeDiffSum}}
                  tfoot(ng-if='haveResult')
                    tr
                      th.text-left(colspan='9')
                        span.f-right.dis-block.c-blue Total Records : {{reportData.length}} 
                        br
          .alert.alert-info.fade.in.text-center(ng-if='!haveResult')
            h4 No reports found for this selection.