style.
  .multiSelect .checkBoxContainer{
      max-height:200px;
      overflow-y:scroll;
  }
showloader
#modal-tracklist.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog(style="width:800px;")
    .modal-content
      .modal-header(style='background-color:lightgray')
        button.close(type='button', data-dismiss='modal', aria-hidden='true', title="Close") X
        h4#myModalLabel.modal-title.dis-inline-b Lot Tracking List (Make / License - Created Date)
      .modal-body(style='line-height:25px;font-weight:bolder;max-height:450px;overflow-y:auto')
        span.dis-block(ng-repeat='x in tracklistData') 
          i.f-left.fa.fa-circle.p-l-5.f-10(style='color:#D3D3D3;margin-top:8px;')
          p.p-l-5.dis-inline-b 
          | {{x.make}} / {{x.license}} - ({{x.created_date}})
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Close
#modal-questions.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header(style='background-color:lightgray')
        button.close(type='button', data-dismiss='modal', aria-hidden='true') X
        h4#myModalLabel.modal-title Opening/Closing procedures for the shift
      .modal-body(style='line-height:25px;font-weight:bolder;max-height:480px;overflow-y:auto;')
        form(name='questionForm')
          span.dis-block(ng-repeat="x in openProcques") 
            | {{x.question}}
            input.form-control(type='text', style='width:100%', ng-model='x.answer', maxlength='150', readonly)
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Close
.m-b-20.clearfix
  .page-title.pull-left
    h3.pull-left.head_to
      strong  Clocking Report ({{dateRange.start_date}} - {{dateRange.end_date}})
.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        form#form1.form-horizontal(name='availableRangeForm', novalidate='')
          .row
            .col-md-2.col-sm-2.col-xs-12.mar_bt10
              input.datepicker.form-control(type='text', name='stDate', placeholder='Start Date', ng-model='dateRange.start_date', style='padding: 8px 12px;', required='', readonly='readonly')
            .col-md-2.col-sm-2.col-xs-12.mar_bt10
              input.datepicker.form-control(type='text', name='enDate', placeholder='End Date', ng-model='dateRange.end_date', style='padding: 8px 12px;', required='', readonly='readonly')
            .col-md-2.col-sm-2.col-xs-12.mar_bt10
              div(multi-select='', selection-mode = "SINGLE", input-model='allEvents', max-labels='1', button-label='buttonlabel', item-label='buttonlabel', tick-property='ticked', style='padding-left:0px', default-label='Select Account')
            .col-md-3.col-sm-2.col-xs-12.mar_bt10
              div(multi-select='', selection-mode = "SINGLE", input-model='modernWebBrowsers', max-labels='1', button-label='fullname', item-label='fullname', tick-property='ticked', required='required', default-label='Select Employee')
            .col-md-3.col-sm-2.col-xs-12.mar_bt10
              button.btn.btn-success.grnbtn100(href='#', ng-click='getReport(dateRange)', ng-disabled='availableRangeForm.$invalid')
                i.fa.fa-check.p-r-10
                | Fetch Reports
      .panel-body(style='clear:both')
        .row
          .table-container(style='')
            #datatable_ajax_wrapper.dataTables_wrapper.dataTables_extended_wrapper.dataTables_extended_wrapper.no-footer
              .margin-b-10.tbl_response
                table#datatable_ajax.table.table-striped.table-bordered.table-hover.f-left(ng-table='tableParams')
                  thead
                    tr
                      th.unsortheading Emp #
                      th.unsortheading Username
                      th.unsortheading Account
                      th.unsortheading Date of Shift
                      th.unsortheading Start Time
                      th.unsortheading End Time
                      th.unsortheading how early/late(In Min)
                      th.unsortheading Actions
                  tbody
                    tr.odd(role='row', ng-repeat='data in reportData', ng-if='haveResult')
                      td.text-center(width='5%')  {{data.userId.employeeid}}
                      td.text-center(width='15%') {{data.userId.first_name}} {{data.userId.last_name}}
                      td.text-center(width='20%') {{data.eventId.name}}
                      td.text-center(width='15%') {{data.created_date | date:'MM/dd/yyyy'}}
                      td.text-center(width='15%') {{data.clockInDateTime}}
                      td.text-center(width='15%') {{data.clockOutDateTime}}
                      td.text-center(width='5%') {{data.howLate_howEarly}}
                      td.text-center
                        i.fa.fa-info-circle.cursor-pointer.f-20.m-r-5(ng-click='showTrackingList(data._id)', rel='tooltip', title='View Tracking List', type='button', style='color:#0090d9;', data-toggle='modal', data-target='#modal-tracklist')
                        i.fa.fa-question-circle.cursor-pointer.f-20.m-r-5(ng-click='openCloseProc(data.questions)', rel='tooltip', title='View Opening/Closing procedures', type='button', style='color:#0090d9;', data-toggle='modal', data-target='#modal-questions')
                  tfoot(ng-if='haveResult')
                    tr
                      th.text-left(colspan='8')
                        span.f-right.dis-block.c-blue Total Records : {{reportData.length}} 
                        br
          .alert.alert-info.fade.in.text-center(ng-if='!haveResult')
            h4 No reports found for this selection.