showloader
.m-b-20.clearfix
  .page-title.pull-left
    h3.pull-left
      strong Trade Requests
      a(href='/tbpCalendar', style='margin-top:10px;font-size:20px;', title='Trade Board Calendar')
          i.flaticon-calendar5
  h3.pull-right
    a(href='/adminRejectedTrades', style='text-decoration:underline') Rejected Trades
.row(ng-show='visibility')
  .col-md-12
    .panel.panel-default
      .panel-heading
        .col-md-2.col-sm-6.col-xs-6.sd_res_btn.res_cen.colres100
          select#rolelist.btn.select_tag.m-b-10(ng-model='typeselect', style='border: 1px solid lightgray;', ng-options='typelist.value as typelist.name for typelist in typelist', ng-change='reset_page()')  
      .panel-body
        .row
          .table-container(style='')
            #datatable_ajax_wrapper.dataTables_wrapper.dataTables_extended_wrapper.dataTables_extended_wrappper.no-footer
              .margin-b-10.table-responsive
                table#datatable_ajax.table.table-striped.table-bordered.table-hover.f-left.sd_table_memo(ng-table='tableParams')
                  thead
                    tr.heading.purple-bg(role='row')
                      th.unsortheading(width='15%') Trade By
                      th.unsortheading(width='15%') In Exchange for shift
                      th.unsortheading(width='16%') Location
                      th.unsortheading(width='16%') Is Offering Shift
                      th.unsortheading(width='16%') Co-worker
                      th.unsortheading(style='width:16%') Status
                      th.text-center.unsortheading(style='width:16%') Actions
                  tbody
                    tr.odd(role='row', ng-repeat='data in $data', ng-if='haveResult')
                      td {{data.userId.first_name}} {{data.userId.last_name}}
                      td(ng-if='data.exchangeEventAccId.name') {{data.exchangeEventAccId.name}} | {{data.exchangeScheduleDate | date : "mediumDate" }} | {{data.exchangeshift}}
                      td(ng-if='!data.exchangeEventAccId.name') 
                      td {{data.eventId.location_address.address}}
                      td {{data.eventId.name}} | {{data.eventScheduleDate | date : "mediumDate"}} | {{data.eventId.shifttime}}
                      td {{data.coWorkerUserId.first_name}} {{data.coWorkerUserId.last_name}}
                      td.text-center(ng-if="data.status == 'Approve'")
                        .label.label-success Approved
                      td.text-center(ng-if="data.status == 'Reject'")
                        .label.label-danger Rejected
                      td.text-center(ng-if="data.status!== 'Approve' && data.status!== 'Reject'")
                        .label.label-info Waiting
                      td.text-center
                        a.btn.btn-primary.btn-sm(href='/tradedetail/:{{data._id}}') View Details
                    tr(ng-if='haveResult')
                      td(colspan='7')
                        h5.pull-right(style='color:#3276B1')
                          strong Total Trades: {{totalRecords}}
          .alert.alert-info.fade.in.text-center(ng-if='!haveResult')
            h3 No trade requests for you this time.
