showloader
.m-b-20.clearfix
  .page-title.pull-left
    h3.pull-left
      strong Trade Rejected Requests
  .pull-right
    a.btn.btn-success.m-t-10(href='/tradeAdminRequests')
      i.fa.fa-reply.p-r-10
      | Back
.row(ng-show='visibility')
  .col-md-12
    .panel.panel-default
      .panel-heading
      .panel-body
        .row
          .table-container(style='')
            #datatable_ajax_wrapper.dataTables_wrapper.dataTables_extended_wrapper.dataTables_extended_wrappper.no-footer
              .margin-b-10.table-responsive
                table#datatable_ajax.table.table-striped.table-bordered.table-hover.f-left.sd_table_memo(ng-table='tableParams')
                  thead
                    tr.heading.purple-bg(role='row')
                      th.unsortheading(width='15%') Trade By
                      th.unsortheading(width='15%') In Exchange for shift
                      th.unsortheading(width='16%') Location
                      th.unsortheading(width='16%') Is Offering Shift
                      th.unsortheading(width='16%') Co-worker
                      th.unsortheading(style='width:16%') Status
                      th.text-center.unsortheading(style='width:16%') Actions
                  tbody
                    tr.odd(role='row', ng-repeat='data in $data', ng-if='haveResult')
                      td {{data.userId.first_name}} {{data.userId.last_name}}
                      td(ng-if='data.exchangeEventAccId.name') {{data.exchangeEventAccId.name}} | {{data.exchangeScheduleDate | date : "mediumDate" }} | {{data.exchangeshift}}
                      td(ng-if='!data.exchangeEventAccId.name') 
                      td {{data.eventId.location_address.address}}
                      td {{data.eventId.name}} | {{data.eventScheduleDate | date : "mediumDate"}} | {{data.eventId.shifttime}}
                      td {{data.coWorkerUserId.first_name}} {{data.coWorkerUserId.last_name}}
                      td.text-center
                        .label.label-danger Rejected                      
                      td.text-center
                        a.btn.btn-primary.btn-sm(href='/rejectedtradedetail/:{{data._id}}') View Details
                    tr(ng-if='haveResult')
                      td(colspan='7')
                        h5.pull-right(style='color:#3276B1')
                          strong Total Trades: {{totalRecords}}
          .alert.alert-info.fade.in.text-center(ng-if='!haveResult')
            h3 No record for you this time.
