.m-b-20.clearfix
  .pull-left
    h3
      strong Trade Requests Requiring Your Attention
.row
  .col-md-12
    .panel.panel-default
      .panel-heading.sd_manage_pd
      .panel-body
        .row
          .table-container(style='')
            #datatable_ajax_wrapper.dataTables_wrapper.dataTables_extended_wrapper.dataTables_extended_wrapper.no-footer
              .margin-b-10.tbl_response
                table#datatable_ajax.table.table-striped.table-bordered.table-hover.f-left(ng-table='tableParams')
                  thead
                    tr.heading.purple-bg(role='row')
                      th.unsortheading(width='10%') Co-worker
                      th.unsortheading(width='20%') Is Offering Shift(s)
                      th.unsortheading(width='20%') In Exchange for shift(s)
                      th.unsortheading(width='20%') Co-Worker Comment 
                      th.unsortheading(width='20%') Status                  
                  tbody
                    tr.odd(role='row', ng-repeat='data in tradeRequests', ng-if='haveResult')
                      td.text-center {{data.userId.first_name}} {{data.userId.last_name}}
                      td.text-center {{data.eventId.name}} - {{data.eventScheduleDate | date : 'mediumDate'}} | {{data.eventId.shifttime}} | {{data.timeslot}}
                      td.text-center {{data.exchangeEventAccId.name}} - {{data.exchangeScheduleDate | date : 'mediumDate'}} | {{data.exchangeshift}} | {{data.exchangeSchId.timeslot}}
                      td.text-center {{data.comment}}
                      td.text-center(ng-if="data.status == 'Approve'")
                        .label.label-success Approved
                      td.text-center(ng-if="data.status == 'Reject'")
                        .label.label-danger Rejected
                      td.text-center(ng-if="data.status == 'Waiting'")
                        .label.label-danger Waiting
                      td.text-center(ng-if="data.status!== 'Approve' && data.status!== 'Reject' && data.status!== 'Waiting'")
                        i.fa.fa-check.c-green.f-20.cursor-pointer(ng-click='AcceptRequestConfirmation(data._id)', title='Accept', ng-show='checkOldNew(data.eventScheduleDate)')
                        i.fa.fa-warning.c-red.f-16(title='Expired', ng-show='!checkOldNew(data.eventScheduleDate)')
                        i.fa.fa-times.c-red.f-20.cursor-pointer.p-l-5(ng-click='RejectRequestConfirmation(data._id)', title='Reject')
                    tr(ng-if='haveResult')
                      td(colspan='5')
                        h5.pull-right(style='color:#3276B1')
                          strong Total Trades: {{totalRecords}}
          .alert.alert-info.fade.in.text-center(ng-if='!haveResult')
            h4 No Pending Requests for you at this time.
#confirm_accept.ng-scope(style='display: none;')
  .confirmon-overlay(style='display: block;')
    .confirmon-box(style='display: block; width:40%')
      p.confirmon-content Are you sure you want to accept this request ?
      button#leave_private.confirmon-button.confirmon-button(onclick="$('#confirm_accept').hide()") Cancel 
      button.confirmon-button.confirmon-button(ng-click='AcceptRequest()') Confirm
#confirm_reject.ng-scope(style='display: none;')
  .confirmon-overlay(style='display: block;')
    .confirmon-box(style='display: block; width:40%')
      p.confirmon-content Are you sure you want to reject this request ?
      button#leave_private.confirmon-button.confirmon-button(onclick="$('#confirm_reject').hide()") Cancel 
      button.confirmon-button.confirmon-button(ng-click='RejectRequest()') Confirm   