style.
  .multiSelect .checkBoxContainer{
    max-height:200px;
    overflow-y:scroll;
  }
  .fc-content{
    display:inline;
  }
showloader
#event-modal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header(style="background-color:lightgray")
        button.close(type="button", data-dismiss="modal", aria-hidden="true") &#215;
        h4.modal-title(style='text-align:center') {{title}} Schedule
      .modal-body(style="line-height:25px;font-weight:bolder;max-height:480px;overflow-y:auto")
          h4.text-center Your Schedule 
            a.active.cursor-pointer(ng-click='TradeBoardPost(scheduledData, shiftTime, title, timeslot)', data-toggle='modal', data-target='#modal-trade', ng-if='(selectedDate.getTime() >= currDate.getTime()) && !showOnBoard') (Post it on Trade Board)
            a.cursor-pointer.c-red(ng-click='BackFromTrade(tradeId)',  ng-if='showOnBoard') (Back from Trade Board)
          p.p-b-10(ng-repeat="sch in scheduledData | filter : {event_account_id : eventId, day_of_week : dayName, week_of : weekOff}", style="border-bottom:solid 1px lightgray")
            span Day : {{dayName}}
            br
            span Timeslot : {{sch.timeslot}}
            br
            span Notes : {{sch.schnotes}}
            br
            span Shift Start Time : {{twentyfour_to_twelve(sch.shiftReminderTime)}}
            span(ng-if="sch.event_account_id.showendtime")
              span(ng-repeat="sft in sch.event_account_id.shift_template_id")
                span(ng-repeat="st in sft.shifts")
                  span(ng-if="st._id === sch.shift_id")
                    br
                    span Shift End Time : {{twentyfour_to_twelve(st.endshiftTime)}}
          h4.text-center Event/Account Information
          b Name 
          |  : {{evtDetail.name}}
          br
          b Description 
          |  : {{evtDetail.description}}
          br
          b(ng-if='!evtDetail.is_repeat') Contact Name 
            |  : {{evtDetail.event_data.contact_name}}
          br(ng-if='!evtDetail.is_repeat')
          strong Notes 
          |  :
          span.c-white.bg-red(style='padding:3px') {{evtDetail.event_data.notes}}
          br
          b Location Address 
          |  : {{evtDetail.location_address.address}} 
          br
          b Equipment 
          |  : {{event.event_data.equipment}} 
          h4.text-center(style="border-top:solid 1px lightgray")
          h4.text-center Other Employees on this schedule
          span(ng-repeat="emp in sameemployees", style="padding-left:15px")
            |  {{'-- '+ emp.employee_id.first_name + ' ' + emp.employee_id.last_name}} / {{twentyfour_to_twelve(emp.shiftReminderTime)}} / {{emp.timeslot}}
            br
      .modal-footer 
        button.btn.btn-success(disabled="disabled", ng-if="scheduleApproveStatus") I am aware of my shift
        button.btn.btn-default(ng-if="!scheduleApproveStatus", ng-click="approveScheduleView(scheduleId)") Acknowledge this Shift
        button.btn.btn-default(type="button", data-dismiss="modal") Close
#modal-trade.modal.fade
  .modal-dialog
    .modal-content
      .modal-header(style="background-color:lightgray")
        button.close(type="button", data-dismiss="modal", aria-hidden="true") &#215;
        h4.modal-title(style='text-align:center') Trade Shift
      .modal-body(style="line-height:25px;font-weight:bolder;max-height:480px;overflow-y:auto")
          b Selected Shift : {{selectedDate | date:'fullDate'}} ({{seltimeslot}}) from {{newTitle}}
          br
          span.dis-block.m-t-10 I would like to trade the above shift by :
          br
          input.m-r-5(type='radio', name='shift_post_type', value='onBoard', ng-model='tradedata.tradePosttype') 
          | Posting the shift to the Trade Board.
          br
          input.m-r-5(type='radio', name='shift_post_type', value='coworker',  ng-model='tradedata.tradePosttype') 
          | Giving the shift to a co-worker.
          div.m-t-10(multi-select='', selection-mode = "SINGLE", input-model='modernWebBrowsers', max-labels='1', button-label='fullname', item-label='fullname', tick-property='ticked', required='required', ng-if='tradedata.tradePosttype == "coworker"', on-item-click='showShifts()') 
          br
          select#field-1(ng-model='tradedata.exchangeshiftObj', ng-options='obj as obj.name for obj in coworkerShifts', ng-if='showshifts && tradedata.tradePosttype == "coworker"')
              option(value='') Select Shift
          div#coWorkerPortion.m-t-10
            span.dis-block.m-t-5 Optional Comment (Be aware that comments will appear in shift history)
            textarea(rows=4, cols=65, style='resize:none', ng-model='tradedata.comment', maxlength='500') 
            span.m-l-5.dis-block
              | {{500 - tradedata.comment.length}} Characters left
      .modal-footer
        button.btn.btn-default(type="button", data-dismiss="modal") Close
        button.btn.btn-primary(type="button", ng-click='postOnTrade(tradedata, eventId)' ) Trade
  // END MODAL
.m-b-20.clearfix
  .pull-left.ng-scope.col-xs-12.col-md-10.col-sm-10
    h4.sd_legend
      input.legend.bg-orange(type='text', disabled='disabled')
      strong.p-r-10  Morning
      input.legend.bg-yellow(type='text', disabled='disabled')
      strong.p-r-10  Afternoon
      input.legend.bg-blue(type='text', disabled='disabled')
      strong.p-r-10  Night
      input.legend.bg-dark(type='text', disabled='disabled')
      strong.p-r-10  Late Night
      strong.p-r-10.c-blue  {{userNameCalendaer}}
  .pull-right
      a.btn.btn-success.m-t-10(href='/viewadminemployee', ng-if="userRole==='admin'")
        i.fa.fa-reply.p-r-10
        | Back
      a.btn.btn-success.m-t-10(href='/viewmanageremployee', ng-if="userRole==='manager'")
        i.fa.fa-reply.p-r-10
        | Back
      a.btn.btn-success.m-t-10(href='/viewhremployee', ng-if="userRole==='hr'")
        i.fa.fa-reply.p-r-10
        | Back
.col-md-12.p-0.no-bd
    .widget.bg-white
      .widget-body
        .row
          .col-md-12.col-sm-12.col-xs-12
            #calendar