#modal-viewjpg.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog(style='width:950px;')
    .modal-content
      .modal-header(style='background-color:lightgray')
        button.close(type='button', data-dismiss='modal', aria-hidden='true') X
        h4#myModalLabel.modal-title {{filename}}
      .modal-body(style='line-height:25px;font-weight:bolder;max-height:550px;overflow-y:auto;')
          span
            img(src='{{backendsiteurl}}/public/memos_attachment/{{filename}}')           
html
  body
    .m-b-20.clearfix
      .pull-right
        a.btn.btn-success.m-t-10(href='/memolist')
          i.fa.fa-reply.p-r-10
          | Back
    .row
      .col-lg-12
        .panel.panel-default
          .panel-body
            h1(ng-bind='title')
            p.lead
              | by
              btn.btn.btn-info.btn-transparent.m-l-10(ng-bind='creator_name',style="cursor:auto")
            hr
            p.lead(ng-if="(userRole==='admin' || userRole==='manager')")
              | Recipients
              btn.btn.btn-info.btn-transparent.m-l-10.m-b-10(ng-repeat='detail in sent_to',style="cursor:auto")
                | {{detail.user_id.email}}
            hr(ng-if="(userRole==='admin' || userRole==='manager')")
            p
              i.fa.fa-calendar
              |  {{created_date | date:'medium'}}
            hr
            p.lead(ng-bind='description')
            div.f-right(ng-repeat='file in filedata' )
              img.cursor-pointer(ng-if="file.substr(file.lastIndexOf('.'),file.length-1) == '.jpg' || file.substr(file.lastIndexOf('.'),file.length-1) =='.png'  ||file.substr(file.lastIndexOf('.'),file.length-1)=='.jpeg'", style='width:50px;height=50px', src='{{backendsiteurl}}/public/memos_attachment/{{file}}', data-toggle='modal', data-target='#modal-viewjpg', ng-click='openJPG(file)')
            //  
              img(ng-if="file.substr(file.lastIndexOf('.'),file.length-1) == '.csv'", style='width:50px;height=50px', src='{{backendsiteurl}}/public/memos_attachment/csvphoto.jpg')
              img(ng-if="file.substr(file.lastIndexOf('.'),file.length-1) == '.pdf'", style='width:50px;height=50px', src='{{backendsiteurl}}/public/memos_attachment/pdfphoto.jpg')
              img(ng-if="file.substr(file.lastIndexOf('.'),file.length-1) == '.html'", style='width:50px;height=50px', src='{{backendsiteurl}}/public/memos_attachment/htmlphoto.png')
              img(ng-if="file.substr(file.lastIndexOf('.'),file.length-1) == '.js'", style='width:50px;height=50px', src='{{backendsiteurl}}/public/memos_attachment/jsphoto.png')
            a.btn.btn-primary.btn-sm(rel="tooltip", title="Download", type="button", ng-click="download_memo()", ng-show="filedata.length") Download All Attachments