#event-modal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header(style="background-color:lightgray")
        button.close(type="button", data-dismiss="modal", aria-hidden="true") &#215;
        h4.modal-title(style='text-align:center') Event/Account Details
      .modal-body(style="line-height:25px;font-weight:bolder;max-height:480px;overflow-y:auto")
          b Account Name
          |  : {{evtDetail.name}}
          br
          b Notes 
          |  : {{evtDetail.event_data.notes}}
          br
          b Location Address 
          |  : {{evtDetail.location_address.address}} 
          br
          b Shifts Details 
          |  : {{scheduleDateTime.scheduleDate}} {{scheduleDateTime.timeslot}}, {{scheduleDateTime.shiftReminderTime}}    
      .modal-footer
        button.btn.btn-default(type="button", data-dismiss="modal") I am aware of my shift
showloader
.m-b-20.clearfix
  .page-title.pull-left
    h3.pull-left
      strong Shift Acknowledgement Notifications
  .page-title.pull-right.ng-scope.col-xs-12.col-md-6.col-sm-8(ng-if='allSchedules.length')
    h3.pull-right.text-right.sd_legend
      input.legend(type='button', style="background:#c75757", ng-click='sortbyFunction(0)', title="Click to get all Not Acknowledged")
      strong.p-r-10  Not Acknowledged
      input.legend(type='button', style="background:#DFF0D8", ng-click='sortbyFunction(1)', title="Click to get all Acknowledged")
      strong.p-r-10  Acknowledge
.row
  .col-md-12
    .panel.panel-default
      .panel-body
        .row                                                                                              
          .alert.cursor-pointer(id="{{sch._id}}", ng-repeat="sch in allSchedules | filter:{is_approve:is_approve_sortvalue}", ng-click="approveScheduleView(sch)", data-toggle="modal" data-target="#event-modal",ng-class="sch.scheduleInfoclass")
            p 
              i.fa.fa-bell.p-r-10
              b {{sch.event_account_id.name}}
                | : {{sch.scheduleDate}} {{sch.timeslot}}, {{sch.shiftReminderTime}}
              b.f-right.p-l-10(ng-if='sch.is_approve_date') Acknowledged Time 
                | : {{sch.is_approve_date|date:'short'}}
          .alert.alert-info.fade.in.text-center(ng-if="!allSchedules.length")
            h4
              | No Schedules are found.      
      
