showloader
#event-modal.modal.fade
    .modal-dialog
      .modal-content
        .modal-header(style="background-color:lightgray")
          button.close(type="button", data-dismiss="modal", aria-hidden="true") &#215;
          h4.modal-title(style='text-align:center') Event Details
        .modal-body(style="line-height:25px;font-weight:bolder;max-height:480px;overflow-y:auto")
            b Event Name
            |  : {{evtDetail.name}}
            br
            b Event Description 
            |  : {{evtDetail.description}}
            br
            b Event Start Date 
            |  : {{eventStartDate | date:'short'}}
            br 
            b(ng-if='!evtDetail.is_repeat') Event End Date 
              |  : {{eventEndDate | date:'short'}}
            br(ng-if='!evtDetail.is_repeat')
            b Event type 
            |  : {{evtDetail.event_data.event_type}}
            br
            b Contact Name 
            |  : {{evtDetail.event_data.contact_name}}
            br
            b Contact Phone 
            |  : {{evtDetail.event_data.contact_phone}}
            br
            b Contact Email 
            |  : {{evtDetail.event_data.contact_email}}
            br
            b Notes 
            |  : {{evtDetail.event_data.notes}}
            br
            b Location Address 
            |  : {{evtDetail.location_address.address}} 
            br
            b Shifts Details 
            |  :
            br
            span(ng-repeat="shift in shiftData", style="padding-left:15px")
              |  {{'-- '+ shift.day + '/' + shift.timeslot}}
              br
              span(style="padding-left:30px", ng-repeat="sht in shift.shifts", ng-if="event.showendtime")
                | {{sht.startShiftTime + ' - '+sht.endshiftTime}}
                br
              span(style="padding-left:30px", ng-repeat="sht in shift.shifts", ng-if="!event.showendtime")
                | {{sht.startShiftTime}}
                br
        .modal-footer
          button.btn.btn-default(type="button", data-dismiss="modal") Close
#modal-basic.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') X
            h4#myModalLabel.modal-title
              | Assign an Event
          .modal-body
            form#form1.form-horizontal(name="eventForm")
                .form-group
                  label.col-sm-3.control-label
                    | Select Event
                    span.asterisk *
                  .col-sm-7
                    select.btn(ng-model="EventAssignment.event_id", ng-options="event_id.name for event_id in allEvents")
                     input(ng-model="EventAssignment.assigned_date"  type="hidden")
                     input(ng-model="EventAssignment.assigned_shift" type="hidden")
                     input(ng-model="EventAssignment.assigned_index" type="hidden")
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close
            button.btn.btn-danger(ng-if='showRemoveButton && date_status', type='button', data-dismiss='modal', ng-click="removeAssignment(EventAssignment)") Remove Assignment
            button.btn.btn-success(ng-if='date_status', type='button', data-dismiss='modal', ng-click="saveAssignment(EventAssignment)") Save changes
.m-b-20.clearfix
    .pull-left
      h3
        strong {{userdetail.first_name | capitalize}} Availability 
        a(href="/eventcalendar")
          i.flaticon-calendar5
          span(style='padding-left:5px') Event Calendar
    .pull-right
      a.btn.btn-success.m-t-10(href='/viewadminemployee', ng-if="userRole==='admin'")
        i.fa.fa-reply.p-r-10
        | Back
      a.btn.btn-success.m-t-10(href='/viewmanageremployee', ng-if="userRole==='manager'")
        i.fa.fa-reply.p-r-10
        | Back
      a.btn.btn-success.m-t-10(href='/viewhremployee', ng-if="userRole==='hr'")
        i.fa.fa-reply.p-r-10
        | Back
.row
  .col-md-12
    .panel.panel-default
      .panel-heading(style="padding:30px 0 30px 150px") 
      .panel-body(style="padding:0 150px 0 150px")
        form#form1.form-horizontal(name="availableRangeForm", novalidate="")
          .form-group
            .col-sm-13
              .inner-addon.left-addon
                .sd_calender1
                  input.form-control.w-700.align-center(weekpicker='weekpicker', ng-model='weekdate', placeholder='Choose a week by click here', readonly='readonly', style='border:solid 4px darkgray;color:#2a6496;')
                  i.fa.fa-calendar.f-20
          .col-lg-13
            table.table.table-striped.table-hover.table-bordered(ng-if="sevenWeekDayArr")
              thead.no-bd
                tr
                  th
                    strong Day Of the Week
                  th(colspan="3")
                    strong Mark Availability by selecting one box per shift
                  th
                    strong Schedule
              tbody.no-bd-y
                tr(ng-repeat-start="a in sevenWeekDayArr")
                  td {{a | date: 'fullDate'}}
                  td Morning:
                  td {{slot.morning_start_time}} {{slot.morning_start_period}} - {{slot.morning_end_time}} {{slot.morning_end_period}}
                  td(ng-if="a.differ<-1")
                    label(class="checkbox-inline")
                      input(type='checkbox', ng-model='availability[$index].is_morning_scheduled', ng-true-value="yes", ng-false-value='', ng-change="updateEmployeeavailability(a,'morning',$index,availability[$index].is_morning_scheduled)", "disabled"="true")
                      | Yes
                    label(class="checkbox-inline")
                      input(type='checkbox', ng-model='availability[$index].is_morning_scheduled', ng-true-value="maybe", ng-false-value='', ng-change="updateEmployeeavailability(a,'morning',$index,availability[$index].is_morning_scheduled)", "disabled"="true")
                      | Maybe
                    label(class="checkbox-inline")
                      input(type='checkbox', ng-model='availability[$index].is_morning_scheduled', ng-true-value="no", ng-false-value='', ng-change="updateEmployeeavailability(a,'morning',$index,availability[$index].is_morning_scheduled)", "disabled"="true")
                      | No
                  td(ng-if="a.differ >= -1")
                    label(class="checkbox-inline")
                      input(type='checkbox', ng-model='availability[$index].is_morning_scheduled', ng-true-value="yes", ng-false-value='', ng-change="updateEmployeeavailability(a,'morning',$index,availability[$index].is_morning_scheduled)")
                      | Yes
                    label(class="checkbox-inline")
                      input(type='checkbox', ng-model='availability[$index].is_morning_scheduled', ng-true-value="maybe", ng-false-value='', ng-change="updateEmployeeavailability(a,'morning',$index,availability[$index].is_morning_scheduled)")
                      | Maybe
                    label(class="checkbox-inline")
                      input(type='checkbox', ng-model='availability[$index].is_morning_scheduled', ng-true-value="no", ng-false-value='', ng-change="updateEmployeeavailability(a,'morning',$index,availability[$index].is_morning_scheduled)")
                      | No
                  td
                    a.cursor-pointer.w-600(ng-click='fetchScheduleDetail(gridData[a.dayName]["Morning_id"])',data-toggle="modal" data-target="#event-modal")
                      |  {{gridData[a.dayName]["Morning"]}}
                tr
                  td
                  td Afternoon:
                  td {{slot.afternoon_start_time}} {{slot.afternoon_start_period}} - {{slot.afternoon_end_time}} {{slot.afternoon_end_period}}
                  td(ng-if="a.differ<-1")
                    label(class="checkbox-inline")
                      input(type='checkbox', ng-model='availability[$index].is_afternoon_scheduled', ng-true-value="yes", ng-false-value='', ng-change="updateEmployeeavailability(a,'afternoon',$index,availability[$index].is_afternoon_scheduled)", "disabled"="true")
                      | Yes
                    label(class="checkbox-inline")
                      input(type='checkbox', ng-model='availability[$index].is_afternoon_scheduled', ng-true-value="maybe", ng-false-value='', ng-change="updateEmployeeavailability(a,'afternoon',$index,availability[$index].is_afternoon_scheduled)", "disabled"="true")
                      | Maybe
                    label(class="checkbox-inline")
                      input(type='checkbox', ng-model='availability[$index].is_afternoon_scheduled', ng-true-value="no", ng-false-value='', ng-change="updateEmployeeavailability(a,'afternoon',$index,availability[$index].is_afternoon_scheduled)", "disabled"="true")
                      | No
                  td(ng-if="a.differ >= -1")
                    label(class="checkbox-inline")
                      input(type='checkbox', ng-model='availability[$index].is_afternoon_scheduled', ng-true-value="yes", ng-false-value='', ng-change="updateEmployeeavailability(a,'afternoon',$index,availability[$index].is_afternoon_scheduled)")
                      | Yes
                    label(class="checkbox-inline")
                      input(type='checkbox', ng-model='availability[$index].is_afternoon_scheduled', ng-true-value="maybe", ng-false-value='', ng-change="updateEmployeeavailability(a,'afternoon',$index,availability[$index].is_afternoon_scheduled)")
                      | Maybe
                    label(class="checkbox-inline")
                      input(type='checkbox', ng-model='availability[$index].is_afternoon_scheduled', ng-true-value="no", ng-false-value='', ng-change="updateEmployeeavailability(a,'afternoon',$index,availability[$index].is_afternoon_scheduled)")
                      | No
                  td
                    a.cursor-pointer.w-600(ng-click='fetchScheduleDetail(gridData[a.dayName]["Afternoon_id"])',data-toggle="modal" data-target="#event-modal")
                      |  {{gridData[a.dayName]["Afternoon"]}}
                tr
                  td
                  td Night:
                  td {{slot.night_start_time}} {{slot.night_start_period}} - {{slot.night_end_time}} {{slot.night_end_period}}
                  td(ng-if="a.differ<-1")
                    label(class="checkbox-inline")
                      input(type='checkbox', ng-model='availability[$index].is_night_scheduled', ng-true-value="yes", ng-false-value='', ng-change="updateEmployeeavailability(a,'night',$index,availability[$index].is_night_scheduled)", "disabled"="true")
                      | Yes
                    label(class="checkbox-inline")
                      input(type='checkbox', ng-model='availability[$index].is_night_scheduled', ng-true-value="maybe", ng-false-value='', ng-change="updateEmployeeavailability(a,'night',$index,availability[$index].is_night_scheduled)", "disabled"="true")
                      | Maybe
                    label(class="checkbox-inline")
                      input(type='checkbox', ng-model='availability[$index].is_night_scheduled', ng-true-value="no", ng-false-value='', ng-change="updateEmployeeavailability(a,'night',$index,availability[$index].is_night_scheduled)", "disabled"="true")
                      | No
                  td(ng-if="a.differ >= -1")
                    label(class="checkbox-inline")
                      input(type='checkbox', ng-model='availability[$index].is_night_scheduled', ng-true-value="yes", ng-false-value='', ng-change="updateEmployeeavailability(a,'night',$index,availability[$index].is_night_scheduled)")
                      | Yes
                    label(class="checkbox-inline")
                      input(type='checkbox', ng-model='availability[$index].is_night_scheduled', ng-true-value="maybe", ng-false-value='', ng-change="updateEmployeeavailability(a,'night',$index,availability[$index].is_night_scheduled)")
                      | Maybe
                    label(class="checkbox-inline")
                      input(type='checkbox', ng-model='availability[$index].is_night_scheduled', ng-true-value="no", ng-false-value='', ng-change="updateEmployeeavailability(a,'night',$index,availability[$index].is_night_scheduled)")
                      | No
                  td
                    a.cursor-pointer.w-600(ng-click='fetchScheduleDetail(gridData[a.dayName]["Night_id"])',data-toggle="modal" data-target="#event-modal")
                      |  {{gridData[a.dayName]["Night"]}}
                tr(ng-repeat-end="")
                  td
                  td Late Night:
                  td {{slot.late_night_start_time}} {{slot.late_night_start_period}} - {{slot.late_night_end_time}} {{slot.late_night_end_period}}
                  td(ng-if="a.differ<-1")
                    label(class="checkbox-inline")
                      input(type='checkbox', ng-model='availability[$index].is_late_night_scheduled', ng-true-value="yes", ng-false-value='', ng-change="updateEmployeeavailability(a,'latenight',$index,availability[$index].is_late_night_scheduled)", "disabled"="true")
                      | Yes
                    label(class="checkbox-inline")
                      input(type='checkbox', ng-model='availability[$index].is_late_night_scheduled', ng-true-value="maybe", ng-false-value='', ng-change="updateEmployeeavailability(a,'latenight',$index,availability[$index].is_late_night_scheduled)", "disabled"="true")
                      | Maybe
                    label(class="checkbox-inline")
                      input(type='checkbox', ng-model='availability[$index].is_late_night_scheduled', ng-true-value="no", ng-false-value='', ng-change="updateEmployeeavailability(a,'latenight',$index,availability[$index].is_late_night_scheduled)", "disabled"="true")
                      | No
                  td(ng-if="a.differ >= -1")
                    label(class="checkbox-inline")
                      input(type='checkbox', ng-model='availability[$index].is_late_night_scheduled', ng-true-value="yes", ng-false-value='', ng-change="updateEmployeeavailability(a,'latenight',$index,availability[$index].is_late_night_scheduled)")
                      | Yes
                    label(class="checkbox-inline")
                      input(type='checkbox', ng-model='availability[$index].is_late_night_scheduled', ng-true-value="maybe", ng-false-value='', ng-change="updateEmployeeavailability(a,'latenight',$index,availability[$index].is_late_night_scheduled)")
                      | Maybe
                    label(class="checkbox-inline")
                      input(type='checkbox', ng-model='availability[$index].is_late_night_scheduled', ng-true-value="no", ng-false-value='', ng-change="updateEmployeeavailability(a,'latenight',$index,availability[$index].is_late_night_scheduled)")
                      | No
                  td
                    a.cursor-pointer.w-600(ng-click='fetchScheduleDetail(gridData[a.dayName]["late Night_id"])',data-toggle="modal" data-target="#event-modal")
                      |  {{gridData[a.dayName]["Late Night"]}}
                tr
                  td(colspan='5')
                    .col-md-12.m-t-20.m-b-40.align-center
                      textarea.form-control( rows="10", placeholder="Enter a note after complete availability.", ng-model="availreport" )
                      button.btn.btn-success.m-t-10(ng-click="submitComment(availreport)", ng-disabled='!availreport')
                        i.fa.fa-check.p-r-5
                          | Submit Comment
           
