.page-title
  h3 
    strong View Employees For Events
.row()
  .col-md-12
    .tabcordion
      #myTabContent.tab-content
        #product_general.tab-pane.fade.active.in
          .row
            .col-md-12 
              form#form1.form-horizontal(name="View Employees For Events")

                table.table.table-striped.table-hover
                   tbody.no-bd-y 
                    tr      
                      td
                       label.col-sm-3.control-label
                        | Select Date
                      td.col-sm-3
                        input.datepicker.form-control(type="text", placeholder="mm/dd/yyyy", ng-model="selected_date", style="padding: 8px 8px;", required="required")
                    tr
                     td 
                      label.col-sm-3.control-label 
                        | Select Events
                     td.col-sm-3
                          select.btn#event(ng-model="selected_event")
                            option(ng-repeat="evnt in event" value='{{evnt._id}}'){{evnt.name}}     
                    tr      
                      td
                       label.col-sm-3.control-label
                        | Available Employees 
                      td
                        button.btn.btn-success.m-t-10(href="#" ng-click="empname()") 
                         i.fa.fa 
                         | Get Employee List 
                    tr
                     td(ng-if="data.length>0")
                      table.table.table-striped.table-hover
                        thead.no-bd
                         tr
                           th
                             strong Name
                           th
                             strong Contact Number
                           th
                             strong Morning Shift
                           th
                             strong Afternoon Shift
                           th
                             strong Night Shift
                           th
                             strong Late Night Shift      
                        tbody.no-bd-y
                          tr(ng-repeat="a in data")
                            td{{a.employee_id.first_name}} 
                            td{{a.employee_id.phone}} 
                            td
                             p(ng-if="a.is_morning_scheduled==true && a.manager_schedule.morning_schedule_details.event== selected_event").
                               morning schedule for this event
                             p(ng-if="(a.is_morning_scheduled==true && a.manager_schedule.morning_schedule_details.event != selected_event)|| a.is_morning_scheduled==false").
                               ---
                            td
                             p(ng-if="a.is_late_night_scheduled==true && a.manager_schedule.late_night_schedule_details.event== selected_event").
                               late night schedule for this event
                             p(ng-if="(a.is_late_night_scheduled==true && a.manager_schedule.late_night_schedule_details.event != selected_event)|| a.is_late_night_scheduled==false").
                               ---  
                            td
                             p(ng-if="a.is_afternoon_scheduled==true && a.manager_schedule.afternoon_schedule_details.event== selected_event").
                               afternoon schedule for this event
                             p(ng-if="(a.is_afternoon_scheduled==true && a.manager_schedule.afternoon_schedule_details.event != selected_event)|| a.is_afternoon_scheduled==false").
                               ---
                            td
                             p(ng-if="a.is_night_scheduled==true && a.manager_schedule.night_schedule_details.event== selected_event").
                               afternoon schedule for this event
                             p(ng-if="(a.is_night_scheduled==true && a.manager_schedule.night_schedule_details.event != selected_event)|| a.is_night_scheduled==false").
                               ---        
               p(ng-if="noempaval") 
                 strong No Employee Available
                            

                       
                        
