style.
  #modal-post .multiSelect .checkBoxContainer{
  max-height:200px;
  overflow-y:scroll;
  }
  #modal-clearByTopic .multiSelect .checkBoxContainer{
  max-height:200px;
  overflow-y:scroll;
  }
#modal-post.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog(style="width:800px;")
    .modal-content
      .modal-header(style='background-color:lightgray')
        button.close(type='button', data-dismiss='modal', aria-hidden='true', title="Close") X
        h4#myModalLabel.modal-title Add New Post
      .modal-body(style='line-height:25px;font-weight:bolder;max-height:480px;overflow-y:unset')
        form#postForm.form-horizontal(name='postForm', novalidate='novalidate')
                .form-group
                  label.col-sm-3.control-label
                    | Topic
                    span.asterisk *
                  .col-sm-9
                    div.col-sm-4(multi-select='', selection-mode = "SINGLE", input-model='topicsArr', max-labels='1', button-label='topicname', item-label='topicname', tick-property='ticked', style='padding-left:0px')
                    button.btn.btn-success.grnbtn100(data-toggle='modal', data-target='#modal-topic', ng-click='enabletopicbutton()')
                      i.fa.fa-plus.p-r-10
                      | Add new topic and choose it from list
                .form-group
                  label.col-sm-3.control-label
                    | Description
                    span.asterisk *
                  .col-sm-9
                    textarea#description.form-control(rows='5', type='text', placeholder='Enter Description', name='description', ng-model='postData.description', required='required', maxlength='400', style='resize:none;')
                    span
                    | {{400 - postData.description.length}} left
      .modal-footer
        button.btn.btn-success(type='button', ng-disabled="postForm.$invalid || buttondisabled", ng-click="addPost(postData)") Save
#modal-topic.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header(style='background-color:lightgray')
        button.close(type='button', data-dismiss='modal', aria-hidden='true', title="Close") X
        h4#myModalLabel.modal-title Add Topic
      .modal-body(style='line-height:25px;font-weight:bolder;max-height:480px;overflow-y:auto')
        form#topicForm.form-horizontal(name='topicForm', novalidate='novalidate')
                .form-group
                  label.col-sm-3.control-label
                    | Topic Name
                    span.asterisk *
                  .col-sm-7
                    input#topicname.form-control(type='text', placeholder='Enter Topic Name', name='topicname', ng-model='topicInfo.topicname', required='required', ng-maxlength='50', ng-pattern='topicnamePattern', maxlength='50')
                    span.help-inline(ng-show='topicForm.topicname.$error.pattern') Only Following characters (0-9 a-z A-Z _-'#@) & blank space is allowed
                    span.help-inline(ng-show='topicForm.topicname.$error.maxlength') Maximum 50 characters are allowed.
      .modal-footer
        button.btn.btn-success(type='button', ng-disabled="topicForm.$invalid || topicbuttondisabled", ng-click="createTopic()") Save
#modal-clearByTopic.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header(style='background-color:lightgray')
        button.close(type='button', data-dismiss='modal', aria-hidden='true', title="Close") X
        h4#myModalLabel.modal-title Clear by Topic
      .modal-body(style='line-height:25px;font-weight:bolder;max-height:480px;overflow-y:unset')
        form#clearForm.form-horizontal(name='clearForm', novalidate='novalidate')
                .form-group
                  label.col-sm-3.control-label
                    | Select Topic
                    span.asterisk *
                  .col-sm-7
                    div(multi-select='', selection-mode = "SINGLE", input-model='topicsArr', max-labels='1', button-label='topicname', item-label='topicname', tick-property='ticked', style='padding-left:0px', name='choosetopic', required='required', default-label='Select Topic')
                .form-group
                  label.col-sm-3.control-label
                  .col-sm-7.w-500
                    input(type="radio", name="topictype", ng-model="topictype", value="withouttopic", checked="checked") 
                    | &nbsp;&nbsp;Want to clear all the items in this topic.
                    br
                    input(type="radio", name="topictype", ng-model="topictype", value="withtopic", checked="checked") 
                    | &nbsp;&nbsp;Want to clear all the items with topic.
      .modal-footer
        button.btn.btn-success(type='button', ng-disabled="clearForm.$invalid", ng-click="ClearbyTopic()") Clear
.m-b-20.clearfix
  .page-title.pull-left
    h3.pull-left
      strong(ng-copy="$event.preventDefault()") White Board
.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        .col-md-6.col-sm-6.col-xs-12
          .input-group.m-b-10
            input.form-control.w-700(type='text', placeholder='Search by Topic.', ng-model='searchText.val', style='border:solid 2px darkgray;color:#2a6496;')
            span.input-group-addon
              i.fa.fa-search
        .col-md-6.col-sm-6.col-xs-12.f-right
          .DTTT_container.m-b-10.sd_btnsuccess
            button.btn.btn-success.grnbtn100(data-toggle='modal', data-target='#modal-post', ng-click='addNewPost()')
              i.fa.fa-plus.p-r-10
              | Add New Post
      .panel-body
        .row
          .table-container
            #datatable_ajax_wrapper.dataTables_wrapper.dataTables_extended_wrapper.dataTables_extended_wrapper.no-footer
              .margin-b-10.table-responsive.pad_b15
                table#datatable_ajax.table.table-bordered.table-hover.f-left(ng-table='tableParams')
                  thead(style="display:none;")
                    tr#header.heading.purple-bg(role='row')
                      th(width='1%', ng-if="userRole==='admin' || userRole==='manager' || userRole==='hr'")
                      th(width='99%')
                  tbody
                    tr.odd(role='row', ng-repeat='data in $data', ng-if='haveResult', id='{{data._id}}')
                      td.text-center(width='1%',ng-if="userRole==='admin' || userRole==='manager' || userRole==='hr'")
                        .checker1
                          span
                            input(type='checkbox', checklist-model='selectedwhiteboardlist.whiteboardlistArr', checklist-value='data._id')
                        i.fa.fa-tasks.f-16(rel='tooltip', title='Tasklist', type='button', style='color:#0090d9;', disabled, ng-if="userRole==='employee'")
                      td.w-600(width='99%')
                        span(style='color:#0090d9;') {{data.topicfullname[0][0]}} 
                        i.fa.fa-reply.m-l-10.f-16.cursor-pointer(style='color:#18a689',data-toggle='modal', data-target='#modal-post', ng-click='replyOnTopic(data.topicfullname[0][0])', title='Reply on this Thread')
                        h5(ng-repeat='x in data.whiteboard_items|orderBy:"-created_date"', style='display:block') 
                          span.c-gray[{{x.created_date| date:'short'}}] 
                          span(style='color:#0090d9;') {{x.created_by_fname[0]}} {{x.created_by_lname[0]}} 
                          span : {{x.description}}                          
                          i.fa.fa-minus-circle.m-l-10.f-12.cursor-pointer(style='color:#E52A3A;', ng-click='removeWhiteboardItem(data._id,x._id)', ng-if="userRole==='admin' || userRole==='manager' || userRole==='hr'")
                    tr(ng-if='haveResult', style='background-color:#F5F5F5;')
                      td(colspan="2")
                        h5.pull-left(style='color:#3276B1')
                          strong Total Threads : {{totalRecords}}
                        button.btn.btn-info.f-right(type='button', ng-click='removeSelectedConfirmation()', ng-if="haveResult && (userRole==='admin' || userRole==='manager' || userRole==='hr')", title="Clear all the marked items from whiteboard.") 
                          i.fa.fa-reply.p-r-10
                          | Clear Selected
                        button.btn.btn-info.f-right.m-r-10(data-toggle='modal', data-target='#modal-clearByTopic', ng-if="haveResult && (userRole==='admin' || userRole==='manager' || userRole==='hr')", ng-click='openClearTopicmodal()') 
                          i.fa.fa-reply.p-r-10
                          | Clear By Topic
                        button.btn.btn-default.f-right.m-r-10(type='button', ng-click='clearWhiteboardConfirmation()', ng-if="haveResult && (userRole==='admin' || userRole==='manager' || userRole==='hr')", title="Clear Whiteboard") 
                          i.fa.fa-reply.p-r-10
                          | Clear All
          .alert.alert-info.fade.in.text-center(ng-if='!haveResult')
            h3 There is no post on whiteboard.
#clear_all.ng-scope(style='display: none;')
  .confirmon-overlay(style='display: block;')
    .confirmon-box(style='display: block; width:32%')
      p.confirmon-content Are you sure you want to clear whiteboard?
      button.confirmon-button.confirmon-button(onclick="$('#clear_all').hide()") Cancel
      | &nbsp;&nbsp;&nbsp;&nbsp; 
      button.confirmon-button.confirmon-button(ng-click='clearWhiteboard()') Confirm  
#clear_selected.ng-scope(style='display: none;')
  .confirmon-overlay(style='display: block;')
    .confirmon-box(style='display: block; width:32%')
      p.confirmon-content Are you sure you want to remove selected items?
      button.confirmon-button.confirmon-button(onclick="$('#clear_selected').hide()") Cancel
      | &nbsp;&nbsp;&nbsp;&nbsp; 
      button.confirmon-button.confirmon-button(ng-click='clearSelectedWhiteboard()') Confirm  