style.
  .multiSelect .checkBoxContainer{
  max-height:200px;
  overflow-y:scroll;
  }
#modal-basic.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog(style="width:900px;")
    .modal-content
      .modal-header(style='background-color:lightgray')
        button.close(type='button', data-dismiss='modal', aria-hidden='true', title="Close") X
        h4#myModalLabel.modal-title Add New
      .modal-body(style='line-height:25px;font-weight:bolder;max-height:480px;overflow-y:unset')
        form#form1.form-horizontal(name='initialzipForm', novalidate='novalidate')
                .form-group
                  label.col-sm-2.control-label
                    | Initial
                    span.asterisk *
                  .col-sm-10
                    input#initial.form-control(type='text', placeholder='Enter Initial Name', name='initial', ng-model='initial', required='required', ng-maxlength='50', maxlength='50')
                    span.help-inline(ng-show='initialzipForm.initial.$error.maxlength') Maximum 50 characters are allowed.
                .form-group
                  label.col-sm-2.control-label
                    | zip Codes
                    span.asterisk *
                  .col-sm-10
                    input#zipcodes.form-control(type='text', placeholder='Enter Zipcodes (Separated by Commas)', name='zipcodes', ng-model='zipcodes', required='required', ng-maxlength='300', maxlength='300')
                    span.help-inline(ng-show='initialzipForm.zipcodes.$error.maxlength') Maximum 300 characters are allowed.
      .modal-footer
        button.btn.btn-success(type='button', ng-click="createInitialzip()", ng-disabled="initialzipForm.$invalid || buttondisabled") Save
#modal-update.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog(style="width:900px;")
    .modal-content
      .modal-header(style='background-color:lightgray')
        button.close(type='button', data-dismiss='modal', aria-hidden='true', title="Close") X
        h4#myModalLabel.modal-title Update Zip codes
      .modal-body(style='line-height:25px;font-weight:bolder;max-height:480px;overflow-y:unset')
        form#form1.form-horizontal(name='initialzipUpdateForm', novalidate='novalidate')
                .form-group
                  label.col-sm-2.control-label
                    | Initial
                    span.asterisk *
                  .col-sm-10
                    input#initial.form-control(type='text', placeholder='Enter Initial Name', name='initial', ng-model='updatelist.initial', required='required', ng-maxlength='50', maxlength='50')
                    span.help-inline(ng-show='initialzipUpdateForm.initial.$error.maxlength') Maximum 50 characters are allowed.
                .form-group
                  label.col-sm-2.control-label
                    | zip Codes
                    span.asterisk *
                  .col-sm-10
                    input#zipcodes.form-control(type='text', placeholder='Enter Zipcodes separated by commas', name='zipcodes', ng-model='updatelist.zipcodes', required='required', ng-maxlength='300', maxlength='300')
                    span.help-inline(ng-show='initialzipUpdateForm.zipcodes.$error.maxlength') Maximum 300 characters are allowed.
      .modal-footer
        button.btn.btn-success(type='button', ng-click="initialZipUpdateSubmit(updatelist)", ng-disabled="initialzipUpdateForm.$invalid") Save
showloader
.m-b-20.clearfix
  .page-title.pull-left
    h3.pull-left
      strong(ng-copy="$event.preventDefault()") Zip Codes, Initials
.row(ng-show='visibility')
  .col-md-12
    .panel.panel-default
      .panel-heading
        .col-md-6.col-sm-6.col-xs-12
          .input-group.m-b-10
            input.form-control.w-700(type='text', placeholder='Search by initial.', ng-model='searchText.val', style='border:solid 2px darkgray;color:#2a6496;')
            span.input-group-addon
              i.fa.fa-search
        .col-md-6.col-sm-6.col-xs-12
          .DTTT_container.m-b-10.sd_btnsuccess
            button.btn.btn-success.grnbtn100(data-toggle='modal', data-target='#modal-basic', ng-click='clearList()')
              i.fa.fa-plus.p-r-10
              | Add New
      .panel-body
        .row
          .table-container
            #datatable_ajax_wrapper.dataTables_wrapper.dataTables_extended_wrapper.dataTables_extended_wrapper.no-footer
              .margin-b-10.table-responsive.pad_b15
                table#datatable_ajax.table.table-striped.table-bordered.table-hover.f-left(ng-table='tableParams')
                  thead
                    tr#header.heading.purple-bg(role='row')
                      th(width='3%')
                        input.group-checkable(type='checkbox', ng-model='checkAll.val', ng-change='selectAllGroup(checkAll.val)')
                      th(width='9%')
                        a.cursor-pointer(ng-click="sortType = 'initial'; sortReverse = !sortReverse; sortOrderby('initial',sortReverse);")
                          strong Initials
                          span.fa.fa-sort.m-l-5(ng-class="getIcon('initial')")
                      th.unsortheading(width='70%') Zip Codes
                      th(width='15%')
                        a.cursor-pointer(ng-click="sortType = 'active'; sortReverse = !sortReverse; sortOrderby('active',sortReverse);")
                          strong Status
                          span.fa.fa-sort.m-l-5(ng-class="getIcon('active')")
                  tbody
                    tr.odd(role='row', ng-repeat='data in $data', ng-if='haveResult', id='{{data._id}}')
                      td.text-center
                        .checker1(ng-if="userRole==='admin' || userRole==='manager' || userRole==='hr'")
                          span
                            input(type='checkbox', checklist-model='selectedInitialslist.InitialslistArr', checklist-value='data._id')
                      td.cursor-pointer.w-600.get(ng-bind='data.initial', data-toggle='modal', data-target='#modal-update', ng-click='updateZip(data._id, data.initial, data.zipcodes)', title='Click me to edit.')
                      td.text-left(ng-bind="data.zipcodes")
                      td.text-center(ng-if='data.active == true')
                        .label.cursor-pointer.label-success(ng-click='update_status($index,data)') Active
                      td.text-center(ng-if='data.active !== true')
                        .label.cursor-pointer.label-danger(ng-click='update_status($index,data)') Inactive
                    tr(ng-if='haveResult')
                      td(colspan='4')
                        div(style='display:inline-block;margin-right:1%;text-align: left;', ng-if="userRole==='admin' || userRole==='manager' || userRole==='hr'")
                          select#selectedAction.btn.select_tag(name='selectedAction', ng-model='selectedAction', style='border: 1px solid lightgray;')
                            option(value='0') Select
                            option(value='1') Active
                            option(value='2') Inactive
                            option(value='3') Delete
                        input.btn.btn-primary(type='button', name='go', value='Go', ng-click='performAction()', ng-disabled="selectedInitialslist.InitialslistArr == '' ", style='width:auto;display:inline-block;margin-right:1%;background-color:#77ABD7;', ng-if="userRole==='admin' || userRole==='manager'  || userRole==='hr'")
                        h5.pull-right(style='color:#3276B1')
                          strong Total Records : {{totalRecords}}
          .alert.alert-info.fade.in.text-center(ng-if='!haveResult')
            h3 No Lists for you this time.
#confirm_del.ng-scope(style='display: none;')
  .confirmon-overlay(style='display: block;')
    .confirmon-box(style='display: block; width:32%')
      p.confirmon-content Are you sure you want to delete ?
      button.confirmon-button.confirmon-button(onclick="$('#confirm_del').hide()") Cancel
      | &nbsp;&nbsp;&nbsp;&nbsp; 
      button.confirmon-button.confirmon-button(ng-click='delete_ziplists()') Confirm  


