/*  Service History Modal Start */

.viewService-modal.left .modal-dialog,
.viewService-modal.right .modal-dialog {
        position: fixed;
        margin: auto;
        width:70%;
        height: 100%;
        -webkit-transform: translate3d(0%, 0, 0);
            -ms-transform: translate3d(0%, 0, 0);
             -o-transform: translate3d(0%, 0, 0);
                transform: translate3d(0%, 0, 0);
}

.viewService-modal.left .modal-content,
.viewService-modal.right .modal-content {
        height: 100%;
        overflow-y: auto;
}

.viewService-modal.left .modal-body,
.viewService-modal.right .modal-body {
        padding: 15px 15px 80px;
}


/*Right*/
.viewService-modal.right.fade .modal-dialog {
        right: 0px;
        -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
           -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
             -o-transition: opacity 0.3s linear, right 0.3s ease-out;
                transition: opacity 0.3s linear, right 0.3s ease-out;
}

.viewService-modal.right.fade.in .modal-dialog {
        right: 0;
}

/* ----- MODAL STYLE ----- */
.viewServiceModal-content {
        border-radius: 0;
        border: none;
}

.viewServiceModal-header {
        border-bottom-color: #EEEEEE;
        background-color: #FAFAFA;
}

.viewServiceModal.right.fade.show .modal-dialog {
    right:  0;
}
/* Service History Modal End */
.col-sm-4.invoice-col {
    border-right: solid 1px #f4f4f4;
}
.no-payment{
    padding: 10px;
}
section.invoice .row{
    position: relative;
    background: #fff;
    border: 1px solid #f4f4f4;
    padding: 10px;
    margin: 10px;
}