.error {
   color: red !important;
   font-weight: normal !important;
}
input.error{
    border: solid 1px red !important;
}
.admin-loginform-error{
    color: red !important;
}
.admin-reset-success{
    color:green !important;
}
.switch {
  position: relative;
  display: inline-block;
  width: 49px;
  height: 21px;
  margin-bottom: 0px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 14px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.btn-approval{
    padding: 3px 5px!important;
}
.updateStatus{
    padding: 5px 7px;
    background: #00a65a !important;
    color: #fff;
    border-radius: 50%;
}
.form-row{
    padding: 10px;
}
.datepicker > div {
    display: inherit;
}
.profile-pic {
    margin: 20px 0;
}
.change-picture {
    background-color: #F2F2F2;
    padding: 5px 10px;
    border-radius: 30px;
    color: initial;
    margin-left: 15px;
    border: 1px solid #C1CFE2;
    cursor: pointer;
}
.expertProfileImage{
    display: none;
}
.expert-profileimage{
    border-radius: 50%;
    border: dotted 2px #ccc;
}
.no_padd{
    padding: 0px !important;
}
table.dataTable tbody td {
    padding: 10px;
    white-space: nowrap;
}
table.dataTable thead th{
    white-space: nowrap;
}
.datatable-default-serach{
    height: calc(1.8125rem + 2px);
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
    border: solid 1px #ccc;
}
.datatable-default-serach:focus{
    border: solid 1px #574B90;
}
.db-length-input{
    width: 45%;
    display: inline-block;
    height: 30px !important;
    padding: 5px 15px !important;
}

.switch-profile {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch-profile input {
  opacity: 0;
  width: 0;
  height: 0;
}
/* The slider profile*/
.slider-profile {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider-profile:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider-profile {
  background-color: #2196F3;
}

input:focus + .slider-profile {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider-profile:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders profile */
.slider-profile.round {
  border-radius: 34px;
}

.slider-profile.round:before {
  border-radius: 50%;
}
span.select2-selection{
  height: 45px !important;
  border: 1px solid #cfcbcb !important;
}
span.select2-selection__rendered{
  padding: 6px !important;
}
span.select2-selection__arrow{
  padding-top: 42px !important;
}