doctype html
//
  if lt IE 7html.no-js.sidebar-large.lt-ie9.lt-ie8.lt-ie7
//
  if IE 7html.no-js.sidebar-large.lt-ie9.lt-ie8
//
  if IE 8html.no-js.sidebar-large.lt-ie9
//if gt IE 8
  | if gt IE 8| [if gt IE 8]
html.no-js.sidebar-large
  // <![endif]
  headb
    // BEGIN META SECTION
    meta(charset="utf-8")
    title EPICVALET
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(content="", name="description")
    meta(content="themes-lab", name="author")
    <base href="/">
    link(rel="shortcut icon", href="img/favicon.png")
    link(rel="stylesheet", type="text/css", href="/css/app.css")
    link#theme-color(href="#", rel="stylesheet") 
  body(data-page="dashboard", ng-app="app", ng-controller="DashController", ng-cloak) 
    // BEGIN TOP MENU
    nav.navbar.navbar-inverse.navbar-fixed-top.navbar-mob-view
      .container-fluid
        .navbar-header
          button.navbar-toggle(type="button", data-toggle="collapse", data-target="#sidebar")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a#menu-medium.sidebar-toggle.tooltips
            i.fa.fa-outdent
          a.navbar-brand(href="/dashboard")
          ul.nav.navbar-nav.pull-right.header-menu.xs
            li#user-header.dropdown
              a.dropdown-toggle.c-white(href="javascript:void(0);", data-toggle="dropdown", data-hover="dropdown", data-close-others="true")
                img.p-r-5(src="assets/img/avatars/avatar2.png", alt="user avatar", width="30", ng-if="prof_image == 'test'")
                img.p-r-5(ng-src="{{backendsiteurl}}/public/thumbs/{{prof_image}}", alt="user avatar", width="30", height="30",  ng-if="prof_image !== 'test'", fallback-src="", id="smallprofilepicmob")
                span.username(ng-bind="fullName")
                i.fa.fa-angle-down.p-r-10
              ul.dropdown-menu
                li(ng-switch on="role")
                  a(ng-switch-when="admin", href="/viewadminprofile", ng-click="pagetitle('My Profile')")
                    i.glyph-icon.flaticon-account
                    | My Profile
                  a(ng-switch-when="manager", href="/viewmanagerprofile", ng-click="pagetitle('My Profile')")
                    i.glyph-icon.flaticon-account
                    | My Profile
                  a(ng-switch-when="employee", href="/viewemployeeprofile", ng-click="pagetitle('My Profile')")
                    i.glyph-icon.flaticon-account
                    | My Profile
                  a(ng-switch-when="hr", href="/viewhrprofile", ng-click="pagetitle('My Profile')")
                    i.glyph-icon.flaticon-account
                    | My Profile
                li.dropdown-footer.clearfix
                  a(href="/editpassword", title="Change Password", ng-click="pagetitle('Change Password')")
                    i.glyph-icon.flaticon-settings21
                  a(href="/adminprofile", title="Edit Profile", ng-click="pagetitle('My Profile')", ng-if="role==='admin'")
                    i.fa.fa-edit
                  a(href="/employeeprofile", title="Edit Profile", ng-click="pagetitle('My Profile')", ng-if="role==='employee'")
                    i.fa.fa-edit
                  a(href="/managerprofile", title="Edit Profile", ng-click="pagetitle('My Profile')", ng-if="role==='manager'")
                    i.fa.fa-edit
                  a(href="/hrprofile", title="Edit Profile", ng-click="pagetitle('My Profile')", ng-if="role==='hr'")
                    i.fa.fa-edit
                  a(title='Change Location', data-toggle='modal', data-target='#modal-changelocation', ng-if="role==='admin'")
                    i.fa.fa-map-marker  
                  a(title='Change Location', data-toggle='modal', data-target='#modal-changelocation', ng-if="role==='hr'")
                    i.fa.fa-map-marker  
                  a(title="Logout", ng-click="logout()", ng-controller="LogoutController")
                    i.fa.fa-power-off  
        .navbar-center(ng-bind="title")
        .navbar-collapse.collapse
          // BEGIN TOP NAVIGATION MENU
          //jnx25h41jor
          ul.nav.navbar-nav.pull-right.header-menu
            li(ng-switch on="role")
              a(ng-switch-when="employee", href="/todolist", title="To Do")
                    i.fa.fa-check(ng-click="pagetitle('To Do')")
                     span.label.label-danger.m-l-10(ng-bind="todonotifications" ng-if="todonotifications>0") 
            li(ng-switch on="role")
              a(ng-switch-when="employee", href="/viewshifts", title="Shift Acknowledgement")
                    i.fa.fa-bell-o(ng-click="pagetitle('Shift Acknowledgement')")
                     span.label.label-danger.m-l-10(ng-bind="availnotifications" ng-if="availnotifications>0") 
            li(ng-switch on="role")
              a(ng-switch-when="employee", href="/memolist", title="Memos")
                    i.fa.fa-envelope-o(ng-click="pagetitle('Memos')")
                     span.label.label-danger.m-l-10(ng-bind="notificationCount" ng-if="notificationCount>0")         
            // BEGIN USER DROPDOWN
            li#user-header.dropdown
              a.dropdown-toggle.c-white(href="javascript:void(0);", data-toggle="dropdown", data-hover="dropdown", data-close-others="true")
                img.p-r-5(src="assets/img/avatars/avatar2.png", alt="user avatar", width="30", ng-if="prof_image == 'test'")
                img.p-r-5(ng-src="{{backendsiteurl}}/public/{{prof_image}}", alt="user avatar", width="30", height="30", ng-if="prof_image !== 'test'", fallback-src="" id="smallprofilepic", src="{{backendsiteurl}}/public/{{prof_image}}")
                span.username(ng-bind="fullName")
                i.fa.fa-angle-down.p-r-10
              ul.dropdown-menu
                li(ng-switch on="role")
                  a(ng-switch-when="admin", href="/viewadminprofile", ng-click="pagetitle('My Profile')")
                    i.glyph-icon.flaticon-account
                    | My Profile
                  a(ng-switch-when="manager", href="/viewmanagerprofile", ng-click="pagetitle('My Profile')")
                    i.glyph-icon.flaticon-account
                    | My Profile
                  a(ng-switch-when="employee", href="/viewemployeeprofile", ng-click="pagetitle('My Profile')")
                    i.glyph-icon.flaticon-account
                    | My Profile
                  a(ng-switch-when="hr", href="/viewhrprofile", ng-click="pagetitle('My Profile')")
                    i.glyph-icon.flaticon-account
                    | My Profile
                li.dropdown-footer.clearfix
                  a(href="/editpassword", title="Change Password", ng-click="pagetitle('Change Password')")
                    i.fa.fa-key
                  a(href="/adminprofile", title="Edit Profile", ng-click="pagetitle('My Profile')", ng-if="role==='admin'")
                    i.fa.fa-edit
                  a(href="/employeeprofile", title="Edit Profile", ng-click="pagetitle('My Profile')", ng-if="role==='employee'")
                    i.fa.fa-edit
                  a(href="/managerprofile", title="Edit Profile", ng-click="pagetitle('My Profile')", ng-if="role==='manager'")
                    i.fa.fa-edit
                  a(href="/hrprofile", title="Edit Profile", ng-click="pagetitle('My Profile')", ng-if="role==='hr'")
                    i.fa.fa-edit
                  a.cursor-pointer(title='Change Location', data-toggle='modal', data-target='#modal-changelocation', ng-if="role==='admin'")
                    i.fa.fa-map-marker  
                  a.cursor-pointer(title='Change Location', data-toggle='modal', data-target='#modal-changelocation', ng-if="role==='hr'")
                    i.fa.fa-map-marker  
                  a(title="Logout", ng-click="logout()", ng-controller="LogoutController")
                    i.fa.fa-power-off    

            // END USER DROPDOWN
          // END TOP NAVIGATION MENU
    // END TOP MENU
    // BEGIN WRAPPER
    #wrapper
      // BEGIN MAIN SIDEBAR
      ng-include(ng-if="role==='admin'", src="'/adminNav'")
      ng-include(ng-if="role==='employee'", src="'/employeeNav'")
      ng-include(ng-if="role==='manager'", src="'/managerNav'")
      ng-include(ng-if="role==='hr'", src="'/hrNav'")
      // END MAIN SIDEBAR
      // BEGIN MAIN CONTENT
      div(id="main-content", class="dashboard", ng-view="", ng-class="tabclass")
      // END MAIN CONTENT
    // END WRAPPER
    // BEGIN MANDATORY SCRIPTS
    // END MANDATORY SCRIPTS
    script(src='https://maps.googleapis.com/maps/api/js?v=3.26&key=AIzaSyBXmez0sxIsSJlo99zh4APGgjieSlQ8TJ0&libraries=places')
    script(src="/js/vendor.js")
    script(src="/js/app.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js")    