doctype html
head
  title EPICVALET :: Login
  link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
  link(rel="stylesheet",type="text/css",href="/css/app.less.css" media="all")
  script(src="/js/vendor.min.js", type="text/javascript")
  script(src="/js/app.js", type="text/javascript") 
body(ng-app="app", ng-controller="MainController", ng-cloak, class="ng-cloak")
  .page-container
    #page-content(ng-view)

  script.
    //set minimum height of page
    var dh=($(document).height()-51);
    $("#page-content, nav").css("min-height",dh+"px");